[2021-12-04 16:06] Gulshanaggarwal commented on #1375
@brandongregoryscott  can I start working on this issue?

[2021-12-04 16:58] vikasazad commented on #1375
Hi @brandongregoryscott I would like to contribute to this issue but as i am beginner in opensource contribution. I am not able to start the project in my local machine.
1- I forked it.
2- Run npm install
But as i looked in package.json file the "start" is missing in the scripts and i am not able to resolve this issue.
Please help me out.

[2021-12-04 17:44] brandongregoryscott commented on #1375
@Gulshanaggarwal Of course - feel free to open up a PR!

@vikasazad Please refer to step 2 in the contributing section: https://github.com/segmentio/evergreen/#-step-2-get-storybook-up-and-running

While you can use `npm`, we have set up the project to prefer `yarn`. The command for running a local development server would be `yarn dev` or `npm run dev`.

[2021-12-05 04:34] Gulshanaggarwal commented on #1375
@vikasazad sorry to say, but I'm already working on the above issue.

[2021-12-05 06:51] Gulshanaggarwal commented on #1375
@brandongregoryscott  If I apply borderBottomLeftRadius prop inside table.row then it causes the rounded border to all elements, see the  below image-
![Screenshot (241)](https://user-images.githubusercontent.com/58553401/144736748-808641c2-66fd-4c63-a7e2-7ae155e15823.png)

Can you help little bit more?

[2021-12-05 12:30] vikasazad commented on #1375
@Gulshanaggarwal ok no problem at all

[2021-12-08 10:22] leosheecool opened #1377 "SelectMenu popover at the bad position"
Hello there,

I submit this issue because on a project I need to use the SelectMenu component and when I click on the button to open the popover it does not take the position that I pass in props.
(I used the documentation code sample)

![image](https://user-images.githubusercontent.com/44168618/145191701-517bf4ab-0d01-414e-8979-43d558ebbbcb.png)

Can you help me to resolve that issue please ?

[2021-12-08 16:04] #1375 closed

[2021-12-08 16:07] brandongregoryscott commented on #1377
Hi @leosheecool - what version of Evergreen are you using? I believe this bug was introduced in [v6.5.2](https://github.com/segmentio/evergreen/releases/tag/v6.5.2) and resolved in [v6.6.1](https://github.com/segmentio/evergreen/releases/tag/v6.6.1). Try upgrading to the latest version and let me know if this issue is still present.

[2021-12-08 16:15] brandongregoryscott commented on #1374
Currently, we do not have a plan for a dark theme. I'll leave this issue open to track any progress/discussion around it 😄

[2021-12-08 17:54] kud opened #1379 "Issue when deploying on vercel"
I don't have this error on my machine but when I deploy my project on vercel, I've got this error.

<img width="981" alt="image" src="https://user-images.githubusercontent.com/655838/145258785-e1337bfa-9d40-4b0d-ba3d-a6ba42a2cb5d.png">

Node v14 is used.

[2021-12-08 18:02] kud commented on #1379
I've got the same issue that vercel has, with node v14 on my computer.

[2021-12-08 18:23] #1379 closed

[2021-12-08 20:34] leosheecool commented on #1377
Hi @brandongregoryscott
I have the latest version the v6.6.2 so that's why it's weird

[2021-12-09 00:48] brandongregoryscott commented on #1377
My apologies - I misread the issue and I see that you are manually trying to set the `position` prop, which isn't exactly the same issue that was introduced in v6.5.2.

Would you mind providing a code sample, or ideally, a sandbox to reproduce the issue? I spun up a demo sandbox with a simple `SelectMenu` that changes its position based on what value is selected, and I'm not seeing the same issue:

[2021-12-15 11:45] brandongregoryscott commented on #1316
Published with [v6.6.2](https://github.com/segmentio/evergreen/releases/tag/v6.6.2)

[2021-12-15 11:45] #1316 closed

[2021-12-15 12:06] brandongregoryscott commented on #1303
The intent propType warning should be resolved as of [v6.5.2](https://github.com/segmentio/evergreen/releases/tag/v6.5.2) by #1341 and the button propType warning should be resolved in [v6.6.3](https://github.com/segmentio/evergreen/releases/tag/v6.6.3) with #1287. Feel free to open a new issue if you find this is still happening. Thanks 👍

[2021-12-15 12:06] #1303 closed

[2022-01-11 18:27] #1209 closed

[2022-01-12 00:38] brandongregoryscott commented on #1209
For anyone following this issue, [v6.7.0](https://github.com/segmentio/evergreen/releases/tag/v6.7.0) provides a strongly typed `DefaultTheme` interface that should help 😄

[2022-01-15 20:01] brandongregoryscott commented on #1223
Published with [v6.7.1](https://github.com/segmentio/evergreen/releases/tag/v6.7.1)

[2022-01-15 20:01] #1223 closed

[2022-01-15 20:10] brandongregoryscott opened #1390 "MenuItem secondaryText propType doesn't accept string"
Looks like the `secondaryText` propType for `Menu.Item` resolves to `JSX.Element | undefined`, but this doesn't allow for strings to be passed without casting. This is a bit misleading, especially since [our examples](https://evergreen.segment.com/components/menu#dropdown_menu) include strings for this prop.

[code]

See [Code Sandbox](https://codesandbox.io/s/menuitem-secondarytext-proptype-doesn

[2022-01-15 20:15] #1289 closed

[2022-01-18 18:59] brandongregoryscott opened #1393 "Swap faker w/ community maintained @faker-js/faker"
Looks like the original repo/package for `faker` (https://github.com/marak/Faker.js/) has been nuked by its owner. An official fork has been spawned by the community at https://github.com/faker-js/faker. We should swap our dependency since the original is no longer going to be maintained (and it looks like the most recent publish is just an empty package).

[2022-01-22 00:03] #1390 closed

[2022-01-23 10:20] codeNitesh commented on #1393
Hey @brandongregoryscott , I am very new to the open source community and wants to contribute to it. Can you please assign this issue to me? I have good knowledge of technologies used in this project.
Please help me to start :)
Thanks.

[2022-02-04 21:25] #1377 closed

[2022-02-07 13:29] buschco commented on #1102
It would be very useful to include a `ref` prop or the event in the `onChange` callback. Right now the only way (that I am aware of) to clear the inputs value, is to use the `key` prop and change it to get a "fresh" state.

[2022-02-07 14:11] brandongregoryscott commented on #1102
Ah, yeah - we are forwarding the component ref, but it's to the `div` and not the underlying `input`:

https://github.com/segmentio/evergreen/blob/9e5b1a48c067988b96a992d7ec6cff9731755f7a/src/file-picker/src/FilePicker.js#L82-L84

We are actually working on an updated component with Drag & Drop functionality that should look better and be easier to use. I'll take this feedback into account when it

[2022-02-09 23:44] boskiv opened #1403 "Custom font in theme does not applied"
App
[code]
Header
[code]
![Screen Shot 2022-02-09 at 17 43 26](https://user-images.githubusercontent.com/1939783/153309573-0b8c5605-7624-46ac-8b37-aba235b04cb3.png)

[2022-02-10 01:06] brandongregoryscott commented on #1403
Hey @boskiv,

It looks like you're merging the `fontFamilies` object incorrectly. The correct place would be at the root level, i.e.
[code]

If you're using TypeScript, I would recommend upgrading to [v6.7.0](https://github.com/segmentio/evergreen/releases/tag/v6.7.0) or higher. There is a [`mergeTheme`](https://evergreen.segment.com/introduction/theming#theme_utilities) function that provides a t

[2022-02-10 01:39] #1403 closed

[2022-02-10 15:22] brandongregoryscott opened #1404 "Ability to disable autofocus logic in Overlay component"
On more than one occasion, the autofocus behavior in `<Overlay />` has been more obstructive than helpful when trying to properly set focus in a `Dialog` or `SideSheet` which are built on-top of it.

This is the autofocus logic as it stands today:
https://github.com/segmentio/evergreen/blob/0ba8a87b70c029febac59b57277336a8f45fe5cd/src/overlay/src/Overlay.js#L157-L168

[CodeSandbox example of the c

[2022-02-10 16:43] boskiv opened #1405 "Can I change color for particular Link on a Page?"
I tried to do that way, but it does not applied
[code]

[2022-02-10 16:46] boskiv commented on #1405
I see I can choose `neutral` but no way to make it white except modify for all in custom theme?

[2022-02-10 17:03] boskiv commented on #1405
Only way I can solve it is
[code]
[code]
Am I right ? No other way to exclude `!important` ?

[2022-02-11 00:45] brandongregoryscott commented on #1405
The current `Link` component is not very flexible in terms of props or theming. In fact, the comment for that prop in the typescript definitions is misleading (passing in 'green' has no effect based on this code):

https://github.com/segmentio/evergreen/blob/0ba8a87b70c029febac59b57277336a8f45fe5cd/src/themes/default/components/link.js#L5-L11

It also does not support the `appearance` prop like so

[2022-02-11 01:20] #1405 closed

[2022-02-25 15:15] ksankumar opened #1411 "AutoComplete with grouplist"
Is it possible to make it like this with autoComplete?
![Screen Shot 2022-02-25 at 10 13 18 AM](https://user-images.githubusercontent.com/3350098/155739746-b983bdcf-3d42-463b-b917-2c68dcf4917d.png)

[2022-02-25 15:52] zkuzmic commented on #1411
The current implementation of `Autocomplete` doesn't allow for grouping items within unfortunately.

[2022-02-25 16:35] zkuzmic commented on #1411
Sure, you can do that. You need to provide an `itemToString` function as well in that case:

[code]

[2022-02-25 16:41] ksankumar commented on #1411
Thanks, @zkuzmic.This really helpful. But my item list contains images and names.

`[{name: 'item 1', image: 'url'}, {name: 'item 2', image: 'url'}, {name: 'item 3', image: 'url'}]`

So want to paint the item with the image.

Almost similar to what I attached in NY screenshot

[2022-02-25 17:05] zkuzmic commented on #1411
Ah gotcha, here's a codesandbox for how I'd accomplish that:

https://codesandbox.io/s/goofy-water-3qfyzi?file=/src/App.tsx

[2022-02-26 04:14] ksankumar commented on #1411
Hi @zkuzmic ,

I m trying to build autocomplete with group list and made it almost. But I m getting some errors when I try to select an item.

https://codesandbox.io/s/evergreen-autocomplete-mgrt8h?file=/index.js

Can you please, guide me to solve it.

[2022-02-26 15:22] ksankumar commented on #1411
Here is some issue if going with the below data.

[code]

In the above list, we have 2 items with has the same **name**. Now how do we solve with itemToString?

If itemToString filter with **img**, however, I want to show the **name** in inputBox.

This is my exact issue

[2022-03-06 03:10] darkknight20032001 commented on #1242
@zakiAzfar is this issue still open???

[2022-03-06 03:20] zakiAzfar commented on #1242
Don't know, haven't used it since a very long time

[2022-03-06 03:21] #1242 closed

[2022-03-07 21:48] brandongregoryscott commented on #1102
We just released the new `FileUploader` and accompanying `FileCard` components in [v6.9.0](https://github.com/segmentio/evergreen/releases/tag/v6.9.0)

Check out the documentation here: https://evergreen.segment.com/components/file-uploader

Let us know if you run into any issues with it! The API should be pretty flexible without needing the underlying input ref.

[2022-03-07 21:48] #1102 closed

[2022-03-08 13:45] brandongregoryscott opened #1423 "File is not defined error in FileUploader.js"
After upgrading to v6.9.1, I am getting this error in a webpack build:
[code]

Looks like the propTypes that were updated for the docs include a reference to the `File` interface/class from the DOM but it can't be found at runtime. (Doesn't look like a TS issue either, since we're already including the `dom` lib)

I was able to upgrade another project that's using evergreen (and the FileUploader)

[2022-03-14 14:48] vov462 opened #1427 "Shadow DOM compatibility"
Hi, I was trying to inject evergreen inside a shadow DOM tree, when I noticed the styles aren't getting applied inside the tree. My understanding is that `extractStyles` is not an option in this case, because the events fired inside the shadow do not get propagated to evergreen thus the styles aren't getting updated properly. Also looking at the source code, I assume this also has something to do

[2022-03-19 04:32] carllau999 opened #1428 "Scrolling with ComboBox or AutoComplete disconnects popup"
Scrolling with any popup open will fix the position of the popup on the screen and disconnect it from its anchor.

https://user-images.githubusercontent.com/40908164/159106851-a5c45b9c-760a-4fec-b41e-a51f4e5942ca.mov

Is there any way to fix this?

[2022-03-22 20:53] #1428 closed

[2022-03-24 15:22] carllau999 commented on #1428
Thanks! The fix works great!

[2022-04-01 20:11] EricSource2002 opened #1431 "TextInput & TextInputField alignment"
By default, TextInput and TextInput fields are not aligned with the adjacent buttons.
![Captuawdawdawdre](https://user-images.githubusercontent.com/57870666/161334716-baf2acb8-40ed-470d-8877-9703b707ced9.PNG)
![awdawdawd](https://user-images.githubusercontent.com/57870666/161334727-5c769408-7b8b-4b8f-81a0-7d6d06e6ab1c.PNG)

[2022-04-02 02:01] #1431 closed

[2022-04-07 15:41] ChrisCosentino opened #1432 "Component Request: Slider"
Component request to create a slider component:

[code]

Something similar to this:
<img width="345" alt="image" src="https://user-images.githubusercontent.com/30362631/162238698-521c611f-bd7b-4c6a-b4e6-4532df2b966a.png">

[2022-04-09 13:58] #1099 closed

[2022-04-09 14:53] brandongregoryscott commented on #1411
Hi @ksankumar - unfortunately I think you're at the mercy of `itemToString` to serve as the "unique selector" function for your items right now.

#1345 expands the ability of the `Autocomplete` to pass through the `item` object (not just stringify'd) to `renderItem`, which would give you more control over how to render the individual item. We haven't really needed this additional functionality yet

[2022-04-09 14:53] #1411 closed

[2022-04-10 12:26] EmanueleCiriachi opened #1434 "Forward ref to select in Select control"
I am trying to use ref with the `Select` control, however I'm getting the

`Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`

error message. Is there any way that this control will work the same way as `TextInputField`, that redirects refs to the `<input>`?

[2022-04-10 17:36] brandongregoryscott commented on #1434
Looks like we're passing the ref to the wrapping `<Box />` instead of the `<Box />` that's actually rendering a `<select />`.

https://github.com/segmentio/evergreen/blob/ec0e180dc18871c8d6873de7f2a1a65fe1b28b3b/src/select/src/Select.js#L75-L87

https://github.com/segmentio/evergreen/blob/ec0e180dc18871c8d6873de7f2a1a65fe1b28b3b/src/text-input/src/TextInput.js#L56-L66

Should be simple to swap - I

[2022-04-11 18:32] #1393 closed

[2022-04-11 18:52] brandongregoryscott commented on #1434
Should be resolved in [v6.9.6](https://github.com/segmentio/evergreen/releases/tag/v6.9.6)!

[2022-04-12 23:56] EmanueleCiriachi opened #1442 "How can I override font-family across the board?"
We're using our choice of font; is there any way of disabling all of Evergreen's fonts without resorting to the ugly `!important` directive?

[2022-04-13 00:54] brandongregoryscott commented on #1442
You should be able to override the font-family similar to the answer in this discussion: https://github.com/segmentio/evergreen/discussions/1163#discussioncomment-1901329

[2022-04-18 04:42] jj2084jj opened #1445 "A problem was found in the comboBox."
If you scroll while the selection box list is exposed, the list is not fixed under the selection box.
The list box item moves along the scroll.
![image](https://user-images.githubusercontent.com/78161565/163755620-7e933032-71af-4bb7-9342-b31ebbcb06ba.png)

[2022-04-18 04:48] jj2084jj commented on #1445
![image](https://user-images.githubusercontent.com/78161565/163756015-8f3bda1e-adca-43e7-956f-828d593c5e63.png)

In addition, the same problem occurs in the Autocomplete - Results with an external trigger part.

[2022-04-18 10:45] brandongregoryscott commented on #1445
This was actually fixed in [v6.9.5](https://github.com/segmentio/evergreen/releases/tag/v6.9.5) but the documentation site hasn't been updated yet. I'll bump it in a quick PR!

[2022-04-18 11:11] brandongregoryscott opened #1447 "Widen EmptyState description PropType to accept ReactNode"
Right now the `description` PropType is limited to a string and will output console warnings in development if JSX is provided (such as a `<Text>` or `<Strong>` component for styling), but it renders fine:

![image](https://user-images.githubusercontent.com/11774799/163799931-d9f3417e-a75e-444a-b27b-b1dd2b31bfdf.png)

[code]

Other components (such as the `FormField` `label`, `description` and `hi

[2022-04-18 11:14] brandongregoryscott opened #1448 "Widen Paragraph size PropType to accept small, medium or large"
The `Paragraph` component's `size` PropType should be widened to accept `small`, `medium` or `large` since our default theme remaps `300`, `400` and `500` to those theme values anyway:

https://github.com/segmentio/evergreen/blob/10e8e2399029a22526b55e3f532a0c0b81952696/src/themes/default/components/paragraph.js#L38-L43

[2022-04-18 11:16] brandongregoryscott opened #1449 "Widen Text size PropType to accept small, medium or large"
The `Text` component's `size` PropType should be widened to accept `small`, `medium` or `large` since our default theme remaps `300`, `400` and `500` to those theme values anyway:

https://github.com/segmentio/evergreen/blob/10e8e2399029a22526b55e3f532a0c0b81952696/src/themes/default/components/text.js#L32-L37

[2022-04-21 00:16] #1442 closed

[2022-04-22 14:36] brandongregoryscott opened #1453 "React 18 support"
Update to use react* v18 packages (`react`, `react-dom`, `react-is` and `react-test-renderer`).

There's currently a console warning for apps that are running React 18 & using evergreen:

[code]

See this [post](https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-client-rendering-apis) for more info. I think the only place we're calling `ReactDOM.render` is the `Toaster`:

h

[2022-04-22 14:46] brandongregoryscott opened #1454 "Warnings from create-react-app/react-scripts v5"
There are some warnings being thrown from including sourcemaps without source files after upgrading to `create-react-app`/`react-scripts` v5:

[code]

Related: https://github.com/facebook/create-react-app/discussions/11767

It sounds like disabling inline sourcemaps is our best bet. We may also need to do the same for [`ui-box`](https://github.com/segmentio/ui-box)

[2022-04-22 14:56] #1445 closed

[2022-04-22 18:16] brandongregoryscott commented on #1453
I think we're going to have to skip out on the `createRoot` changes until we are able to require React v18 by default, which I would consider a breaking change/major version bump -  `createRoot` isn't exported from `react-dom/client` in v16/v17.

[code]

[2022-04-26 06:03] evantrimboli opened #1459 "Extract localizable strings so they can be customized"
As an example, in the file picker control, the following strings are hard coded:

[code]

It would be good if both were extracted to props:
- Browse would be a single string prop.
- The data for `onDragCopy` would be a function that would take the count and return a string.

The result would look something like this:
[code]

The same should apply to other strings.

[2022-04-27 00:43] brandongregoryscott commented on #1459
I don't think it would be a huge lift (aside from this internal copy, I feel like most of the components are controlled), but I'd want to sit down and audit existing areas with internal/hard-coded copy before going full steam ahead on it.

We haven't really prioritized i18ning our own app, which would require a much larger lift than just tweaking the Evergreen versions.

[2022-04-27 14:55] jonbeebe commented on #1434
@brandongregoryscott  What about the SelectField component? I'm still seeing the same error with that component in 6.9.6

[2022-04-27 15:24] brandongregoryscott commented on #1434
Ah, good catch - looks like that component isn't even forwarding the ref right now.
https://github.com/segmentio/evergreen/blob/890de4300a3d9a820eca6c4f2c8d045cf13bf23d/src/select/src/SelectField.js#L8

Additionally, I think I missed the TypeScript definition updates which still list them as div BoxComponents (should be `select` instead)
https://github.com/segmentio/evergreen/blob/890de4300a3d9a82

[2022-04-27 15:26] brandongregoryscott commented on #1449
Yep!

[2022-04-27 17:40] jonbeebe commented on #1434
@brandongregoryscott great! Thanks for the quick response

[2022-04-28 20:01] #1448 closed

[2022-04-28 20:07] brandongregoryscott commented on #1447
Fixed via #1460 and released in [v6.9.7](https://github.com/segmentio/evergreen/releases/tag/v6.9.7)

[2022-04-28 21:07] #1434 closed

[2022-05-02 13:47] #1454 closed

[2022-05-02 16:27] brandongregoryscott commented on #1454
This should be resolved in [v6.9.9](https://github.com/segmentio/evergreen/releases/tag/v6.9.9)

[2022-05-02 16:30] brandongregoryscott commented on #1434
Forgot to circle back here, but this should be resolved as of [v6.9.8](https://github.com/segmentio/evergreen/releases/tag/v6.9.8)+

[2022-05-02 21:29] jonbeebe commented on #1434
@brandongregoryscott Yes, it is working as expected for me in 6.9.8. Thanks!

[2022-05-03 05:42] krijoh92 opened #1465 "Theme typing discrepencies."
### Missing components in exported 'Components' type
When checking the value of the defaultTheme runtime, I saw a couple of components that I would like to override that weren't included in the `type Components` you export from the typings.

Would it be sensible to inlcude those components in the type?
The components I found missing were:
DialogBody, DialogFooter, DialogHeader, Option and Table

#

[2022-05-03 07:03] krijoh92 commented on #1465
A side question I have: Have you considered migrating away from js and only develop in typescript? I might make it easier to infer types from all components, theme, etc if you're implementing everything in typescript from the get-go?

[2022-05-03 21:04] brandongregoryscott commented on #1465
`Table` was probably an oversight, and the rest were probably missed because they aren’t really “first-class” components or meant to be used on their own. (`Option` is used internally in the `SelectMenu` and `Autocomplete` components, and while we do export it from `index.js`, it probably doesn’t have a lot of use on its own). However, I don’t see the harm in adding them to the type alias since th

[2022-05-03 21:18] brandongregoryscott opened #1466 "Extract & expose Dialog utility components"
Extract the following JSX/functions from `Dialog.js` and expose them as standalone components:

`DialogHeader`
https://github.com/segmentio/evergreen/blob/108a5bc9392db62b6a9f8f177a3a7fa0054c6689/src/dialog/src/Dialog.js#L113-L132

`DialogBody`
https://github.com/segmentio/evergreen/blob/108a5bc9392db62b6a9f8f177a3a7fa0054c6689/src/dialog/src/Dialog.js#L207-L217

`DialogFooter`
https://github.com/

[2022-05-04 08:46] krijoh92 commented on #1465
Thanks for the detailed response Brandon!
I know I would prefer that not just "first-class" components are able to be "themed". I would rather be able to have fine-grained control over all components through the theme if able.

Our specific use-cases for using the callback function are when we want to style something based on a combination of props. Example is our primary buttons with specific int

[2022-05-04 18:29] brandongregoryscott commented on #1465
Totally understandable. PRs welcome - I believe adding these to the `Components` type alias should 'just work' and let you define overrides for those specific object keys.

Ah, I see. That's fair. The typing for this might be a little more complex - from what I've gathered, the object passed as the second param in that callback there isn't really the full component `props` object but an object of

[2022-05-04 20:30] brandongregoryscott commented on #1447
Looks like we forgot to update the TypeScript definitions for `EmptyStateOwnProps` which still only accepts `description` as a string! oops.

[2022-05-04 22:58] shreedharbhat98 commented on #1466
Hey @brandongregoryscott I would like to contribute to this issue. Can you please assign this issue to me?

[2022-05-04 23:43] brandongregoryscott commented on #1466
Sure thing!

[2022-05-15 20:43] #1449 closed

[2022-05-18 15:20] brandongregoryscott opened #1472 "Pressing `esc` while focused on `TagInput` component throws error"
Steps to reproduce:

1. Click or tab into an enabled `TagInput` component, such as the ones on the doc site https://evergreen.segment.com/components/tag-input
1. Press the `esc` key, and you should get the following runtime error:
`TypeError: Cannot read properties of null (reading 'split')`

![image](https://user-images.githubusercontent.com/11774799/169078068-b6b4f440-720a-4e36-b8a9-c959ae8a7b39

[2022-05-18 21:32] pandurijal commented on #1472
what is the expected behavior for this case? just simply don't throw an error when the user clicks `ESC` or?

[2022-05-18 21:55] pandurijal commented on #1472
I believe I already found the workaround for this. Can you please assign this task to me?

[2022-05-20 15:47] brandongregoryscott commented on #1472
@pandurijal I think the esc should basically be swallowed, the same behavior as our standard `TextInput` or `Textarea` components

[2022-05-20 18:04] pandurijal commented on #1472
sure @brandongregoryscott I already opened a PR for this issue

[2022-05-24 23:53] #1472 closed

[2022-05-26 17:34] samuelndm opened #1474 "Tooltip is not changing z-index"
It has a inline style of `z-index: 10` that is overlapping the z-index class

<img width="531" alt="image" src="https://user-images.githubusercontent.com/19199441/170543389-317362eb-7b25-411d-b284-570269232ed9.png">

[2022-05-26 18:13] samuelndm commented on #1474
I added this to the global css file and it worked

[code]

[2022-05-27 11:03] brandongregoryscott commented on #1474
Hmmm, yeah - that's probably coming from the `Positioner` component we are using to calculate the Tooltip's position:

https://github.com/segmentio/evergreen/blob/243d75103fd24898ea3be4b33e27e7302e09402a/src/tooltip/src/Tooltip.js#L130-L137

https://github.com/segmentio/evergreen/blob/243d75103fd24898ea3be4b33e27e7302e09402a/src/positioner/src/Positioner.js#L159

https://github.com/segmentio/everg

[2022-05-31 15:23] samuelndm commented on #1474
@brandongregoryscott  I'm sorry for not responding you soon.

The header and footer is overlapping the tooltip. The popover is having the same problem, there is a inline-style overriding the z-index

[2022-05-31 15:28] samuelndm commented on #1474
This is how I'm trying to change the z-index

![image](https://user-images.githubusercontent.com/19199441/171211253-3f4d9dad-5da1-40ef-a8f2-4fa1ad43e510.png)

[2022-06-13 00:35] mhssmnn opened #1479 "Interactive badge styles not applied with classnames@2.2.6"
**Describe the bug**
`isInteractive` for Badge does not work when evergreen is used within a project that has classnames v2.2.6

Other areas may be affected too.

Fix is to bump the version range for classnames from `^2.2.6` to `^2.3.0` – which is the version that is resolved in the `yarn.lock` file, and therefore what is used in the examples (which is why you do not see the bug by default)

**To

[2022-06-13 16:16] #1479 closed

[2022-06-14 11:52] tiyee opened #1481 "what's the function mergeTheme in v6?"
I use this function to enhance defaultTheme,
but when I migrating from v5 to v6, it notice that evergreen-ui don't export the function.

<img width="323" alt="image" src="https://user-images.githubusercontent.com/2190710/173570810-b7f37731-364c-4fa1-9300-431be19d6b59.png">

[2022-06-14 12:10] brandongregoryscott commented on #1481
What minor version are you using? The `mergeTheme` utility function is available from [v6.7.0](https://github.com/segmentio/evergreen/releases/tag/v6.7.0) onwards 😄

[2022-06-14 19:29] #1323 closed

[2022-06-14 19:33] brandongregoryscott commented on #1481
@tiyee Try upgrading to v6.7.0+ and that should resolve the issue. I wasn't aware there was a `mergeTheme` available in v5, but it must have been removed for the original v6 release.

[2022-06-15 21:35] kevinburkesegment opened #1482 "Style for code blocks?"
I need to display a code block and did not find anything in Components, also if I just try adding `<pre><code>blah blah...</code></pre>` it shows up as plain Courier New.

[2022-06-15 21:38] kevinburkesegment commented on #1482
For example, Bootstrap has this (not trying to pick on them or compare, just to demonstrate what I'm looking for): https://getbootstrap.com/docs/5.2/content/reboot/#code-blocks

[2022-06-15 23:56] brandongregoryscott commented on #1482
We actually do have a [`<Code>`](https://evergreen.segment.com/foundations/typography#code_component) component! It's documented in the Foundations > Typography section of the site. Looks like it only renders as a single line right now - not sure exactly how much content you're looking to put in it, but that could be a limitation.

[2022-06-16 05:16] tiyee opened #1483 "The progress component is needed."
As title said,
like this: <https://developer.microsoft.com/en-us/fluentui#/controls/web/progressindicator>

[2022-06-17 20:23] #1447 closed

[2022-06-19 21:30] MitchellMarkGeorge opened #1484 "Usage in React 18"
Hi, I was trying to use this library with React 18 and got the error that the peer dependencies were wrong. I noticed that in the `package.json` that it still required version 17. Please when will the library be updated to support React 18?

[2022-06-19 21:32] #1484 closed

[2022-06-21 15:24] #1453 closed

[2022-06-22 17:39] harish-prakash opened #1485 "`FormField`'s label property is required in JS but not in TS"
The **`FormField`** component marks the `label` property as **required**

https://github.com/segmentio/evergreen/blob/d77c65342023d468b05b6fc49f345996a8c2a3d9/src/form-field/src/FormField.js#L43-L48

However, the typescript definition of **`FormFieldOwnProps`** marks it as **optional**

https://github.com/segmentio/evergreen/blob/44fe319c8cd05e4827945085c549049e01b443f4/index.d.ts#L1551-L1556

Thi

[2022-06-22 18:27] brandongregoryscott commented on #1485
Definitely an annoying discrepancy. It should be as simple as dropping the `isRequired` in the PropType - a PR is welcome!

[2022-06-22 19:20] harish-prakash commented on #1485
You've got it 😊
* #1486

[2022-06-22 19:54] #1485 closed

[2022-06-29 10:28] vko-online opened #1491 "React 18 warning"
```Warning: ReactDOM.render is no longer supported in React 18. Use createRoot instead. Until you switch to the new API, your app will behave as if it's running React 17. Learn more: https://reactjs.org/link/switch-to-createroot```

Toaster.js

[2022-06-29 12:02] brandongregoryscott commented on #1491
We'll be stuck with this error until we can drop support for React v16.8 - v17. See https://github.com/segmentio/evergreen/issues/1453#issuecomment-1106751399

[2022-07-01 18:31] brandongregoryscott opened #1493 "Ability to conditionally render Tooltip"
There are cases where we want to display a `Tooltip` (or rather, have the _ability_ to display a `Tooltip` on an element) based on a condition. The current `isShown` prop does not support this very well - it controls whether the Tooltip is **always** shown, not just when the child element is hovered. It would be nice to add a new prop to control whether the tooltip _should_ be shown once the child

[2022-07-02 06:52] #1491 closed

[2022-07-02 20:40] brandongregoryscott commented on #1493
After digging into the implementation more, I think you can implement this by explicitly setting `isShown={false}` when you _don't_ want to render the tooltip on hover, and _not_ set that prop (i.e. `isShown={undefined}`) when it should maintain normal behavior (rendering on hover of the target element).

Forked the CodeSandbox from above to verify this: https://codesandbox.io/s/conditional-toolti

[2022-07-11 11:42] egg-juxt opened #1496 "Autocomplete: `allowOtherValues` not working?"
Hi, this doesn't seem to be correct behavior: I'm using Autocomplete with property `allowOtherValues` enabled. When I select an item from the Autocomplete menu, the input value does not get updated.

Reproduction steps:
Navigate to https://evergreen.segment.com/components/autocomplete#default_example
Click on "Open in CodeSandbox".
Check that the Autocomplete component is working correctly.
Edit s

[2022-07-11 13:33] brandongregoryscott opened #1497 "Disabled MenuItem styling discrepancies"
[code]

![image](https://user-images.githubusercontent.com/11774799/178275559-3c3856d3-7588-415f-8e4b-b87ef0107379.png)

The 'Share' option should be a lighter grey shade (probably our `muted` text color), and it should have a disabled cursor on hover.

Looks like this is the issue with the text color:
https://github.com/segmentio/evergreen/blob/41c0d710983f23abf4c6d6a90e18d1bdbb277eb2/src/menu/sr

[2022-07-12 12:07] park-jemin commented on #1493
Coming back here to drop this for visibility: [found an instance where tooltip _looks_ like it's being used conditionally through `isShown`](https://github.com/segmentio/app/blob/7b8af801d3d3392bd9a4cf430ccee7f6b0d0a245/client/components/Protocols/TrackingPlan/RuleEditor/Header/Header.js#L113-L131), but it's not obvious at all on reading the code (honestly got really confused for a moment), and th

[2022-07-12 13:24] brandongregoryscott commented on #1493
Copying this conversation over from Slack for visibility:

FWIW, the current behavior isn’t that out of the ordinary, but it I think it could be better documented. I’m thinking of it as the difference between a controlled/uncontrolled input component. Usually, you’re able to use a TextInput, Checkbox, etc component without explicitly sending in `onChange` and `value` props while the component visu

[2022-07-12 14:11] taochu opened #1498 "`<Tooltip />` doesn't hide on mouse leave on disabled buttons"
When using `<Tooltip />` on a disabled button, as shown in the code sandbox below, the tooltip shows up on hover but doesn't go away when the mouse leaves the element.

This is happening on Chrome & Safari. Didn't test Edge. Firefox works fine.

[Code Sanbox](https://codesandbox.io/s/evergreen-tooltip-on-disabled-element-issue-kdhwnt)

[2022-07-14 09:37] ianpaschal opened #1499 "Component Request (or Offer): Responsive Icon Button"
Hello,

I'm working on a project using Evergreen (and very much enjoying it, so: thank you). One thing I really need though is a `ResponsiveButton` which can be toggled between an `IconButton` and a `Button`. The rationale here is that on things like a collapsible sidebar or horizontal toolbar, real estate can become an issue on smaller screens and mobile and this button would allow these features

[2022-07-14 14:11] brandongregoryscott commented on #1498
Is there a good reason to use a standard HTML button instead of our `<Button />` component as the target? It seems to work on our disabled Button component.

[2022-07-14 15:13] brandongregoryscott commented on #1496
Hmm, yeah, it looks like you're right. It looks like it _does_ select the value (typing in 'a', selecting Apple, backspacing, and then typing 'a' again shows the Apple option selected) but it doesn't seem to be properly updating the input field. Not sure when/if this ever worked, but going as far back as 6.4.0 it is still showing this behavior.

[2022-07-14 15:47] brandongregoryscott commented on #1499
Hey @ianpaschal! Thanks for using Evergreen, happy to hear it's working well for you. :tada:

While we appreciate the offer, I don't think this is something we're interested in adding to the API at this time. Evergreen is certainly not responsive and it hasn't been a priority for our app, which largely drives decisions on major design changes and implementation.

Adding one responsive variant of a

[2022-07-14 16:22] ianpaschal commented on #1499
Thanks for the quick reply! That's OK, I totally understand. And that's why I ask rather than just diving into the whole fork and PR process assuming it would be appreciated, haha.

If you (and the Evergreen folks) change your mind, let me know. Once this project is... not a massive WIP mess filled with crude glued-together bits like above ^^, I'd be happy to share it with y'all. Maybe you find so

[2022-07-14 17:19] brandongregoryscott commented on #1499
We do have a `useTheme` hook which can be used to access colors and other theme tokens. If you're adding or changing values from the default theme, you'll want to make sure you wrap your component tree in the `ThemeProvider` with your updated theme object as shown in the examples on that page.

[2022-07-14 17:57] ianpaschal commented on #1499
Makes sense! Sorry, I actually haven't really looked at that page past "Getting Started." Since then I've just been bouncing around between "Foundations" and "Components" for the last few days.

I don't know your policy for how aggressively you clean up the issue count, so I'll leave the decision to close this or not to you!

Cheers and thanks for your help!

[2022-07-14 17:59] #1499 closed

[2022-07-15 16:58] brandongregoryscott opened #1502 "Exhaustive deps warning in AutcompleteTagInputExample"
Looks like the way we've written this example is giving an exhaustive deps warning. Open the CodeSandbox at https://evergreen.segment.com/components/tag-input#autocomplete and click on the Problems panel to see:

<img width="731" alt="image" src="https://user-images.githubusercontent.com/11774799/179271841-b3980f5c-1996-45b4-b045-1dabc0c30154.png">

I think we can move `allValues` outside of the f

[2022-07-18 12:08] #1497 closed

[2022-07-29 02:25] avin-kavish opened #1505 "Non-Next.js SSR Example"
How do I write SSR in just plain node.js?

[code]

I guess styles have to built somewhere here? Should I use the non-stream version instead? i.e.  `renderToString`

[2022-08-03 00:03] brandongregoryscott commented on #1505
Hey @avin-kavish, I can't say I am super familiar with SSR but I think you'll still need to render the css string in a `<style>` tag in the head of the page, and render the hydration script in the body (both supplied by `extractStyles`), similar to the NextJS example. The hydration script is a React component instance, so you'll probably need to call `renderToString` on it when returning the HTML

[2022-08-03 04:03] #1505 closed

[2022-08-03 11:58] brandongregoryscott commented on #1474
Hey @samuelndm, sorry for the delay here. The Tooltip leverages our `Positioner` utility component which has a static z-index set for a handful of components, and doesn't really read from the theme values. Being able to override this in the theme would require some internal restructuring to support. Going to mark this as low priority for now unless others feel very passionately about this feature.

[2022-08-03 15:08] ahsan-ih opened #1507 "Form fields inconsistent styles"

[2022-08-03 15:08] #1507 closed

[2022-08-03 15:09] ahsan-sabir opened #1508 "Form fields inconsistent styles"
TextInputField and SelectField have inconsistent border and box-shadow styles. There could be other inconsistencies as well.
On a side note it would be nice to have placeholder prop for SelectField as well.

<br/>

TextInputField             |  SelectField
:-------------------------:|:-------------------------:
![](https://user-images.githubusercontent.com/56548120/182640923-a857a0a1-21db-4552-99c

[2022-08-05 15:03] ahsan-sabir opened #1509 "onChange and onBlur event handlers"
I would be nice if we could pass onChange and onBlur event handlers to components such as Combobox and SelectMenu for form libraries like react hook form and formik. There's inputProps present in Combobox but passing onChange and onBlur to it doesn't appear to work.

[2022-08-05 23:44] ahsan-sabir opened #1510 "CSS Variables for custom stylesheets"
Does evergreen provide css variables for its tokens that can be used in stylesheets like other frameworks such as bootstrap and material?

[2022-08-06 00:56] brandongregoryscott commented on #1509
Hey @ahsan-sabir,

`onChange` should be available directly on the `Combobox` component, and `onSelect` should serve the same purpose for the `SelectMenu` component. Most of our components are built on top of our `Box` primitive and spread additional props onto the component(s) that are being composed.

`onBlur` seems to work on the `Combobox` already, but the `SelectMenu` seems to work a little di

[2022-08-06 03:13] ahsan-sabir commented on #1509
Hi @brandongregoryscott

Turns out the lib I was using (react-hook-form) expect onChange to receive event object, which is not the case with Combobox. Moreover passing onChange through inputProps won't work (which works for onBlur)

[code]

[2022-08-06 13:04] brandongregoryscott commented on #1509
Correct, most of our component event handlers do not expose the raw event and instead provide a simpler API with the changed item/value only. This makes it easier to work with a regular `useState` hook.

Yes, you'll want to set the `onChange` property directly on the `Combobox`, not through `inputProps`. `inputProps` and other nested props are exposed as more of an escape-hatch/last-resort and not

[2022-08-06 13:12] brandongregoryscott commented on #1510
We use a css-in-js solution with our UI primitive [`Box`](https://github.com/segmentio/ui-box) as well as [`glamor`](https://github.com/threepointone/glamor). We generally recommend against mixing CSS with Evergreen due to unexpected behavior: https://evergreen.segment.com/foundations/layers#you_don%E2%80%99t_need_classname

A bulk of the styling values can be referenced from our `defaultTheme` ob

[2022-08-06 16:57] #1510 closed

[2022-08-06 17:05] #1509 closed

[2022-08-11 14:07] AnishaTalati opened #1511 "ClassicTheme not overwriting certain defualtTheme component styles in V6"
Hi,

My company uses your UI theme for their app and recently wanted to update from v5 to v6 in order to use certain props such as autocompleteItems in tagInputs, but keep the rest of the styling the same as in v5. I have updated and specified the classicTheme in the ThemeProvider component but am coming across some issues where even though most of the app is kept to the classicTheme, certain comp

[2022-08-16 03:32] oxala opened #1512 "Portal breaks the nextjs hydration."
Hey,

Recently found your library and was using in one of the projects. Good stuff and thank you for your work!

But is seems like there is an issue with the portal hoc you that you have.
For example, having an `<Overlay isShown={true}>Test</Overlay>` anywhere on the page will result in a failed hydration.

<img width="702" alt="image" src="https://user-images.githubusercontent.com/1775318/1847922

[2022-08-17 10:49] sazzadsazib opened #1513 "Toaster's CodeSandbox` don't have import toaster in example"
If you open toaster examples in code sandbox the examples do not have import of `toaster` see screenshot below
<img width="1362" alt="Screen Shot 2022-08-17 at 4 47 58 PM" src="https://user-images.githubusercontent.com/8937268/185100573-f77b100a-f1f2-4853-9694-29eba4380ed2.png">

it should be
<img width="704" alt="Screen Shot 2022-08-17 at 4 48 45 PM" src="https://user-images.githubusercontent.com

[2022-08-18 12:55] ahsan-sabir opened #1514 "Issue with Table horizontal scroll"
How to make the table scroll horizontally without the ellipsis?
Couldn't find any relevant prop in the documentation.
Doing anything like setting overflow to auto in parent element or removing overflow from cells breaks the table.

https://codesandbox.io/s/new-monad-if7339?file=/index.js

[2022-08-18 14:38] ahsan-sabir opened #1515 "Issue with some Sandboxes"
### [Custom menu items](https://evergreen.segment.com/components/menu#custom_menu_items)

Menu items showing browser default styles

Expected             |  [Sandbox](https://codesandbox.io/s/hzefzj)
:-------------------------:|:-------------------------:
![](https://user-images.githubusercontent.com/28040841/185421278-9b02dfdb-9299-4f42-ae70-fae9b273a970.png)  |  ![](https://user-images.githubuse

[2022-08-18 15:06] JayYoungman opened #1516 "TagInput Styling issues"
There seems to be some issues with the TagInput styling in the latets upgrade. 10.5.3. We are trying to migrate from v5, with various issues, but aren't getting any response from here when creating tickets. Heres another;

The changelog suggests the tag input gets a 100% width, when in fact its default width is 280px if no width is provided, this is causing all kinds of issues, and when we are try

[2022-08-18 18:33] brandongregoryscott commented on #1516
Hey @JayYoungman,

Can you provide a minimal code sandbox with the version you are currently on and the version you're trying to upgrade to that has the static width issue? The TagInput was recently updated a few times - primarily for the autocomplete capability, (https://github.com/segmentio/evergreen/pull/1400) and later to fix how the underlying `input` element is centered in certain cases (htt

[2022-08-18 18:52] brandongregoryscott commented on #1511
Hi @AnishaTalati,

It's possible that these components internally changed when we upgraded to v6 and released the new default theme, and they don't respect the classic theme tokens. While we aren't prescribing that you move off of the classic theme, we aren't necessarily adding classic theme backwards compatibility for updated or new components, since we have moved off of it entirely in our own ap

[2022-08-18 19:59] JayYoungman commented on #1516
Hi @brandongregoryscott

First off, apologies for the tone of the message, it's been quite frustrating with this migration from v5 to v6. Im afraid it really hasn't been very well documented. We have raised a few issues, but again I must apologise, as we was not aware this was not fully maintained, it does state on the github it is maintained and supported, as well as documentation being a priorit

[2022-08-18 20:14] JayYoungman commented on #1516
@brandongregoryscott

Here is a link to the sandbox https://codesandbox.io/s/inspiring-mcclintock-ohsq9h

As you can see, i have a flex container, with 3 elements inside, they are % based widths, notice the tag input overflow its field, in our application it expands off the page, or in places where there is a button or element to right, it expands overt the top of it. This can be avoided by adding

[2022-08-19 13:40] JayYoungman commented on #1511
@brandongregoryscott

Thanks for the reply, we decided to manually restyle the toaster based on the classicTheme in our global css to solve this one.

Would be happy to create a PR although it might not be something your interested in?

Thanks

[2022-08-19 19:48] brandongregoryscott commented on #1511
If you've wired it up differently, no worries. We aren't actively adding classic theme backfills for new components or when we change existing components, but this seems like a case that was just originally missed in the V6 release, so I'd be OK with fixing support for it - it looks a lot like the Alert component that _does_ have classic styling support.

[2022-08-19 20:41] brandongregoryscott commented on #1516
Hey @JayYoungman, it looks like this was a regression with #1476. Using [v6.9.11](https://github.com/segmentio/evergreen/releases/tag/v6.9.11) doesn't seem to have this issue. I'll look into a fix for this. Thanks for flagging!

[2022-08-22 11:40] JayYoungman commented on #1516
@brandongregoryscott  Thanks very much for your time and patience.

we will try downgrading to 6.9.11 for the time being.

thanks again.

[2022-08-22 13:26] brandongregoryscott commented on #1516
Can you provide a screenshot of that? I'm not seeing it on your Codesandbox example pointed @ 6.9.11

[2022-08-22 14:07] JayYoungman commented on #1516
Hi @brandongregoryscott

Yep just checked out the sandbox and you are right it does not show on there. However here is a screenshot of our application, with the appended class ub-pl_4px being appended to it, very confused with this one!

![Screenshot 2022-08-22 at 15 06 30](https://user-images.githubusercontent.com/98108533/185941157-ba185d5a-6f94-4fac-abff-08fce49206b9.png)
![Screenshot 2022-08-2

[2022-08-22 14:13] JayYoungman commented on #1516
We've temporarily fixed with InputProps width 99%

[2022-08-22 14:15] brandongregoryscott commented on #1516
@JayYoungman I think it's actually from the `classicTheme` - if you wrap that Codesandbox with `<ThemeProvider value={classicTheme}>`, I'm seeing the `padding-left: 4px` class now.

[2022-08-22 14:36] JayYoungman commented on #1516
@brandongregoryscott  ah that will explain it then!

I'm wondering if there is any point in us continuing to use the classicTheme, but as there has been so much design changes and this app is in production i'd need to run this by the directors!

Thank you so much for your time, i honestly really appreciate it.

[2022-08-22 22:46] brandongregoryscott commented on #1515
Thanks for flagging these @ahsan-sabir. I think the first one is actually an unintentional side effect of some global styles on the doc site. Those `ul`/`li` elements _should_ be unstyled the way it is currently written. However, I think that defeats the purpose of the example - I'll rework it to be a little more intuitive.

[2022-08-29 04:38] avin-kavish opened #1519 "Upgrade core-js version"
Got this warning,

Although it's through fbjs, maybe upgrading the glamor version will fix it.

[2022-08-29 12:11] brandongregoryscott commented on #1519
Duplicates #1146, #1304.

We ultimately need to move off of glamor.

[2022-08-29 12:11] #1519 closed

[2022-09-10 03:50] taochu commented on #1498
@brandongregoryscott

Sorry for the very late reply. I remember back then the `<Button />` didn't work either so I was playing around w/ the native HTML button. Seems to work well now.

Thanks!

[2022-09-10 03:50] #1498 closed

[2022-09-13 08:31] krshnknsr21 commented on #1508
Hey can I take up this issue?

[2022-09-15 22:25] codeheart09 opened #1520 "Not being able to theme shadows"
So, I'm trying to customize the `shadows` property of the theme. For that I created the object to merge with the defaultTheme.

[code]

But when I apply this to the `ThemeProvider` I get:

[code]

I'm not sure how can I merge a string array with an object. This may be a silly thing, but this is indeed the expected goal? How would I do that?

Thanks for any help.

[2022-09-16 12:03] brandongregoryscott commented on #1520
Hey @codeheart09 - it is indeed a strange type (and probably something we should move away from / have a separate token for), but this is how it's currently implemented (in JS): https://github.com/segmentio/evergreen/blob/master/src/themes/default/tokens/shadows.js#L10-L18

Unfortunately I think you'll need to cast the `shadows` array, regardless of whether you want to override the `focusRing` val

[2022-09-16 17:35] brandongregoryscott commented on #1508
@krshnknsr21 Sure! PRs are always welcome. Double check our public Figma library for reference: https://www.figma.com/@segment

[2022-09-16 19:07] ahsan-sabir opened #1521 "SelectMenu closeOnSelect doesn't work with isMultiSelect"

[2022-09-16 21:02] #1513 closed

[2022-09-16 21:02] #1502 closed

[2022-09-16 21:02] #1515 closed

[2022-09-17 11:57] #1520 closed

[2022-09-23 20:38] richardscarrott opened #1522 "RadioGroup doesn't support name prop"
`RadioGroup` generates a [random `name` prop](https://github.com/segmentio/evergreen/blob/master/src/radio/src/RadioGroup.js#L25), making it unusual for JS handling and unusable for HTML form submissions.

i.e. A native form action (server side) has no way of knowing what the name will be.

https://codesandbox.io/s/empty-https-ej6nsc

[2022-09-26 11:49] brandongregoryscott commented on #1522
Seems like an oversight, but should be simple enough to fix!

[2022-09-28 04:21] JayKania opened #1523 "Component Request: Card Component"
I guess can make a component in which we would have the following props:

1. Image
2. Title
3. Subtitle
4. Description
5. Card Actions

[2022-09-28 12:16] brandongregoryscott commented on #1523
Hey @JayKania - while we do have a Card component, it is a really primitive component (essentially a `Pane` with a border radius), but it does allow for very flexible styling using css props.

We haven't found enough use cases for an opinionated component like you're describing, so I would recommend composing your own version with components like [`Pane`, `Card`](https://evergreen.segment.com/foun

[2022-09-28 12:16] #1523 closed

[2022-09-28 12:21] brandongregoryscott commented on #1521
Looking at the code, I think this was intentional:

https://github.com/segmentio/evergreen/blob/80f4f65714a02cdca69f6f4ac5663e38db111ec7/src/select-menu/src/OptionsList.js#L128-L141

I'm thinking closing the select menu would lead users to believe they can only select one option, and they wouldn't reopen it to select another.

[2022-09-28 17:17] ahsan-sabir commented on #1521
"I'm thinking closing the select menu would lead users to believe they can only select one option, and they wouldn't reopen it to select another."

I don't think that would be a problem since it will only close with explicit closeOnSelect.
My particular use case involves making an expensive api req on each select, so I have to close the select menu and disable it until current req completes.

[2022-09-28 17:36] brandongregoryscott commented on #1521
That's a good point. Looks like we don't default `closeOnSelect` to true, so this wouldn't break the existing behavior for consumers using the multi-select version, unless they were also trying to use both props together.

[2022-09-29 13:04] #1496 closed

[2022-09-29 13:24] #1512 closed

[2022-09-30 15:58] brandongregoryscott commented on #1522
This should be resolved in https://github.com/segmentio/evergreen/releases/tag/v6.10.4

[2022-09-30 15:59] brandongregoryscott commented on #1512
This should be resolved in https://github.com/segmentio/evergreen/releases/tag/v6.10.4

[2022-09-30 15:59] brandongregoryscott commented on #1496
This should be resolved in https://github.com/segmentio/evergreen/releases/tag/v6.10.4

[2022-10-03 12:49] brandongregoryscott opened #1525 "Combobox `autocompleteProps` should be `Omit<AutocompleteProps, 'children' | 'items' | 'onChange'>`"
When providing `autocompleteProps` to the `Combobox`, it requires `items`, `onChange`, and `children`, which don't really make sense - the `Combobox` component manages these internally. It looks like the `Combobox` spreads these props after the `items`/`onChange` from its _own_ props, so it won't "break" anything by allowing these thru, but it's not really the intended API of the component.

See t

[2022-10-07 13:25] tiyee opened #1527 "Component Request: Calendar & DateTme Picker"
These components maybe is need.

[2022-10-09 07:06] p-reetu commented on #1527
I would like to work on this.

[2022-10-15 12:13] lancejpollard opened #1533 "core-js is no longer maintained and not recommended for usage due to the number of issues?"
Getting this on a fresh installation of `yarn add evergreen-ui` in a Next.js project:

Any ideas? Is this something I can fix on my own, or that should otherwise be fixed?

Excited to try Evergreen out for the first time after spending lots of time in other React UI frameworks (like antd)!

[2022-10-15 12:15] lancejpollard commented on #1533
Looks like it has already been reported, sorry! https://github.com/segmentio/evergreen/issues/1519

Any thoughts/statements on when it will be fixed?

[2022-10-15 12:15] #1533 closed

[2022-10-16 21:43] mattcat10 commented on #1483
+1 would like to see this added

[2022-10-18 14:35] brandongregoryscott commented on #1533
Unfortunately not 😞 Swapping glamor with another css solution like emotion will take quite a bit of effort + testing, which we don't really have time for at the moment.

[2022-10-21 14:25] brandongregoryscott opened #1536 "FormFieldValidationMessage does not scale well with limited width"
When the message wraps multiple lines, the icon gets progressively smaller. Compare it to the `InlineAlert` component which has a very similar visual design:

![image](https://user-images.githubusercontent.com/11774799/197219323-313c8702-e11c-421d-a9bf-b3771a104e91.png)

[2022-10-21 21:28] ZaneH opened #1538 "Next.js + Evergreen FOUC on Hard Refresh"
I'm working on a project and I notice on the first load it flashes unstyled content. It's rather jarring on a large scale.

I've created some GIFs and provided a repo that shows this issue pretty well.

Here is Next.js + styled-components hard refreshing (looks good):

https://user-images.githubusercontent.com/8400251/197290993-63aacec6-47dd-4c4b-b389-b01a26d90ef2.mov

And this is Next.js + Evergr

[2022-10-22 15:18] brandongregoryscott commented on #1538
I'm not seeing any reference to `extractStyles` from `evergreen-ui` in there! I'm only seeing references to the `styled-components` stylesheet. I can't promise they [`styled-components` + `evergreen-ui`] will play well together, but I think you'll need to render the `<style>` tag with the `css` returned from `extractStyles`, and the `hydrationScript`, as demonstrated in our SSR example:

https://g

[2022-10-23 00:06] ZaneH commented on #1538
That was a very helpful reminder! I've had to make some minor changes for it to fit with styled-components but it appears to be completely fixed with the following:

[code]

[2022-10-23 00:06] #1538 closed

[2022-10-23 18:16] ZaneH commented on #1538
I've noticed that this results in glitchy Tooltips (from Evergreen), I'll open a new issue if I can't find a fix

[2022-10-24 17:37] murtdagi opened #1539 "Request for additional components"
Hello
I think you have a good set of components with very nice, sleek and professional looking styling. However, i think there are few components missing which is kind of a must for almost any mid side apps. Would you be able to look into the below components?
1. Skeleton loading
2. Accodrion
3. Stepper (https://mui.com/material-ui/react-stepper)

Hope someone can look into these component

Regard

[2022-10-25 17:20] #1536 closed

[2022-10-25 17:40] #1459 closed

[2022-10-25 17:47] #1525 closed

[2022-10-25 18:14] #1404 closed

[2022-11-03 18:40] brandongregoryscott opened #1542 "Popover/Tooltip doesn't appear on `disabled` elements"
Steps to reproduce:

Wrap a disabled element (such as a `Button` or `TextInput` with a `Tooltip` or a `Popover` that's triggered on hover, such as:

[code]

[code]

The Tooltip or Popover will not appear on hover. It's hard to say whether this is a bug or simply undocumented behavior, but I'd be curious to see if others are expecting it to work this way or not.

It is often desirable to provide th

[2022-11-16 11:28] gat-developer commented on #1304
Still a problem that we see and would like to get resolved.

[2022-11-17 22:28] alarner opened #1548 "Tooltip flickering issue introduced in v6.10.4"
**Describe the bug**
When using the <Tooltip> component on an IconButton the tooltip flickers in the upper left hand corner.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a tooltip, eg.
[code]
2. Hover over the tooltip
4. Observe flickering tooltip in upper left hand corner of the page

Demo Link: https://codesandbox.io/s/priceless-banach-7x7yqo?file=/src/App.js:168-327

**Expected be

[2022-11-17 23:24] brandongregoryscott commented on #1548
Good catch, thanks for tracking down the bad version. I'm thinking the changes to the Portal component may be causing this, but I'll dig into it.

[2022-11-20 19:48] MasterKali06 commented on #1548
hey, i like to work on this bug if that's cool and no one working on it!

[2022-11-20 20:17] brandongregoryscott commented on #1548
I've been taking a look at it over the weekend but I'm still testing out my solution to make sure it solves this issue and doesn't break SSR, which was the reason the Portal was recently updated (#1512 / #1517).

I'm hoping to get a PR out soon, but feel free to take a stab at it yourself if you'd like!

[2022-11-21 16:55] #1548 closed

[2022-11-21 18:33] #1365 closed

[2022-11-21 19:10] brandongregoryscott commented on #1548
This should be resolved [v6.13.1](https://github.com/segmentio/evergreen/releases/tag/v6.13.1)

[2022-11-21 19:10] brandongregoryscott commented on #1365
This should be resolved [v6.13.1](https://github.com/segmentio/evergreen/releases/tag/v6.13.1)

[2022-11-22 09:59] mnlfischer opened #1551 "Dialog allows user to tab elements in the background"
For my understanding the Dialog component should only enable tabbing in the current dialog context, not in the background of it.
https://evergreen.segment.com/components/dialog

Working w3c example: https://www.w3.org/WAI/ARIA/apg/example-index/dialog-modal/alertdialog.html

[2022-11-23 17:18] yeganathan18 opened #1552 "security: v6.13.1 dependency contains vulnerable `node-fetch` version"
I tried fixing by downgrading the `evergreen-ui` as well as `node-fetch` but still there is no change reflecting.

<img width="886" alt="Screenshot 2022-11-23 at 10 46 12 PM" src="https://user-images.githubusercontent.com/63534555/203608787-448d8dc2-345e-4bed-96e9-2c82e8192cea.png">

Can someone from the team suggest me a fix for this security bug?

[2022-11-23 17:47] brandongregoryscott commented on #1304
We are aware of this issue and we're ultimately working on removing `glamor` entirely.

[2022-11-23 17:48] brandongregoryscott commented on #1552
Please see #1304

[2022-11-23 17:48] #1552 closed

[2022-11-23 17:48] brandongregoryscott commented on #1146
Consolidating this with #1304

[2022-11-23 17:48] #1146 closed

[2022-11-25 00:04] Piero87 opened #1553 "How can I change Overlay color?"
Hello,
I have tried to do this:

  const theme = mergeTheme(defaultTheme, {
    components: {
      Overlay: {
        baseStyle: {
          backgroundColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    },
  })

but the Overlay components seems not present, anyone can help me to change the background color?

thanks

[2022-11-25 01:22] brandongregoryscott commented on #1553
Hey @Piero87, the `Overlay` component doesn't have a full object under `theme.components`, but its color is overridable via `theme.colors.overlay`, for example:

[code]

[2022-11-27 13:16] Piero87 commented on #1553
@brandongregoryscott thank you!!!

[2022-11-27 13:16] #1553 closed

[2022-11-28 08:50] Coderwelsch opened #1555 "Missing Official Figma Components File in your provided segment account"
Dear segment/evergreen team, I saw that there is no official figma file in your figma’s [@segment](https://www.figma.com/@segment) account. Could you please provide an (and at least any) official up-to-date component library?

### Third-party community files are inconsistent

The other evergreen v6 community libraries (from [Emmanuel Badmus](https://www.figma.com/@emmymus) and [Sarah Li](https://w

[2022-11-28 21:34] dengribar opened #1556 "Popover disappears when rendered and received a single scroll event"
👋 After **6.13.1** update, one of our automated integration tests started failing in the following scenario:

`Popover` shows up at the same moment when scrolling takes place which results in the `Popover` becoming invisible. After looking into this issue, I've found the following:
* we subscribe on `"scroll"` event [here](https://github.com/segmentio/evergreen/blob/master/src/positioner/src/Posit

[2022-11-28 21:45] brandongregoryscott commented on #1556
@dengribar Is this reproducible in a CodeSandbox? https://codesandbox.io/s/create-react-app-evergreen-starter-ts-3q99w

[2022-11-28 22:31] Piero87 opened #1557 "How can I change Checkbox color?"
I have tried to change checkbox color with no luck, this is my code:

[code]

how can I change checkbox square color when checked? and the label color?

[2022-11-29 00:17] brandongregoryscott commented on #1557
For any advanced theming like this, you'll probably need to take a look at how we implement the theme ourselves: https://github.com/segmentio/evergreen/blob/master/src/themes/default/components/checkbox.js

In this case, we don't define any base style (just a `default` appearance which acts as the same thing - I can't tell you why, sorry!)

Each of the states is represented with a placeholder sele

[2022-11-29 09:51] Piero87 commented on #1557
@brandongregoryscott thank you very much it worked, how can I change also label color?

[2022-11-29 18:36] brandongregoryscott commented on #1555
Hey @Coderwelsch, we've republished the Evergreen v6 documentation as it existed prior on the Twilio Figma: https://www.figma.com/community/file/974362403539471944. I'll get a PR out to update the link on our doc site.