[2017-08-20 04:27] jeroenransijn opened #1 "evergreen-colors outline"
The first package that needs to be added is `evergreen-colors`. I have generated a new color extended color palette, loosely based on Material colors.

## How the color system works

The color system is a set of different colors groups that have each a set of tints and shades.

* The primary color of each color group is called 500.
* The darkest shade is called 1000.
* The lightest color is 5. (0

[2017-08-20 06:35] jeroenransijn opened #2 "evergreen-typography outline"
The `evergreen-typography` is a package exporting React components and text styles. I am not sure yet about some of the API design. Any input is appreciated.

## Usage

[code]

## Text component primitive

The `<Text />` component is the primitive for all other text components.
It should implement a Box from `ui-box`.

### Working example

[code]

### The `size` prop

The Text component has a `siz

[2017-08-20 07:28] nettofarah commented on #2
This is a great start!
I'd say I'm more inclined on Text being a <span> over a <p>, as I think that would make the component a bit more composable.

[2017-08-20 07:30] nettofarah commented on #2
Oh, and there's also the fact that Text wouldn't create those unexpected line breaks we see in the current UI lib

[2017-08-24 22:05] casesandberg commented on #2
I vote for keeping this one package, exporting both react components and the type styles, as they are so tightly coupled.

[2017-08-29 02:08] jeroenransijn commented on #1
The first implementation is shipped. There is still some documentation improvements required.

[2017-08-29 02:08] #1 closed

[2017-08-29 16:54] jeroenransijn commented on #2
# Additional Text Styles

I have added the components and styles described below in #7. I realized it makes sense to also cover `OL`,`UL` and [potentially others](https://www.sitepoint.com/20-html-elements-better-text-semantics/).

I would say these are nice to haves and require a new issue.

[2017-08-29 16:54] #2 closed

[2017-08-29 18:04] casesandberg commented on #2
🙌

On Tue, Aug 29, 2017 at 9:55 AM Jeroen Ransijn <notifications@github.com>
wrote:

[2017-08-31 04:50] jeroenransijn opened #8 "evergreen-layers outline"
The `evergreen-layers` is a package exporting React components and layer/elevation styles.
Not entirely sure about some of the API specifics, but have a pretty good idea.

## Usage

[code]

## Design example

<img width="1242" alt="screen shot 2017-08-30 at 8 51 11 pm" src="https://user-images.githubusercontent.com/564463/29905859-e959d488-8dc5-11e7-9654-ed84594c23ae.png">

## `<Pane />` component

[2017-08-31 05:16] nettofarah commented on #8
Should specific border properties cancel elevation altogether? or should we issue a warning if they're both used together?

[2017-08-31 05:27] jeroenransijn commented on #8
@nettofarah good question, I was thinking about this too. I thiought there was an exception when you deal with cards and disable border radius on a side, to attach it to something. But seems actually like no real use case for that.

Differently from this I initially had backgroundColor with some variables instead of appearances. I think we should add appearance="neutralTint1" going up to maybe 3-5

[2017-09-05 00:25] jeroenransijn commented on #8
First pass implemented by PR #9. Had to fix the `css` in `ui-box` too.

[2017-09-05 00:25] #8 closed

[2017-09-05 00:35] jeroenransijn commented on #8
This is the first pass I implemented. Note that the text isn't styled, because you should always wrap Text in a Text based component. I want to tackle documentation in a bigger swoop, so trying not to spend too much time on that right now.

<img width="1440" alt="screen shot 2017-09-04 at 5 32 51 pm" src="https://user-images.githubusercontent.com/564463/30040665-36a75722-9197-11e7-8f58-7e5cfd01b85

[2017-09-05 01:43] jeroenransijn opened #10 "evergreen-buttons outline"
`evergreen-button` is a package exporting React components and a `ButtonAppearances` object. I think this package should export some opinionated button components too: `CloseButton`, `BackButton`, `IconButton`. Maybe more in the future.

## Usage

[code]

## Design Example
<img width="897" alt="screen shot 2017-09-04 at 5 49 08 pm" src="https://user-images.githubusercontent.com/564463/30040923-2f1

[2017-09-05 01:54] nettofarah commented on #10
I like this!
Still not sure how I feel about referring to colors by name though.
I know it is unlikely that we'd change our brand colors anytime soon, but I still enjoy using abstractions such as `danger` and `primary`.

I don't feel strongly about this though, just my 2 cents.

[2017-09-05 01:57] nettofarah opened #11 "[request] Make demo Storybook available"
It would be cool to link to a running demo of the packages we've implemented so far.
I love sharing what we've been building so far, as it gets people excited about our progress and helps recruit contributors.

I'm happy to take a stab at this if you're too busy, @jeroenransijn

[2017-09-05 02:41] jeroenransijn commented on #10
Love the timely feedback, keep them coming 👍  @nettofarah thanks for the input!

How it is currently implemented in the React UI Library (internal Segment library) It is kind of hard to pull the trigger on changing what primary means. Blue buttons will become more used throughout our app in the future as a primary button, green will reserved a more severe primary actions such as creating new thing

[2017-09-05 02:45] nettofarah commented on #10
Sounds good to me!
I'm sold :)

[2017-09-06 00:22] jeroenransijn commented on #11
Hi @nettofarah, thanks for creating this issue!

Documentation should definitely be on our Roadmap, and is currently not. I will try to write my thoughts here, that might inspire what will be in the Roadmap:

### Storybook with examples

The first part is to have a Storybook live, which is what you are describing. This will contain simply the component use cases needed for developing, and is lacki

[2017-09-06 04:21] jeroenransijn commented on #10
Implemented, see #13.

[2017-09-06 04:21] #10 closed

[2017-09-07 18:52] jeroenransijn opened #15 "evergreen-badges outline"
`evergreen-badges` is a package exporting a `Badge`, and `Pill` React component.

## Usage

[code]

## Design example

![badges pills](https://user-images.githubusercontent.com/564463/30179291-c0d227d0-93c0-11e7-8c5f-286551f5f318.png)

### Usage

* Use `Pill` for numbers: 1-99
* Use `Badge` for status: success, new, etc.

## Implementation details

The `Badge` component should implement the `Stron

[2017-09-14 17:03] jeroenransijn opened #18 "evergreen-text-input outline"
`evergreen-text-input` is a package exporting a `TextInput` React component. I have been thinking of combining some components in a single `forms` or `controls` package. But I think it might be cleaner to start with one per package.

## Usage

[code]

## Design example

<img width="422" alt="screen shot 2017-09-14 at 9 58 25 am" src="https://user-images.githubusercontent.com/564463/30443150-6ce172

[2017-09-15 17:10] jeroenransijn commented on #11
Closing this since the Storybook is now available https://segmentio.github.io/evergreen/

[2017-09-15 17:10] #11 closed

[2017-09-21 03:58] #18 closed

[2017-10-08 22:13] jeroenransijn opened #22 "evergreen-popover outline"
`evergreen-popover` is a package exporting a Popover React component. Popovers display floating content in relation to a target. Popovers appear either at the top or bottom of their target. The preferred and default side is the bottom. Popovers use smart positioning if there is not enough space on the bottom.

Popover contents are rendered in a newly created element appended to `document.body` usi

[2017-10-08 22:16] jeroenransijn opened #23 "evergreen-portal"
`evergreen-portal` is a package exporting a Popover React component. Portal is a convenience wrapper around [React's Portal API](https://reactjs.org/docs/portals.html). The Portal component transports it's children outside of the current DOM tree and appends it to body. It's used by the Popover component internally.

This package is required by evergreen-popover (#22)

## Usage

[code]

[2017-10-08 22:36] #23 closed

[2017-10-11 20:35] #22 closed

[2017-10-17 05:07] #15 closed

[2017-10-31 18:26] jeroenransijn opened #37 "evergreen-tooltip outline"
`evergreen-tooltip` is a package exporting a Tooltip React component. Tooltips display floating content in relation to a target. Tooltip appear either at the top, bottom, left or right of their target. The preferred and default side is the bottom. Maybe Tooltips use smart positioning if there is not enough space on the preferred side.

Tooltips use a similar implementation to Popovers, maybe there

[2017-11-02 01:30] #37 closed

[2017-11-06 19:38] jeroenransijn opened #48 "Future package ideas"
# Future package ideas

This issue is meant as a way to collect some thoughts around future packages now we are reaching coverage for most simpler atoms.

## `evergreen-table-advanced` — high priority

Configuration based table component with virtualization, sorting, filtering and pagination.

## `evergreen-async-paginator` — low priority

Easy way to setup up virtualized lists with async loading.

[2017-11-08 18:09] jeroenransijn opened #57 "Unordered + Ordered lists in typography"
There are some gaps in the typography package atm. Notably:

- `OrderedList` => `OL`
- `UnorderedList` => `UL`

Definition lists potentially too?

[2017-11-08 18:25] jeroenransijn opened #58 "Autocomplete openOnFocus prop"
In some cases we want Autocomplete to be triggered as soon as we focus the field. We are going to add a `openOnFocus` prop to make this happen. We will make it `false` by default.

[2017-11-08 18:27] jeroenransijn opened #59 "Combobox add-on dropdown support"
We need support for the Combobox to have a optional select:

[code]

[2017-11-08 18:30] jeroenransijn opened #60 "SelectMenu outline"
A `DropdownMenu` component that can be triggered by buttons and select like interfaces.

- Works similar to a Popover component, wrap any button
- Should allow for `multiSelect` and `maxSelection` props
- Should use virtualization with `react-tiny-virtual-list` just like in Autocomplete
- Uses `fuzzaldrin-plus` by default for filtering
- Should allow for adding new/custom values `Filter or enter v

[2017-11-08 20:44] #58 closed

[2017-11-08 21:55] jeroenransijn opened #64 "Remove evergreen-color-utils"
We can simply use `evergreen-shared-styles` for this.

[2017-11-10 05:47] harrisrobin commented on #11
@jeroenransijn storybook is working great for the demo, but it would be nice to see the components with their props alongside and be able to play with them right there! I'd be happy to give it a shot.

I don't see it in the roadmap but did you have any plans for this?

[2017-11-17 18:08] jeroenransijn opened #71 "Fix inconsistencies icon in Combobox and Select"
![image](https://user-images.githubusercontent.com/564463/32961884-332daebc-cb7f-11e7-8718-7c66b40b7715.png)

[2017-11-17 19:54] jeroenransijn opened #73 "Make close button smaller on side sheet"
![image](https://user-images.githubusercontent.com/564463/32966263-1ac5ae88-cb8e-11e7-9741-fefa1eef8230.png)

[2017-11-20 18:15] jeroenransijn opened #75 "Move github related files into .github folder"
See title

[2017-11-20 18:19] jeroenransijn opened #76 "Add support for icons in Button"
With the recent addition of IconMap it's pretty straightforward to add support for icons inside of Button.  I am thinking also exporting a `BackButton` preset.

## API outline

[code]

## Props

- iconBefore
- iconBeforeAim
- iconAfter
- iconAfterAim

[2017-11-20 18:22] #75 closed

[2017-11-20 19:56] #76 closed

[2017-11-20 20:05] jeroenransijn opened #79 "Fix IconButton"
Previous PR for icons in buttons broke IconButton

[2017-11-23 05:46] jeroenransijn opened #82 "Build out documentation"
The docs for Evergreen will use Next.js.

[2017-11-28 22:28] jeroenransijn opened #86 "Support focus states for TableRow"
Support focus states for table rows when you are using `tabindex="0"`

[2017-11-29 22:15] sperand-io commented on #48
Multi-select! Like a combo box but with ability to populate and remove from an array of values a la http://demos.telerik.com/kendo-ui/multiselect/index

[2017-11-30 00:42] #86 closed

[2017-11-30 00:47] jeroenransijn opened #90 "autoFocus issue with Popover"
There is some janky issue with autoFocus and scrolling behavior that misaligns the Popover if it has a input with `autoFocus` in there:

### Example of broken Popover alignment

![broken](https://user-images.githubusercontent.com/564463/33407169-e1a623b2-d524-11e7-95c6-6b0a711db860.gif)

### Without autoFocus it works

![without-autofocus](https://user-images.githubusercontent.com/564463/33407134-

[2017-11-30 22:50] Rowno commented on #60
I vote for `SelectMenu`. Also for using Downshift for the accessibility.

Also what's the difference between `evergreen-select-menu` and `evergreen-select-menu-popover`?

[2017-12-01 01:10] jeroenransijn commented on #60
@Rowno one would be inside of a Popover, so you can simply wrap it around a `Button`. It's for convenience. Otherwise engineers will need to do some plumbing every time they want to use this, instead of simply passing in `items` and a `onSelect`. What do you think?

[2017-12-01 01:12] Rowno commented on #60
Would you ever use `evergreen-select-menu` though?

[2017-12-01 01:38] jeroenransijn commented on #60
@Rowno probably not, it's probably better to export multiple components from the same package instead:

[code]

[2017-12-05 22:05] jeroenransijn opened #91 "Fix space trimming for SearchTableHeaderCell"
Somehow I can't put spaces when I type

<img width="249" alt="screen shot 2017-12-05 at 2 02 59 pm" src="https://user-images.githubusercontent.com/564463/33633347-4db8a5da-d9c5-11e7-8f14-4fac3b4f9215.png">

[2017-12-07 23:28] jeroenransijn opened #96 "Standardize `items` nomenclature into `options` for Combobox, SelectMenu v3"
#94

[2017-12-08 22:32] #60 closed

[2017-12-13 19:48] jeroenransijn opened #101 "Make SideSheet close button smaller"
Should be smaller maybe around 32-40

<img width="751" alt="screen shot 2017-12-13 at 11 47 41 am" src="https://user-images.githubusercontent.com/564463/33959166-816e6cfc-dffb-11e7-84aa-8864d51529a5.png">

[2018-01-03 18:09] stephenmathieson opened #103 "Consider creating a "top level" package"
I'm currently building a small app using Evergreen and have found it super tedious to have to keep `npm install`ing packages. @stevenmiller888 and I briefly discussed the idea of creating a "top level" package which exports all Evergreen components so this need is removed.

In order to keep our compiled production bundle size reasonable, maybe we also create a Babel plugin to rewrite `import { Tab

[2018-01-05 14:30] stephenmathieson opened #104 "Please add props to Storybook"
Currently I have to dig thru code in order to find what props an exported component accepts. It would be extremely useful if the Storybook included this information.

[2018-01-05 15:25] stephenmathieson opened #105 "Using native tables (Table header styles off by a few px)"
At first, I thought this was something on my end, but looking at the [Storybook](https://segmentio.github.io/evergreen/?selectedKind=table&selectedStory=Basic%20example&full=0&down=0&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel), I see the same bug:

![image](https://user-images.githubusercontent.com/571265/34615379-b3f21c32-f202-11e7-99d6-300c1a77ea70.png)

[2018-01-05 15:26] stephenmathieson commented on #105
Maybe we're not accounting for the scrollbar?

[2018-01-06 00:32] jeroenransijn commented on #105
Yeah scrollbar is the issue. Not sure if there is a great solution for this.

[2018-01-06 00:33] jeroenransijn commented on #104
We are working on actual documentation in the docs branch: http://evergreen.surge.sh/components/buttons

I want to avoid putting too much documentation in Storybook and use it mainly what it is designed for. I am closing this issue. See also #82

[2018-01-06 00:33] #104 closed

[2018-01-06 00:35] jeroenransijn commented on #103
Yeah this is somewhat annoying with a mono-repo. It seems reasonable enough to do this.

We can consider something like `evergreen-core` or whatever with a opinionated subset of components if bundle size becomes an issue.

[2018-01-06 00:36] jeroenransijn commented on #103
I am wondering what other mono-repo's do here, or if there is any best practices.

[2018-01-08 01:11] stephenmathieson commented on #104
Ah, this is exactly what I was looking for!

Maybe the documentation site should be linked to somewhere?

[2018-01-08 01:16] stephenmathieson commented on #105
There must be a solution since only tables drawn by Evergreen have this problem.

Maybe add margin to the header that is the same width as the scroll bars?

[2018-01-08 18:05] jeroenransijn commented on #105
Hi @stephenmathieson, to give some clarification around this issue. We are not using native tables in Evergreen, it's a `div` soup instead. As for the scrollbar, keep in mind it's only a issue when you explicitly have scrollbars enabled in Mac OS X, or if you are using Windows. This makes this problem always a little hard to combat.

Some solutions to this are as follows:

## Somehow check in the

[2018-01-08 18:13] Rowno commented on #105
You could try making the table wrapper scrollable instead and position fix the header.

[2018-01-08 19:07] stephenmathieson commented on #105
@jeroenransijn would using "actual" table elements (`<table>`, `<thead>`, `<tr>`, etc) make more sense here? Not only would it fix this issue without hacks, but it'd hugely reduce the number of a11y issues.

[2018-01-08 19:16] Rowno commented on #105
I Googled about `<table>` a11y and apparently no screen reader actually using the `<table>` markup. 🤷‍♂️

I guess the `<table>` layout days ruined `<table>` a11y forever.

[2018-01-08 19:26] stephenmathieson commented on #105
@Rowno SRs certainly do use `<table>` markup. For example, here's how you [navigate tables in VoiceOver](https://www.apple.com/voiceover/info/guide/_1133.html#mchlp2723).

[2018-01-08 20:38] Rowno commented on #103
Can't we just have a single package like the react-ui-library? It seems to me that this monorepo thing is super over complicating things and I don't really see the benefits.

[2018-01-08 20:39] Rowno commented on #103
When webpack's tree shaking, bundle size shouldn't really be an issue with having a single package.

[2018-01-08 21:42] jeroenransijn opened #106 "iconSize issue"
There is some wonkiness around icon sizing, this should get fixed.

[2018-01-08 23:54] jeroenransijn commented on #103
I am still onboard on the mono-repo thing. A single package makes sense to me, so I imagine we can have best of both worlds with this approach.

Why I am still in favor of a mono-repo is how I imagine the future of Evergreen could play out. It will become easier for people to start adopting evergreen outside of Segment with less sophisticated builds. It is also a sign of maturity of a component li

[2018-01-09 16:16] stephenmathieson commented on #103
I think all of these components should stay in the same repository (a "monorepo"), but I do not see any benefit of exposing multiple packages (via Lerna). Even "mature" libraries like MaterialUI ship a single package to NPM and let the consumers of the library take what they want from it.

[2018-01-09 19:14] jeroenransijn commented on #103
@stephenmathieson and @Rowno I trust both of you if you guys feel it is the right decision. I don't see it as a high priority right now compared to writing docs and writing more component. If you guys feel different about it and want to take this responsibility I am more than happy to jump on board.

[2018-01-20 00:58] jeroenransijn commented on #106
Should take a look at https://gorangajic.github.io/react-icons/ for implementation.

[2018-01-20 01:01] jeroenransijn commented on #105
It seems like Facebook's ad platform has tables with no scrolling issue. It be interesting to see their markup.

I am not against supporting real tables. But I know it's going to open another can of worms, which might worse. Thoughts?

[2018-01-22 11:09] stephenmathieson commented on #105
What "can of worms" would that be? Native tables work as expected in all browsers and with minimal CSS can "look" the same everywhere too

[2018-01-23 01:13] jeroenransijn commented on #105
@stephenmathieson the main issue is probably responsiveness with real tables.  It's been a long time since I actually used `<table>` for layout components because responsiveness has always been a requirement. Which is not a requirement of Evergreen yet — so we don't have to worry about it right now.

Some things that come to mind are `tbody { overflow-y: scroll; }` — and I guess virtualization wou

[2018-01-23 04:59] stephenmathieson commented on #105
Well I’m +1 for a native solution; IMO the simpler the better for these sorts of things.

Regardless of what a future solution might be, is there plan to fix the orIginal issue (header styles are off)? This seems like a blocker for adopting Evergreen in a customer-facing app :/

[2018-01-23 06:38] jeroenransijn commented on #91
Found the issue inside of TableRow. Should be easy fix when I am in front of my computer.

[2018-01-23 23:16] jeroenransijn commented on #105
@stephenmathieson it is def an annoying issue. Do note that it does not effect Mac users as much, since the default is not to show the scrollbar in place.

I think we should build this for v3. Since it will be a major breaking change.

My priorities right now are documenting what we have and figuring out what we want to change/move into a v3 release.

[2018-01-23 23:22] jeroenransijn commented on #105
You can also use position: sticky; and make the parent table scrollable instead of just TableBody:

![table header position sticky](https://user-images.githubusercontent.com/564463/35306142-34421d7c-0051-11e8-90d1-f9c05753d834.gif)

[2018-01-23 23:42] #91 closed

[2018-01-23 23:52] jeroenransijn opened #114 "Update README.md"
README.md needs some love, and some of the other docs in `.github` are outdated at this point.

[2018-01-26 19:59] jeroenransijn opened #117 "Moving over to a single top level package `evergreen` or `evergreen-ui`"
Read the complete background on this issue here: #103.

After having tried a Lerna mono-repo, we found that the benefits don't outweigh the downsides. The main issues are:

* A lot of boilerplate to import components
* Keeping dependencies in sync is a pain for the consumer
* Publishing packages gets confusing
* Harder to setup code splitting

That's why we are in the progress of moving towards a

[2018-01-26 20:00] jeroenransijn commented on #103
Closing this in favor of #117

[2018-01-26 20:00] #103 closed

[2018-01-30 00:01] jeroenransijn opened #118 "Alert title and description look the same"
Either...
- Make the title stand out.
- Make the text stand out less.

[2018-02-01 22:02] systemizer opened #120 "Make it easier to add underlines to links by default"
The currently existing link appearances only support underlines on hover. It should be nice to either have an appearance that underlines by default or has a component property called `underline` that would underline the component

[2018-02-01 22:04] systemizer opened #121 "Make Dialog component height auto size"
Currently the Dialog component has a static value for height. This requires the developer to manually set the dialog every time they want to use the component. Ideally, the dialog height would be determined by the contents in the dialog

[2018-02-01 22:07] vadimdemedes commented on #121
I'm so on board for this, this has bitten me many times. I'd vote for auto width as well.

[2018-02-01 22:37] systemizer opened #123 "Remove Max Width on Alert component"
I might be missing context on why maxWidth is set to 400px on Alert components. I ran into an issue where I needed to manually override this property to set the width properly. Do we need it set to 400px?

[2018-02-02 00:37] systemizer opened #124 "Add a Disabled Style for the Link Component"
The link component currently has a few styles (green, blue, default). We should also include a style for disabled. This would make it a muted color and would show the 'not-allowed' cursor when hovering

[2018-02-02 16:36] jeroenransijn commented on #124
Hi Rob! Thanks for taking the time and creating an issue. I am curious as to what the use case is for a link to be disabled an have cursor not-allowed? It seems more so like the functionality of a button, and might be better suited for the button element.

[2018-02-02 16:39] jeroenransijn commented on #123
Max width is used as a default to make sure we don’t end up with Alerts that are spanning the complete page, but also adapt to containers potentially smaller than that. That being said, I see how this might be confusing. Can you give your use case so I understand the constraints you are dealing with?

[2018-02-02 17:34] jeroenransijn commented on #120
I think this is a good suggestion! It might be easier to make all links underlined by default.

[2018-02-02 17:37] #105 closed

[2018-02-05 20:05] jeroenransijn opened #127 "Dialog buttons proposal"
I am fixing #121 — and wanted to add an API for buttons/actions in the Dialog. This will lead to a more consistent interface for Dialogs.

This is currently my take on the API:

* I am not sure if cancelButton should implicitly be visible when primaryButton is passed
* I am not sure if primaryButton should accept button props.

[code]

## Stories

[code]
## Story Examples

![screen shot 2018-02-05

[2018-02-06 21:21] jeroenransijn commented on #117
#125

[2018-02-06 21:24] #117 closed

[2018-02-06 23:50] systemizer commented on #124
Good point. I'll try using a ghost button instead. Going to close this. thanks!

[2018-02-06 23:50] #124 closed

[2018-02-06 23:53] systemizer commented on #123
Sure. The page on which I'm showing the alert has a Card. The Card spans about half of the screen. When we want to notify the user about something, we want to align left and right borders of the Alert with the Card. Using Flexbox, we should get this for free, but since this element sets a max-width, it fails to do that

[2018-02-07 18:15] Rowno commented on #123
Just FYI, TextInput doesn't have a max-width and spans the width of the page by default, so this behaviour is inconsistent across the components.

[2018-02-07 19:16] jeroenransijn commented on #123
Let’s remove it!

[2018-02-12 03:50] EstebanBorai opened #132 "Add SVG prop to Avatars"
Hey I was checking out this repo and I was wondering if it could be possible to have the option of rendering SVG Icons inside avatars or as Icons? This makes possible the availability of any SVG design/code inside a project that is using Evergreen!

[2018-02-12 22:13] jeroenransijn commented on #132
Hi @EstebanBorai thanks for checking out Evergreen and taking the time to create an issue — much appreciated! Could you describe your use case or potentially share a simple paper sketch of what you are trying to achieve. As far as I understand it you are asking for support of a `icon` prop on the `Avatar` component — which would render a icon inside of the Avatar instead of the initials or image?

[2018-02-13 20:06] EstebanBorai commented on #132
Thanks for your attention @jeroenransijn !
Yes! I would like to render SVG Icons inside an Avatar Component just like Material UI does.
It's very useful and let's people use their own designs.

[2018-02-13 21:38] Rowno commented on #132
Just FYI, you can already use any image you want using the `src` prop, which can be passed any file path that `<img>` supports (including SVG files). Not sure if that's what you want?

[2018-02-13 21:57] EstebanBorai commented on #132
Thanks @Rowno and @jeroenransijn ! I'm setting the issue as closed as the component already supports SVG through `src` prop!

[2018-02-13 21:57] #132 closed

[2018-02-15 23:28] #127 closed

[2018-02-15 23:28] #73 closed

[2018-02-16 19:05] jeroenransijn commented on #123
This has been removed in #135

[2018-02-16 19:05] #123 closed

[2018-02-16 19:06] jeroenransijn commented on #121
This has been implemented.

[2018-02-16 19:06] #121 closed

[2018-02-16 19:07] jeroenransijn commented on #118
This has been implemented.

[2018-02-16 19:07] #118 closed

[2018-02-19 00:03] jeroenransijn opened #136 "Width is not working properly for SeachInput"
The input component wrapped in the SearchInput components doesn't seem to have the right width set up.

[2018-02-20 00:16] tmirmota commented on #82
@jeroenransijn which branch do you have the project in? I don't see one that includes the switch transition to Next.js

[2018-02-20 01:39] Rowno commented on #82
We had some problems with using Next.js, so we decided to go with Gatsby for now. It's located in the [docs folder](https://github.com/segmentio/evergreen/tree/master/docs).

[2018-02-20 23:07] jeroenransijn opened #140 "Option rendering issue"
This is an issue in evergreen-ui v2.

The problem here is most likely due to `box-sizing: border-box`.

![image](https://user-images.githubusercontent.com/564463/36454189-c0e1c674-164f-11e8-866d-985f7c1ab143.png)

[2018-02-22 22:41] #140 closed

[2018-03-02 19:29] jeroenransijn opened #147 "Remove borderRight from TableCell by default. (make it opt-in)"
Currently our `TableCell` and `TableHeaderCell` components have a borderRight by default. In most cases we are moving away from having the borders and it would be better if it's an opt-in feature instead of default behavior.

## Versioning

This could potentially be a minor update, but might be better to be rolled up in a major update.

## Current
![image](https://user-images.githubusercontent.com

[2018-03-03 20:32] fforres commented on #136
This one is fixed with #143? :o ?

[2018-03-05 23:10] jeroenransijn opened #150 "Improve SSR"
Refer to comments from @Rowno  #149.

[2018-03-06 21:18] #136 closed

[2018-03-07 19:41] #150 closed

[2018-03-08 18:35] jeroenransijn opened #154 "Create SSR example for GatsbyJS"
I am using Gatsby for some of my prototypes and want to make SSR work. I will add an example as soon as I have done this.

[2018-03-08 21:49] jeroenransijn opened #156 "Stuff that is not great and we should address some day"
This is a place to write down stuff that doesn't make a ton of sense and should be changes one day.

* Border colors is using `extraMuted` as default. But also has name called `default`
* `<Pane appearance="dark" />` is never used.
* `<Pane appearance="selected" />` is only rarely used.
* Positioner (maybe) should use Popper.js just like BlueprintJS.  It will be more reliable.
* Our icons should a

[2018-03-09 10:37] vadimdemedes commented on #156
- `<Button>` doesn't accept `String` `height`, e.g.: `height={majorScale(4)}`

[2018-03-09 21:39] Rowno commented on #156
That's because the height is used to calculate the padding etc. We should change `majorScale()` to return numbers instead since ui-box automatically converts numbers to px values anyway.

[2018-03-11 01:01] jeroenransijn commented on #156
`minorScale` and `majorScale` should be exported from `evergreen-ui`.

[2018-03-11 01:03] jeroenransijn commented on #156
The `Text` component should contain a class name to style following elements inside of it. Which would avoid having to manually import and configure `Strong`, `Small` etc.

[code]

[2018-03-14 22:33] jeroenransijn commented on #156
`SideSheet` should have the same API as `Dialog` with `onCloseComplete`.

[2018-03-16 22:21] jeroenransijn commented on #156
* Show types in documentation for Dialog
* Show clearer onConfirm example in code

[2018-03-20 22:36] jeroenransijn opened #166 "V3 Milestone"
The goal of V3 is to stabilize and unify the APIs for our main interaction patterns: CornerDialog, SideSheet, Popover and Dialog. Dialog already has the latest API in v2. To avoid many major releases we will roll up these changes in v3.

Potentially we also unify the API between Combobox and SelectMenu.

[2018-03-22 23:05] jeroenransijn commented on #156
Alerts should use Paragraph not Text for children

![image](https://user-images.githubusercontent.com/564463/37803185-bbe0e238-2dea-11e8-86ce-e4b5e838dc32.png)

[2018-03-23 18:54] jeroenransijn commented on #154
Create a file called `gatsby-ssr.js` in your project root with the following contents. Learn more about Gatsby SSR: https://www.gatsbyjs.org/docs/ssr-apis/

[code]

[2018-03-26 19:02] #57 closed

[2018-03-26 19:03] #64 closed

[2018-03-26 23:39] jeroenransijn commented on #120
Underlined will be the default for v3.

[2018-03-27 16:26] systemizer opened #174 "Feature Request: Disabled State for Tab component"
Tabs currently don't have a disabled property. If we want to make a component disabled, and it contains a tabs component, it is not possible to make the tabs component non-interactive.

I'm currently getting around this by adding the passing in the following CSS, but it would be nice to have a disabled property that automatically applies the css and also prevents click actions to fire

[code]

[2018-03-27 17:59] jeroenransijn commented on #174
Nice addition! Seems like something we need. Expect this to land in V3 somewhere.

[2018-03-27 18:02] jeroenransijn opened #175 "Use @reactions/component for storybook and docs examples"
I want move over the examples and stories to use https://reactions.github.io/component/ for state and component management. This will allow examples to contain all state and data in the example, instead of referring to outside scope.

## Why?

- Allows all the context to be in the examples. No referring to outside scope.
- All examples will use one single convention.
- Easier copy-paste/migration

[2018-04-02 20:24] #166 closed

[2018-04-02 20:28] #96 closed

[2018-04-03 14:59] pluma opened #179 "Theming / changing colors?"
Evergreen looks great and I'm thinking about using it in an upcoming open-source project.

However the documentation and storybook do not address theming as far as I can tell. Looking at the shared-styles folder it seems that the color references are hardcoded in several places.

Is it possible to override the style choices (e.g. to change the highlight colors) or implement alternative themes (e.g

[2018-04-03 16:36] jeroenransijn commented on #156
* `TableRow` should govern height and have a border bottom — not `TableCell`

[2018-04-03 16:41] jeroenransijn opened #180 "Use label prop in the Switch component"
The Switch component has an unused label property that should be used (or removed).

[2018-04-03 17:10] jeroenransijn commented on #179
Hi @pluma! Thanks for taking the time to create an issue. We are currently working on a documentation website (http://evergreen.surge.sh/get-started/theming) that also has a small section about theming. Below I give more clarification around the roadmap.

**Evergreen currently does not support theming.**

## Is theming support on the roadmap?
This project is originally build to support the develop

[2018-04-03 17:49] pluma commented on #179
Thanks for the quick response!

That sounds great but sadly this probably means we won't be able to use evergreen for the project right now. I'll make a note to revisit next year or so.

[2018-04-03 17:49] #179 closed

[2018-04-08 16:34] jaredpalmer opened #181 "Popover/Positioner does not work on mobile"
AFAICT popover does not work on mobile as expected. It seems this is an issue with positioner and could be solved by moving to `react-popper` instead of the current implementation.
![kapture 2018-04-08 at 12 33 29](https://user-images.githubusercontent.com/4060187/38469849-322c71a0-3b29-11e8-8f03-daf7b0454112.gif)

[2018-04-09 21:25] jeroenransijn commented on #181
Hey @jaredpalmer, thanks for putting in your time to write this issue, much appreciated!

We have been thinking about moving over to popper.js, similar to how BlueprintJS implements popper.js in their Popover. That being said, I am not sure if we can prioritize that on our short term timeline, there is some overhead in porting over to popper.js. Although mobile is not a priority for us atm, I woul

[2018-04-09 21:36] jaredpalmer commented on #181
It would appear that the measurement is not working--potentially the wrong position match. Re: React-popper, I've started out with this uncontrolled component for React Popper and added features as necessary. In this case, would need to add keyboard listeners.

[code]

[2018-04-10 21:12] jeroenransijn commented on #181
Thanks for sharing that snippet! Just realized you work on Formik, I am a big fan of that project 👍

I do want to move over to Popper, but I am hoping we can solve this issue before migrating. I am afraid moving over to Popper might be a major release (although this doesn't need to be the case).

[2018-04-10 21:40] jeroenransijn commented on #181
I found a fix for this, it's as simple as adding `position: fixed;` to the popover. I am creating a PR for this.

[2018-04-12 20:27] jeroenransijn opened #183 "Twitchy tooltip"
Sometimes the tooltip gets twitchy and it seems like it's slightly jumping width (by one pixel) on every render. Probably Positioner related.

[2018-04-12 22:00] #181 closed

[2018-04-12 22:11] jaredpalmer commented on #181
Nice!

[2018-04-14 02:17] EQuimper opened #185 "Dialog + Select Menu dont go work together"
Hello, first thing awesome stuff you've done here. I really loved it :).

I'm building a dialog for a user who can create a project from there. All go well for all the stuff until I had Select Menu of Combobox. The menu go bellow the dialog, like behind.

Here in this picture I just click the arrow button and nothing show, cause this is behind. This is the Combobox
<img width="1460" alt="screen sh

[2018-04-17 17:02] jeroenransijn commented on #185
Hi @EQuimper! Thanks for your kind words and for testing out Evergreen for your project. I just saw this ticket yesterday night, I will try to be more responsive next time!

## The Problem Explained
The problem you are experiencing is that the Popover the Combobox is using is rendered inside a Portal. It is rendering correctly, however the z-index of the Popover is lower than that of the Dialog. R

[2018-04-17 22:52] jeroenransijn commented on #185
See #187.

[2018-04-18 18:54] EQuimper commented on #185
Thank you @jeroenransijn

[2018-04-18 19:10] jeroenransijn commented on #185
@EQuimper I am trying to get this PR in today / this week. Just waiting on my buddy to review it :)

[2018-04-27 15:44] graysonhicks opened #191 "Question: Multiline Button"
Love this component library.  Quick question:

The Button seems to keep the text on a single line, even when the height is increased.  What's the best way to wrap the text?

Thanks!

[2018-04-27 20:52] jeroenransijn commented on #191
Hey @graysonhicks thanks for checking out Evergreen and kicking the tires. Could you give a little bit more details on the result you are trying to achieve — maybe a screenshot or napkin sketch works. There might be some ways to hack around this shortcoming, otherwise we'll have to figure out if we want to support that use case.

Thanks!

[2018-04-27 21:01] anastassia-b opened #192 "Toaster invoked before document is fully loaded error"
Hey Jay! Thanks for discussing a bug with me last night. For documentation/reference, here it is:

<img width="564" alt="error_message" src="https://user-images.githubusercontent.com/26614978/39384627-5ca1a420-4a22-11e8-9118-8e615d9e9ded.png">

This error occurred when importing anything from evergreen-ui, as tested with two personal projects. Steps to replicate the error were simply to `npm insta

[2018-04-30 13:14] graysonhicks commented on #191
Sure, no problem. (This is just a coding exercise so it's not a deal-breaker, but I do really like Evergreen and thought I would ask about it).

 Basically I have some buttons with some very long text.  The text overflows the button, and the button stays on one line and does not grow in heigh to accommodate the text.

Here's a screenshot:

<img width="495" alt="screen shot 2018-04-29 at 12 28 11 a

[2018-04-30 16:32] anastassia-b commented on #192
Interestingly, this bug does not occur if I start an app with `create-react-app`, only when I create all the configurations from scratch.

[2018-04-30 23:34] Rowno commented on #192
If you include your JavaScript file at the bottom of the HTML file the bug shouldn't occur (this is probably what create-react-app is doing).

[2018-05-01 00:34] anastassia-b commented on #192
Yep, I know, I mentioned that in my comment above ("I do not get this error if I place the script at the bottom of the document (instead of in the head)"). I'll do that as a workaround, but just wanted to bring it up. Thanks! :)

[2018-05-01 03:04] anastassia-b commented on #192
Haha that's right. Probably can just close this issue then 👌

[2018-05-03 19:03] #192 closed

[2018-05-03 19:05] jeroenransijn commented on #191
Thanks for sharing your use case. Seems like something we might want to support. It will be tricky to support this without adding a new API or creating a new component sadly. This is because a lot of the components such as the buttons are controlled by a fixed height.

[2018-05-04 01:58] graysonhicks commented on #191
I understand, thanks.  Would also note though, that this would seem pretty common on small screen widths with a lot fewer words.

I may mess around to see if there is some simple styling that would allow a button to grow with text with a special prop.

[2018-05-09 03:39] jeroenransijn commented on #185
@EQuimper quick update, we might roll this up in v4 with a bunch of other upgrades!

[2018-05-09 11:58] EQuimper commented on #185
Thank you for the update:)

[2018-05-16 13:10] JMFURY opened #196 "Idea for Multi-Select Approachability via Deselect or Unselect"
Loving the components, and huge fan of Segment in general by the way..

I had been trying to figure out how best to leverage `SelectMenu`, and couldn't quite think through how I would manage a Multi-Select (my current use case).

I installed the library and played around with the Storybook and realized it might possible (& nice) to be able hook into some sort of `onDeSelect()` (or unselect) event

[2018-05-16 23:47] jeroenransijn commented on #196
Hey @JMFURY thanks for showing praise and taking the time to write this issue. We appreciate it a lot!

Select Menu is a continuously evolving component and we get more requirements everyday from our own teams as well. Multi select is not something we ran into just yet, but definitely on our radar.

I haven't tested this use case yet, I thought is should be possible. It seems like there is current

[2018-05-18 12:49] JMFURY commented on #196
Thanks for the reply @jeroenransijn and for checking it out!

I totally hear you.

Let me know if anything is unclear or if other changes/concepts would be helpful for the broader use cases. Happy to adapt.

For me it is cool just to get involved. So thanks again.

Cheers!

[2018-05-30 20:29] jeroenransijn commented on #191
This has become an issue for as well! Looping in @vadimdemedes here who is experiencing this issue in our app. I think we probably need to patch this before v4.

![image 5](https://user-images.githubusercontent.com/564463/40745811-5390f372-640d-11e8-8264-46c49bd7677e.png)

[2018-06-12 15:53] jeroenransijn commented on #183
![evergreen tooltip bug](https://user-images.githubusercontent.com/564463/41301941-197e19f6-6e1e-11e8-8db9-5f74aa9a4355.gif)

[2018-06-14 19:09] jeroenransijn commented on #183
I can confirm this is also happening to the Popover. Making it obvious it's related to Positioner. We are getting multiple reports in our app with the dancing or twitchy tooltip/popover.

The code that needs debugging is in `Positioner`: https://github.com/segmentio/evergreen/blob/master/src/positioner/src/Positioner.js#L133

And potentially `getPosition`:
https://github.com/segmentio/evergreen/bl

[2018-06-14 19:11] jeroenransijn commented on #183
Main problem is I can't consistently recreate the behavior making it super hard to debug. If you find any consistent twitchy tooltip or popover, please report on this issue 👍

[2018-06-15 17:53] jeroenransijn opened #201 "Select Menu Selection + Filtering bug"
![select menu filtering selection](https://user-images.githubusercontent.com/564463/41482397-5b698b2a-708a-11e8-98b9-1bb184b604c1.gif)

[2018-06-15 20:30] jeroenransijn commented on #183
![inspector twitchy positioner](https://user-images.githubusercontent.com/564463/41488193-4fc85a24-70a0-11e8-8495-64f016d2be54.gif)

[2018-06-15 23:09] jeroenransijn opened #202 "onDeselect bug"
Hey @JMFURY! Spotted this while testing something else. Seems like we are accidentally passing the `onDeselect` on a `Box` somewhere. I need to dig a little deeper, my guess here is that we are spreading props and not taking this prop out.

![image](https://user-images.githubusercontent.com/564463/41492783-4b5bbc0e-70b6-11e8-8edc-9841163b3cb3.png)

[2018-06-15 23:12] jeroenransijn opened #203 "FireFox Native Select"
So much for cross browser testing! I think I saw some other libraries use a wider select of like 120% to push this out probably. I am hoping there is a pure CSS solution for this and not just a hacky workaround. @Rowno any ideas?

![image](https://user-images.githubusercontent.com/564463/41492848-aed6744a-70b6-11e8-881d-3060373fc7d4.png)

[2018-06-15 23:16] #183 closed

[2018-06-15 23:21] jeroenransijn commented on #202
As I am going through the code, it might be that it's the same issue for `onSelect` on a `TableRow`:

[code]

[2018-06-15 23:30] #202 closed

[2018-06-15 23:45] #203 closed

[2018-06-18 01:22] #196 closed

[2018-06-22 02:51] JMFURY commented on #175
@jeroenransijn  So for updating Multi Select example, and for future, I would love your thoughts on the following:

1. Example (abbreviated for the parts that actually change):
![image](https://user-images.githubusercontent.com/7191639/41755052-01843626-759b-11e8-9513-d47b36517897.png)

I did this with the Stories too and it worked. And you're right, more straightforward to copy/paste in!

2. Some

[2018-06-23 16:46] JMFURY commented on #175
@jeroenransijn  deleted my other comment.

Dug into Gatsby, ran the docs site, and now I understand the scopes & imports.

Will submit a PR to update multi-select docs, stories, examples now that I have them working.

[2018-06-28 13:31] jssridhar commented on #201
Hi, first of all nice set of clean components!

I've run into the same issue for this component and I've fixed this locally. Idea is to move the current keydown event handling to select-menu/src/OptionsList.js instead of select-menu/src/SelectMenuContent.js.  Also, there seems to be an issue with 'Enter' click handler as well, I am not sure if the current behaviour is intended - but i've made chan

[2018-06-28 19:20] jeroenransijn commented on #201
@jssridhar thanks for showing interest in Evergreen and contributing in this discussion! A PR would be awesome to see what steps you have taken to fix this issue.

The select menu is very much a work in progress. One of our developers actually copied the source code into our app to add some feature to it in which he fixed grouping and selection. @vadimdemedes could you add some context on how you

[2018-07-02 16:53] olegshilov opened #209 "Disabled state for checked radio input"
Hey. I noticed that the checked radio input does not seems like checked when it's disabled.

![image](https://user-images.githubusercontent.com/930121/42176244-fce5bb8c-7e30-11e8-9520-417152289867.png)

https://segmentio.github.io/evergreen/?selectedKind=radio&selectedStory=Radio&full=0&down=0&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel

[2018-07-06 22:24] jeroenransijn opened #210 "Table.VirtualBody"
Virtualization is a annoying and often a bit scary to implement. I have been thinking about some ways to make virtualization super easy. My assumption is that the real rendering bottle neck is all the nodes on the pages, and

## The world right now
`renderRow` would return `Table.Row`

[code]

## The idea

### Option 1

* Is this actually performant, since we are mapping everything?
* We can use `

[2018-07-06 22:37] emadabdulrahim opened #211 "TableRow that has `isSelectable` prop is not propagating onChange event"
I'm working on implementing editable table cells using Evergreen components.

My issue comes when I have a `TextInput` component that implements `onChange` event inside a `TableRow` that has `isSelectable` prop.

What happens is `onChange` event does NOT get triggered **when hitting the space key on the keyboard.**

If I remove `isSelectable` from `TableRow` things work as expected`

I suspect thi

[2018-07-06 22:40] jeroenransijn commented on #211
This is using Evergreen v4.

[2018-07-09 18:29] #201 closed

[2018-07-09 23:06] mshwery opened #212 "[v4] `Select` prop-type appearance warning"
`Select` isn't listed as having any breaking changes in [v4](https://github.com/segmentio/evergreen/pull/200) but I'm getting prop-type warnings for not defining an `appearance` prop:

[code]

<img width="1706" alt="screen shot 2018-07-09 at 4 05 44 pm" src="https://user-images.githubusercontent.com/710752/42480388-f9513b7a-8391-11e8-8b4a-d832d117d93a.png">

[2018-07-09 23:08] mshwery opened #213 "[v4] Invalid DOM property `autofocus` from `Box`"
In [v4](https://github.com/segmentio/evergreen/pull/200), it seems that `Box` is not implementing the `autoFocus` attribute/prop as expected by React. I'm seeing prop-type warnings:

[code]

[2018-07-09 23:53] mshwery opened #214 "[v4] Alert component's icon and title are slightly misaligned"
The icon for the `Alert` component seems slightly misaligned (vertically) with the title.

|BEFORE (V3)|AFTER (V4)|
|---|---|
|<img width="208" alt="screen shot 2018-07-09 at 4 52 15 pm" src="https://user-images.githubusercontent.com/710752/42481681-86c0d6d6-8398-11e8-9942-06f3e881cdef.png">|<img width="195" alt="screen shot 2018-07-09 at 4 52 21 pm" src="https://user-images.githubusercontent.com/

[2018-07-10 16:16] emadabdulrahim opened #215 "Combobox with itemToString prop does NOT autocomplete as I type"
I noticed when I use `<Combobox itemToString/>` such as in the last example provided in the docs

[code]

Autocomplete doesn't work in that case.

_P.S._
Also, in that same example in the docs if you try to backspace all the way to remove the selected item, you'll notice this error message
`TypeError: Cannot read property 'label' of null`

I'm guessing that's because `onSelects` fires and sends an

[2018-07-10 18:45] jeroenransijn opened #216 "[v4] Consider `flexShrink={0}` for Avatar component by default"
See title.

[2018-07-10 18:45] #214 closed

[2018-07-10 18:46] jeroenransijn commented on #214
https://github.com/segmentio/evergreen/releases/tag/v4.0.0-3

[2018-07-10 18:46] jeroenransijn commented on #213
https://github.com/segmentio/evergreen/releases/tag/v4.0.0-3

[2018-07-10 18:46] #213 closed

[2018-07-10 18:47] jeroenransijn commented on #212
https://github.com/segmentio/evergreen/releases/tag/v4.0.0-2

[2018-07-10 18:47] #212 closed

[2018-07-10 18:48] #71 closed

[2018-07-10 18:48] #79 closed

[2018-07-10 19:13] emadabdulrahim opened #217 "(Minor) toaster component misaligned text with icon"
toaster component text is misaligned with the close (X) icon, maybe it could have `align-items: center`  as part of it's style?

_without centering_
![screen shot 2018-07-10 at 12 05 14 pm](https://user-images.githubusercontent.com/7950797/42532030-6c91dee8-843a-11e8-8e9a-14b7cfcab89b.png)

_with centering_
![after](https://user-images.githubusercontent.com/7950797/42531977-48884046-843a-11e8-8a30

[2018-07-10 23:20] jfmaggie opened #218 "[V4] Popover not toggleable when clicking on icon in the icon button"
👋 **Use case**

IconButton used as popover toggle.

😢 **Issue**
Popover doesn't close popover content when clicking on the **icon** area(in the screenshot, click on the triangle icon). **Note**  if clicking on button itself it does close the popover.

[code]

![image](https://user-images.githubusercontent.com/7209644/42542560-3ad02a5a-845c-11e8-8c4a-f0e4f3610338.png)

I didn't see any stories abou

[2018-07-11 02:48] mshwery opened #220 "[v4] TextInputField has different input font-size than TextInput"
Top one is `TextInput` bottom is `TextInputField`
<img width="693" alt="screen shot 2018-07-10 at 7 48 02 pm" src="https://user-images.githubusercontent.com/710752/42548082-2e9e0f0e-847a-11e8-828c-3617ef436494.png">

[2018-07-11 22:51] jeroenransijn commented on #217
Fixed.

[2018-07-11 22:51] #217 closed

[2018-07-11 23:00] jeroenransijn commented on #220
v4.0.0-10 set default `inputHeight` to 32.

[2018-07-11 23:00] #220 closed

[2018-07-11 23:00] #218 closed

[2018-07-12 17:43] jeroenransijn opened #221 "[v4] Controls (Button, TextInput, etc.) preset heights / sizes"
Evergreen is born very implicitly, for example, you can pass a height to a control such as as `Button` and it works, since it implements a `Box` under the hood. This gives enormous flexibility, as you run into new use case you haven't encountered yet, you can easily support that use case. Although this was true when Evergreen was born, we have learned much along the way, and common sizes and patte

[2018-07-12 20:45] jeroenransijn opened #222 "[v4] Add `not-allowed` cursor back to disabled button"
[v4] Add `not-allowed` cursor back to disabled button

[2018-07-12 20:46] jfmaggie opened #223 "Select menu behavior"
**Problems**

Check select menu stories in storybook and some use case in our segment app I think there are a few issues for select menu:

1. Use keyboard arrow key up/down, the list doesn't scroll into the selected position, so you can't see where you are at in the list

![kapture 2018-07-12 at 13 43 15](https://user-images.githubusercontent.com/7209644/42658233-951bc45a-85d9-11e8-87b0-f33df0d327

[2018-07-13 00:08] mshwery commented on #221
Have we considered introducing a new `size` prop to the API that allows you to pass in string aliases (presets) for theme-defined heights _without deprecating the `height` prop_?

I think this would be useful. We may want to decouple `height` from affecting other css attributes though (how does `height` work when dealing with a `Text` or `Heading` component? Or when dealing with a `Pane`? It only

[2018-07-13 00:17] mshwery commented on #221
FWIW I think we could by with just 3-4 sizes (at least for form controls):

[code]

And if you are crazy:
[code]

[2018-07-13 17:08] Flaque opened #224 "Should buttons have required intents?"
In the PropTypes of `Button` in [the code for v4](https://github.com/segmentio/evergreen/blob/v4/src/buttons/src/Button.js#L35-L36), an `intent` is required, including one that would have the `none` intent:

[code]

But in [the docs for v4](http://evergreen-v4.surge.sh/components/buttons/), `none` buttons just have no intent prop:

[code]

I'd submit a PR to fix this, but I'm not sure which is the

[2018-07-13 17:18] mshwery commented on #224
@Flaque I think you could remove the `.isRequired` flag on the prop for that component.

[2018-07-13 17:18] mshwery commented on #224
But we'd also want to add `intent: 'none'` to `defaultProps` (correct me if I'm wrong here).

[2018-07-13 17:20] Flaque commented on #224
From my understanding of how React proptypes work, that makes the most sense.  I'll submit a PR 🙌

[2018-07-13 17:20] #224 closed

[2018-07-13 18:47] emadabdulrahim commented on #221
My initial vote goes for **Option 2: Overload the height property with presets.**

One of the strongest points that Evergreen has is that it's built on top of **ui-box**. Knowing that, It gives me confidence that I could customize my component the way I want using the naming convention of all supported CSS properties.

Having defaults and string aliases is also very important for quick prototyping

[2018-07-13 19:18] mshwery opened #227 "[v4] Popover focus navigation could be better"
This is more of a suggestion than an issue. I think the focus navigation/management between Popovers and their trigger could be more accessible.

## Today in v4

Right now, `Popover` doesn't do anything special to wrap it's `children` prop with keyboard-accessible focus navigation. By default, the first focusable element receives focus on Popover open. You can use tab or shift-tab to navigate _wit

[2018-07-16 16:54] mshwery opened #228 "[v4] ListItem with `icon` prop support"
Hey all! I'm thinking it would be pretty sweet to extend the built-in `ListItem` to support `icon`. It's a bit challenging because the parent container (`UnorderedList` or `OrderedList`) might need some knowledge of this to properly setup padding/margin/list-style.

One way to solve this is to _always use icons_ but that's a bit less native, so we may want to avoid that.

Here's a setup I did to g

[2018-07-17 04:29] mshwery opened #229 "[v4] `SegmentedControl` missing focus state"
This component doesn't have the same focus state as other form controls. In the below screenshot you can't tell the difference between the `SegmentedControl`'s focus state and unfocused state:

<img width="688" alt="screen shot 2018-07-16 at 11 27 57 pm" src="https://user-images.githubusercontent.com/710752/42796474-f8fae8ec-894f-11e8-8093-4485d3f8faa2.png">

[2018-07-17 17:54] mshwery opened #230 "[v4] Add `MenuItem` support for `is` prop"
Today the newly minted `Menu` and `Menu.Item` components are awesome, but often menu items are links, or more specifically – _react-router_ links.

I would love to see support for `is={ReactRouterLink}` or `is={MyCustomComponent}` support so we can maintain the look and feel (and keyboard focus management) of menus, but enabling them to link to other urls/paths.

[2018-07-17 18:40] jeroenransijn commented on #230
Ah yeah this is super useful! Will move this in shortly.

[2018-07-17 18:41] jeroenransijn commented on #229
Thanks for documenting, have been thinking how to support this properly. Will put this in v4 shortly.

[2018-07-17 18:48] mshwery commented on #230
We should also evaluate _always_ allowing `{...props}` overrides for consumers that want to control the outermost component's props. I see that MenuItem doesn't provide any extra props spreading.

[2018-07-17 19:02] jeroenransijn commented on #228
I have been thinking about this for a bit as well. I agree that in our case it might be tricky to do this with just CSS, so I am leaning for the more custom approach. Here are some approached to this I can think of:

## Introduce `UnstyledList`

We could use a `UnstyledList` that is a `UnorderedList` with no styles. We could then add a `icon` + `iconColor` prop to the `ListItem`

[code]

## Introd

[2018-07-18 21:11] jeroenransijn commented on #230
Fixed in https://github.com/segmentio/evergreen/releases/tag/v4.0.0-12

[2018-07-18 21:11] #230 closed

[2018-07-18 21:12] jeroenransijn commented on #228
@mshwery we could totally use `React.cloneElement` here, love this implementation. Do you want to pick this up or should I?

[2018-07-18 21:32] jeroenransijn commented on #221
@mshwery I think it's fine if the `size` property is a bit different for typography / heading styles. I would be curious as to how we can implement a `size` and `height` prop side by side.

Decoupling `height` from `size` seems like an interesting approach, we then have to return all props from the `size` getter that is needed for the `Button`, which is a bit more than just `height` and `fontSize`

[2018-07-18 21:42] mshwery commented on #227
@jeroenransijn this issue was for improving what's currently in v4.

[2018-07-18 21:49] mshwery commented on #228
I might not be able to get to it until next week.

Keep in mind we'd still have to tweak `ListItem` to support the `icon` prop and take control of customizing it in lieu of the standard `list-style` value.

[2018-07-19 22:58] jeroenransijn opened #236 "[v4] marginTop not being applied to Button"
I am running into a situation where `marginTop` is not added to a Button. Might have to do with how v4 handles default margins top on Text.

Needs more debugging.

[2018-07-20 21:58] Flaque opened #242 "[v4] Allow "deselecting" in comboboxes"
At the moment, a combobox item can be deselected by highlighting the text and deleting it. However, it would be nice if clicking on an item that you've already selected would "deselect" it as a checkmark would normally imply.

<img width="271" alt="screen shot 2018-07-20 at 2 58 15 pm" src="https://user-images.githubusercontent.com/5942769/43027071-5b06b91e-8c2d-11e8-9226-b8eada91d435.png">

[2018-07-20 22:22] jeroenransijn opened #243 "[v4] Fix missing state in Themer.createButtonAppearance"
![image](https://user-images.githubusercontent.com/564463/43027685-a1c69f2e-8c30-11e8-9ab4-9b2b091fed21.png)

[2018-07-20 23:23] JMFURY commented on #242
I took a quick look and I think it should be straightforward since `Combobox` has `Autocomplete` options that derive from `SelectMenu` > `Option` - From there the `onDeselect` method we added for multiselect is available.

I could take a stab at this.

cc: @jeroenransijn

[2018-07-23 04:15] bmcmahen commented on #221
I like the idea of using a size prop with a few predefined sizes, but I don't think this necessarily precludes the use of a height prop.

To overload height and have it alter font sizes, line-heights, padding, and so on, seems a bit confusing and inconsistent. In my mind, height should only alter the height of a button, just as it alters the height of a UI-box. I'd argue the same for input boxes.

[2018-07-23 04:50] JMFURY commented on #242
@Flaque It turns out I was wrong in a lot of the above assumption (ooops..). This definitely has its differences over Select-Menu. But that's actually good since it is a bit more straightforward.

@jeroenransijn I have the interaction running after some trial and error. Here are some details:

Within `Autocomplete`'s `renderItem()` we can target the selected item in the same way the 'isSelected' b

[2018-07-23 15:37] mshwery commented on #242
We may want to expose this as an opt-in: `isClearable` or something.

[2018-07-23 16:05] Flaque commented on #242
@JMFURY Feel free to open an "work-in-progress" PR if you'd like!

[2018-07-23 17:12] bmcmahen opened #246 "side sheet from the left"
Any interest in a PR that enables the side-sheet to appear from the left? I have a basic fork of this in my app so that I can use it in the material-ui app navigation way. I suspect others might want the same.

[2018-07-23 19:39] #236 closed

[2018-07-23 19:39] #228 closed

[2018-07-23 19:42] jeroenransijn commented on #246
@bmcmahen this is for sure something we want in Evergreen! Main reason why it's not in there atm is because we don't have left side sheet in our app (yet). Would be awesome if you could put in a first PR!

[2018-07-23 21:25] jeroenransijn opened #247 "[v4] Fix SidebarTab icon placement"
![image](https://user-images.githubusercontent.com/564463/43103828-35a53c96-8e84-11e8-856d-23c9b0320d73.png)

[2018-07-23 21:34] jfmaggie commented on #247
@jeroenransijn Do you think it makes sense we just remove the icon? It looks redundant to have this icon since the side bar already have active state to indicate current selected item. With the arrow icon it somehow indicates it is clickable and can be expanded to a dropdown.

![image](https://user-images.githubusercontent.com/7209644/43103990-bf99af4a-8e84-11e8-92aa-420a4f50342b.png)

^^^ `Source

[2018-07-23 21:43] jeroenransijn commented on #247
@jfmaggie thanks for bringing this up! I guess we don't need it. We could create an issue out of this to get the input from others, would you want to do that?

[2018-07-23 21:44] jfmaggie commented on #247
@jeroenransijn Sure thing :)

[2018-07-23 21:46] jfmaggie opened #249 "[v4] Remove icon from sidebar tab"
Ref https://github.com/segmentio/evergreen/issues/247

This issue is to remove the icon from sidebar tab. Or we could make it optional? I think the use case for us in segment app would be not using the icon for selected side bar.

cc @jeroenransijn

[2018-07-23 23:26] #247 closed, assigned to nobody

[2018-07-24 00:15] vadimdemedes opened #251 "[v4] <Tooltip>'s isShown prop no longer hides the tooltip"

[2018-07-24 03:41] bmcmahen commented on #246
Great - I'll clean up my code and pass in a PR within the next day or so.

[2018-07-24 16:38] mshwery opened #253 "[v4] Table.HeaderCell vs Table.TextHeaderCell results in different font sizes"
<img width="248" alt="screen shot 2018-07-24 at 11 34 46 am" src="https://user-images.githubusercontent.com/710752/43153038-caaead3e-8f35-11e8-9305-d40dd766d5b3.png">

It might be a little subtle, but the `Table.TextHeaderCell` uses `font-size: 12px` and `Table.HeaderCell` uses `font-size: 14px`.

The code:
[code]

[2018-07-24 17:30] blakeperdue opened #254 "Select menu and other components not accessible"
# Issue and steps to reproduce.
Visit the select menu demo: https://evergreen.surge.sh/components/select-menu

Use the keyboard to navigate to the `Select name...` demo button. Press enter to open the menu and notice that it opens and immediately closes.

This makes the component completely inaccessible for users who primarily use the keyboard (or screenreaders) to navigate.

* Versions.
v3.2.5

*

[2018-07-24 17:52] mshwery commented on #254
Hey @blakeperdue ! Thanks for reporting the issue. We've been working on a lot of these interactions to improve accessibility in [v4](https://github.com/segmentio/evergreen/pull/200/)

But this brings up a good point – we should address some issues in v3 as well!

Slightly related:
https://github.com/segmentio/evergreen/issues/223
https://github.com/segmentio/evergreen/issues/227

Oh, and PRs are

[2018-07-24 18:16] jeroenransijn commented on #254
@blakeperdue thanks for reporting this! As @mshwery our focus right now is to move to v4 as soon as possible which contains a ton of improvements for interactions patterns and accessibility. We welcome PRs for v3 in the mean time, however, we currently can't make any promises for ongoing v3 support .

I would recommend trying out v4 instead of using v3 and checking out the docs here: [http://everg

[2018-07-24 18:19] jeroenransijn commented on #253
This is correct, we can opt-in for `14px` though.

[2018-07-24 18:22] #229 closed

[2018-07-24 18:53] blakeperdue commented on #254
Got it, thanks for the recommendation. Will try out v4.

[2018-07-24 18:53] #254 closed

[2018-07-24 19:00] jeroenransijn opened #255 "[v4] Popover/Positioner jitter"
I thought I fixed the jittering of Popover and Positioner multiple times at this point. Today I ran into another instance in which it happens.

![image](https://user-images.githubusercontent.com/564463/43160007-ce7940a2-8f38-11e8-9dab-c8d464d61251.png)

I am using a screen connected to my MacBook, and that is when this issue can happen. As you can see the width of the `html` tag is not an integer,

[2018-07-24 19:33] jeroenransijn commented on #255
# Current potential solution

[code]

[2018-07-24 19:49] mshwery commented on #255
I'm not super familiar with how this functions today, but couldn't we do something a bit simpler – i.e. always take a `Math.round`ed (or floored) number for calculations. That _should_ result in the same value every time.

It's unclear why the `positionRef` would be giving different values, but I presume it's actually the inclusion of the positioned popover that's causing the subtle difference.

[2018-07-24 19:55] JMFURY commented on #242
All,

Doing it at the Autocomplete level felt to me like fighting Downshift. Doing the logic within onMouseUp() came with a lot of caveats, fixing one bug caused another and so on..

I am sure with some review/help it could be done more (and cleanly)..

In digging thru Downshift some more I found this:
https://codesandbox.io/s/0mrl1819qw?from-embed
referred to here by the author: https://blog.kent

[2018-07-24 20:12] jeroenransijn commented on #255
@mshwery we are actually doing `Math.round` in the calculation — which I thought fixed the problem. However, it seems that the input keeps because `offsetWidth` is not reliable in this case. It keeps shifting after the calculation is done when the screen is zoomed in. I am going to test this solution and see if it fixes the problem.

One thing that might be affecting this issue as well is that the

[2018-07-24 20:13] jeroenransijn commented on #255
Yeah it definitely seems part of the problem:

![image](https://user-images.githubusercontent.com/564463/43163540-4a77dd9e-8f43-11e8-9b3f-942801b2c40d.png)

[2018-07-24 20:46] #255 closed

[2018-07-24 21:36] jeroenransijn opened #258 "[v4] Positioner calculations"
I cheered to soon when I released  #257 as `v4.0.0-20`. The jitter is fixed — but I remember why I was using `offsetHeight` and `offsetWidth` before: they don’t include the `transform` calculations in the final result. I have another fix coming in to address this.

![image](https://user-images.githubusercontent.com/564463/43165814-b7d0029e-8f49-11e8-8e50-fc6d2370e580.png)

[2018-07-24 22:53] jeroenransijn opened #260 "[v4] Remove border from Table"
Remove border from Table.

[2018-07-24 22:53] #258 closed

[2018-07-25 00:28] #249 closed, assigned to nobody

[2018-07-25 21:35] jeroenransijn opened #261 "[v4] Overlay lock body scrolling"
Consider adding `overflow: hidden;` to the body when the Overlay is shown:

[code]

[2018-07-26 15:13] aliakakis opened #262 "Question: Nav menu"
Hello and excellent library. Just wanted to inquire whether you will be releasing a nav menu or it should be build from a combination of Panes.

[2018-07-26 21:46] jeroenransijn commented on #262
Hey @aliakakis! Thanks for showing interest in Evergreen and asking your question. We currently don't have a navigation component scheduled to live inside of Evergreen. I would recommend composing something with Panes, or using CSS / CSS-in-JS if it doesn't work with just Panes.

[2018-07-26 21:46] #262 closed

[2018-07-26 22:08] aliakakis commented on #262
Excellent thank you for the quick reply.

[2018-07-26 22:33] mshwery commented on #210
It would be great to support auto-sizing height too!

[2018-07-26 22:47] jeroenransijn commented on #210
@mshwery yeah I am going to try and support at out of the box 👍

[2018-07-31 16:10] rakibtg opened #272 "DialogManager not exported?"
Version: 3.2.4

While trying to use the [dialogue component](https://evergreen.surge.sh/components/dialog) it gives an error:

Imports are:
[code]
Am i missing something?

[2018-07-31 18:00] JMFURY commented on #272
Hi @rakibtg I think I know what you're trying to do so hopefully this helps.

`DialogManager`, like similar components in the docs, is not an official component for the Evergreen system. It is utilized the docs and examples to serve as an example of how you might manage state for the `Dialog` component.

See this thread also on how the examples also use Reactions for 'localized' state management
#

[2018-07-31 18:06] rakibtg commented on #272
It seems that `Box` and `DialogManager` components are not a part of the ui framework.
Thanks for your help

[2018-07-31 18:07] #272 closed

[2018-07-31 18:08] JMFURY commented on #272
Exactly. `Box` , also useful, is here: https://github.com/segmentio/ui-box

[2018-08-04 00:17] jeroenransijn opened #275 "[v4] EditableCell improvements"
* Placeholder support.
* defaultValue (?)
* Use `Stack`

[2018-08-08 13:56] graysonhicks opened #277 "Compatibility with styled-components"
I'm working on a project and enjoy both evergreen and styled-components, so I'm trying to use both.  One issue I am having is that some styles don't seem possible to override using the `styled()` function.

For example, this:

[code]

Would render the base color and font-weight of Heading from evergreen.  I can see the styled-component styles overridden in DevTools.  From what I can gather, any st

[2018-08-09 16:06] jeroenransijn commented on #277
Hey @graysonhicks thanks for trying out Evergreen! I would advice against mixing styled-components and Evergreen components in most cases. There are some cases in which it could work, but it would require a solid understanding of the component internals of Evergreen.

I have been having some issues with SSR in Gatsby v2 (next) as well — our docs run on that, and I couldn't get SSR to work. I will

[2018-08-09 17:06] graysonhicks commented on #277
Thanks!  Okay, yea I am using Gatsby v2 as well on this, but wasn't sure if that or styled-components was the issue.

Good to know re: styled-components.

[2018-08-09 17:06] #277 closed

[2018-08-14 18:22] jeroenransijn opened #279 "[v4] Table.EditableCell accept textProps"
`textProps` needs to passed through properly.

[code]

[2018-08-14 18:31] jeroenransijn opened #280 "[v4] Table.SelectMenuCell support disabled and isSelectable and textProps"
Forgot to implement the new `disabled` and `isSelectable` APIs in `Table.SelectMenuCell` as well.

[2018-08-14 20:48] #279 closed

[2018-08-14 20:48] #280 closed

[2018-08-14 20:48] #251 closed

[2018-08-14 20:55] jeroenransijn opened #282 "[v4] Filter out size property for Table.(SelectMenu/Editable)Cell"
Filter out size property for Table.SelectMenuCell

[2018-08-14 20:58] jeroenransijn opened #283 "[v4] Table.SelectMenuCell isSelectable default should be true"
Table.SelectMenuCell isSelectable default should be true

[2018-08-14 21:14] #283 closed

[2018-08-14 21:14] #282 closed

[2018-08-14 21:16] jeroenransijn opened #285 "[v4] Table.EditableCell position should be relative to viewport"
`Table.EditableCell` position should be relative to viewport — not to the page.

[2018-08-14 21:30] emadabdulrahim commented on #285
Current behavior when page is scrolled

![editablecell-bug](https://user-images.githubusercontent.com/7950797/44119592-8a208cc0-9fce-11e8-9882-25cb1d02f128.gif)

[2018-08-14 21:44] #285 closed

[2018-08-16 18:56] jeroenransijn opened #288 "[v4] Table.VirtualBody does not calculate height properly in edge cases"
This issue happens when putting a `Table.VirtualBody` in a `Portal` and some other edge cases. At `componentDidMount` the `VirtualBody` has a `ref` for the element, but the element is not actually rendered completely yet — resulting in `offsetHeight` being `0`.

[2018-08-16 19:01] #288 closed

[2018-08-16 19:04] emadabdulrahim opened #290 "[v4] Hitting "ESC" on EditableCell while writing should cancel edits"
See the title.

[2018-08-17 17:40] jeroenransijn opened #291 "[v4] Table.SelectMenuCell should open on click when focused"
## `Table.SelectMenuCell`

* Currently a double click is required to open the `Table.SelectMenuCell`. In other spreadsheet apps this only requires a single click to open when focused.

* `Table.SelectMenuCell` should have `cursor: pointer;` when selected.

[2018-08-17 17:42] jeroenransijn opened #292 "[v4] Tooltip on disabled IconButton hangs"
## `Tooltip`

I got some reports that a Tooltip can hang on a disabled `IconButton`. Might be more universal for buttons.

[2018-08-17 23:09] #290 closed

[2018-08-17 23:09] #291 closed

[2018-08-20 05:52] #210 closed

[2018-08-21 01:13] samanthakimone commented on #242
Thank u that was good

[2018-08-22 18:16] acarl005 opened #295 "Export Manager component from main module"
Hello Segment team,

It would be nice if the `Manager` component was exported from the main module. It's featured in the [Corner Dialog](https://evergreen.surge.sh/components/corner-dialog) page, but I can't import it like
[code]
Instead, I have to use
[code]

evergreen-ui version: 3.2.4

[2018-08-22 18:29] acarl005 opened #296 "CornerDialog onCloseComplete is actually required"
Hello Segment team,

evergreen-ui version: `3.2.4`

According to the docs on the [CornerDialog](), the `onCloseComplete` prop is optional. However, I get the following error if I omit that prop:

[code]

I had to give it a no-op function to work around it

[code]

[2018-08-22 18:32] acarl005 opened #297 "Configure buttons for CornerDialog"
Hello Segment team,

The confirm button for the `CornerDialog` is always the green button. But the blue button works much better with my site's color scheme. It would be nice if there was a way to pass in configuration for which buttons I want.

[code]

[2018-08-22 18:34] acarl005 opened #298 "Undocumented components"
Hello Segment team,

Some of the components are still undocumented. This includes things like `Image`, `Pill`, `Badge` among others.

[2018-08-22 22:44] #246 closed

[2018-08-23 03:27] Jetsly opened #300 "Migrate to TypeScript"

[2018-08-23 16:58] Munsterberg commented on #292
As in the tooltip shouldn't appear when the IconButton is disabled to clarify? (If so I noticed the same issue)

[2018-08-23 17:59] mshwery commented on #298
Hey @acarl005 ! Thanks for commenting. We're working towards full documentation for v4. More coming soon!

[2018-08-23 18:01] mshwery commented on #297
In v4 you can specify the `intent` prop which will use the ThemeContext to provide the button colors/styles.

I don't think this is available in v3, unfortunately (nor is theming).

[2018-08-24 19:23] emadabdulrahim opened #302 "Table.SelectMenuCell crash when filter returns zero items"
### Version: v4

When I use `Table.SelectMenuCell`, double click to get the `SelectMenu` component. If I try to type in the filter in the `SearchHeaderCell` component and it happens to return zero items based on my filter value, it **crashes** with this error:

![screen shot 2018-08-24 at 12 21 00 pm](https://user-images.githubusercontent.com/7950797/44603741-88652e00-a798-11e8-8295-f17576ae761b.p

[2018-08-24 21:44] jeroenransijn commented on #300
No. Looking into Flow/TypeScript for the future. Probably a couple of major version out though.

[2018-08-24 21:45] jeroenransijn opened #303 "[v4] TypeError: n.mainRef.blur is not a function"
## Culprit

`evergreen-v4/esm/table/src/TableRow in apply`

TableRow uses `innerRef`, but when using the `is` prop, you might not have a component that supports `ref`.
The `Link` component from `react-router` actually implements the same `innerRef` API as in `ui-box`/ `Evergreen`. In this case `TableRow` gets a `ref` that is actually a React component. As we are trying to assist focus management w

[2018-08-25 00:15] jeroenransijn opened #305 "[v4] Improve interactions within SelectMenu"
We should prevent SelectMenu to select the option without hitting enter. Or at least use provide the option.

[2018-08-25 01:39] mshwery opened #306 "[v4] Popover `children` as a function never renders `content`"
When you use `children` as a `function ({ toggle, getRef, isShown }) {}` the `content` node is never shown, although `isShown` in the render function does toggle.

[2018-08-25 20:02] mshwery commented on #306
Ah, this is a documentation issue I think – it works, but you need to know about using `getRef` otherwise it won't display anything.

[2018-08-25 20:02] #306 closed

[2018-08-27 22:19] nucleartide opened #308 "Be able to customize checkbox label size"
See the text label in the `<Checkbox>` component:

https://github.com/segmentio/evergreen/blob/c9ebceb4460509a91d4a9cf53541888ead44222c/src/checkbox/src/Checkbox.js#L86-L94

It'd be nice to be able to customize the label size. 😄

[2018-08-27 22:39] nucleartide commented on #308
On a second thought, I can probably just pass in JSX. Going to close this.

[2018-08-27 22:39] #308 closed

[2018-08-28 19:45] orkideh opened #309 "external data source support for `Autocomplete` and `Combobox` components"
Dear Contributors,

I found your project cool and I would like to join you here to bring some values to opensource community, So I checked [Autocomplete](https://evergreen.surge.sh/components/autocomplete) and [Combobox](https://evergreen.surge.sh/components/combobox) but seem the do`t support any external data source like ajax request. What do you think about updating them and adding this feature

[2018-08-28 20:28] #302 closed

[2018-08-29 17:18] acarl005 opened #311 "Relatively large footprint on the JS bundle size"
versions
--------
evergreen-ui: `3.2.4`
webpack: `3.8.1`

My JS bundle size increases quite a bit due to evergreen-ui. **After minify and gzip**, it adds about **60kB** to the bundle including some of the largest dependencies.

evergreen itself: 32kB
ui-box: 10kB
glamor: 7kB
downshift: 5kB
lodash.mapvalues: 4kB

This seems really heavy given there isn't that much added functionality. For compariso

[2018-08-29 17:25] jeroenransijn opened #312 "[v4] Checkbox Indeterminate"
Add a `indeterminate` prop to the Checkbox.

[code]

## Design Example

![image](https://user-images.githubusercontent.com/564463/44804309-cf2a9d80-ab75-11e8-88d7-be8e0a9493f0.png)

[2018-08-29 17:36] jeroenransijn commented on #311
Thanks for doing some research on this! I bet `v4` will be even bigger because of `@blueprintjs/icons`. I think it's important to figure out a long term strategy to keep this down (e.g. mono-repo for certain parts).

That being said, you should consider enabling treeshaking if you are using Webpack. @Rowno might be able to provide more context here.

I appreciate you creating this issue, but I don

[2018-08-29 17:36] #311 closed

[2018-08-29 18:14] Rowno commented on #311
Yep, if you upgrade to Webpack 4 you should see a significant drop due to the more advanced tree shaking.

[2018-08-30 17:28] jeroenransijn commented on #309
@orkideh thanks for interest in contributing! I think this is an interesting idea, the next step could be to provide a example of how you would like to see this implemented.

I am curious if this should be the baked into the component. My assumption is that with the current setup you could fetch results on `onChange` and load those in the items? Might be oversimplifying it here.

[2018-08-30 17:28] #260 closed

[2018-08-31 18:13] jeroenransijn opened #316 "[v4] iconSize prop on IconButton"
In some cases the default icon size is too small, or some icons appear better slightly bigger. I want to add a `iconSize` prop to the `IconButton` that would override the value returned from the theme object.

[2018-09-02 19:47] orkideh commented on #309
I`m glad you found it interesting.
I read the code it`s dependent on [downshift](https://github.com/paypal/downshift), `onChange` event is called when you already made your choice, so it does`t work for us.

I can describe it in this way just image we have `two` more props `apiCall` and `debounce` that:
* `debounce`: will be `numeric` value defines time to devounce user input.
* `apiCall`: will be

[2018-09-02 20:11] orkideh opened #319 "Small suggestion for more compatibility for windows based developer to kick start hacking"
As a windows user I had to introduce some changes before start hacking I hope they will be useful to share and  help other windows based developer.

1. To run `yarn dev` windows does not support `export` command so I simplified it to new line in `package.json` like line bellow then developer can enjoy `yarn dev-win` easily.
[code]

2. Also there is difference in new line between mac/linux and wind

[2018-09-03 01:23] #312 closed, assigned to nucleartide

[2018-09-03 10:58] PMCorbett opened #320 "Spelling mistake in Tooltip proptypes"
Hi there is a spelling mistake here: https://github.com/segmentio/evergreen/blob/de5ebddc8a07bfc910cde63c9fd0389025d5a12e/src/tooltip/src/Tooltip.js#L34

That is causing the following error to be logged to the console in a browser:

[code]

[2018-09-04 17:57] jeroenransijn opened #322 "Update release process"
We had a automatic deployment for master and use `yarn release` which is based on `np`. However it seems like we need a more manual process as `np` has caused some issues and we need 2FA when publishing to npm.

[2018-09-04 17:57] jeroenransijn commented on #319
Thanks @orkideh for hacking around! It seems maybe we can use `cross-env` to solve this problem: https://github.com/kentcdodds/cross-env

[2018-09-04 18:11] Rowno commented on #319
And shouldn't have any issues with the line endings when you have [editorconfig](https://editorconfig.org/) enabled in your editor.

[2018-09-04 18:32] orkideh commented on #319
@Rowno  the editor like `webstorm` did good but `Atom` can`t handle it event with plugin. the more important thing running command `yarn test`. will throw error millions of error (exactly 18213 :D).

[2018-09-04 18:38] orkideh commented on #319
@jeroenransijn I believe it should help, could you give example how `dev` may look like with implementing `cross-env`. For me it has this error :
[code]

[2018-09-04 19:14] Rowno commented on #319
I'm not sure those environment variables are even used, maybe we can just change it to `start-storybook -p 6006` 🤔

[2018-09-04 19:17] Rowno commented on #319
Looks like it is on the `v4` branch 🙂 https://github.com/segmentio/evergreen/blob/v4/package.json#L20

[2018-09-06 17:07] Flaque opened #325 "[v4] Switch should support a "value" prop"
# Overview
In order for an `onChange` prop to be effective in a [switch](https://github.com/segmentio/evergreen/tree/master/src/switch), you have to pass a value in with an anonymous function, which is not consistent with other `input` type items in React.

## How Evergreen currently does it

[code]

## How Evergreen should do it

[code]

## How other inputs work

[code]

[2018-09-08 16:26] jbwhitcombe opened #326 "No Callback For Dialog onCancel"
It appears as though no callback was integrated for Dialog's onCancel event.

[2018-09-11 18:33] justin0022 opened #327 ""View on GitHub" links in components documentation are all broken"
For instance, https://github.com/segmentio/evergreen/tree/master/src/Alert in https://evergreen.surge.sh/components/alert

[2018-09-14 14:12] ITforHome commented on #185
@EQuimper Hi, I have a question about your project. In your Screenshots, i could see a gray sidebar and a header with the title "My Projects " and the button  "Create New Project ".

- How did you build this in React? Are there any finished components from the evergreen framework? (So far I have not been able to find)
 - Which icons did you use?
 - Could you possibly show me some code of it? (I al

[2018-09-16 19:34] ITforHome opened #328 "Checkbox isn't working inside a Dialog"
Dear Evergreen-Team,
First of all, I would like to thank you for your hard work. I have long searched for a suitable UI framework for React, which I have now found. Thank you for that.

Currently I use the version v4.0.0-39
Unfortunately, the checkbox does not work inside a dialog. I can click the checkbox, but it remains empty. In the linked SandBox.io Project it works, but inside Chrome Version

[2018-09-17 20:29] jeroenransijn commented on #328
Hi @ITforHome. Thanks for giving Evergreen a try and posting your issue here.

The checkbox is working for me in Chrome Mac OS X, but you should consider a controlled usage of it. Not sure why it's not working. Could you provide your system OS and confirm this behavior with a gif?

## Autofocus bug

It seems you have found a bug with the `autoFocus/autofocus` prop not being passed properly on the

[2018-09-17 20:58] ITforHome commented on #328
@jeroenransijn Thanks for your quick answer.
Currently I use MacOS Mojave 10.14 and Chrome Version 69.0.3497.100 (that's the last version of Chrome)

![checkbox_dialog_issue](https://user-images.githubusercontent.com/27279514/45649869-e1409180-bacc-11e8-8c7b-7392312672b5.gif)

## AutoFocus Bug
Where exactly do I have to insert the <code>tabIndex={0}</code> in my dialog so that the Cancel button is

[2018-09-17 21:03] jeroenransijn commented on #328
I have updated the CodeSanbox (https://codesandbox.io/s/m9opjm10qx) to show where to put `tabIndex={0}`
![image](https://user-images.githubusercontent.com/564463/45650099-11167780-ba82-11e8-8daa-c3b5dc36642c.png)

`FormField` is mainly a implementation detail, you often won't use it directly. `TextInputField` is a combination of `TextInput` and `FormField` already. Note that all components are pre

[2018-09-17 21:05] jeroenransijn commented on #328
I think I know why the examples are not completely working — the `package.json` has v3 of Evergreen as a dependency:
![image](https://user-images.githubusercontent.com/564463/45650296-b5002300-ba82-11e8-8928-efc65a95ee77.png)

[2018-09-17 21:17] ITforHome commented on #328
@jeroenransijn Thank you for your detailed answer. Only the question remains, why the checkbox doesn‘t work. Maybe you already have an idea for the cause?

[2018-09-18 07:17] ITforHome commented on #328
@jeroenransijn Update: I solved the issue. I have forgotten to set a controlled usage for this.
A last question, i don't want to create a new issue for that, because this is a little question and not a big problem...

How can i set another TextColor on the Cancel Button in the Dialog Footer. I want to set the TextColor to grey and not to blue... But the Apperance "Minimal" should be kept, how can

[2018-09-18 09:40] ITforHome commented on #328
@jeroenransijn For the FormValidation, i use the tutorial: ["Form Validation in React"](https://medium.com/code-monkey/client-side-form-validation-in-react-40e367de47ba) to implemente this. But i have trouble with that, to implemente this to my React-App. I am aware that it takes time to help me, but I would be very grateful for it because I have little knowledge about that. Because the files are

[2018-09-19 00:25] jeroenransijn opened #329 "[v4] Positioner keeps Portal alive even when not shown"
The `Positioner` component uses the Portal component and renders the Portal no matter what — even when the component is not shown.

![image 8](https://user-images.githubusercontent.com/564463/45723770-bce5c300-bb67-11e8-8a50-2b95a0640a04.png)

[2018-09-19 10:06] ITforHome commented on #328
@jeroenransijn Update: I solved the Issues with the FormValidation... Do you want to use that as an example, how to use FormValidation with the Evergreen-UI `TextInputField` Component?

[2018-09-19 18:45] #329 closed

[2018-09-19 19:03] ITforHome opened #331 "[Feature Request] Update Native Select"
Dear Evergreen-Team,
i really like the Components from Evergreen UI, but honestly, I don't like the design of the native select. In my view, this native element does not fit with the other components of the framework. I would like to bring the Design from the SelectMenu to the native Select. I would also create an option to put icons in front of a label, e.g. as Prop.

<img width="249" alt="bildsc

[2018-09-20 21:50] jeroenransijn commented on #328
@ITforHome currently not possible to change the text color of a minimal button without a hack.

As for the form validation, It might be a useful example to have in codesandbox.io!

[2018-09-20 23:24] jeroenransijn opened #333 "[v4] Menu component add focus navigation support for dynamic children"
`Menu` component should add reconfigure focus support when children change.

[2018-09-23 15:52] Ketcap opened #334 "Next.js Icons"
Hello guys i'm using evergreen on next.js. But icons are not showing. Tried default examples from website.
If i need to do anything extra to work on next.js let me know i'm just a starter.

[code]
Output :
![slice](https://user-images.githubusercontent.com/7689820/45929986-58f13f00-bf59-11e8-8e36-b2eb1078c057.png)

Code :
![screen shot 2018-09-23 at 5 51 53 pm](https://user-images.githubuserconten

[2018-09-24 09:51] #320 closed

[2018-09-25 00:11] jeroenransijn commented on #334
Hi @Ketcap thanks for putting in your issue! Are you using Evergreen v4? `evergreen-ui@next`? Are you seeing any error logs in the browser console?

[2018-09-25 08:36] Ketcap commented on #334
Sorry, i forgot the check the version, now everything is fine icons are fine. I was using 3.x version and i was looking v4 documentation.

[2018-09-25 08:36] #334 closed

[2018-10-07 20:52] shui91 commented on #327
Hi, I thought I'd take a shot at this issue, as a chance to get involved with OSS during this year's Hacktoberfest!

The issue raised by @justin0022 here is an active bug on the live version of the docs ([Alert docs](https://evergreen.surge.sh/components/alert)). As you can see in my screen shot below, the url on the `View in Github` link uses the capitalized name of the component.

<img width="14

[2018-10-07 21:04] shui91 commented on #305
I'm interested in taking on this issue, if it's still available!

[2018-10-15 15:27] markuso opened #345 "[v4] Alert icon default margin-top is causing a layout misalignment"
I am using the latest Evergeen **v4** and the `Alert` component displays its icon misaligned due to a default `margin-top: 2px;` css applied to the icon wrapper. See screenshot below. The [examples](https://evergreen.segment.com/components/alert) on the documentation website do not have this flaw.

![image](https://user-images.githubusercontent.com/56903/46959195-76518e80-d069-11e8-8b00-91e333fa1e

[2018-10-15 16:11] mshwery commented on #345
Nice catch @markuso ! That would be a great PR, if you want to submit a quick fix against the `v4` branch!  🎉

[2018-10-16 00:34] #316 closed

[2018-10-16 12:31] markuso commented on #345
Sure thing @mshwery — I will do that shortly then.

[2018-10-16 14:54] markuso commented on #345
This ended up to be a problem when using `sanitize.css` or other CSS reset libraries that resets `svg` and other embed elements to have a `vertical-align: middle;` css rule. This clashes with Evergreen's icon/svg components in some cases like the Alert.

Either the icon/svg component should set its default `verticalAlign` to `initial` so it can be more reliable, or at least when used in places tha

[2018-10-16 15:00] mshwery commented on #345
I don't think the icons should rely on external style sanitizers/resets/normalizers to align properly.

@jeroenransijn thoughts?

[2018-10-17 09:46] avdeev opened #357 "Broken link to ROADMAP.md in README.md"
Subj

[2018-10-17 15:59] wyattjoh commented on #203
Was this issue not resolved? This is as of today:

https://evergreen.segment.com/components/select
![screen shot 2018-10-17 at 9 58 28 am](https://user-images.githubusercontent.com/633002/47099778-9037d080-d225-11e8-98c5-d9da457da4c1.png)

[2018-10-17 16:25] ragegage opened #365 ""Default with a danger intent" dialog example does not use the "intent" prop"
Very cool library, and great set of examples. On [this page](https://evergreen.segment.com/components/dialog) the "Default with a danger intent" example does not actually use the "intent" prop, and as such does not demonstrate usage of the "intent" prop.

[2018-10-17 18:27] pspeter3 commented on #300
Would you take DTS PRs?

[2018-10-17 20:08] jeroenransijn commented on #300
@pspeter3 do you mean adding types? Not sure what DTS means.

[2018-10-17 20:08] jeroenransijn commented on #326
Was this in v4?

[2018-10-17 20:10] jeroenransijn commented on #331
Hey @ITforHome, thanks for creating this issue! I believe there is still room for a NativeSelect alongside a themed on. In the design system we use the following design currently:

![image](https://user-images.githubusercontent.com/564463/47113425-dbde8000-d20d-11e8-99c9-617034a83681.png)

Although low-priority for us, I will keep this open!

[2018-10-17 20:15] jeroenransijn commented on #345
We could add a explicit `vertical-align` property on icons if that is a easy fix. If not we can keep it as is. I believe Evergreen should work in most environments with resets if it's an easy fix on our side.

[2018-10-17 20:15] #365 closed

[2018-10-17 20:21] mshwery commented on #345
I think this depends on how we expect the icon to behave when the text wraps? Should the icon always be center-aligned vertically? Or should it match _the line-height_ of the first line of text? How would consumers override this behavior to meet their needs?

[2018-10-17 20:42] markuso commented on #345
If I may pitch in here please. Since Evergreen does concern itself with the layout of the Alert component, then it should have a specific `vertical-align` css rule on its icon. This is because in the Alert component, the wrapper element to the icon has margin related props to adjust the layout of the icon accurately to the adjacent text. It is important so global css rules don't impact or leak int

[2018-10-17 21:06] coreybruyere opened #368 "Missing Firefox browser prefix for appearance causing duplicate dropdown arrows"
https://github.com/segmentio/evergreen/blob/2a2f83393d0b5dbb658a922c233b88cbb081803e/src/select/src/SelectField.js#L88

Include
[code]

[2018-10-17 22:39] jbwhitcombe commented on #326
Yep, for some reason onCancel isn't getting triggered.

[2018-10-18 00:02] pspeter3 commented on #300
A single DTS file can provide type definitions for the entire project. It means you can continue to write in JavaScript while supporting TypeScript users.

[2018-10-18 00:37] paustint commented on #300
I would ❤️ to see typescript support!

**The options are**
1. include a DTS file along with the project, as @pspeter3 mentioned - a type definition file that is hosted as part of the repository and would need to be included alongside the JS files in the build on npm.
    - This should be kept up-to-date and should be updated along with each new feature/change.
2. Avoid including any type definitio

[2018-10-18 03:10] markrian opened #369 "FilePicker throws error when choosing a file"
To reproduce:

1. Visit the [demo page][1]
1. Open your browser's devtools (tested with Chrome 69 and Firefox 62, although any spec-compliant browser should demonstrate the issue)
1. Click on the first FilePicker and choose a file
1. See in the console an error like this:
[code]

The issue is that the [original source][2] is being transpiled incorrectly, from this:

[code]

to something like this:

[2018-10-18 10:11] minheq opened #371 "yellow solid fill is using undefined palette color"
Per description yellow solid fill is using undefined palette color. Found this issue when converting the code to TypeScript

https://github.com/segmentio/evergreen/blob/abe2b007cc55740d7a0fd1348905086fa5e7d6eb/src/theme/src/default-theme/foundational-styles/fills.js#L27

https://github.com/segmentio/evergreen/blob/abe2b007cc55740d7a0fd1348905086fa5e7d6eb/src/theme/src/default-theme/foundational-st

[2018-10-18 10:31] markrian commented on #369
Hmm, yes, I see. Perhaps the demo examples just need to be rebuilt! I guess I'll close this.

[2018-10-18 10:31] #369 closed

[2018-10-18 14:59] mainanick opened #374 "[v4] TypeError: this.menuRef.querySelectorAll(...).concat is not a function"
Happened to see the TypeError on the documentation page
![sgerr](https://user-images.githubusercontent.com/966361/47162503-c2683180-d2fc-11e8-9e24-a9656d0fe9b7.png)

It happens that `...this.menuRef.querySelectorAll('...,[role="menuitem"]')` https://github.com/segmentio/evergreen/blob/abe2b007cc55740d7a0fd1348905086fa5e7d6eb/src/menu/src/Menu.js#L38 is transpiled to

`if (this.menuItems = this.men

[2018-10-18 15:43] mainanick commented on #374
Resolved by #370

[2018-10-18 15:43] #374 closed

[2018-10-18 16:33] prateekgoel commented on #325
I would like to work on this.

[2018-10-18 16:34] prateekgoel commented on #261
CanI work on this?

[2018-10-18 16:41] Flaque commented on #325
@prateekgoel go for it! 🎉

[2018-10-18 17:01] karltaylor opened #376 "Question: How to use React Router 'Link'"
Hello 👋

Love the framework, just wondering what the best way is to implement a `<Link>` component from `react-router-dom` and use the `<Link>` component from `evergreen-ui`?

[2018-10-18 17:08] prateekgoel commented on #325
Thank you @Flaque

[2018-10-18 17:28] prateekgoel commented on #325
@Flaque PR submitted.

[2018-10-18 18:36] jeroenransijn commented on #376
Hey @karltaylor, you can use the `is` prop for that:

[code]

[2018-10-18 18:36] #376 closed

[2018-10-18 18:37] jeroenransijn commented on #371
Nice find!

[2018-10-18 18:37] #209 closed

[2018-10-18 18:43] jeroenransijn commented on #325
The switch is semantically a checkbox, I think it should be the `checked` prop instead of `value`. https://evergreen.segment.com/components/switch

[code]

[2018-10-18 19:30] jeroenransijn opened #379 "v5 Roadmap"
## Committed

* [x] Upgrade Downshift to v3 #356
* [x] Change `<Icon icon="search" />` to `<SearchIcon />` to support tree-shaking

## Potential

* Add `size` prop #221
* Continue working on theming support and `v4-create-theme`.
* Increase font sizes throughout Evergreen (13–14px)
* Focus traps for modal dialogs
* Upgrade `SelectMenu` to use `Downshift` and standardize interfaces among `Autocompl

[2018-10-19 07:52] prateekgoel commented on #371
@jeroenransijn So let me change it to dark and submit a PR.

[2018-10-19 13:14] theocousin opened #383 "[DOCS] Table demo sorting is broken"
Hey there,
Thanks for all the work you're doing even if I havent actually used evergreen.
Just wanted to point out a bug, or well not sure if it a bug.
You guys display `All components are presentational, no sorting build in.`
But here https://evergreen.segment.com/components/table/ in the first table demo the headers contain arrows like if it was actually possible to sort.
But once I click on one

[2018-10-19 18:56] jeroenransijn commented on #383
Thanks for reporting this! it's related to some issues around `Array.from` being accidentally changed to a spread operator by the linter on a pre-commit hook. Getting a fix in soon.

[2018-10-19 18:57] jeroenransijn commented on #379
@vadimdemedes follow along theming on the new `v5-create-theme` branch!

[2018-10-19 20:28] jeroenransijn commented on #295
Hi @acarl005 thanks for contributing! `Manager` was only used internally for creating stories. v4 now uses `@reactions/component` as much as possible.

[2018-10-19 20:28] #295 closed

[2018-10-19 20:29] jeroenransijn commented on #297
Thanks for raising this issue, since v4 offers the `intent` prop I will be closing this.

[2018-10-19 20:29] #297 closed

[2018-10-19 20:29] jeroenransijn commented on #298
v4 docs are live: https://evergreen.segment.com/

[2018-10-19 20:29] #298 closed

[2018-10-19 20:30] jeroenransijn commented on #327
Thanks for pointing this out! This has been fixed in the new v4 docs: https://evergreen.segment.com/

[2018-10-19 20:30] #327 closed

[2018-10-19 20:32] #371 closed

[2018-10-20 05:01] prateekgoel commented on #180
This issue can be closed now @jeroenransijn

[2018-10-20 05:26] prateekgoel opened #386 "Remove deprecated React lifecycle methods"
While going through the codebase, it came to my notice that we are using React lifecycle methods that will be deprecated soon by React team and will no longer be supported in future. i.e. `componentWillMount`,
`componentWillRecieveProps` and `componentWillUpdate`

Are there any plans to switch to new lifecycle methods or other alternatives?
I would like to contribute to this.

[2018-10-20 18:46] mshwery commented on #386
I think we may need to make considerations for our React version support before deciding on how to handle deprecated lifecycle methods.

Given that our target is `react@^16.3.0` I think we could safely migrate to `static getDerivedStateFromProps` and use `componentDidMount` or `componentDidUpdate` in other cases.

Thoughts @jeroenransijn ?

[2018-10-21 06:25] andrwh opened #388 "Handling enter keys within Text Inputs"
Hey Evergreen 👋,

Love the new approach this library is taking.

I wanted to request a feature/improvement.

I usually wrap my inputs with a `<form onSubmit>` to listen for enter keys within the inputs, but I don't think this is working with the TextInputs.

Basic code:
[code]

Currently, my workaround is attaching an `onKeyPress` handler for each input and watching for `e.keyCode || e.which === 1

[2018-10-21 17:01] nettofarah commented on #388
Hey, @andrwh
That doesn’t sound right to me 🤔

What happens if you replace `<form ...>` with: `<Pane is=“form” onSubmit={...} ...>`?

Feel free to create a script with codesandbox.io or repl.it so we can try to help you debug the issue if it persists

[2018-10-21 18:15] andrwh commented on #388
Ah, seems like it working just fine.  Sorry for the misreport!

https://codesandbox.io/s/1vq81rmr3l

[2018-10-21 18:17] andrwh commented on #388
Actually, it doesn't seem to work with multiple inputs

https://codesandbox.io/s/1vq81rmr3l

[2018-10-21 18:19] andrwh commented on #388
Ah, I think it's because `TextInputField` composes its own `FormField`

In some cases the FormField is already combined in components such as TextInputField and SelectField.

[2018-10-21 19:44] andrwh opened #389 "Menu examples are broken"
https://evergreen.segment.com/components/menu/

[2018-10-22 06:36] prateekgoel commented on #389
Also, https://evergreen.segment.com/components/table is broken with the same error.
I believe this is due to the change here https://github.com/segmentio/evergreen/commit/a1f477ce547b57ff1b2634e5550a751468c40b93

[2018-10-22 09:50] fraindz commented on #389
I can work on this.

[2018-10-22 10:13] fraindz commented on #389
Already fixed under #370

[2018-10-22 17:46] jeroenransijn commented on #328
@ITforHome closing this since it seems you resolved your issue :)

[2018-10-22 17:46] #328 closed

[2018-10-22 18:28] prateekgoel commented on #386
@jeroenransijn Let me know if I can be helpful in this.

[2018-10-22 18:29] bobberkarl opened #391 "Cannot bring autocomplete to front"
I added the autocomplete to a modal on my page, but it's displaying behind my modal. is there a way to change the <div evergreen-portal-container> location?

[2018-10-22 18:49] #389 closed

[2018-10-22 20:22] jeroenransijn commented on #391
Thanks for your issue. How is the modal dialog being rendered? Is that a Evergreen dialog?

[2018-10-22 21:05] mohammedzamakhan opened #393 "Menu Documentation: Menu.Group not working"
<img width="868" alt="screen shot 2018-10-22 at 3 57 44 pm" src="https://user-images.githubusercontent.com/2327532/47319460-5a735d00-d614-11e8-9e80-bf511d4e9d54.png">

[2018-10-22 21:10] jeroenransijn commented on #386
@prateekgoel be my guest if you want to take a stab at it.

These 4 files need to be updated to `static getDerivedStateFromProps`:

![image](https://user-images.githubusercontent.com/564463/47319639-0c565d80-d604-11e8-93e7-ac8051090b92.png)

`componentWillUpdate` is used once in `ScrollbarSize.js`

[2018-10-22 21:11] jeroenransijn commented on #383
This is fixed locally, just waiting on GitHub to get back at publishing `gh-pages` for us: https://status.github.com/messages

[2018-10-22 21:11] #357 closed

[2018-10-22 21:14] jeroenransijn commented on #326
@jbwhitcombe could you provide an example of your setup? I just tested this and it seems to be working?

![dialog cancel](https://user-images.githubusercontent.com/564463/47319865-ad451880-d604-11e8-9e14-02b2227f96f9.gif)

[2018-10-22 21:14] jeroenransijn commented on #322
I am doing manual releases now!

[2018-10-22 21:14] #322 closed

[2018-10-22 21:20] #243 closed

[2018-10-22 21:28] jeroenransijn commented on #319
Hi @orkideh! Since I don't have access to Windows atm, could you provide some context around the current dev experience and hurdles you are still running into?

[2018-10-22 21:29] #120 closed

[2018-10-22 21:30] #175 closed

[2018-10-22 22:31] jeroenransijn opened #394 "Support function children for Tooltip"
Similar to `Popover`, Tooltip should support a function as children to support custom use cases such as with react router links.

[2018-10-22 22:55] jeroenransijn commented on #368
The `appearance` is different in that context. However we do need to remove the system default.

![image](https://user-images.githubusercontent.com/564463/47323948-c9e84d00-d612-11e8-9f7f-c3a501aa0229.png)

[2018-10-23 03:07] zheeeng commented on #300
Plz consider reopen this issue. Evergreen's UI looks beautiful very much, the only reason blocks me using it is the missing of type definitions.

[2018-10-23 04:16] prateekgoel commented on #386
Sure @jeroenransijn :) I will start working on this today. Thank you.

[2018-10-23 13:46] isergey opened #396 "Need a table with infinite scrolling as in ExtJs"
It will be a killer feature, not only for ExtJS, but for other ui libraries.

Necessary features:

- resize columns;
- moving columns;
- scrolling with pagination;
- infinite scrolling;
- fixed row height;

Link for example:
https://examples.sencha.com/ExtReact/6.6.0/kitchensink/#/grids/core_features/basic_grid

Thanks a lot!

[2018-10-23 15:22] kvinodhkumar87 opened #397 "Font size in Table"
How can we change the font size in the Table component?

[2018-10-24 10:13] LukaszGrela opened #398 "Extra div wrapper in Combobox prevents full width to work"
- Issue and steps to reproduce.

  - Insert `Pane` and inside add a `Combobox`
  - Set `width="100%"` on the `Combobox`
 - or set `flexGrow={1}` on the `Combobox`

e.g.

[code]

which renders as:
[code]
- Versions.
[code]

- Expected.
Combobox to take full available width, flex item properties applied to `Combobox` to work.

- Actual.
Combobox takes full width of the intermediary empty div that it

[2018-10-24 20:02] coreybruyere commented on #368
Ah I see, didn't look into styles all that much. Where are those styles be called from (appearance)?

[2018-10-24 20:43] mshwery commented on #368
BTW I think I have a fix for this in my PR... #399

[2018-10-24 20:56] jbwhitcombe commented on #326
Can confirm, I was secretly running 3.6.7. My apologies, it does work!

[2018-10-24 21:35] jeroenransijn commented on #368
@mshwery fixed in his PR 👍

[2018-10-25 05:33] atombender opened #406 "Autocomplete uses item string as key"
If you create an `Autocomplete` with items that have identical "item strings", then you will get a React warning about duplicate keys, because the component simply uses the string as the key:

https://github.com/segmentio/evergreen/blob/abce343d186f371322cbf8de34199bd3f58c290b/src/autocomplete/src/Autocomplete.js#L162

This seems naive. There are situations where two items may have the same string

[2018-10-25 05:58] atombender opened #407 "Autocomplete renderItem prop does not support arbitrary rendering"
Consider this:

[code]

Let's say we want to render a banana icon next to bananas by checking the `id` against an icon list. `Autocomplete` does support a `renderItem` prop, but it only receives baked props that look like this:

[code]

There's no item here — all you get is the string returned by the `itemToString` function.  From what I can tell, there's no way to provide a custom rendering here

[2018-10-25 09:51] churcho opened #408 "createAppearance() only accepts whitelisted properties, key 'WebkitAppearance' is not whitelisted in whitelist:"
I am getting the error in my codebase. I have just included this into an already existing UI application since I want to only use bits and pieces of it. Is that possible or it needs a complete buy in? The page I am using it on has pieces of `reactstrap` UI as well. Could this be the cause?

[2018-10-25 10:12] Idered commented on #300
This is heavy based on [segmentio/ui-box](https://github.com/segmentio/ui-box) so I would start with adding typescript there

[2018-10-25 11:29] mshwery commented on #408
Resolved by https://github.com/segmentio/evergreen/pull/405

[2018-10-25 23:16] #408 closed

[2018-10-25 23:17] jeroenransijn commented on #398
Thanks for providing such as detailed issue! I will look into it.

[2018-10-29 11:49] aliakakis opened #409 "Create MatchMedia component for supporting responsive layouts."
By using the Windows objects [Match media](https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia) you could hide/show specific components based on media queries.

For example:
[code]
Where "sm", "md" would be props as follows e.g. sm = window.matchMedia("(min-width: 768px)").matches.

The user could pass an object with custom media queries checks but will have to provide the new media

[2018-10-31 09:23] orkideh commented on #319
@jeroenransijn That was just those two point. the rest is the same.

[2018-10-31 09:23] #319 closed

[2018-10-31 19:47] jeroenransijn commented on #409
I used [react-component-queries](https://github.com/ctrlplusb/react-component-queries#readme) that pretty well for me. Not sure if this is something we will add to Evergreen.

[2018-10-31 19:47] jeroenransijn commented on #406
Thanks for reporting @atombender !

[2018-10-31 19:48] jeroenransijn commented on #397
Thanks for your issue @kvinodhkumar87.  You will have to control text size on the `Table.TextCell`:

[code]

[2018-10-31 19:48] jeroenransijn commented on #397
I am closing this for now, let me know if you have any more questions!

[2018-10-31 19:48] #397 closed

[2018-11-01 05:31] vadimdemedes commented on #292
I took a look at this and the reason is that if any `<Button>` is disabled, it's an expected behavior for it to not trigger any events, not even mouseenter/mouseleave.

[2018-11-01 06:50] prateekgoel commented on #386
Seems like someone submitted a PR!

[2018-11-01 07:53] 7c78 opened #417 "[v4] Popover spills out of viewport"
First, thank for awesome work!

**Problems**

The following snippet of `Positioner` component cause Popover to spill out of viewport.

[code]

See the picture I capture from [https://evergreen.segment.com/components/popover](https://evergreen.segment.com/components/popover).

![issue](https://user-images.githubusercontent.com/42330300/47839540-a462fc80-dde5-11e8-8c96-6a1bec701eb6.PNG)

[2018-11-01 09:33] 7c78 commented on #417
In `getPosition.js`, can

[code]
be changed to

[code]
I'm just curious.

[2018-11-01 12:19] tiyee opened #418 "Maybe the Pagination component is needed"
as the title said ~

[2018-11-01 15:13] mshwery commented on #418
Hey @tiyee ! Can you elaborate on what your use case is? What type of pagination? How would you envision consuming it?

We've definitely thought about whether this belongs in Evergreen, or not. Interested in hearing your thoughts!

[2018-11-01 21:41] jeroenransijn commented on #417
@7c78 could you screenshot the entire screen? I am curious if there was enough space at the top.

[2018-11-01 21:44] jeroenransijn commented on #407
@atombender thanks for creating the issue! This seems like an interesting proposal. There are a ton of things about Autocomplete and SelectMenu that I would love to improve and change, but haven't had the found the time for it yet. Feel free to take a stab at it if you want.

[2018-11-02 00:39] 7c78 commented on #417
@jeroenransijn  It is enough space at top.

![Uploading issue.PNG…]()

[2018-11-02 00:41] 7c78 commented on #417
@jeroenransijn  It is enough space at the top.

![issue](https://user-images.githubusercontent.com/42330300/47887574-c35ba000-de72-11e8-8ea2-57a616fa1e62.PNG)

[2018-11-02 05:48] tiyee commented on #418
it is a standard component of data-view page.for example, in your blog article list page,it can not show all the articles in one page,so you need pagination.

How to design ? maybe could learn from others' practices ,like [ant.design/components/pagination/](https://ant.design/components/pagination/)

[2018-11-02 13:10] aliakakis commented on #409
Something simpler actually :) Below I have written something simpler.

[code]

[code]

[2018-11-02 13:56] ludviglundgren opened #421 "Dialog from menu button closes dialog on click inside"
Hello! Nice set of components!

I have a menu with a button that triggers a dialog. The trigger works as expected but when I click inside the dialog everything closes.

Version: 4.3.0

https://codesandbox.io/s/llr11q8qll

Code from stories/docs examples.

Tested with both Chrome and Firefox but I suppose it's not browser related but rather how the clicks are handled.

Any solutions to this or does

[2018-11-02 14:57] ludviglundgren commented on #421
Okay, so I tried that, but don't really know if it's exactly how you meant. But it's the same result..

@mshwery could you take a look maybe? https://codesandbox.io/s/q9n86z8o66

Some other solution? Or use another component which does not use portals..?

[2018-11-02 15:07] mshwery commented on #421
Hm, no that's exactly what I was thinking of. This looks like a bug (nice find!).

The menu is closing and puts focus back to the initial activeElement because it's listening for clicks outside. Does this sound right to you @jeroenransijn ?

[2018-11-03 20:15] gkemp94 opened #429 "create-package scripts don't execute node scripts on windows"
This might be a windows specific issue, but running yarn create-package etc. doesn't do anything unless I edit the package and add node before the script file in question.

[code]

Version: Master Branch
Operating System: Windows 10, Yarn 1.12, Node 8.11.2

[2018-11-05 22:53] jeroenransijn commented on #409
@aliakakis yeah this looks great! Have you considered making this a standalone package?

[2018-11-05 22:56] jeroenransijn commented on #429
Thanks for posting your issue! I am not quite sure what would be required to make this work for Windows. `#!/usr/bin/env node` is present at the top of the file—do you know what is required to make this work on Windows?

[2018-11-05 22:58] jeroenransijn commented on #417
Yeah that is weird, this used to work differently/correctly. I think there is a PR that got in recently that might have accidentally changed this. Do you think you could put in a PR for this?

[2018-11-05 23:42] aliakakis commented on #409
@jeroenransijn Thank you. I have considered it including it with my other package [react-templates-components](https://www.npmjs.com/package/react-templates-components) but it is very small therefore a gist would be best. Feel free to use it :-)

[2018-11-06 00:43] lndgalante opened #431 "Change placeholder in SelectMenu search input"
Is there a way or prop to modify the placeholder from the search input?

<img width="229" alt="captura de pantalla 2018-11-05 a la s 21 41 57" src="https://user-images.githubusercontent.com/2475912/48035640-af01f680-e143-11e8-84c2-526c37283466.png">

[2018-11-06 09:03] 7c78 commented on #417
I am very willing!

[2018-11-06 10:31] 7c78 commented on #417
@jeroenransijn I have submitted a PR

Btw, I think `getPosition.js` is using a wrong formula to calculate `spaceBottom` and `spaceTop`. Please take a look at the attached picture.

What do you think?
![b](https://user-images.githubusercontent.com/42330300/48058689-9c41fd00-e1e9-11e8-8a33-0b05f0918091.png)

[2018-11-07 11:10] ludviglundgren commented on #421
Have you had a chance to look at it @jeroenransijn ?

[2018-11-07 15:03] mshwery commented on #431
I don't think there's a prop exposing that right now, but that's a great idea. I think we may want to allow consumers to modify any props via something like a `filterProps` prop. What do you think? Wanna take a stab at a PR @lndgalante ?

[2018-11-07 16:59] SpartanPlume opened #433 "The button of FilePicker submits forms"
**Issue:** If a `<FilePicker>` is in a `<form>`, the button of the `FilePicker` will submit the form
**Steps to reproduce:** Having a `<FilePicker>` in a `<form>` and click on the button of the `FilePicker`
**Version:** 4.3.0
**Browser name and version:** Firefox 63.0.1/ Google Chrome 70.0.3538.77
**Operating system:** Windows 10

**Link to project:** https://github.com/SpartanPlume/evergreen-mini

[2018-11-08 12:56] kcjpop opened #434 "Allow passing props for content container in Dialog"
My specific use case is that I need to make a dialog as shown below.

![image](https://user-images.githubusercontent.com/172503/48199703-a25ce880-e365-11e8-846a-13499b2031f5.png)

Yet at the moment Dialog has a 16px padding by default, so I wonder if we can introduce a new prop `contentContainerProps` to make it easier to customize? The change could be:

[code]

Then as a user,

[code]

[2018-11-08 18:22] Winni- opened #435 "Ghost buttons dont exist"
Version: 4.3.0
Buttons have no "ghost" and 'ghostBlue" appearance.
code:
![image](https://user-images.githubusercontent.com/3993929/48218995-54afa280-e39c-11e8-9563-06ebda381175.png)
result:
![image](https://user-images.githubusercontent.com/3993929/48219004-5d07dd80-e39c-11e8-9135-fa9e15b9da25.png)
console:
![image](https://user-images.githubusercontent.com/3993929/48218982-4b263a80-e39c-11e8-9d2

[2018-11-08 18:38] mshwery commented on #435
Use `appearance="minimal"`

`ghost` was removed in v4.

[2018-11-08 18:49] jeroenransijn commented on #435
Take a look at #200 for more information on migrating components.

[2018-11-08 18:49] #435 closed

[2018-11-08 18:51] jeroenransijn commented on #434
I love seeing how you used Evergreen for your project! This sounds reasonable, any chance you create a PR for this?

[2018-11-08 18:52] jeroenransijn commented on #431
@mshwery yeah `filterProps` would be inline with what we do elsewhere.

[2018-11-08 18:53] jeroenransijn commented on #433
Great issue description! Looping @Rowno in for any ideas since he authored the component.

[2018-11-08 18:54] jeroenransijn commented on #409
Awesome, that is useful! This looks great, since we won't add this to Evergreen right now I will close this issue.

[2018-11-08 18:54] #409 closed

[2018-11-08 18:55] #398 closed

[2018-11-08 18:56] jeroenransijn commented on #185
Closing this since the issue has been resolved!

[2018-11-08 18:56] #185 closed

[2018-11-08 18:59] Rowno commented on #433
Looks like we just need to add `type="button"` here: https://github.com/segmentio/evergreen/blob/b4402881a463a0e1a29346b8d65311454c6830ad/src/file-picker/src/FilePicker.js#L125

[2018-11-08 20:52] kcjpop commented on #434
Evergreen is the soundest UI framework I have seen so far. Just so much in love with compiled atomic CSS classes and UI box primitives :smile:

Definitely. I will submit a PR soon :wink:

[2018-11-08 21:38] jeroenransijn commented on #174
https://github.com/segmentio/evergreen/releases/tag/v4.4.0

[2018-11-08 21:38] #174 closed

[2018-11-09 07:39] J-F-Liu opened #437 "Add List component"
Suggest change `<UnorderedList />` to `<List />`, and `<OrderedList />` to `<List ordered />`.

[2018-11-09 09:01] kcjpop commented on #433
I think to make `type="button"` by default in `<Button>` would be a better solution, as it prevents this unexpected behavior in all other components using `Button` internally.

[2018-11-09 16:10] mshwery commented on #433
@kcjpop while I agree with that default, it's technically a breaking change. Some consumers may actually rely on the current behavior to submit their forms.

Adding it to just the filepicker button would be a safe and simple alternative.

[2018-11-09 18:10] lndgalante commented on #431
Sure I will give it a try! @mshwery

[2018-11-10 06:33] kcjpop commented on #433
@mshwery I see your point :+1: Any chance this new behavior could be in the next major version?

[2018-11-11 19:48] lndgalante opened #440 "Search Input label prop"
Should this component be able to have a `label` prop ? Like the TextInputField?

[2018-11-13 04:57] mshwery commented on #440
Hey @lndgalante !

I don't think `SearchInput` itself should have one. But you have identified a missing component: `SearchInputField` :)

I think we are missing a few, but most of the form input components come along with a more enhanced version called `*Field`. These components are wrappers around the main input component to provide things like labels, error messaging, input descriptions, hint t

[2018-11-13 21:29] #433 closed

[2018-11-13 22:44] lndgalante commented on #440
Great thanks for the info @mshwery @jeroenransijn 👍

[2018-11-13 22:44] #440 closed

[2018-11-13 22:48] #434 closed

[2018-11-14 18:42] vadimdemedes commented on #437
@J-F-Liu What benefits would this change have?

[2018-11-14 18:44] vadimdemedes commented on #431
I think we shouldn't expose `filterProps` and allow overriding any props here. That strategy will lead to a state where we will have no idea if our changes break someone else's UI, since they can override anything. Minor release can become a breaking release for some users.

Since this is a valid feature request and exposing `filterProps`, in my opinion, is too much for such a simple change, I wou

[2018-11-15 04:20] J-F-Liu commented on #437
Easier to read and write, and to toggle a list is ordered or unordered.

[2018-11-15 20:42] vadimdemedes commented on #437
I don't see how is it easier to read and write, it's just two different names. I would actually argue that `<List>` is worse, because without looking at documentation, how do you know if this `<List>` is ordered or unordered?

That sounds like a unique case, to be honest. When would you need to change the type of the same list between ordered and unordered?

[2018-11-16 02:42] J-F-Liu commented on #437
List is a higher level of abstraction, we usually don't care so much about whether it is ordered or unordered, so List is fine and can distinguished by look at the ordered prop. The only concern is breaking change which can be avoided by still keep UnorderedList and OrderedList.

This is only my personal opinion, you are free to close this issue or accept it.

[2018-11-16 03:20] vadimdemedes commented on #437
Sorry, I don't think there are enough benefits to make this breaking change.

[2018-11-16 03:20] #437 closed

[2018-11-16 04:15] mshwery commented on #437
@J-F-Liu for the time being you could easily add a wrapping component that achieves what you want:

[code]

[2018-11-16 15:34] giocodes opened #447 "Combobox breaks when input is blank"
Great job on the library! I really like the approach and decision you've made. 👍
Here's something I found while using the combobox.

- Issue
Combobox breaks when the input is cleared.

- Steps to reproduce
1. Go to https://evergreen.segment.com/components/combobox
2. Scroll to the section "Custom items and default selected item"
3. Select the text on the input and delete it

- Versions
"evergreen-

[2018-11-16 15:49] kcjpop commented on #447
I think it's due to that particular snippet, where `itemToString` doesn't handle the case of empty selected item well. A working demo: https://codesandbox.io/s/l5jr9mq3y7

[2018-11-16 17:07] vadimdemedes commented on #447
@giocodes Thanks for reporting, we'll look into it!

[2018-11-17 00:00] atombender opened #449 "IconButton is not inline"
`IconButton` ends up with `dspl_flex`, which makes it a block element, whereas `Button` has `dspl_inline-flex `.

This is inconsistent, and means every `IconButton` needs to be wrapped in a `<span style="display: inline-block">` or similar in order to be used inline.

[2018-11-17 00:05] mshwery commented on #449
@atombender note: you can simply add `display="inline-flex"` directly to the `IconButton` for now.

[2018-11-17 00:08] atombender commented on #449
Thanks! Where is the documentation for that?

[2018-11-17 00:11] mshwery commented on #449
https://evergreen.segment.com/components/button

Anything that says

will benefit from all the same styling props that `ui-box` provides.

[2018-11-17 00:13] atombender commented on #449
Right, but there's no link that in the documentation. You might want to link [here](https://github.com/segmentio/ui-box) and ideally integrate that into the documentation.

[2018-11-17 00:18] mshwery commented on #449
You're right – each spot that has that comment could link out. We do cover it a bit in the Intro: https://evergreen.segment.com/get-started/introduction

[2018-11-17 15:20] 7c78 opened #450 "Combobox does not scroll to selected item"
Steps to reproduce:

1. Select an item from combobox.
2. Open combobox by click toggle button.

See the attachment! Do you need a PR?

![bug](https://user-images.githubusercontent.com/42330300/48662567-52dd9180-eab6-11e8-975f-0ef256a0bae1.gif)

[2018-11-17 23:31] karltaylor opened #451 "Combobox throws warning for <Table.Row> onClick / onSelect"
Receiving this warning when I added a `Combobox`.

[code]
`Warning: <Table.Row> expects 'onSelect' prop, but you passed 'onClick'.`

Using: `"evergreen-ui": "^4.7.1"`

[2018-11-18 11:01] 7c78 opened #452 "Popover does not bring focus back to target"
1. Go to [https://evergreen.segment.com/components/popover](https://evergreen.segment.com/components/popover)
1. Trigger a popover by clicking a button
1. Click at background to close popover

Expect: Focus is brought back to button.
Actual: Focus is not brought back to button.

P/S: I clone the lastest code and it works as expected, but the popover in above page doesn't.  I am curious which is be

[2018-11-19 02:04] lndgalante commented on #431
Great I also believe a `filterPlaceholder` it's a better option in this case.

[2018-11-19 18:36] mshwery commented on #451
Hm, yeah – this happens because `Combobox` is using `Table.Row` under the hood. I think we may need to remove that warning since it doesn't necessarily make sense for all consumers (especially internal consumers).

@vadimdemedes what do you think? I don't have the full context of why that warning was added.

[2018-11-19 18:38] mshwery commented on #452
Interesting find. I noticed that using the escape key to close the menu _does_ properly bring focus back to the button.

[2018-11-19 18:41] mshwery commented on #450
This sounds like a nice feature to add! Thanks for the suggestion @7c78, and yes – PRs are definitely welcome!! 👍

[2018-11-19 21:25] ericclemmons opened #454 "Link should not change font-size"
As shown below, the `<Link>` element changes the `font-size` of the text, even though it's within a `<Heading>` element.

When using a project like `mdx-js`, consistent theming relies on all `a` tags using `Link` instead, which makes this not a valid option.

See: https://codesandbox.io/s/32xnk54ov1

[2018-11-19 21:42] mshwery commented on #454
Evergreen doesn't currently support _cascading props_ like this. I think it would be an interesting addition, but it would also conflict with the way style props are bound.

Typically, in an example like yours, you'd have to specify the link `size` prop to match your heading's `size`.

[2018-11-23 18:45] agusnavce opened #455 "Text in button can't be centered"
If i have a `button` that is larger than the average, i would expect to be able to center the text of the button with a property like `align-items`. But this is not the current behavior.

It's is possible to include this feature, to align the text in a button. Maybe i'm not aware of a property for this or i am using it wrong. But it would be cool to have this.

[2018-11-23 22:39] mshwery commented on #455
`justifyContent="center"`

Buttons are flex containers by default, but you can change that as well: `display="inline-block"` (or any other valid display value).

[2018-11-24 00:44] rejifald commented on #379
I'd like suggest:
- Datepicker
- Grid system
- Pagination
- Divider
- Hero in Bulma or Jumbotron on Bootstrap (with full-height version)
- Progress
- Tree view

[2018-11-25 11:02] andrwh opened #456 "SelectMenu close on click"
Would love the ability to close the SelectMenu when an option is clicked

[2018-11-27 02:40] ncammarata opened #457 "Table Documentation: SearchHeaderCell takes incorrect arguments"
Hi Evergreen Team,

It looks like the props in this example need to be updated [here](https://evergreen.segment.com/components/table/). Instead of taking the event, it looks like onChange takes the new textbox value.

![image](https://user-images.githubusercontent.com/204989/49054894-a896f580-f1aa-11e8-98be-acf73cdb01b6.png)

Thanks!

[2018-11-27 19:42] epitaphmike commented on #311
I may be missing something, but the only way I was able to get the bundle size own in `v4` was to import the components like this: `import Pane from 'evergreen-ui/esm/layers';`.

<img width="734" alt="screen shot 2018-11-27 at 2 39 44 pm" src="https://user-images.githubusercontent.com/677832/49106886-5c06f500-f252-11e8-991d-10d82cda4a8d.png">
<img width="567" alt="screen shot 2018-11-27 at 2 40 44

[2018-11-27 20:59] epitaphmike opened #458 "Large bundle size with webpack v4"
I may be missing something, but the only way I was able to get the bundle size own in `v4` was to import the components like this: `import Pane from 'evergreen-ui/esm/layers';`.

Also, why is @blueprintjs a dependency, I am not using it at all in the components I am importing and it is still a part of my bundle.

<img width="734" alt="screen shot 2018-11-27 at 2 39 44 pm" src="https://user-images.

[2018-11-27 21:50] dericgw commented on #458
@epitaphmike Can you paste the Webpack output for a build when importing the components the "normal" way and also the output when using the `esm` modules? I trust the Webpack output more than the VS Code Import Cost extension.

As far as the `@blueprint` dependencies, you can see [here](https://github.com/segmentio/evergreen/blob/master/package.json#L43) that this project uses the Blueprint icons.

[2018-11-27 21:54] mshwery commented on #458
For the icons, we may need to fork `@blueprint` because [it doesn't seem like they are investing in tree-shaking support any time soon](https://github.com/palantir/blueprint/pull/2356).

As for the rest of evergreen, it should be tree-shakable. @dericgw is right – the webpack output will be the best way to diagnose your bundle size issues.

[2018-11-28 05:02] vko-online opened #459 "Any Plans to port to React-Native?"
Looks gorgeous, and simply clean, would like to use in mobile apps

[2018-11-28 09:01] Rowno commented on #311
I don't think the VS Code Import Cost plugin does tree shaking, it just traces all the files imported from the file you imported. To see the real tree shaken size you should use the [webpack-bundle-analyzer](https://github.com/webpack-contrib/webpack-bundle-analyzer).

As for the icons size issue, I'm currently working on tree shaking support for the icons. In Evergreen v5 you'll import individual

[2018-11-28 09:04] Rowno commented on #458
Cross posting from #311:

I don't think the VS Code Import Cost plugin does tree shaking, it just traces all the files imported from the file you imported. To see the real tree shaken size you should use the [webpack-bundle-analyzer](https://github.com/webpack-contrib/webpack-bundle-analyzer).

As for the icons size issue, I'm currently working on tree shaking support for the icons. In Evergreen v

[2018-11-28 15:46] epitaphmike commented on #458
@Rowno Attached is a screenshot of the evergreen-ui bundle from the webpack-bundle-analyzer

I am using evergreen in 3 files with the following imports.
`import { Popover, Pane, Switch, Text, Button, Select } from 'evergreen-ui';`
`import { Pane, Dialog, Text } from 'evergreen-ui';`
`import { toaster } from 'evergreen-ui';`

<img width="664" alt="screen shot 2018-11-28 at 10 40 51 am" src="https:/

[2018-11-28 15:50] epitaphmike commented on #458
This is the bundle with individual imports
eg.
[code]
<img width="573" alt="screen shot 2018-11-28 at 10 48 48 am" src="https://user-images.githubusercontent.com/677832/49163550-52859780-f2fb-11e8-94b2-ad333196be31.png">

[2018-11-28 18:33] alqahtani opened #460 "Adding custom font family"
Hello,

Thank you for the amazing work!

I just started using Evergreen on a project for a customer and the project will be in Arabic and in the Designs we agreed on using [Cairo Google Font](https://fonts.google.com/specimen/Cairo) but I can't get it to work with the kit.

Any help

[2018-11-28 20:02] Rowno commented on #458
I'm created this reduced test case that proves that Webpack's tree shaking works on Evergreen. I would make sure that you're using Webpack 4 and that it's running in production mode. Obviously the icons still need to be made tree shakable though.

https://github.com/Rowno/evergreen-tree-shaking

![image](https://user-images.githubusercontent.com/605501/49178513-c8423100-f304-11e8-9988-1f8f500eb2d4

[2018-11-28 20:08] epitaphmike commented on #458
@Rowno I appreciate your assistance on this and your repo. Unless something is not configured properly on my end I am not understanding why my builds aren't the same as yours. I'll chip away at this a bit more and post my results. Thanks again for your help.

[2018-11-28 20:11] Rowno commented on #458
I noticed that Webpack doesn't tree shake in development mode if that helps.

[2018-11-28 22:01] epitaphmike commented on #458
I have found the issue. I forked the repo and added React to make this a more real life example.

This is the fork with the `master` branch just adding `babel-preset-react`
https://github.com/epitaphmike/evergreen-tree-shaking/tree/master
`presets: ['react']`

This is the fork with the `with-preset-env` branch adding `babel-preset-react` and `babel-preset-env`
https://github.com/epitaphmike/evergr

[2018-11-28 23:16] epitaphmike commented on #458
I am at a total loss..... But from the looks of it, it is not an evergreen-ui issue. Thanks for the help

<img width="1081" alt="screen shot 2018-11-28 at 6 14 02 pm" src="https://user-images.githubusercontent.com/677832/49188665-95666000-f339-11e8-9023-deb5fe64eacc.png">

[2018-11-28 23:42] epitaphmike commented on #458
I almost gave up.....
But for anyone who comes across this in the future,

Make sure you don't have a `.babelrc` file overwriting your webpack config.

The `.babelrc` file had no `{ modules: false }`

[code]

[2018-11-28 23:42] #458 closed

[2018-11-29 16:21] alampros opened #462 "Alert titles are always h4"
Accessibility best practices are to maintain an ordinal hierarchy of semantic heading tags, however, there is currently no means to override the `is="h4"` prop on the `Alert` component's `Heading`:

https://github.com/segmentio/evergreen/blob/e33d0f03394fac0c4bcc38fa90e77d1ea663d047/src/alert/src/Alert.js#L131-L137

## Possible solutions
1. Accept a `titleProps` prop to spread onto the `Heading`
1

[2018-11-29 17:47] agusnavce commented on #455
Thanks for the response.

[2018-11-29 17:47] #455 closed

[2018-12-02 17:00] adrianwix commented on #154
Hi, how would this work for React-Static?

[2018-12-07 08:39] arobert93 opened #463 "Popover uses deprecated "innerRef""
Hi there,

I've been trying to use your "**Popover**" component and it seems to work as expected with the "**Button**" component from your library, but when I tried  my own button component, I get an error:

`styled-components.browser.esm.js:1969 The "innerRef" API has been removed in styled-components v4 in favor of React 16 ref forwarding, use "ref" instead like a typical component.`

I also tri

[2018-12-07 16:34] chrisvxd opened #464 "SelectField isInvalid not treated as boolean"
The `<SelectField />` component has a property `isInvalid`, which should be treated as a boolean (as with the `<TextInputField />` component).

It seems the component is checking for presence of the property, rather than it's value.

## What I did

Set `isInvalid={false}` on the `<SelectField />` component:

[code]

## What I expected to happen

The component to render with a _valid_ state (and no

[2018-12-07 17:30] mshwery commented on #464
Nice catch @chrisvxd !

Would you be open to submitting a PR to tackle this? Looks like a fairly minor tweak from here.

[2018-12-07 18:41] chrisvxd commented on #464
Sure thing, once I get a second - will try to look into it early next week.
On 7 Dec 2018, 17:30 +0000, Matt Shwery <notifications@github.com>, wrote:

[2018-12-11 20:35] ITforHome opened #465 "Support for Adobe XD?"
On you website, i have seen the new section FOR DESIGNER - really great, but i am working with Adobe XD and not with Sketch... Please add Support for Adobe XD, an also great tool for UI/UX-Experience

Many Thanks

[2018-12-12 15:35] ahtik commented on #465
@ITforHome have you tried to open the evergreen .sketch in Adobe XD?

Adobe XD does have the Sketch file support and "Evergreen Community v4.sketch" opens alright for me, at first sight don't see anything wrong with it.

[2018-12-12 17:14] mshwery commented on #465
AFAIK we don't have any immediate plans for Adobe XD files, but we'll take it into consideration for the roadmap with the design team.

[2018-12-16 21:42] volkanunsal opened #466 "Invariant Violation in Jest test for RadioGroup"
Hello,

I've been using evergreen's RadioGroup component in my app. It works fine in the browser, but when I'm testing it in Jest, the test runner complains and fails with this error:

[code]
My component looks like this:

[code]
Does anyone know what might be going on? It looks like `ui-box` is passing an object to `React.createElement` instead of a string or a function.

[2018-12-27 11:17] balupton commented on #300
For the risk of being another +1, I just wanted to add in my support for this.

I deal with react a few months each year, and seems the best UI frameworks right now for React are:

- Segment's Evergreen
- Palantir's Blueprint (typescript)
- Ant (typescript)
- Shopify's Polaris (typescript)

After comparing their modal dialog solutions, seems order of easiest to hardest are:

1. https://evergreen.s

[2018-12-28 03:36] balupton commented on #300
UI Box seems similar to https://github.com/jsxstyle/jsxstyle which is typescript, so perhaps that can be a start

[2018-12-28 16:36] mshwery commented on #300
Reopening as we explore paths towards TypeScript support. Some initial work has begun in ui-box which will be foundational for adding support in evergreen. 😊

[2018-12-28 20:56] #261 closed

[2018-12-28 21:43] nettofarah commented on #300
Here's a PR with type definitions for ui-box: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31750

I'm suspecting add type defs for evergreen will take a lot more work, so I was hoping we could take kind of a crowdsourced approach.

How do y'all want to go about adding EG types?

[2019-01-04 04:15] indrabinridwan opened #469 "How to remove warning: "ui-box deprecation..""
this warning always show on console.
[code]

[2019-01-04 16:01] mshwery commented on #469
Migrate off the `css` prop in `ui-box` or `evergreen-ui` to get rid of that warning. There might be some evergreen components that use it, too, which would have to be migrated off of the `css` prop as well.

[2019-01-06 03:30] kvinodhkumar87 opened #470 "Button color on hover"
When I'm using Button component, I'm changing the background color. But on hover it is giving the default color. How do we solve this?

[2019-01-08 23:22] notfelineit opened #472 "Low Contrast Between Disabled and Regular Text"
Just a nit: the contrast between 'muted' and regular text could be higher. Please see this gif for an example:

![disabled](https://user-images.githubusercontent.com/31225471/50865142-3b55b300-1359-11e9-8b3f-5e0c661c863d.gif)

[2019-01-09 17:50] mshwery commented on #261
This is release as v4.9.0

[2019-01-13 03:41] Chrischuck opened #473 "Date Picker Component"
I think this UI could benefit from a date picker since many of the open source React date pickers look very different from Evergreen's UI scheme.

**What I have in mind:**
Date Picker closed:
<img width="292" alt="screen shot 2019-01-12 at 7 27 56 pm" src="https://user-images.githubusercontent.com/13311268/51081289-0fac3300-16a1-11e9-8ce2-66aeb2ec2653.png">
Date Picker opened with no selected date

[2019-01-13 16:14] vadimdemedes commented on #473
Hi @Chrischuck, we're holding off on including date picker into Evergreen, as it's a component with too many varying needs and it's something we haven't even discussed yet with our design team at Segment. There was already an attempt to implement it here https://github.com/segmentio/evergreen/pull/453, but we passed on it for now. See https://github.com/segmentio/evergreen/pull/453#issuecomment-44

[2019-01-14 00:49] Chrischuck commented on #473
Thanks for the reply. I'll probably try and pick up a bug in that case :)

[2019-01-14 00:49] #473 closed

[2019-01-14 13:11] dillonhafer commented on #469
It looks like it comes from `Pane` https://github.com/segmentio/evergreen/blob/master/src/layers/src/Pane.js#L177

[2019-01-14 16:18] #464 closed

[2019-01-15 09:39] chrisvxd commented on #464
Thanks for fixing 🙏 Unfortunately I was unable to find time to look at this.

[2019-01-15 09:44] vadimdemedes commented on #464
@chrisvxd Absolutely no worries, this is open source, everybody's working in their free time :)

[2019-01-15 21:02] zischwartz opened #475 "SelectMenu Throws Warning on: Unknown event handler property `onFilterChange`"
Small bug, after updating to `4.9.0` I get an error from `react-dom-development.js` whenever I click on a `SelectMenu` which says  "Unknown event handler property `onFilterChange`. It will be ignored."

[Here's an example replicating it](https://codesandbox.io/s/jn67wn90q3) based on the docs. It doesn't seem to matter if I'm using the filter or not.

To reproduce, click on the `SelectMenu` and the

[2019-01-15 21:44] zischwartz opened #476 "Badge with color set to "automatic" throws error"
The automatic color on the Avatar component is great, but when using it on the `Badge` component according to the [documentation](https://evergreen.segment.com/components/badge-and-pill), `<Badge color="automatic">Hi</Badge>`  doesn't seem to work and throws an error:
[code]
It looks like it's trying to get it from the theme, which I'm not messing with at all.

[Here's some examples reproducing th

[2019-01-15 23:17] mshwery commented on #476
Ah, that might be a mistake (copy pasta) in the docs. I don't think Badge is supposed to support the same color values as Avatar.

[2019-01-16 10:20] vadimdemedes commented on #475
cc @notfelineit

[2019-01-21 03:03] zeroslope opened #479 "Heading 200 doesn't have Letter spacing"
When I read the document, in the chapter on Typography, I found that it has no corresponding config Letter spacing.

![image](https://user-images.githubusercontent.com/10218146/51450106-48679e80-1d6a-11e9-8925-4941d25c21f3.png)

When I read the source code of the theme, I found that only heading 200 does not have Letter spacing config.

https://github.com/segmentio/evergreen/blob/master/src/theme/

[2019-01-21 11:11] ukita commented on #450
Can I work on this? 👋

[2019-01-21 11:30] indrabinridwan commented on #469
oh still confusing,  okey. thats warning will have effect to render performance?

[2019-01-21 14:58] dillonhafer commented on #469
In my experience, they only console log in development environment, not production.

[2019-01-22 10:57] #326 closed

[2019-01-22 16:00] vadimdemedes commented on #450
@ukita of course!

[2019-01-22 16:01] vadimdemedes commented on #479
I think this is just an oversight. Would you be willing to submit a PR with a fix for it?

[2019-01-22 16:10] zeroslope commented on #479
Of course, that‘s my pleasure. I think the missing value is `letterSpacing: '0'`. I will read the contribution guide to complete a correct PR.

[2019-01-22 16:13] mshwery commented on #469
Yeah, it should have no effect in production. They also shouldn't impact render performance, generally, even in development.

That said, we should consider migrating off of that prop in evergreen.

[2019-01-22 16:42] vadimdemedes commented on #479
Let's keep the issue open until it's fixed ;)

[2019-01-24 01:09] jasonbarry commented on #458
For those still following along, [this solution](
https://github.com/palantir/blueprint/issues/2193#issuecomment-453326234) helped me reduce the footprint of the iconSvgPaths in produciton. A bit of a PITA to maintain but IMO worth the cost in savings.

[2019-01-24 21:58] vadimdemedes opened #483 "Remove browser tooltip from icons"
There's a `<title>icon name</title>` inside each icon's svg and there's no way to remove it via `<Icon>`'s props:

![icon-tooltip](https://user-images.githubusercontent.com/697676/51711133-05aefc00-1fe0-11e9-9e04-329cfa1b205e.gif)

It's especially annoying when there's a `<Tooltip>` for that icon and user ends up seeing 2 tooltips: one from evergreen, one from browser. I think we should remove it.

[2019-01-25 04:42] #479 closed

[2019-01-28 20:48] timtutt commented on #215
In case anyone comes across this again, after about 2 hrs of digging through code I just figured out the issue and a solution...

By default the underlying AutoComplete Component uses `fuzzaldrin` for the filtering by default and passes items to the `fuzzaldrin.filter` function without the option to handle objects.

Was able to work around this by importing `fuzzaldrin` into my project using:
[cod

[2019-02-02 18:02] jasonbarry opened #488 "SearchInput should be of type="search""
`SearchInput` should have the `type` attribute be `search` instead of `text` – that way, the circle-x clear button inside the input will appear, and the browser will listen to ESC keypresses when the input is in focus to clear the input.

https://caniuse.com/#feat=input-search

![search-input](https://user-images.githubusercontent.com/236451/52167556-87361680-26d1-11e9-89ce-72d260dc5acb.gif)

[2019-02-06 14:13] tj commented on #379
Themeing would be great. Personally I would have _only_ structural styles by default—just the basics required for layout—leaving any subjective stuff up to custom styles. If this were done, this would probably be the first extensible suite of UI components, they always seem to have very opinionated styles and themeing systems, which seems entirely unnecessary.

I'd prefer the use of regular CSS fo

[2019-02-10 20:23] mifi opened #496 "Tooltip doesn't work on iOS"
1. Open iOS safari (ios 12.1.2)
2. Navigate to: https://evergreen.segment.com/components/tooltip/
3. tap on the first tooltip and it appears
4. zoom in
5. the tooltip moves out of the way as you zoom and ultimately disappears

[2019-02-12 17:59] dy opened #497 "Popover overflow"
I have react-select inside of popover and it gets cropped:

![image](https://user-images.githubusercontent.com/300067/52657047-bf093f00-2ec5-11e9-9c80-6cddf5a63390.png)

What is the correct way to set `overflow="visible"` for the popover?

[2019-02-13 00:46] emadabdulrahim commented on #454
@mshwery Wouldn't it be possible to set the default *Link* `fontSize="1em"` which would act the same way as `currentColor` property you guys follow in the `Icon` component?

Thoughts?

[2019-02-17 14:49] jongsue commented on #450
Sorry @ukita, If you’re working on this

[2019-02-17 23:54] jasonbarry opened #500 "Not able to hydrate under a strict CSP"
It appears that Evergreen throws an error and cannot properly run if a site enforces a strict [Content Security Policy](https://www.html5rocks.com/en/tutorials/security/content-security-policy/), specifically if the site disallows `'unsafe-inline'` for the `script-src` directive. The JSON inside the `#evergreen-hydrate` element cannot be accessed if the CSP directive is in place:

[code]

`'unsafe

[2019-02-19 13:50] jongsue commented on #483
How about this?
It looks not good because of empty string for title but it's working.

[code]

[2019-02-19 16:52] #483 closed

[2019-02-23 14:58] rejifald opened #504 "SelectMenu onDeselect"
Hi all. I am newbie in React and in evergreen too.
I use `4.12.1` evergreen version. MacOS, Chrome 72. Haven't published this project yet.
But i believe there is a bug with SelectMenu:onDeselect event.
My event handler isn't invoking.
onSelect works ok, but onDeselect isn't. BTW, when i open menu at the first time, i see get this error in console:
![image](https://user-images.githubusercontent.com

[2019-02-25 04:25] mshwery commented on #504
The proptype warning is a regression – nice find. As for the `onDeselect` behavior it's really hard to help without a link to a minimal reproduction of the issue in code @rejifald

[2019-02-25 10:31] rejifald commented on #504
@mshwery NP ! Here is repo with my experimentals. https://github.com/rejifald/k just clone it, and run `npm start`.
And open `localhost:3000`. In top lever corner u will see `Select level` button. This is SelectMenu trigger.
Hope, it will help.

[2019-02-25 16:21] mshwery commented on #504
The example in the docs works. Have you tried the `isMultiSelect` prop?

[2019-02-25 16:31] rejifald commented on #504
Yes. I've checked docs, and i know that there it works.
Hm... I've tried... But i think it wasn't work. But now i see that it works... Thanks :)
But why i can't deselect item if **isMultiSelect** is false ?
And, i still see same error.

[2019-02-25 16:34] mshwery commented on #504
That is a good question. It might be by design (although I'm not sure I agree with that design now).

I think it behaves similar to a native browser `<select>` in that once you've selected something you cannot deselect it unless you have `multiselect` set. You can only select a _different item_ but not deselect the currently selected item.

[2019-02-25 16:42] rejifald commented on #504
If i want to let user ability deselect item, i can't anyway, right ?
It forces me to implement additional buttons, etc.
Combobox also disallow this. For example
![image](https://user-images.githubusercontent.com/42000283/53353211-eaac1080-392c-11e9-9dc5-17823b6d3699.png)
I chosen item, and i modified it, but drowdown still looks like that item selected.

[2019-02-26 02:26] JMFURY commented on #504
@rejifald I added the `onDeselect` method way back when, and all it does is function as a way to 'prop drill' an event down to the `onClick => handleClick` part of the [`<TableRow>`](https://github.com/segmentio/evergreen/blob/master/src/table/src/TableRow.js) within SelectMenu's `<Option>`

[Here's that:](https://github.com/segmentio/evergreen/blob/master/src/table/src/TableRow.js)

![image](http

[2019-02-27 19:42] danedavid opened #507 "onSubmit or onEnter prop for SearchInput"
Since `SearchInput` will only be used as a search text field, maybe we can support an `onSubmit` or `onEnter` prop that gets triggered when Enter key is pressed. That way user can get rid of the keyPress handler logic everytime.

[2019-02-27 19:55] danedavid opened #508 "Set up ref forwarding for input components"
Assigning a ref to `SearchInput` should assign the ref to the inner `<input type="text"/>`.

[2019-03-05 23:58] dy opened #510 "Failed prop type: Property `statelessProps` of component `Popover` has invalid PropType notation inside objectOf."
We have `statelessProps` property for Popover component https://evergreen.segment.com/components/popover,
but passing anything to that raises an error
[code]
The reason for that is that _prop-types_ expects argument for `objectOf` to be a function, not an object
https://github.com/segmentio/evergreen/blob/master/src/popover/src/Popover.js#L60.

That is just logically wrong statement there - `objec

[2019-03-06 17:01] dy commented on #497
Ok, can be resolved as
[code]
fixed by #511

[2019-03-06 17:01] #497 closed

[2019-03-07 07:06] #215 closed

[2019-03-09 13:26] krainboltgreene opened #512 "hydrateScript removes styling and styling isn't SSR"
I'm not really sure how to explain this but: When I'm rendering the HTML string on the server I don't get any evergreen styles. When I'm rendering in the browser I get evergreen styles. When I "render" hydrationScript in the server I don't get evergreen styles on server or client render.

The difference in the HTML is that `<style data-ui-box>` is empty until it renders on the browser, at which it

[2019-03-09 18:50] krainboltgreene commented on #512
Okay, so I figured it out: I made some bad assumptions based on the SSR documentation and I needed to wait until extracting the styles. Here's the walkthrough:

  1. In your server side, render to string/static first.
  2. Run the Extract styles function.
  3. Pass the extracted `css` and `hydrationScript` to your rendered HTML (however you do that)

The part I was missing was that I assumed I did

[2019-03-09 18:50] #512 closed

[2019-03-10 21:50] #476 closed

[2019-03-10 22:00] #488 closed

[2019-03-10 22:07] #450 closed

[2019-03-11 01:00] #180 closed

[2019-03-11 02:19] mshwery commented on #507
You should probably be using `onChange` or `onInput` instead of keypress, unless you have a good reason to use that.

Changing `SearchInput` to behave like a form submission on its own is outside the scope of its responsibilities as a component. You can pretty easily handle that yourself, too:

[code]

Doing something similar to this will trigger the native behavior, which is to submit a form when

[2019-03-11 02:19] #507 closed

[2019-03-11 02:24] mshwery commented on #508
You should be able to do this by using `innerRef` already.

[2019-03-11 02:29] mshwery commented on #508
Here's an example: https://codesandbox.io/s/qx63wzk149

[2019-03-11 02:29] #508 closed

[2019-03-11 02:30] mshwery commented on #216
Already implemented.

[2019-03-11 02:30] #216 closed

[2019-03-11 02:32] #227 closed

[2019-03-11 02:42] #368 closed

[2019-03-11 02:46] mshwery commented on #379
BTW, these is some basic theming support today in v4, it's just not very well documented.

@krainboltgreene no, I don't think we intend to take away the ability to directly manipulate `style` on components. The intent for improved theming is to make it easier to set site-wide styles through some context (or similar pattern).

[2019-03-11 09:54] tj commented on #463
I'd also like to know how to get it working for custom components :D or a bit of documentation there would be helpful

[2019-03-11 10:40] mshwery commented on #466
@volkanunsal Are you able to create a minimal reproduction of the issue in code (e.g. codesandbox or a repo)?

[2019-03-11 10:43] mshwery commented on #223
Looks like this is (mostly) implemented in recent versions.

[2019-03-11 10:49] mshwery commented on #470
@kvinodhkumar87 that is due to the way theming works internally – you are only applying properties to the default static state of a button, not it's pseudo states (hover, focus, active).

I would suggest using a solution that allows you to specify the full style representation – className + css, or some css-in-js solution that can be passes as `style`, a `className` or as a wrapped component.

[2019-03-11 10:55] mshwery commented on #462
@alampros spreadable `titleProps` or `headingProps` would probably be the most versatile, but it also is doing a lot more than we need to solve this.

Perhaps a safer and more flexible approach is to let consumers define the heading component themselves:
[code]

[2019-03-11 10:57] mshwery commented on #460
Evergreen doesn't set any font family by itself. You'll have to add it yourself to your styles alongside evergreen.

[2019-03-11 10:57] #460 closed

[2019-03-11 10:58] mshwery commented on #459
I don't think we have any plans to expand to ReactNative at this time. Perhaps we will revisit in future versions.

[2019-03-11 10:58] #459 closed

[2019-03-11 13:46] mshwery commented on #457
This is resolved in the latest docs. Thanks!

[2019-03-11 13:46] #457 closed

[2019-03-11 18:51] #386 closed

[2019-03-11 21:14] #500 closed

[2019-03-12 20:30] tj commented on #379
Brought it up a bit on https://github.com/segmentio/ui-box/issues/25, but I guess it's more related to Evergreen.

I'd really like to see a scoped style solution personally (shadow dom), `<Box>` is a cool primitive but glamor is really restrictive and unintuitive, at least coming from someone who likes regular CSS. If a theme could just swap in new scoped styles for a given component, and said com

[2019-03-12 23:19] volkanunsal commented on #466
@mshwery sorry, I can’t. I no longer use this framework.

[2019-03-12 23:19] #466 closed

[2019-03-13 04:38] sheminusminus opened #519 "Error scrolling thru table with down arrow: "TypeError: Failed to execute 'removeChild' on 'Node'"
## Issue

When scrolling through a `Table.VirtualBody` row-by-row, using the down arrow key, a `TypeError` is thrown when reaching the last item.

## Expected Behavior

Reach the end of the list, last item becomes highlighted, and nothing else happens when the down arrow is pressed again.

## Actual behavior

TypeError

## Steps to Repro

Create a table with a virtual body. Select a row. Keep pres

[2019-03-14 14:30] dy opened #520 "Position property for CornerDialog"
Corner dialog is a bit different from main dialog in terms of it provides nicer default UI for prompts/confirmations. Having `position` property, similar to tooltips, would be handy.

Is there any sense in such PR?

[2019-03-14 16:09] mshwery commented on #520
Are you thinking it'd be used to change which corner the dialog is anchored to?

[2019-03-14 21:45] dy commented on #520
Yes, to make it a lightweight alternative to big dialogs.
Would be also nice to have “alignButtons” property.

On Thu, Mar 14, 2019 at 12:09 PM Matt Shwery <notifications@github.com>
wrote:

[2019-03-15 01:16] dy commented on #520
I could come up with PR

[2019-03-15 18:41] dy opened #521 "Practical UI enhancements suggestions"
We transitioned fully to evergreen-ui in our project, replacing material-ui and blueprint, and use it pretty heavily now.
If you let me share some practical difficulties we've faced, that would be nice to address.

* Styling toasters. Alert style does not meet app design, would be nice to be able to style them same way as tooltips: `toaster.warning('...', {appearance: "card", containerProps})`. Al

[2019-03-18 17:21] vadimdemedes commented on #521
Thank you for going deep on details for all of these suggestions, all good points, very useful!

Regarding suggestions on positioning, styling, `footerProps`/`headerProps`, I think it should rather be solved by proper theming support in Evergreen. Exposing those props everywhere makes it harder to iterate, maintain and develop those components further, because we can no longer test for all expecte

[2019-03-18 17:44] dy commented on #521
The issue is not tree-shaking but recompile time. In our project it takes up to 30 seconds to just recompile/reload typescript react webpack. Hopefully that can be fixed later with [sucrase](https://sucrase.io/) or [swc](https://swc-project.github.io/), but that does not problem conceptually.

[2019-03-20 15:21] tlouth19 commented on #179
What is the latest update on theming?

[2019-03-22 16:10] dy opened #529 "`title` attribute"
Sometimes that is useful to disable button but politely display the reason why it is disabled.
That could be done with `title` attribute. For now that does not seem to be supported.

Should that be enabled?

[2019-03-24 10:27] eoinmurray opened #530 "Feature Request: Autocomplete on tag input"
I tried making this myself, but it didn't work out well. Autocomplete on tags would be very useful since most sites that accept tags use autocomplete for the tag input (stackoverflow etc...).

Maybe the api could be like the following:

[code]

[2019-03-24 14:36] mehmetnyarar opened #531 "Placeholder for FilePicker"
Hi,

Could you provide `placeholder` attribute for the `FilePicker` component?

Can be useful in the following situations:

- translation of the placeholder text
- small description of the file requirements inside the input

I don't know why there's such a comment in the source code by the way:

BR,
Mehmet

[2019-03-24 14:50] mehmetnyarar commented on #531
Actually, it would be great to customize button text, too :)

[2019-03-25 07:13] mehmetnyarar commented on #451
I've encountered this issue while implementing `Autocomplete` with `TagInput`.

[2019-03-26 10:50] tj commented on #379
wouldn't mind if most of it was themeable with regular CSS, I'm porting over my typography and whatnot but it takes quite a while to move it into js-isms. CSS vars have decent adoption these days too, might be more portable to have the bulk of vars/styling in CSS so you can use it in marketing sites etc as well

[2019-03-26 15:53] dy opened #532 "FilePicker redux-form integration"
Redux-form expects `onChange: (event, value?) => void` event handler to be defined on an input wrapped with Field (https://redux-form.com/6.6.3/docs/api/field.md/).

That works perfectly with input type="file":
[code]

But when we use FilePicker, we get nothing:
[code]

That is because `onChange` event handler is modified by evergreen-ui to return list of files instead of event.

Ideally onChange

[2019-03-27 22:00] dy commented on #532
Workaround for now:

<Field name="file" component={({props}) => <Box onBlur={e => e.stopPropagation()}>
    <FilePicker
        name={props.input.name}
        onChange={props.input.onChange}
        onFocus={props.input.onFocus}
        height={40} />
</Box>}/>

[2019-03-27 22:01] #532 closed

[2019-03-28 13:28] sergii-zhuravel commented on #451
The same warning, Using: "evergreen-ui": "^4.7.1"

[2019-03-29 14:09] tj opened #534 "Popover hover support"
It would be sweet if you could hover the contents to show the popover, for hover menus. I was going to use Tooltip but it's missing the optional callback with `{ close }`. Just going to leave it as a click for now but happy to send a PR later when I have a chance if you're interested.

[2019-03-29 16:01] mshwery commented on #534
Sounds like a good addition @tj!

[2019-03-29 16:11] mshwery commented on #530
We have implemented something like this before, but it was fully custom (wasn't using `TagInput`).

What do you think about allowing consumers to pass in their own `inputComponent`?

[2019-03-30 21:18] MichielLeyman commented on #530
I'm also looking for something like this.

It would be cool if it functioned like `AutoComplete`, passing a prop like `suggestions` which is also just an array of strings.

If I find the time somewhere next week, I'll try it out and submit a PR

[2019-03-31 15:03] eoinmurray commented on #530
Yeah even making it more modular so it takes any type of inputComponent and lets the user prepare the suggestions would work.

We've had to use react-select for our tags input, and it nice - but it would be great to use evergreen for everything for visual homogeneity.

[2019-03-31 15:06] eoinmurray opened #535 "Allow component as props for Icon"
This is a minor issue but sometimes when using Buttons I pass an `Image` for `iconBefore` like so:

[code]

It's useful because I can specify anything I want - but I get lots of propType warnings since Icon is expecting a string - maybe we can relax this condition a bit?

[2019-04-01 15:42] tj commented on #458
😢 definitely huge haha, I like [Feather](https://feathericons.com/)'s icons better anyway personally, leaving them out would be nice

[2019-04-01 15:47] epitaphmike commented on #458
I've been using [icongr.am](https://icongr.am/) to test icons first, then once I like what I have chosen, I convert them into icon components. It has kept my bundle size down tremendously.

[2019-04-01 15:49] mshwery commented on #458
Hm, yeah I think the right away to handle this would be to extract the icons from the package. We can provide some defaults that are used internally by evergreen components (which we would probably allow you to swap out with your own).

If we could get tree-shaking though... that would largely solve the problem.

[2019-04-01 17:36] tj commented on #458
would be nice if it were light enough to use for marketing sites as well as apps, could be a pain to strip all the css-in-js colors/typography and port them back into vanilla CSS, but might be a non-goal for Evergreen I imagine?

[2019-04-01 20:24] Rowno commented on #458
I started working on making the blueprint icons tree shakable in this branch, but haven't gotten around to finishing it: https://github.com/segmentio/evergreen/tree/icon-code-splitting

[2019-04-24 20:50] ChenDogg commented on #300
+1 here...

[2019-04-25 06:06] jtanya34 opened #541 "Start evergreen app locally"
Hello!! I am a newbie with react and I am having issue running evergreen locally.
running npm run dev for gatsby develop show this err:docs@1.0.0 dev: `gatsby develop`. Is it  something because of gatsby version?
I could run storybook locally, but how should I run evergreen?
Thanks!!
<img width="626" alt="Screen Shot 2019-04-26 at 10 50 03 AM" src="https://user-images.githubusercontent.com/3005590

[2019-04-25 09:41] MichielLeyman opened #542 "Using custom fonts"
Last month in #460, someone said Evergreen doesn't set fonts by default. But from what I understand, there's a default theme that sets base fonts: https://github.com/segmentio/evergreen/blob/master/src/theme/src/default-theme/typography/fontFamilies.js

I'm having trouble overwriting them. I set a font-family for `body`, and it won't overwrite the themed styles, even when including `!important`. H

[2019-04-26 12:20] JMFURY commented on #542
Have you tried composing the components with the `fontFamily` prop? Most Evergreen components are based on ui-box which supports it so this should work.

[2019-04-26 19:08] Mookh01 opened #543 "CSS Cascades Incorrectly On Production Build vs. Local Build"
### Is this a bug report?
Yes

### Did you try recovering your dependencies?
    create-react-app@3.0.0
    "node": v10.13.0
    "npm": v6.8.0
    "@intxlog/iuilib": "^0.4.3",
    "@sentry/browser": "^4.6.6",
    "array-sort": "^1.0.0",
    "classnames": "^2.2.6",
    "enzyme": "^3.9.0",
    "enzyme-adapter-react-16": "^1.12.1",
    "enzyme-to-json": "^3.3.5",
    "google-maps-react": "^2.0.2",

[2019-04-30 09:58] mehmetnyarar opened #544 "Disable closing Popover on outside click"
Hi,

Outside click
Escape key
The close function being called (advanced)

I'd like to disable closing `Popover` on `Outside click`, enable only `Escape key` or `The close function being called`.

Is there a way to do that with the current API? If not, could you please add this feature?

"evergreen-ui": "^4.15.0",

[2019-05-03 14:59] MichielLeyman commented on #542
Seems strange to pass a prop every single time I use one of Evergreen's components. I could create a wrapper for each, but that seems to defeat the purpose of using a component library in the first place.

I understand Evergreen does not support theming, but overriding a font in CSS seems like something a lot of people would need.

I'll take this as an opportunity to create wrappers around all of

[2019-05-03 15:11] mshwery commented on #542
Theming actually _is_ supported, despite not being documented.

You can `import { ThemeProvider } from 'evergreen-ui'` and then pass it your own theme.

What you'll probably want to do is use `defaultTheme` (also exported publicly from `evergreen-ui`) as your base theme because many theme properties are required for evergreen to work. You can override the theme by merging your own values over exis

[2019-05-03 16:18] MichielLeyman commented on #542
Aha, nice! I got confused because the FAQ on `v4-create-theme-branch` still says it is not supported.
Great solution.

Am I supposed to do anything else than supply the theme to the `ThemeProvider`? I overrode the `fontFamilies` and passed them as you suggested, but the components are still using the default font stack. I verified they were set correctly by logging the theme prop in `ThemConsumer`

[2019-05-03 17:19] mshwery commented on #542
Oof. Hate to say it but your best bet might be to _mutate_ `defaultTheme` directly. I am looking into this and it seems that the theme context is only half-baked in v4. I'm guessing that some of the theme getter functions are reaching directly into internal objects instead of always looking at the `theme` context object.

[2019-05-03 20:12] mshwery commented on #543
Hm, I might be misunderstanding the issue, but have a couple thoughts:
1. You probably shouldn't rely on css declaration order for styles to be properly applied (which is what seems to be the issue here)
2. This might be due to the nature of the example, but Evergreen (and it's underlying `ui-box` dependency) uses css-in-js. You should take advantage of that to apply your style directly, like:
[co

[2019-05-03 20:15] mshwery commented on #535
I wouldn't be opposed to updating the proptypes to match the internal behavior. Would you want to submit a small PR with the fix @eoinmurray ?

[2019-05-03 20:15] mshwery commented on #541
When developing locally you should be able to run `yarn dev`

[2019-05-03 20:16] mshwery commented on #541
You'll also notice there is no `package-lock.json` because we use `yarn` on this project for development, so it's possible there are some pinned dependencies in the `yarn.lock` that wont be respected when you `npm install`

[2019-05-03 20:18] mshwery commented on #529
The `title` prop works just fine: `<Button title="help text">Hover me</Button>`

[2019-05-03 20:25] #529 closed

[2019-05-03 20:31] mshwery commented on #300
An update for everyone following this – there are a few moving parts:

1. We have a WIP branch adding `ui-box` type declarations: https://github.com/segmentio/ui-box/tree/types/types
2. We have a WIP branch migrating `ui-box` fully to TypeScript: https://github.com/segmentio/ui-box/compare/typescript
3. There's an open branch of Evergreen migrating to TypeScript: https://github.com/segmentio/everg

[2019-05-04 14:42] MichielLeyman commented on #542
I tried mutating, but that didn't work either. Also tried a combination of both :p.
Tried moving it up the component hierarchy and composing with `withTheme`. To no avail

Any more ideas?

I would create a wrapper and pass the `fontFamily` prop to everything as JMFURY suggested, but some components don't accept it (such as `Dialog`).

[2019-05-04 15:04] mshwery commented on #542
Mutating worked for me. Here's a [codesandbox](https://codesandbox.io/s/04nxv61wmv?fontsize=14).

[2019-05-04 15:07] mshwery commented on #542
If all else fail you can take the wrapper approach.

We should dive into the problem to see why we can't always use `ThemeProvider`. I think we are actually really close to having it all wired up, there are just a few spots importing theme variables directly from the defaultTheme instead of from the context.

[2019-05-04 15:26] MichielLeyman commented on #542
Ah yes, it works when I use lodash so I must not be mutating it properly without it.

Thanks for all the help!

[2019-05-05 08:09] jtanya34 commented on #541
I tried with yarn as well. webpack version gives some error.

[2019-05-07 06:54] jtanya34 commented on #541
I did with yarn dev now, but files in docs/public folder are creating error.

[2019-05-07 12:03] mehmetnyarar opened #548 "Hide SideSheet's close button"
Hi,

I'd like to hide the close button in `SideSheet` component.

Is there a way to do that with the current API? If not, could you please add this feature?

"evergreen-ui": "^4.15.0",

[2019-05-07 13:34] mshwery commented on #541
Can you provide full steps to reproduce the error and information about your OS/system?

Did you `rm -rf node_modules && yarn install` before running any other yarn commands?

[2019-05-07 17:01] jtanya34 commented on #541
I am using macOS Sierra, I am in master branch and docs folder  :
 1.) rm -rf node_modules
2. yarn dev which gives this error.

[2019-05-07 21:16] mshwery commented on #541
![Screen Shot 2019-05-07 at 4 07 18 PM](https://user-images.githubusercontent.com/710752/57333774-666fc980-70e3-11e9-9e66-b00e8afdb8d9.png)

[2019-05-08 05:46] jtanya34 commented on #541
During yarn install it gives some dependencies warning ,can that be a issue.
Now again cloned the repo and performed following steps:
1. cd docs
2. yarn install
which give these warnings:
<img width="1048" alt="Screen Shot 2019-05-08 at 10 55 03 AM" src="https://user-images.githubusercontent.com/30055901/57352048-b8672c80-7181-11e9-844e-c6ac7af62c4d.png">

3. yarn dev
which gives these error:
<img

[2019-05-08 18:10] jtanya34 commented on #541
ohh , that worked! Thanks.
Now I hope I find some good first issue to contribute.

[2019-05-08 18:12] mshwery commented on #541
Yay! Alright, closing this out. Your first contribution could always be updating the readme about running the docs _after running the build_ :)

[2019-05-08 18:12] #541 closed

[2019-05-09 14:53] mshwery commented on #300
**More updates:**

- `ui-box@2.x` introduces a complete TypeScript rewrite with type declarations. They are a pretty solid foundation we can build on here. If you see any issues or improvements that could be made to those typedefs, please [submit an issue over there](https://github.com/segmentio/ui-box/issues).

- we've begun steady work on migrating parts of evergreen to typescript. we are missin

[2019-05-09 15:11] mshwery commented on #548
You can do that. `SideSheet` let's you pass children as a render function that receives a `close` callback so you can hook it up however you like.

[2019-05-09 15:17] mshwery commented on #544
Doesn't look like that's currently available but it should be relatively straightforward if you wanted to open a PR and add that feature. We support [a similar api in the `Dialog` component](https://github.com/segmentio/evergreen/blob/352cbc78177699bf7e41fec3951a5220963ff672/src/dialog/src/Dialog.tsx#L149)

[2019-05-09 16:04] mehmetnyarar commented on #548
Hey @mshwery,

You can see an example [here](https://imgur.com/5EcbcX9).

I added transparency to the `SideSheet` via `containerProps`. That makes the close button far away from the content, which I feel is a bad UX. If I could hide it, I'd add my own close button somewhere and use `({ close })`.

One option is to add `id` attribute to the container of the close box, then it can be targeted via CS

[2019-05-09 16:20] mehmetnyarar commented on #544
Hey @mshwery,

I've tried using `Dialog` but it doesn't play well with `react-datepicker` when it comes to popup a calendar  inside the `Dialog`, calendar/time picker appears in an irrelevant position.

Regarding PR, I don't have any experience contributing to an open-source project on GitHub yet (

[2019-05-09 19:35] mshwery commented on #548
Interesting. This looks a bit more like a dialog to me than a sidesheet. You can probably customize the dialog a bit more to meet your needs. If not, I'd recommend implementing a custom composition of Overlay + Pane to meet your needs. Evergreen exposes all the fundamental building blocks you need to build customized components like this.

[2019-05-09 19:40] mshwery commented on #544
Oh! I highly recommend it :) There are some decent instructions on contributing in the readme: https://github.com/segmentio/evergreen/#contributing-to-evergreen

[2019-05-10 13:57] RetWolf commented on #447
I believe this issue has been resolved by https://github.com/segmentio/evergreen/blob/master/src/autocomplete/src/Autocomplete.js#L114
Can we close this issue?

cc @mshwery

[2019-05-10 14:28] mshwery commented on #447
Yep! This should be resolved.

[2019-05-10 14:28] #447 closed

[2019-05-14 14:41] mehmetnyarar commented on #548
In a technical sense, a kind of dialog yes, but i like how `SideSheet` pops up from the bottom.

Do you mean using `Positioner` component? If yes, I'd appreciate an example how `target` is used. `({ getRef: () -> Ref, isShown: Bool }) -> React Node`.

[2019-05-15 14:53] mehmetnyarar commented on #548
Fixed it for now, hoping that it will not break the UI in somewhere else )

[code]

[2019-05-15 15:08] mshwery commented on #548
@mehmetnyarar that isn't safe since there are other components that may end up with that same composition of atomic classes.

[2019-05-18 14:34] Bisso1998 opened #554 "yarn dev throws long list of errors on typescript branch"
Hi.
The steps I followed:

1. git clone https://github.com/segmentio/evergreen.git
2. yarn
3. yarn dev

**Everything went fine and I was able to run the storybook on localhost://6006.**
But after this as I did :
1. git checkout typescript
2. yarn dev
And then a long list of errors were thrown.

`ERROR in ./.storybook/config.js
Module build failed: Error: Cannot find module '@babel/preset-typescrip

[2019-05-18 18:01] mshwery commented on #554
Did you install deps on the new branch when you switched? `yarn install` should do the trick.

[2019-05-18 19:12] Bisso1998 commented on #554
Hi,

Yes I tried doing yarn install in the new branch as well.

But now the error log is as follows:

ERROR in [at-loader] ./src/autocomplete/stories/index.stories.tsx:39:8
    TS2322: Type '{ children: ({ getInputProps, getRef, inputValue }: any) => Element; title: string; onChange: (selectedItem: any) => void; items: any[]; }' is not assignable to type 'IntrinsicAttributes & IntrinsicClassAttrib

[2019-05-18 19:59] mshwery commented on #554
Yeah these are two separate types of issues @Bisso1998

The first errors (in the issue) was due to not having npm modules installed (via `yarn install`) on the new branch yet.

The other errors are TypeScript errors in the stories. We started adding real types to some of the components, but haven't fully converted the stories to match apparently.

This is a great opportunity to fix the stories to

[2019-05-18 19:59] #554 closed

[2019-05-18 20:06] Bisso1998 commented on #554
Perfect.
I will try fixing the stories.

[2019-05-19 09:04] benatdjakait opened #555 "Benard Jakait"
# 🎉 Thanks for taking the time to contribute to 🌲Evergreen! 🎉

It is highly appreciated that you take the time to help improve 🌲Evergreen.
We appreciate it if you would take the time to write up a bug report or feature request.

Sadly, if we don't receive enough information, or the issue/feature request doesn't
align well with our roadmap, we might respectfully
thank you for your time, and close t

[2019-05-19 09:13] benatdjakait commented on #555
May someone join and help

[2019-05-21 04:48] palmer-cl commented on #544
I can take a stab at this. I'll update here with the PR when ready! :+1:

[2019-05-21 14:23] paegle opened #559 "Event onCloseComplete don't execute on use close() in onConfirm event"
Hi guys!

When I use close function in onConfirm event, the onCloseComplete don't execute...

`onCloseComplete = () => {
    console.log('onCloseComplete');
  };`

`onConfirm = close => {
    close();
  };`

`<Dialog isShown={true} onCloseComplete={onCloseComplete} onConfirm={onConfirm}><Text>Test</Text></Dialog>`

If you see in console, the 'onCloseComplete' don't execute when confirm button is c

[2019-05-21 17:49] mshwery commented on #559
Can you provide more information about the version of `evergreen-ui` and a link to a minimal representation of the issue? Otherwise we can't really help you.

Based on what you've described this works as it should: https://codesandbox.io/s/vibrant-leakey-56efk

[2019-05-21 17:49] #559 closed

[2019-05-22 07:09] sergii-zhuravel commented on #451
The same issue with version '4.15.0'
`warning.js?e2a0:4 Warning: <Table.Row> expects `onSelect` prop, but you passed `onClick`.`

[2019-05-24 13:49] karltaylor opened #560 "Should TagInput onAdd return an Array?"
In the docs for the `onAdd` prop for [TagInput](https://github.com/segmentio/evergreen/blob/master/docs/src/pages/components/tag-input.mdx#using-onadd-and-onremove-advanced) there is an `if` statement that checks if the value includes an `@`.

However after testing, I realised the `onAdd` returns an `array` so `if (!value.includes('@')` would never work.

[code]

Not sure if this is a documentatio

[2019-05-24 14:59] mshwery commented on #560
`onAdd` returns an array of all tag values input so far – it cannot return just a single string because you can enter multiple tags via copy/paste or typing delimited values (delimited by your `separator` prop) all at one time. We cannot guarantee that you'll get only a single value added at a time.

It looks like the example in the docs is wrong.

[2019-05-24 15:32] #544 closed

[2019-05-24 15:42] #296 closed

[2019-05-24 15:58] kevinSuttle opened #562 "Request: link to headings in docs"
👋 Hey Segment! Loving Evergreen. You folks have done some great work here. I find myself sharing links from Evergreen pretty regularly.

What would be super nice, is if the headings were linked, so I could share a URL to a specific section of a page, like it does here on GitHub:

https://github.com/segmentio/evergreen/blob/master/docs/src/pages/components/icons.mdx#resizing-the-icon

Thanks!

[2019-05-24 19:58] solon-aguiar commented on #562
Hi @kevinSuttle,

Thanks for reaching out! Just to make sure that I understand your request correctly, are you asking if the headings in the Evergreen documentation under `evergreen.segment.com` to be links?

Example: on https://evergreen.segment.com/components/layout-primitives to be able to link directly to `Pane component` or `Never pass a string of text as direct children` etc?

[2019-05-24 21:52] dy opened #563 "onScroll event handler for Table.VirtualBody for infinite preloader"
In our App we would like to implement infinitely loadable paginated list.
For that purpose we have to detect when table was scrolled to some defined number of rows. For that purpose there is `onScroll` callback in [react-tiny-virtual-list](https://github.com/clauderic/react-tiny-virtual-list), that is not exposed on `Table.VirtualBody`.
This little feature would save our use-case.

[2019-05-24 23:27] kevinSuttle commented on #562
Yes, exactly!

[2019-05-25 06:13] jtanya34 commented on #534
Can I take up this issue?

[2019-05-27 19:30] karltaylor commented on #560
Interesting, the value from `onAdd` looks like it only returns the value entered in an array. Check this [codesandbox](https://codesandbox.io/s/blazing-glitter-y9g9i)

[2019-05-27 19:52] mshwery commented on #560
Ah right, but it's an array because you can enter multiple values at one time.

[2019-05-28 20:18] solon-aguiar commented on #562
I think this makes sense. The links should be working actually. It might be a misconfiguration when we're generating the website. I'll look into it (or you can send a PR if you want!) this week.

In the meantime, the docs are all in this repo as `mdx` files, so you can actually link someone to them if you want. Example: [the file](https://github.com/segmentio/evergreen/blob/dc64b46759e5f3a40fa201d

[2019-05-29 15:33] #563 closed

[2019-05-30 00:15] agonist opened #566 "Css not loading in Chrome, emoji encoding issue?"
### Bug report 🐞

Hello, I and @ugogo are working on a website with the following stack:
Rails api + react-static for the front + Heroku, obviously using Evergreen for the UI.
And we're facing one last issue that gives us a really hard time, and after a long investigation, someone from Heroku has pinpointed something that might come from evergreen.
As we are getting desperate you are the last peop

[2019-05-31 02:31] mshwery commented on #566
Definitely looks like an encoding issue. Although I've never seen this issue raised from `evergreen-ui` or `ui-box` yet.

[2019-05-31 02:33] mshwery commented on #566
Without knowing much about your setup I would look to Rails because it's handling your assets and their encoding, right?

[2019-05-31 11:51] joshlarsen commented on #566
Rails in API mode doesn't handle assets. I'm not familiar with `react-static`, but it looks to be responsible for static page generation - and possibly plays a role in encoding issues.

I have an app on Heroku with a Rails API backend and React frontend with `evergreen-ui`. I have not encountered any issues like this (though I do agree with removing the box emoji for cosmetic reasons).

[2019-05-31 12:19] stephenmathieson commented on #566
Not sure if this is the cause, but...

You're setting `<meta charSet="UTF-8" />` _after_ using a bunch of emojis in your HTML document. This is possibly causing Chrome to use its default charset (ISO-8859-1) which does not contain emojis. So it's not correctly registering the selectors defined in your `<style type="text/css">` tag.

I suggest putting `<meta charset="utf-8">` as the very **first**

[2019-05-31 12:27] stephenmathieson commented on #566
Another observation: it looks like the server is sending a `content-type` header (which is awesome), but it's not including a `charset=` there either (which again, instructs the browser to do whatever it wants).

![contenttype](https://user-images.githubusercontent.com/571265/58705580-9fffc180-837d-11e9-99d5-226488e17623.png)

Try updating CloudFlare configuration to ensure `Content-Type: text/htm

[2019-06-01 05:15] agonist commented on #566
🎉 OKAY, everything is working now finally 😍
after we add the charset to the correct place and make sure about the order of things in the <head>

we had one last issue, our own css was also loaded too early and after I removed
[code]
from the react-static config everything was back to normal.

So thank a lot to all of you that helped us 🙏 We really appreciate and can finally move forward. Enjoy the

[2019-06-01 05:15] #566 closed

[2019-06-01 09:08] superhighfives commented on #566
Glad you got to the bottom of it, @agonist! 👍 to everyone for helping out, too.

[2019-06-01 17:03] solon-aguiar commented on #562
I played around with this today and couldn't get the links to come up.

I looked at the `gatsby-mdx` plugin (which is what we use to render) and there are a couple of issues about this: https://github.com/ChristopherBiscardi/gatsby-mdx/issues/396 and https://github.com/ChristopherBiscardi/gatsby-mdx/issues/204 (using a `remark` plugin).

There's a PR (https://github.com/ChristopherBiscardi/gatsby-

[2019-06-02 01:47] k5o commented on #463
This affects [Tooltip component](https://github.com/segmentio/evergreen/blob/master/src/tooltip/src/Tooltip.js#L125) and should probably be updated there as well.

Exact error:

[code]

[2019-06-03 14:21] kevinSuttle commented on #562
Thanks! I looked around also and couldn't figure out where it was triggering, either. When you mentioned that it should be working, did you have a commit or PR you were thinking of that reminded you?

[2019-06-04 17:22] solon-aguiar commented on #562
Hey Kevin!

No, when I mentioned that it should be working I meant that it should be working by default from `gatsby-mdx`'s implementation (this is the plugin we use to render md content). Looks like they have to fix it to get it working by default. Once they fix it, we'll have to update our version and deploy.

What I did was to try to use another plugin just to generate the slug for the heading

[2019-06-04 18:48] kevinSuttle commented on #562
Awesome. Thanks for the follow-up!

[2019-06-05 01:57] humphd opened #574 "Avatar example src URL points to invalid image"
I was looking through your docs and noticed that the example at https://evergreen.segment.com/components/avatar for using an Image for the Avatar is showing the fallback initials:

<img width="836" alt="Screen Shot 2019-06-04 at 9 54 21 PM" src="https://user-images.githubusercontent.com/427398/58924871-78a94b80-8713-11e9-9e9c-697d8124dae0.png">

It looks like the image is 404:

[code]

[2019-06-06 00:35] sbrichardson opened #575 "Add disabled prop and styles to SegmentedControl"
Would you accept a pull request to add a `disabled` prop to `SegmentedControl`? I'm thinking it would be similar to `Button` or `Tab`.

One thought, to avoid duplicate code, could be an option to provide a `Button` (or array of buttons), or just refactor `SegmentedControl` to inherit or be similar to `Button` (or `Tab`)? That would allow it to have features like icons also.

A new style may be nee

[2019-06-11 14:26] mshwery commented on #575
Sounds reasonable to me! I'm not 100% sure what behavior makes sense – should the entire control be disabled or individual buttons within the group?

[2019-06-12 11:37] robphoenix opened #581 "Invalid is prop on Link"
I'm using the evergreen `Link` component along with Reach Router's `Link` component, as suggested [in this issue](https://github.com/segmentio/evergreen/issues/376)

[code]

It works but shows a warning in the console (truncated for brevity)

[code]

I don't know if this is expected, a bug or something wrong with my code?

Thanks :+1:

[2019-06-12 16:03] mshwery commented on #581
Not sure we can help with this – We use custom components internally all the time with `evergreen-ui`.

If you think there is a bug can you produce a minimal reproduction of the issue in codesandbox or similar?

[2019-06-12 16:08] robphoenix commented on #581
@mshwery sure, I'll see if I can reproduce it in codesandbox, it's entirely likely it's my code.

[2019-06-12 16:16] robphoenix commented on #581
ok, I can't reproduce it :roll_eyes:

I should've done that before opening this issue. Sorry for the noise.

[2019-06-12 16:16] #581 closed

[2019-06-12 16:20] mshwery commented on #581
No worries! Might be worth posting to stackoverflow to get help from the community since it doesn't seem to be a bug with `evergreen-ui`.

[2019-06-13 15:01] tabvn opened #582 "Can we remove 📦 ?"
Can we remove icon box 📦 in class name and class style ?

[2019-06-13 15:25] gonzarascon commented on #542
What properties can you have in a custom theme (Such as  typography)?  I'm looking for those and can't find them.

[2019-06-13 18:49] dy opened #584 "Multiple mode for Menu.OptionGroup"
SelectMenu has a prop to make it support multiple options: `isMultiSelect`.
In Menu.OptionGroup there's no such documented option. I guess enabling that would be useful.

[2019-06-13 18:56] solon-aguiar commented on #574
Thank you for finding this issue! I've created a PR to address that: https://github.com/segmentio/evergreen/pull/585.

In the future, feel free to also contribute with the fixes if you want/can. You can read more about contributing in [our docs](https://github.com/segmentio/evergreen#contributing-to-evergreen).

Cheers

[2019-06-15 13:51] mshwery commented on #582
This comes from ui-box, and there's a discussion happening there regarding that: https://github.com/segmentio/ui-box/issues/23

Closing this ticket since it's a `ui-box` concern and we can track the decision there. Thanks!

[2019-06-15 13:51] #582 closed

[2019-06-15 14:05] mshwery commented on #542
Custom themes aren't officially supported (and that's why there are no docs for it) but you can try using the `defaultTheme` to inform how you put together a custom theme. This is something we're considering improving in v5/6.

The easiest way is to override individual components using `ui-box` properties (most evergreen components support all or almost all of the props that `ui-box` provides.
htt

[2019-06-15 14:05] #542 closed

[2019-06-18 16:52] robphoenix commented on #456
Not stale. :smiley_cat:
Would be good to hear any opinion from the maintainers, whether this is a possible consideration.

[2019-06-18 16:57] mshwery commented on #456
Sounds like a good addition! If y'all want to take a stab at a PR to implement this, I would be happy to review.  If not, we can add it to the docket.

// cc @solon-aguiar

[2019-06-18 17:02] robphoenix commented on #456
I'll take a look at opening a PR for this, though I'm new-ish to React so it may take a wee while to get my round what needs to be done where. Making no promises.

[2019-06-19 17:25] solon-aguiar opened #589 "SelectMenu with multiselect allows selecting the same item many times with keyboard"
🐛

- Issue and steps to reproduce.

SelectMenu: in a multi-select menu, a user can select the same element many times. `SelectMenu` has an option to allow users to select multiple elements and when users select the elements using their keyboard (e.g. just hitting the arrow down key) rather than the mouse, the same item is selected many times (one per keystroke to be precise). This is evident when

[2019-06-20 15:58] #456 closed

[2019-06-21 23:57] solon-aguiar commented on #589
Turns out that this is not a bug in the implementation of the component. It is just a bug in our stories and docs example. I can fix that. However, while at it, I'd like to propose a change in the way the `SelectMenu` component works for keyboard navigation.

The way that the keyboard navigation works today doesn't allow a user to select non-continuous elements. It doesn't allow for gaps in the li

[2019-06-22 18:07] mshwery commented on #589
Sounds good to me @solon-aguiar ! I think it's common to use tab or enter (or even provide a choice between the two) as "select" whereas arrow keys up/down (and optionally left/right) navigate prev/next.

[2019-07-01 19:18] solon-aguiar commented on #589
Actually, this is a bit more complicated than anticipated. The problem is that when we have the search filter input, navigating using the arrows should be done inside the input field, not the menu items. The way I had implemented (using the arrows) causes un-intended effects (selecting an element when you're actually trying to move the cursor in the search query).

My idea to tackle this is:
1. TA

[2019-07-01 19:23] mshwery commented on #589
I would do something similar to downshift's keyboard support where the up/down arrow keys also navigate the options list.

The rest sgtm!

[2019-07-01 21:10] solon-aguiar commented on #589
There's another bug with the up and down arrows today: up arrow navigates to the end of the search query and down arrow to the beginning. At the same time, they navigate in the menu options (selecting new options). Everything is completely and "bugly" coupled. I want to deactivate this up and down in the input field. `cmd/windows + left` and `cmd/windows + right` make more sense in navigating to t

[2019-07-04 10:01] robphoenix commented on #575
I have a use case that would benefit from being able to disable individual buttons. I'd be interested in seeing this added.

[2019-07-05 14:58] id1385 opened #592 "support for vue.js or plain css !"
hello
i dont use react
i use vue.js
 i like ur components
is your project support for vue js ? or share plain css we convert it to vue

[2019-07-07 08:14] maraisr commented on #592
Hello 👋 sorry - There is little to no css in this project. And a port to it would actually be quite difficult. The project uses [ui-box](https://github.com/segmentio/ui-box) quite heavily. If that helps 🤷‍♂

[2019-07-14 11:46] gautamsi opened #595 "deprecated glamorous"
Seems like [paypal/glamorous](https://github.com/paypal/glamorous) is deprecated in favour of [`emotion`](https://emotion.sh/) see https://github.com/paypal/glamorous/issues/419

Any plan to move over to `emotion` soon?

[2019-07-14 11:52] gautamsi commented on #595
my bad, glamorous is not being used, mis read the name.

[2019-07-14 11:52] #595 closed

[2019-07-15 13:15] robphoenix commented on #300
Is there a TODO list to see what needs working on/documenting what's been done?

[2019-07-15 15:58] mshwery commented on #300
@robphoenix No! This is something we could use help spec'ing out. We are a bit blocked because spread props straight up don't work with TypeScript so anything wrapped in `withTheme` loses types (which is almost everything)... We've considered moving to context hooks, but we'd lose refs (function components).

See
https://github.com/microsoft/TypeScript/issues/28884
https://github.com/microsoft/Typ

[2019-07-16 16:36] robphoenix commented on #300
Grand, thanks for the list @mshwery, I'll have a look at what's been done so far and see if I can help out with some of those components.

I've only used TS on it's own or with Angular before, just starting to use it with React, so I don't know much about this, I'll read up on it though, thanks for the links.

Would you mind expanding on this? Do you mean using the `useContext` hook? How could it

[2019-07-16 18:57] mshwery commented on #300
@robphoenix yes I'm talking about `useContext`. Today we wrap a lot of our components in `withTheme` which is a higher order component that injects the `theme` context from the nearest `ThemeProvider` (or default theme context) in the component tree.

`useContext` would have two main benefits (and 1 drawback):
1. You don't have to worry about properly typing the higher order component or running i

[2019-07-16 19:35] dy opened #597 "FilePicker onBlur throws an error"
[code]

If we click on filepicker text input and then blur, it throws an error.
That happens in all the examples in docs https://evergreen.segment.com/components/filepicker

[2019-07-17 08:28] robphoenix commented on #534
@tj Can this be closed by #565?

[2019-07-17 09:34] robphoenix commented on #300
@mshwery That explanation helps a lot, thanks for taking the time.

[2019-07-17 13:44] kingdaro commented on #300
Does `React.forwardRef` or `useImperativeHandle` not work for whatever reason?

[2019-07-18 02:15] mshwery commented on #300
@kingdaro to be honest, no sadly, I haven't spent much time looking into how those would work or how they would be different for consumers who today use `ref` directly on evergreen components.