[2019-07-18 03:33] kingdaro commented on #300
Well, these basically bring all of the `ref` support for function components you could possibly need:
[code]
[code]
[code]
Might've made a mistake in there, but hopefully you get the idea. The result for consumers is the same with class components, and backwards compatible

[2019-07-24 20:07] sheminusminus opened #602 "In test environment, portalContainer.append and document.body.append both throw TypeError"
## Issue: Bug Report

In a test environment, components accessing `portalContainer.append` and `document.body.append` throw TypeErrors (`x.append is not a function`).

## Versions

Evergreen: 4.18.1
React: 16.6.0

## Screenshots

<img width="785" alt="Screen Shot 2019-07-24 at 3 04 01 PM" src="https://user-images.githubusercontent.com/9907610/61824695-49b27a80-ae24-11e9-8ad0-6da8a971a890.png">

##

[2019-07-25 08:47] miksansegundo opened #603 "Table.VirtualBody - allowAutoHeight - Layout and scrolling issues"
The issues are reproducible on the Complete virtual example on https://evergreen.segment.com/components/table/ I know this is an experimental feature. It's failing in two scenarios:

- measuring row height in the first load
- scrolling after a jump to a distant position

Here the details:

## Row height is not well measured
To reproduce it don't scroll the table, just check the height of the rows

[2019-08-04 17:49] ald890 opened #605 "SelectMenu - React does not recognize the "closeOnSelect""
[code]

I have Next.js app and paste first example from [docs ](https://evergreen.segment.com/components/select-menu/) "Single selected item"

My import:
[code]

And then I have an error:

[code]

[2019-08-04 19:23] calumbrodie commented on #605
I think that:
`closeOnSelect` needs to be destructured out of the props here:

https://github.com/segmentio/evergreen/blob/master/src/select-menu/src/OptionsList.js#L227

I'll make a PR but I can't test it currently as I'm not sure how to link evergreen locally in order to verify fixes. Seems it relies on building a commonjs package, but I'm not clear on the workflow of how to link a development v

[2019-08-08 22:50] MrAlexLau opened #607 "Default `list-style-position` styling not applying for lists"
### Description
The default `listStylePosition: 'inside'` for the `UnorderedList` and `OrderedList` components is not applying. I verified this in Chrome and Firefox.

I'm pretty sure the issue is that since styles are listed alphabetically for these components, the `listStyle` style is implicitly setting the "listStylePosition" [which defaults to "outside"](https://www.w3schools.com/cssref/pr_lis

[2019-08-12 16:32] ronocod commented on #597
Looks like it's related to https://github.com/segmentio/evergreen/pull/533

[2019-08-15 22:36] totaldis commented on #602
https://github.com/segmentio/evergreen/pull/517/files#diff-e1995d8ad5cb25e5daf2bf3285726d93

[2019-08-21 13:54] MichielLeyman commented on #543
I actually have the same problem, where box is loaded after my custom css instead of before (other way around in development). This makes it so that certain styles are overridden by the ones provided by `ui-box`, while the cascade is just fine in development.

While you can avoid it at times, I'd feel silly increasing the specificity in my selectors just to make sure my class is applied over a pre

[2019-08-22 02:24] rumsky opened #610 "Improve the documentation for the custom theme section"
Improve the documentation for the custom theme section

[2019-08-23 22:41] solon-aguiar commented on #605
@calumbrodie I think that your solution is right.

Did you take a look at the [Contributing section](https://github.com/segmentio/evergreen#contributing-to-evergreen) of the readme? If you run the storybook you can test it.

[2019-08-23 22:46] solon-aguiar commented on #607
Resolving as this was addressed. Thank you for your contribution!

[2019-08-23 22:46] #607 closed

[2019-08-25 17:33] danielmhanover opened #612 "Add Segment's SideNav component"
First off, great work on this project - these components look awesome!

I'm wondering how one would go about building [Segment's sidenav](https://www.dropbox.com/s/ewfjgi750i26ct2/Screenshot%202019-08-25%2013.32.49.png?dl=0) with this kit. if the component is not already in the kit, would you guys be open to adding it?

[2019-08-28 21:04] jodibean opened #617 "Please consider using FontAwesome for your icons"
# 🎉 Thanks for taking the time to contribute to 🌲Evergreen! 🎉

It is highly appreciated that you take the time to help improve 🌲Evergreen.
We appreciate it if you would take the time to write up a bug report or feature request.

Sadly, if we don't receive enough information, or the issue/feature request doesn't
align well with our roadmap, we might respectfully
thank you for your time, and close t

[2019-08-29 22:01] solon-aguiar commented on #612
Hi @danielmhanover,

we don't have plans to build the `sidenav` of our app in the evergreen UI. It is not a generic component that other developers can or should re-use to build their applications.

Why do you need the sidenav in a component?

[2019-08-31 00:53] PabloSzx commented on #300
so there are no TypeScript definitions available at all yet?

[2019-09-02 17:26] danielmhanover commented on #612
I want to create a dashboard with a sidenav. Many dashboards have them now and they are increasingly becoming the norm.

[2019-09-02 17:59] mshwery commented on #612
The best part about `evergreen-ui` is that it's incredibly simple to build something like this yourself exactly tailored to your needs! Here's a quick example:

https://codesandbox.io/s/youthful-hermann-lmq9r?fontsize=14

[2019-09-03 20:01] jasonbarry opened #620 "Tooltip prop request: showDelay"
I'm running into a few places in my app where it would be useful to have a tooltip only display after x milliseconds. A prop like `showDelay` would make it so that the tooltip would begin to show after the passed time had elapsed (similar to `hideDelay`).

[2019-09-05 21:21] Larissagilliane opened #621 "Feature request/ Treeview"
I would like to suggest a component that works as a "Treeview", it would be a component very useful for displaying large amounts of nested data.

I didn't find any component that act like this, so would be a very good adiction for 🌲.

That's a look of how the component can be:

![Screen Shot 2019-09-05 at 18 15 02](https://user-images.githubusercontent.com/27821672/64381259-2412b680-d009-11e9-92c9

[2019-09-10 04:47] feelosophical88 opened #623 "Autocomplete does not select option on mobile (on tap)"
Hi. I'm loving this library. I noticed an issue with the Autocomplete component which is I cannot select an option using my phone. I am using version 4.18.1. I even tried to use the example website on mobile and got the same result. Any ideas?

[2019-09-11 07:28] Pasalietis commented on #300
Or you can create **evergreen-ui/index.d.ts** file. For starting you can use my partial file and extend missing definitions.
[code]

[2019-09-11 21:55] zhaoyao91 commented on #179
Great is evergreen! Theming only makes it better! Look forward to the good news :)))

[2019-09-14 04:18] auderer commented on #463
I just ran into this problem, causing my popover not to show on-screen.

Here's a temporary workaround:

[code]

Or, if you fancy a one-liner:

[code]

Of course this is not ideal; I'd like to work on a fix for this.

[2019-09-17 20:41] skitsanos opened #632 "UI example"
Not really an issue, just wanted to share my sandbox, maybe someone will find it handy.  I had few components missing in my own project so wrapped up some test bed on [https://codesandbox.io/s/2sr2r](https://codesandbox.io/s/2sr2r) You are welcome to fork and play around.

[2019-09-19 00:56] calumbrodie commented on #621
We had this problem and used this -> https://ant.design/components/tree/

[2019-09-25 15:18] #620 closed

[2019-09-30 03:52] auderer opened #637 "EditableCell behavior improvements"
I love the Editable Table, but there are some behaviors that feel like bugs, especially in comparison to most spreadsheet software:

- [ ] Cell textarea opens when Shift is pressed (Expected: Textarea should not open with Shift)
- [ ] Caret position starts at beginning of textarea (Expected: Caret should start at end of text)
- [ ] When focusing a cell then pressing a letter, the letter is appende

[2019-09-30 15:49] #623 closed

[2019-09-30 15:50] #535 closed

[2019-10-02 14:39] rafaelcamaram opened #639 "Popover statelessProps props"
I was taking a look at the `PopOver` component and I noticed that when I pass a value for the `statelessProps` props - with a `style` object - it'll start to override and lost all the previous `statelessProps` props.

Do you know if there is a way to keep these old properties that I'm not passing? Or is it necessary to create a PR for it?

[2019-10-03 01:56] juxley commented on #300
Hey! I'm learning TS myself now. I'm unsure if this is right, yet I added the Heading property definitions.
[code]

[2019-10-03 14:40] #639 closed

[2019-10-03 15:23] seanemmer commented on #300
Can we please get some guidance as to whether a Typescript rewrite and/or definitions are forthcoming from the maintainers?

If one is not forthcoming, can we at least get type definitions pushed to DefinitelyTyped.  @Pasalietis has put together a great start above and it is poor practice to manually copy that into each project rather have the community maintain the definitions in a central repo.

[2019-10-03 15:25] juxley commented on #300
@Pasalietis I'm still learning TypeScript and having a hard time adding the Heading Component types.

For those who are using this in a project, this is what I'm doing in my package.json

[code]

[2019-10-03 15:28] blujedis commented on #300
@juxley typically the way to do it is to add a new type root in your tsconfig.json then have a type root in your projects named "types".

So it would be:

/types
  /evergreen-ui
    index.d.ts

Not that what you're doing won't work but you may wan to investigate "type roots" in tsconfig referencing the above. Hope that helps.

[2019-10-03 15:37] juxley commented on #300
@blujedis I don't follow unfortunately, yet now the types for the Heading components works! :D

The way I'm doing it is definitely not the right way...yet it's the way that's currently working until Evergreen supports types...

[2019-10-03 16:06] mshwery commented on #300
@seanemmer @Pasalietis I would personally prefer to avoid putting it in DefinitelyTyped because the process to get that merged, released, updated can be fairly slow. That said, we haven't made enough meaningful progress to migrate to TypeScript. We have work started in the `typescript` branch and have added lots of types, but there are still a lot of missing pieces.

I'm thinking it would make sen

[2019-10-03 16:13] blujedis commented on #300
@mshwery DefinitelyTyped excuse the pun is definitely not the answer. I would also arg that the proj should be natively rewritten in TS (apologies if this is already in works or pipeline). It isn't that difficult and doesn't have to be done all at once. You can get it spun up and let the comm keep contributing. Meaning you can leave many types as "any" until done and then do an official release. I

[2019-10-03 16:21] mshwery commented on #300
@blujedis see https://github.com/segmentio/evergreen/compare/typescript?expand=1 :)

[2019-10-03 16:30] auderer commented on #300
@mshwery Are you still blocked on the `ref` issue mentioned here? https://github.com/segmentio/evergreen/issues/300#issuecomment-511942648

There are ways to use refs in function components now, so maybe a good starting point is migrating to context hooks. What do you think?

[2019-10-03 16:37] mshwery commented on #300
@auderer yeah I haven't taken a look at implementing that myself so that would definitely help! The  `...props` issue with TypeScript not properly typing things in the higher order component makes it really hard for us to use the `withTheme` HOC without losing typedefs. If we can safely support refs and move to `useContext` instead for the theme provider, that would be amazing!

Additionally it wo

[2019-10-03 16:40] blujedis commented on #300
@mshwery done a lot with that recently actually (Context, useImperativeHandle etc) . If still stale in about 10 days or there about I can take a look.

[2019-10-03 22:05] pearlyplan commented on #300
@mshwery adding a .d.ts file sounds look a reasonable stopgap given the constraints and uncertain timing around a full-fledged rewrite.  Should @Pasalietis make a PR with their progress so far?  The community can then contribute updates (e.g. I just noticed Table is not covered) and attempt to manage the drift you mention

[2019-10-03 22:06] seanemmer commented on #300
@mshwery adding a .d.ts file sounds look a reasonable stopgap given the constraints and uncertain timing around a full-fledged rewrite. Should @Pasalietis make a PR with their progress so far? The community can then contribute updates (e.g. I just noticed Table is not covered) and attempt to manage the drift you mention

[2019-10-03 22:30] mshwery commented on #300
@seanemmer Yeah adding a PR with that .d.ts file might be a good first step. We can start layering in our own internal types where they differ, in follow-up PRs.

[2019-10-04 07:57] Pasalietis opened #642 "Question: Any plans to migrate React.FC?"

[2019-10-05 21:23] calumbrodie opened #645 "Inconsistent use of 'icon' prop in SelectMenu"
This PR:

Add optional icon to SelectMenu options https://github.com/segmentio/evergreen/pull/618

Added an optional 'icon' option to select menu options. This is a good feature in theory, but I'd argue that this prop should have been called 'image' rather than icon.

The prop 'icon' I'd have expected to add a <Icon> Component. This change forces having to use an image src, where this usage doesn'

[2019-10-05 21:35] calumbrodie commented on #632
Spectrum board might be a better place for this:

https://spectrum.chat/evergreen?tab=posts

This isn't an issue

[2019-10-07 15:24] mshwery commented on #645
I tend to agree, though we'd have to support this prop name now unless we want to introduce a breaking change.

I agree that the label could actually be a node – that way it's infinitely customizable. But that could yield other unknown problems.

[2019-10-08 18:43] calumbrodie commented on #645
Not wanting to introduce a breaking change shouldn't prevent us from rectifying the mistake (even if it means only merging it prior to a major release).

In any event I think the wider issue here would be making the use of icon/labels and 'option renderers' more consistent between the various components with a goal of making things more generally flexible.

I understand the push for v5 at the mome

[2019-10-08 20:55] seanemmer commented on #300
@Pasalietis are you available to make the PR?

[2019-10-09 04:21] Pasalietis commented on #300
@seanemmer I don't think it is suitable for PR, because it's lacking some types. I could create PR with missing components with all props as any, but it could still have some typing bugs.

[2019-10-10 08:40] Nikhil-Pavan-Sai opened #648 "Error: React does not recognize the "closeOnSelect""
"evergreen-ui": "^4.18.1",
"react": "^16.8.6",
"react-dom": "^16.8.6",

I've been encountered with the error:

Warning: React does not recognize the `closeOnSelect` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `closeonselect` instead. If you accidentally passed it from a parent component, remove it from the DOM element in div

[2019-10-11 01:57] seanemmer commented on #300
@Pasalietis I think missing types is better than no types - I've been using it as is and it's pretty easy to ts-ignore imports for untyped components.  The community can then jump in and start populating the missing types.

@mshwery what do you think?

[2019-10-11 04:24] Pasalietis commented on #300
I create PR https://github.com/segmentio/evergreen/pull/646 with update types, but at this moment it can't be merged, because it depends on ui-box@^2.0.0

[2019-10-24 02:31] #59 closed

[2019-10-24 02:32] #154 closed

[2019-10-24 02:48] #221 closed

[2019-10-24 03:14] #303 closed

[2019-10-24 03:15] #305 closed

[2019-10-24 03:16] #309 closed

[2019-10-24 03:25] #325 closed

[2019-10-24 03:27] #331 closed

[2019-10-24 03:42] #391 closed

[2019-10-24 03:45] #394 closed

[2019-10-24 03:49] #417 closed

[2019-10-24 04:04] mshwery commented on #421
Here's an example – the problem was having everything in the same Popover. https://codesandbox.io/s/forked-menu-example-hbvy7

[2019-10-24 04:04] #421 closed

[2019-10-24 04:05] #429 closed

[2019-10-24 04:05] mshwery commented on #431
This is implemented!

[2019-10-24 04:05] #431 closed

[2019-10-24 04:06] #449 closed

[2019-10-24 13:20] #345 closed

[2019-10-24 15:20] #451 closed

[2019-10-24 16:09] #648 closed

[2019-10-24 16:10] mshwery commented on #642
The biggest motivation for that would be to simplify render trees using hooks like `useTheme` (I want this), and potentially shaving down the overall file size of the library.

I'm for it!

[2019-10-24 16:11] mshwery commented on #632
Closing but thanks for sharing! Feel free to repost in the spectrum channel :)

[2019-10-24 16:11] #632 closed

[2019-10-24 16:13] mshwery commented on #617
We don't plan on supporting FontAwesome at this time, but we will consider if it makes sense for some future version of Evergreen to support BYO-icon library.

We'd have to use something for defaults icons that are included in some components (like close `X` icons and such) with the ability to replace those with your own... TBD.

[2019-10-24 16:13] #617 closed

[2019-10-24 16:22] #465 closed

[2019-10-24 16:24] mshwery commented on #472
Totally agree @notfelineit ! Feel free to PR it :)

[2019-10-24 16:29] mshwery commented on #475
This seems to be resolved.

[2019-10-24 16:29] #475 closed

[2019-10-25 17:04] mshwery commented on #519
I'm not able to repro this. Can you create a codesandbox that reproduces the error?

[2019-10-25 18:43] #520 closed

[2019-10-28 21:49] #555 closed

[2019-10-28 21:51] mshwery commented on #592
We don't have any plans to support Vue at this time.

You can make use of plain css alongside `evergreen-ui` but it may not behave quite as you expect, due to the CSS-in-JS solution we get from ui-box. You'll probably run into things like specificity clashes and order hierarchy.

[2019-10-28 21:51] #592 closed

[2019-10-30 20:20] mshwery commented on #300
Alright, getting a bunch more types added here – https://github.com/segmentio/evergreen/pull/660

Happy to release this as-is, and we can improve upon the types (and documentation)

[2019-10-31 20:45] mshwery commented on #300
https://github.com/segmentio/evergreen/releases/tag/v4.21.0

Not 100% coverage, but this should be a healthy starting point! Closing this issue for now and we can track for an actual code migration via new issues/prs

[2019-10-31 20:45] #300 closed

[2019-11-02 23:44] tohjustin opened #666 "Tooltip not applying custom "className" property"
## Description

[`<Tooltip />`](https://evergreen.segment.com/components/tooltip/) allows user to specify properties passed through to the tooltip via the `statelessProps` prop.

However since [v4.21.0](https://github.com/segmentio/evergreen/releases/tag/v4.21.0), the component doesn't seem to be handling the `className` property correctly (i.e. `className` property passed to `props.statelessProps

[2019-11-02 23:59] #666 closed

[2019-11-06 01:46] seanemmer opened #669 "Side Sheet animation broken"
It looks like the Side Sheet animation broke in the latest version.  The close button still animates but the sheet itself does not.  This can be seen on the docs site:

https://evergreen.segment.com/components/side-sheet

[2019-11-06 20:17] #669 closed

[2019-11-07 06:27] tohjustin opened #673 "Initials in Avatar not centered"
## Description

In [v4.21.3](https://github.com/segmentio/evergreen/releases/tag/v4.21.3), the [Avatar](https://evergreen.segment.com/components/avatar) component doesn't seem to be centering the initials anymore.

<img width="1111" alt="Screen Shot 2019-11-06 at 22 23 06" src="https://user-images.githubusercontent.com/8844886/68364871-113d6080-00e4-11ea-9b26-d1f87ebfb36c.png">

[2019-11-07 06:39] tohjustin opened #674 "SelectMenu's input element not getting styled correctly"
## Description

In [v4.21.3](https://github.com/segmentio/evergreen/releases/tag/v4.21.3), the [SelectMenu](https://evergreen.segment.com/components/tooltip/) component's input element seems to be "inheriting" the browser's default styling which makes it look different from previous releases.

<img width="1161" alt="Screen Shot 2019-11-06 at 22 29 29" src="https://user-images.githubusercontent.com

[2019-11-07 15:37] mshwery commented on #674
Thanks for reporting! I've got a fix proposed in PR #675

[2019-11-07 15:37] mshwery commented on #673
Thanks for reporting! I've got a fix proposed in PR #675

[2019-11-07 17:20] #673 closed

[2019-11-07 17:20] #674 closed

[2019-11-07 17:27] systemizer opened #676 "SearchHeaderCell Type not accepting flex properties"
Evergreen uses flex as a way of defining column width. `TextHeaderCell` and `HeaderCell` both accept flexBasis/flex/flexGrow without typescript errors. `SearchHeaderCell` results in the following error:

[code]

## How to Reproduce
* Action: compiling code with a flex property on a `SearchHeaderCell` tag
* Version: `4.21.2`

[2019-11-07 17:38] mshwery commented on #676
Ah, looks like `SearchTableHeaderCell` props should extend `TableHeaderCellProps` (omitting own props), and `TableHeaderCellProps` should extend `TableCellProps` (omitting own props).

[2019-11-07 17:42] systemizer commented on #676
Hmm, im confused. Doesn't it do that? https://github.com/segmentio/evergreen/blob/master/index.d.ts#L1371

It looks like the heredity tree goes: `SearchTableHeaderCellProps` --> `TableHeaderCellProps` --> `TableCellProps` --> `PaneProps` , which should work.... but it's very possible im missing something

[2019-11-07 17:43] mshwery commented on #676
It might have to do with the way PaneProps is using `typeof Box`. What version of typescript are you on?

[2019-11-07 17:45] systemizer commented on #676
TypeScript Version 3.4.5

[2019-11-12 10:53] senasi commented on #581
Hello, I have encountered similar problem with evergreen's Link and react-router's Link. As correctly stated by @mshwery it's not a bug in `evergreen-ui`.

Problem is, react-router's `Link` is wrapped in `React.forwardRef()`, which is returning an object (which can still be rendered, more info here: https://github.com/facebook/react/issues/12453).

`is` prop is being taken from `ui-box` library an

[2019-11-13 18:02] cliffpyles commented on #452
If no one is working on this, I can take a shot at it.

[2019-11-13 19:46] cliffpyles commented on #452
From what I can tell this is related to a conflict with Gatsby's router (@reach/router) and the Popover component. The router manages focus programmatically, and changes `document.activeElement` to a div (`id="gatsby-focus-wrapper"`). The Popover component is expecting `document.activeElement` to be equal to `document.body`. Because of this the focus doesn't get triggered on the target. https://gi

[2019-11-13 20:00] mshwery commented on #452
Seems like we may want to use a more generic handler for bringing focus back. Could potentially use something like a focus trap hook? I think in that case it'd be more generic and could be used in multiple places.

[2019-11-13 21:35] cliffpyles commented on #452
That seems like a clean approach to me. If we want to use hooks, we would need to convert the component to a functional component though. Would that be in scope of this issue or should another be created?

[2019-11-19 13:37] vko-online commented on #459
Did you guys revisited the porting?

[2019-11-19 14:25] kud opened #679 "[Menu] Define how many elements can be displayed (overflow)"
Hello :)

On `<Menu>`, it could be great to have an overflow and define how many items you want to be displayed on the screen, because I've got like 200 items and it takes the whole website.

Is there any way to do this?

Thank you.

[2019-11-19 15:53] kud commented on #463
+1 here when I use Emotion as trigger:

[code]

Thank you for the workaround :)

[2019-11-19 16:21] mshwery commented on #679
`Menu` doesn't support additional ui-box props unfortunately, so you would have to wrap your `Menu` in `Pane` and specify the maxHeight and overflow props on that component instead. Would that work?

[2019-11-21 04:21] andycarrell opened #681 "Using Button > "is" with React Router Link gives PropTypes warning"
Hi 👋 - when I use the button component, setting the 'is' prop to be react router link, I get a prop type warning:

_Edit - this issue might be more closely related to `ui-box` - [Box doesn't accept React components](https://github.com/segmentio/ui-box/blob/master/src/box.tsx#L28) -the correct type should be `PropTypes.elementType`_
[code]
[The docs tend to suggest this is recommended:](https://eve

[2019-11-21 06:07] tomitrescak commented on #681
Same thing with Menu.Item:

[code]

used as

[code]

[2019-11-21 19:10] andycarrell commented on #681
Thanks @tomitrescak :)
Can repro with `TableRow` too - seems to be either these components need to avoid passing "is" down to `Text` / `Box`, or the proptype needs to be updated?

[code]

[2019-11-22 17:35] t7m opened #682 "Dialog: no way to easily change the button order?"
Regarding the [dialog](https://evergreen.segment.com/components/dialog): Not everyone wants the "confirm" button on the right and the cancel button on the left. Not everyone wants these things in the lower-right corner, either.

I had to hijack onOpenComplete to move things around and restyle them (code below). Was there an easier way? Also, it's just about impossible to select DIVs in the dialog

[2019-11-26 15:16] lBilali commented on #682
instead of doing that I would have removed default footer and add buttons on the content
and if you need to reuse it multiple times create a custom component wrapping the dialog with hidden footer and add your own footer
I did not try this but I don't see why it should not work

[2019-11-26 15:20] t7m commented on #682
Yes, but the default footer made easy use of the ok/cancel buttons. Changing the order of the buttons seems like a better configuration option.

[2019-11-29 05:31] eloiqs opened #684 "Error: Uncaught [TypeError: Cannot read property 'querySelector' of null]"
I am getting the above error in `OptionsList.js:96:22` when trying to control the `<SelectMenu />` component in jest with react-testing-library.

Unfortunately I could not reproduce in isolation in codesandbox, so something is telling me this might arise because of some side effect caused in my app by the selection of an item.

In my tests I simply open the SelectMenu with a click, type something

[2019-11-29 06:33] tomitrescak opened #685 "Project dead?"
I absolutely love Evergreen, but with the lack of activity I am wondering what is the plan for this package? Do you plan to support it in the future? I am starting a new project that will run for several years and it would be great to know. sorry for such a direct question.

[2019-11-29 08:14] maraisr commented on #685
This project is far from dead! I don't work here, but I have been following it for quite some time. It's just very mature, so doesn't need a lot of tinkering. There is however currently a huge project, where they are re-writing it in TypeScript, which is probably why master looks quite empty in terms of activity lately.

[2019-11-29 14:10] tomitrescak commented on #685
Wow, typescript rewrite! Now that’s all I needed to hear;) I’m THAT kind of person ;)

[2019-11-29 14:10] #685 closed

[2019-11-29 14:29] tomitrescak commented on #685
Mature or not mature though it would be great to head some kind of response to PRs or issues targeting API functionality that clearly does not work. Throw a dog a Milestone 3.0 bone or something ;)

[2019-11-29 18:02] mshwery commented on #684
It's probably because the component is unmounting so quickly that by the time `requestAnimationFrame` fires it's already unmounted.

I think your intuition is correct – we could check for the ref before using it.

The more correct way to handle this would be to keep a reference to the requestId (from` requestAnimationFrame`) and pass it to `cancelAnimationFrame` on `componentWillUnmount`

[2019-11-29 18:13] mshwery commented on #685
Hi @tomitrescak! Evergreen is far from dead :)

@maraisr is pretty spot on – the library is fairly stable and we are considering/planning next versions (v5). Internally, Segment uses Evergreen heavily, so it's not going anywhere. We actively respond to bugs and maintenance, but new features are a little slower given that we need to consider how to incorporate them in a holistic way across the libr

[2019-12-03 20:55] seanemmer opened #688 "Make Blueprint a Peer dependency"
Blueprint Icons are currently adding 300kb to my final build, despite the fact that I have opted out of using them in favor of FontAwesome.

This has been discussed previously in:

https://github.com/segmentio/evergreen/issues/458
https://github.com/segmentio/evergreen/pull/525

I think an easy stopgap solution is to transition blueprint from being a required dependency to a peer dependency, so th

[2019-12-04 15:11] itzsaga opened #689 "Request: Upgrade react-transition-group version"
I was recently throwing a `Uncaught TypeError: this.updater.enqueueCallback is not a function` error that caused my app to crash. After digging I believe the root case was that `react-transition-group` was utilizing a different version of `react` than my project. See the `extraneous` tag below.

[code]

When I looked into the `react-transition-group` project it looks like they moved `react` and `r

[2019-12-05 20:37] mshwery commented on #688
Unfortunately it could significantly break parts of evergreen today because of internal use of the `Icon` component. We do want to implement support for tree-shaking icons though.

[2019-12-05 20:58] mshwery commented on #689
[`react-transition-group@2.9.0`](https://github.com/reactjs/react-transition-group/blob/v2.9.0/package.json#L52-L55) has react and react-dom as peer deps. I don't think that's what's introducing your duplicate react versions. I think it's [`auth0-lock`](https://github.com/auth0/lock/blob/v11.18.1/package.json#L105-L106).

Try removing all versions of `react` and `react-dom` from your lockfile and

[2019-12-07 05:29] clarkkozak opened #690 "Combobox deselcts on mobile device"
- Issue and steps to reproduce.

- I'm using a Galaxy S7 and Free Adblocker Browser 72 and the following code example:
`
<Combobox
  items={ ['Autobiography', 'Anime', 'Biography', 'Classic', 'Comics', 'Crime', 'DIY (Do It Yourself)', 'Dystopia', 'Fantasy', 'Folktale', 'Historical', 'Horror', 'Humor', 'Legend', 'Memoir', 'Mystery', 'Mythology ', 'Personal Development', 'Pyschology', 'Political Sci

[2019-12-10 03:00] mshwery commented on #690
Nice find! Is this specific to Evergreen or is it happening in `downshift` too (which is what Evergreen is wrapping here)?

[2019-12-14 17:42] juxley commented on #690
Hi @mshwery ! Thank you for your reply and patience.

I took a deeper look into this, and it seems to be specific to Evergreen. Here's an example of `downshift` working properly; although slightly different.

https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=%2Fsrc%2Fordered-examples%2F02-complete-autocomplete.js&moduleview=1

[2019-12-20 04:26] wangcch opened #691 "Feat: How about `append` compatibility?"
**`append`** compatibility data:
![compatibility data image](https://user-images.githubusercontent.com/28584349/71229565-fab03900-2320-11ea-8530-3183f1401ab4.png)
https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append

**`appendChild`** compatibility data:
![image](https://user-images.githubusercontent.com/28584349/71229953-97bfa180-2322-11ea-914c-38a6b5912b63.png)
https://developer.mo

[2019-12-20 16:37] mshwery commented on #691
PRs welcome!

[2019-12-26 18:47] juxley commented on #690
Hello again!

Here's where I think it goes wrong:

https://github.com/segmentio/evergreen/blob/e4e350239c782843d6c2ae7d68119a28a384bf8e/src/autocomplete/src/Autocomplete.js#L224

I tried playing with the events to see if anything would change yet I couldn't figure it out.

[2019-12-30 17:49] #684 closed

[2019-12-30 17:56] mshwery commented on #690
@juxley seems like we may need to remove `onMouseUp` and `onTouchEnd` to replace them with `onClick`?

[2019-12-30 17:59] mshwery commented on #690
Or maybe we should remove the `onMouseUp` and `onTouchEnd` altogether?

[2019-12-30 18:11] #691 closed

[2019-12-30 20:59] Chrischuck commented on #682
If this is something that the maintainers would like to support, I'd be more than happy to take this as a first issue.

[2019-12-30 21:55] mshwery commented on #682
All of the functionality needed to compose the buttons however you like is already there – as @lBilali suggested.

Rather than bloating the convenience props to accommodate many different configurations, I think it's preferable to use the "I know what I'm doing" approach and render the content and buttons yourself.

Open to other thoughts/opinions of course!

[2019-12-31 00:53] Chrischuck commented on #597
If nobody's working on this, I'd like to take this issue

[2019-12-31 00:56] juxley commented on #690
I'm unsure. When I attempted to do that, than functionality stopped working. Did you attempt to replace or remove it?

[2019-12-31 01:07] mshwery commented on #690
Hm. Yeah it breaks in different ways.

I think it might be a bug in downshift still (it's applying mouse event props to the items instead of touch events on mobile) but it might be quite specific to this usage.

[2019-12-31 01:18] mshwery commented on #597
@Chrischuck go for it! 🙌

[2019-12-31 03:21] #597 closed

[2019-12-31 16:35] Chrischuck commented on #496
It's most likely an issue w/ `position:fixed`  style property that's set on the tooltip.

See: https://stackoverflow.com/questions/4889601/position-fixed-doesnt-work-on-ipad-and-iphone

I can try and mess around with it and see if I can fix it later today

[2020-01-01 23:37] juxley commented on #690
With the example provided above, `downshift` doesn't have this bug. In the example above they use an `onChange`. I'm unsure what's wrong.

I suggest to write this component. This component is quite important for forms on mobile devices and long lists. If I have some free time I'll give it a shot! :smile:

Thank you for your time.

[2020-01-02 15:13] allenlai18 commented on #575
I think we need UI designs for this.

[2020-01-02 17:57] Chrischuck commented on #642
@mshwery Is there a roadmap for this migration? I'd be happy to lend a hand

[2020-01-02 18:11] Chrischuck commented on #496
After exploring this a little, it seems to be a pretty tricky bug especially since I can't recreate the issue in storybook, but I'm thinking it might be possible to get the correct coordinates by using `visualViewport`'s properties.

[2020-01-02 22:18] seanemmer opened #696 "Downshift Actions unavailabe in Autocomplete Typedef"
Downshift comes with a number of actions for controlling autocomplete functionality:

https://github.com/downshift-js/downshift#actions

These are not included in the typedef of the Autocomplete component's render-props.

Happy to put together a PR :)

[2020-01-03 06:25] itsdarrylnorris opened #697 "Firefox Inconsistencies: isInvalid not working"
### Problems:
- The `TextInputField` component  is very hard to read on Firefox browser. See the screenshot below.
- The `isInvalid` prop does not add the red color around the input field. See the screenshot below.

![Inconsistencies](https://user-images.githubusercontent.com/6808460/71709694-9922ac80-2dad-11ea-8a42-5331f4ff9ec4.png)

### Device Details:

- Evergreen version: `4.21.5`
- Browser na

[2020-01-04 03:58] mshwery commented on #642
@Chrischuck no roadmap specific to migrating to React.FC, but you are welcome to take a stab at it if you can find some ways to incrementally introduce it in a non-breaking way!

[2020-01-05 22:23] mshwery commented on #697
I agree that the placeholder text is quite low contrast, more so on Firefox than in Chrome. However, are you sure you don't have some other styles at play?

Here's what Firefox looks like on the docsite evergreen.segment.com:
<img width="301" alt="Screen Shot 2020-01-05 at 4 22 09 PM" src="https://user-images.githubusercontent.com/710752/71787006-af13b580-2fd7-11ea-8b48-0c72a2326edd.png">

[2020-01-08 05:06] Chrischuck opened #700 "Plans to introduce a module bundler like webpack or rollup?"
Curious if there are any plans to introduce either WebPack or Rollup to build/minify the code rather than just using babel to transpile.

Reason being using a bundler can help bring down bundle sizes and remove dead code

[2020-01-09 04:13] Chrischuck commented on #610
I can work on this :)

[2020-01-09 21:30] tomitrescak commented on #681
Hi, is it possible to have a look at this issue? I tried to look into code, but I am not sure which component should "swallow" the "is", or does it need to be added to all of them.

[2020-01-09 21:32] andycarrell commented on #681
I think it might be ["box" from ui-box](https://github.com/segmentio/ui-box/blob/master/src/box.tsx#L28) - Box doesn't accept React components -the correct type should be `PropTypes.elementType`

[2020-01-09 21:38] tomitrescak commented on #681
Yah, I was just exploring that, but I cannot find the definition of that propType in the ui-box repo.

[2020-01-12 23:40] mshwery commented on #700
No immediate plans, but wouldn't be opposed to it.

[2020-01-15 22:12] seanemmer commented on #696
Resurfacing this.  Is a PR welcome?

[2020-01-15 22:44] mshwery commented on #696
@seanemmer yes!

[2020-01-17 21:19] andycarrell commented on #681
This PR in ui-box has been merged: https://github.com/segmentio/ui-box/pull/51 & released https://github.com/segmentio/ui-box/releases/tag/v3.0.3

So to close this I believe Segment would need to update to version 3.0.3 🤔

[2020-01-17 21:32] mshwery commented on #681
Yeah I think we'd also have to patch a `ui-box@^2.0.0` version to pull it into evergreen without a breaking change. The breakage in `ui-box` is that classnames no longer use the 📦 emoji. Some folks may be relying on classnames in weird ways so we don't want to disrupt that.

If that's not do-able we can sync up on whether or not it's worth a major version change in `evergreen-ui`.

[2020-01-19 00:43] andycarrell commented on #681
Agreed - a patch on v2 would allow consumers to pull it into their project. Is the best way to do that to open a PR for the same fix against the v2 branch in `ui-box`

[2020-01-20 08:21] g1eny0ung opened #714 "UMD support"
Are there any plans to support the UMD module? If any, I would glad to help.

[2020-01-21 04:36] mshwery commented on #714
We currently create both esm (import/export) and commonjs (require) style modules which works quite well for a broad majority of consumers (e.g. TypeScript / babel users typically rely on the esm modules).

What did you have in mind for supporting UMD? PRs welcome! :)

[2020-01-21 14:56] g1eny0ung commented on #714
My original idea was to integrate evergreen into [cljsjs](http://cljsjs.github.io/), which is a package set with google closure externs support, use in clojurescript. It easy to implement this with a UMD module.

I will make a PR to support UMD and try not to affect the current production build.~

[2020-01-21 19:34] andycarrell commented on #681
Closing this issue as Box prop-type in `ui-box` has been fixed in both version 2 & 3. - upgrading to https://github.com/segmentio/ui-box/releases/tag/v2.1.3 should resolve.

[2020-01-21 19:34] #681 closed

[2020-01-22 16:37] g1eny0ung commented on #714
@mshwery Hi, I already make a PR.

I use rollup to emit the UMD bundles. Include development and production versions.

In order to be able to pack, I create `index.umd.js`, it removes the `ssr` imports. But I'm not sure Is this a good way because the UMD module also supports node.js environment. Currently, I think it's not very important because we use the main entry to import the commonjs module

[2020-01-28 19:41] amalo95 commented on #676
What typescript version would avoid this issue? I'm experiencing the same on 3.4.5

[2020-01-30 02:42] Jakobo commented on #179
Adding a note here for anyone who's still looking for theming in evergeen. With the `ThemeProvider` in place, it's possible to extract all of the primitives (and derived colors). Doing so would make it possible to pass a 100% custom theme into the `ThemeProvider` object.

There's a PR at https://github.com/segmentio/evergreen/pull/721 which could use 👀 that does exactly this. It pulls all the valu

[2020-02-01 10:46] cstrat opened #728 "Menu Item when using React Router Link: PropType error and aggressive styling"
One issue and one annoyance.

1 - `Warning: Failed prop type: Invalid prop 'is' supplied to 'MenuItem'`
2 - Doing this with a Menu.Item renders the menu with an underline and coloured like an anchor. Really it should still be styled as a menu-item and not a link. I can override it manually but thats a pain.

Code:

[code]

Image:

![image](https://user-images.githubusercontent.com/4209076/73590889

[2020-02-03 01:28] Chrischuck commented on #728
For your first issue, looks like the `Menu.Item` component is missing `PropTypes.elementType` in its propTypes validation.

For the second issue, I would suggest to pass your own `className` to `Menu.Item`. I think it's best not to try an have the library override another library's behavior and leave that up to the developer to change.

Thoughts @mshwery ?

[2020-02-03 04:02] cstrat commented on #728
Yeah the second point I am not wasn't sure of however in other parts of Evergreen it is overridden. Check the docs under 'Button'.
For consistency I expected Menu.Item to behave the same.

![image](https://user-images.githubusercontent.com/4209076/73624761-2cdde600-4696-11ea-9655-371061cb5718.png)

[2020-02-03 17:00] mshwery commented on #728
@cstrat @Chrischuck I think it's a reasonable expectation, given that menu is likely to include anchor tags. `Button` [has code that expects anchor tags may be used](https://github.com/segmentio/evergreen/blob/78cf402525b59fcac49e53236f382dba0c60256f/src/themer/src/createButtonAppearance.js#L10).

Can you use `ui-box` css props to override the style: e.g. `textDecoration="none"` in the meantime?

[2020-02-03 17:15] Chrischuck commented on #728
Nice, I can fix that tonight

[2020-02-04 00:50] cstrat commented on #728
@mshwery @Chrischuck thanks guys, that is great.

I wanted to try look into how I could try doing a PR myself but I've never used typescript so I'd end up making a mess of it all 😃

I am overriding the styles at the moment, cheers for your help 👏

[2020-02-04 16:24] Chrischuck commented on #728
@cstrat You shouldn't have to mess with `ts` all the src code is in `js`! It's a little tricky to figure out how the theming/styling works under the hood though.

[2020-02-04 16:46] #714 closed

[2020-02-04 20:02] cstrat commented on #728
@Chrischuck Oh I thought it was `ts` - I must be confused with something else. I'll take another look this weekend 😄

Thanks again for jumping on the issue so quickly.

[2020-02-04 22:51] cstrat commented on #728
I can confirm the prop-type warning has now been fixed, it is sorted!

The styling is still not working as expected though.

![image](https://user-images.githubusercontent.com/4209076/73794347-56188680-47fc-11ea-8d22-9cd2a1daf834.png)

[Here is a demo which is slimmed down version of what I am building](https://codesandbox.io/s/evergreen-ui-menuitem-bug-1ynqm)

[2020-02-05 00:28] cstrat commented on #728
Sorry to spam this one issue thread with other comments, but I found why the page is jumping around.

I am pretty sure it is to do with the popover giving the menu button focus on close. Are you be open to having a flag on the `popup` to bypass this behaviour? If so, I might try doing a PR?

https://github.com/segmentio/evergreen/blob/master/src/popover/src/Popover.js#L193

[2020-02-05 03:46] Chrischuck commented on #728
I split up the two prs, 1 for eslint and the other for styling. Unfortunately styling got in a little late so it'll be out in the next release, sorry about that :(

[2020-02-05 21:29] xAvarice opened #734 "Minor: Docs typo."
https://github.com/segmentio/evergreen/blob/78cf402525b59fcac49e53236f382dba0c60256f/src/buttons/src/IconButton.js#L26

[2020-02-06 06:27] Chrischuck commented on #734
I assume it's the `primitivie` part? Looks like it occurs on other lines as well, you can make a pr for the fix if you'd like, if not this would be a really nice first issue.

[2020-02-06 06:38] Chrischuck opened #735 "v5 Roadmap"
Curious to see what we can do to get the ball rolling on v5.

An [issue](https://github.com/segmentio/evergreen/issues/379) was made for it a while back and 1/2 committed changes were made so far.

What I'd personally like to see in v5:
* Robust theming
* Hooks
* Tree shaking support w/ icons

@mshwery brought up [here](https://github.com/segmentio/evergreen/pull/723) the two different ways we cou

[2020-02-06 11:19] xAvarice commented on #470
Changing the colour of an icon onHover is much worse, especially with the complexities of :hover nested selectors with css-in-js and the webpack headache.

[2020-02-06 16:02] mshwery commented on #735
We've also started a v5+ vision/roadmap internally between some ui engineers and our design team. We'll start sharing more broadly here as major areas of investment start to bubble up – would love to get the feedback from this open source community on what we are thinking of (hint: you already named 3 themes on roadmap 😉)

We'll have more to share here in the next few weeks.

[2020-02-06 16:02] mshwery commented on #735
As for the existing v5 branch, we can evaluate if those changes still make sense (but will probably have to reapply them because much has changed since then.

[2020-02-06 19:23] xAvarice commented on #734
I have the fix ready but permission denied.

[2020-02-06 19:30] mshwery commented on #734
Have you forked the repo to submit the patch?

[2020-02-06 19:51] xAvarice commented on #734
No comrade, I was just publishing to a branch here. PR on fork now, you're assigned. Ty.

[2020-02-06 20:18] xAvarice commented on #735
I think customisation or at least documentation regarding customisation should be a critical priority or you are going to lose developer adoption that you could have otherwise (at/re)tained.

[2020-02-06 20:23] #734 closed

[2020-02-06 20:26] xAvarice opened #737 "Docs: Popover Styling ClassName"
I had to review the source code for Popover to figure out that className is passed via statelessProps, I realise that there's not really much wrong with that but it's at best faux-intuitive without any mention in documentation.

DOCS:
https://evergreen.segment.com/components/popover/

SRC:
https://github.com/segmentio/evergreen/blob/37d141457a82297fc2de14b252c68fa1a5e965f1/src/popover/src/Popover.

[2020-02-06 20:30] xAvarice commented on #737
Bigger issue:

The following works and adds class:
[code]

This CSS module via JS does not add any class to Popover :(
[code]

[2020-02-06 20:54] xAvarice commented on #737
Going to compare to another implementation that is working for me.

So far I have found that:
Popover passes statelessProps (where className is provided) to PopoverStateless.
PopoverStateless takes its propTypes from layers/Card
layers/Card takes its propTypes from Pane
Pane takes its propTypes from Box **(LOWEST LEVEL FOR ASSIGNMENT)**

The the lowest level for passing className

[code]

[2020-02-07 00:00] Chrischuck commented on #735
@xAvarice could you explain what you mean by customization? Is it better theming support?

[2020-02-07 06:34] sdoan16 commented on #472
@mshwery Is anyone working on this?

[2020-02-07 06:35] sdoan16 commented on #223
@mshwery Is anyone working on this?

[2020-02-07 06:39] Chrischuck commented on #735
@mshwery has there been any preexisting work done for tree shaking support w/ icons?

[2020-02-07 13:25] xAvarice commented on #735
It's hard to say without theme documentation, can I be pointed to the location I've seen referred to of an early branch that documented theme properties?

When I say customisation, I mean that many people will be using SCSS / LESS / CSS alongside evergreen and should be able to override (especially when it comes to nesting, hover, responsive, etc)

If you take a look at this issue, and I will prov

[2020-02-07 13:27] xAvarice commented on #737
This works, I'm going leave another comment after this one comparing the lowest level className assignment for Icon versus Popover (Box?)

![Screenshot 2020-02-07 at 13 19 35](https://user-images.githubusercontent.com/17517508/74033206-8fdcbf00-49ad-11ea-95df-372c8bb67c85.png)

[2020-02-07 13:35] xAvarice commented on #737
Okay, so:

Icon extends PureComponent but it does not have any props passed using the spread operator (which includes the className from Box in the case of Popover - I believe)

Button also works for passing a className, on button it has a className props type on its own class (non-inheritance)

https://github.com/segmentio/evergreen/blob/37d141457a82297fc2de14b252c68fa1a5e965f1/src/buttons/src/Bu

[2020-02-07 13:37] xAvarice commented on #737
I haven't done any testing but would adding the following propType to Popover and escaping statelessProps (or the same thing within statelessPopover instead) allow the className to be passed?

https://github.com/segmentio/evergreen/blob/37d141457a82297fc2de14b252c68fa1a5e965f1/src/buttons/src/Button.js#L79

[2020-02-07 13:44] xAvarice commented on #737
Another difference would be that the css module is usually passed as

`className={MODULE.RULENAME}`

Whereas for popover to pass to statelessProps it has to be within an object, surely this should not matter? (Need to do some console.logging)

[code]

[2020-02-07 13:50] xAvarice commented on #737
Updated evergreen and its working now 🤷🤷‍♂️🤷🤷‍♂️🤷🤷‍♂️🤷🤷‍♂️🤷🤷‍♂️🤷🤷‍♂️🤷🤷‍♂️🤷

[2020-02-07 13:50] #737 closed

[2020-02-07 21:24] xAvarice opened #740 "Bug: Cannot map elements dynamically into Menu"
- Issue and steps to reproduce.
Try to .map an array into Menu, errors out with no items in menu (Error in Menu src)

https://github.com/segmentio/evergreen/blob/37d141457a82297fc2de14b252c68fa1a5e965f1/src/menu/src/Menu.js#L36

[2020-02-07 22:38] mikheevm opened #741 "Warning: Prop `htmlFor` did not match."
## Bug report 🐞

Hello! I'm using next.js with evergreen-ui and I get this error on development server:
[code]

I'm new to next.js and wonder if this something I should care about? I'm sorry the code is closed source and I can't share it, but I will include minimal snippets which should be enough to reproduce the issue:

**.babelrc**
[code]

**_document.tsx**
[code]

**pages/sign-in.tsx**
[code]

[2020-02-08 02:39] Chrischuck commented on #740
Seems like a decent first issue. Do you have a PR ready to go for it/working on it?

[2020-02-08 02:42] sdoan16 commented on #741
I can work on this

[2020-02-08 02:44] sdoan16 commented on #740
I'll work on this

[2020-02-08 02:54] Chrischuck commented on #741
You shouldn't really need to worry about this, although accessibility might take a small hit because of it.

The app should still work, however.

Can you try setting the `labelFor` property on the Input and see what happens?

[2020-02-08 10:47] xAvarice commented on #740
Not a good first issue for me, still learning the source code and intentions behind some of the approaches chosen. Getting a clearer and clearer idea each day. I will be depending on evergreen heavily for 3 projects so I will give back. :)

@sdoan16 if there is a chat channel etc I would be interested in your work on this.

[2020-02-08 13:38] mikheevm commented on #741
@Chrischuck
[code]

[2020-02-08 20:44] Chrischuck commented on #741
Hm, Could you try explicitly passing your own `id` prop to it? https://github.com/segmentio/evergreen/blob/master/src/text-input/src/TextInputField.js#L68

[2020-02-09 05:20] Chrischuck commented on #740
@xAvarice

Dug into it for some exploratory work. Are you using the `Menu.Item` component inside the menu?

<img width="575" alt="Screen Shot 2020-02-08 at 9 19 32 PM" src="https://user-images.githubusercontent.com/13311268/74096842-d10dc580-4ab8-11ea-8fac-b617665aa672.png">
<img width="331" alt="Screen Shot 2020-02-08 at 9 19 19 PM" src="https://user-images.githubusercontent.com/13311268/74096843

[2020-02-09 12:43] mikheevm commented on #741
@Chrischuck yeah, this helped
now label has `for` attribute like this `TextInputField-{id}` and doesnt increment with every reload

[2020-02-09 14:50] Chrischuck commented on #735
@xAvarice I see your points and I'm a big fan of CSS modules myself.

I'm curious if your issues occur outside of SSR as well and it's more of a fundamental issue of the library over just being SSR. Either way hopefully I can get some time to spin something up and test it a little. Hopefully @mshwery knows more about this stuff

With regards to the theme properties, unfortunately I scrapped that s

[2020-02-09 14:53] Chrischuck commented on #741
@mikheevm What `id` did you pass to the inputs?

[2020-02-09 15:43] mikheevm commented on #741
@Chrischuck in my case it were `sign-in-email` and `sign-in-password`

[2020-02-09 17:40] Chrischuck commented on #741
Was the `id` for the inputs the same?

[2020-02-09 18:46] mikheevm commented on #741
@Chrischuck yes
<img width="608" alt="Screenshot 2020-02-09 at 22 46 08" src="https://user-images.githubusercontent.com/16622558/74107885-00dacd00-4b8e-11ea-8fa4-9fe4608e9c30.png">

[2020-02-09 20:02] mshwery commented on #740
This is perhaps an area where the DX can be improved. We probably shouldn't throw in production environments, but this is an indication that Menu is not being used properly.

https://github.com/segmentio/evergreen/blob/37d141457a82297fc2de14b252c68fa1a5e965f1/src/menu/src/Menu.js#L31-L37

Instead of throwing in production, we should throw/warn in development mode that Menu requires `Menu.Item` som

[2020-02-09 20:04] mshwery commented on #740
Let me know if that solves your use-case (check out the custom example from the docs and/or @Chrischuck's example). If you find there is a bug or still an issue, feel free to comment on the thread and we can reopen the issue.

[2020-02-09 20:04] #740 closed

[2020-02-09 20:11] mshwery commented on #741
This would happen if you have a different number (or render order) of inputs on the SSR-rendered content than you do when the client renders the page.

You can see why here – we are incrementing counters of the number of text inputs or selects:
https://github.com/segmentio/evergreen/blob/3a92e2fc2e6460f7d0c5cba24cf7ebbb42535ee9/src/select/src/SelectField.js#L68
https://github.com/segmentio/evergre

[2020-02-09 21:12] mikheevm commented on #741
@mshwery sorry, just trying to understand

It is exactly what I did, isn't it? So it's already possible. The browser would want if there are elements with non-unique IDs, so the global set isn't really needed. So from my side it seems the easiest solution for now would be updating the docs for SSR part

[2020-02-09 23:14] mshwery commented on #741
@mikheevm ah yes, ignore me – I had overlooked that the `this.state.id` was getting `this.props.id` on initialization. So yes, passing your own `id` is already supported.

[2020-02-10 09:24] mikheevm commented on #741
@sdoan16 is this something you can do? As I am new to SSR/Next.js it's hard for me to come up with good explanation of this which can be added to the docs

[2020-02-10 15:02] mshwery commented on #223
We've had a couple stabs at it that haven't landed like #611 #733 that are related. I would take a look at those approaches and discussions first.

[2020-02-10 15:02] mshwery commented on #472
@sdoan16 go for it!

[2020-02-10 15:12] mshwery commented on #737
@xAvarice do you know which version you were on before?

[2020-02-11 02:48] sdoan16 commented on #741
@mikheevm I'll work on this. Also, if you could leave any feedback on my pr that would be great!

[2020-02-12 05:49] Chrischuck opened #745 "Credit card input + Date picker/datetime picker requests"
Posted [this](https://github.com/segmentio/evergreen/issues/473) a year ago but it strangely feels like longer!

But I'm curious to test the waters again on a date picker component.

Another, easier, feature request is a credit card input w/ auto-detection of the card type + formatting.

I'd be happy to work on both of these and I have a couple of friends who want to start contributing as well. So

[2020-02-12 22:21] mshwery commented on #745
I think we probably will land in a similar stance as Vadim's comments from back then – when you get into highly tailored components (or compositions) like credit card forms/inputs, and date inputs it can be difficult to find a flexible solution.

I think we could expose date components as a kind of builder kit which would offer the most flexibility for composing as you see fit, but in the style of

[2020-02-13 04:59] Chrischuck commented on #745
I see, how would a date component builder kit work and are there other ui libs doing something similar?

Also curious if we could do a flexible input in that case. So you can make your own formatted phone number input or credit card input for example, what do you think? I also think that would be a lot easier than building a a date builder kit and can maybe serve as a stepping stone for building t

[2020-02-13 17:20] maycy92 commented on #508
innerRef does not work for Select or Combobox components. Any thoughts?

[2020-02-24 22:04] Jakobo commented on #735
Having lived in evergreen's theming directory a _tad_ too long, I do have some v5 thoughts around theme specifically.

**Long Live ui-box?** `ui-box` is critical to v4 of evergreen. It also informs several other design decisions made in the framework; it's why we use glamor, it's why we prefer css as properties, and it's why we don't have `styled-components` or `emotion` loaded by default. But I t

[2020-02-24 22:52] amalo95 commented on #676
Any update on this?

[2020-02-25 21:34] amalo95 commented on #469
Is this fixed? should this be closed?

[2020-02-27 05:34] cstrat opened #748 "Table issue with header row not aligning with content rows."
Unsure if I am doing something wrong, but I can't ever get my header row to align with the content rows. It is always off... either too far left or right.
Even copying the example code from the documentation I can't get it to align:

![image](https://user-images.githubusercontent.com/4209076/75415018-72808c80-597e-11ea-9742-68213b7fc9b4.png)

https://codesandbox.io/s/evergreen-table-position-bug-i

[2020-02-29 02:39] dimitropoulos opened #750 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-03-01 23:09] Chrischuck commented on #748
What browser are you on?

I'm on chrome 80.0.3987.87

<img width="665" alt="Screen Shot 2020-03-01 at 15 06 54" src="https://user-images.githubusercontent.com/13311268/75635869-84f10500-5bce-11ea-81a5-791ac3025fa3.png">

<img width="754" alt="Screen Shot 2020-03-01 at 15 07 06" src="https://user-images.githubusercontent.com/13311268/75635870-86223200-5bce-11ea-9ed6-20793b24614e.png">

[2020-03-01 23:17] cstrat commented on #748
I'm using Brave browser (current version).

[2020-03-02 00:23] FOMSON opened #751 "Inconsistent CSS props behaviour for Button"
Apologies in advance if this is not the type of issue that should be posted here... I am very new to GitHub.

If I go on [the evergreen webisite](https://evergreen.segment.com/components/button) and add **color prop** to a Button component, like this:

`<Button appearance="minimal" color="#BF0E08" intent="none">SOME TEXT</Button>`

everything (on the website) works as expected - the text in a butt

[2020-03-02 01:19] cstrat commented on #751
You are right, here is an example reproduction of the bug.
I've not run into this myself before - I do use CSS styling props a lot.

https://codesandbox.io/s/testing-css-props-on-button-9gz7m

[2020-03-02 03:53] Chrischuck commented on #748
Super weird...I'd expect all of those browsers to have the same behavior... Would it be possible for you to inspect those elements and try to highlight where exactly the discrepancy in width is stemming from?

[2020-03-02 04:20] Chrischuck commented on #751
<img width="960" alt="Screen Shot 2020-03-01 at 20 17 11" src="https://user-images.githubusercontent.com/13311268/75645214-dc589a80-5bf9-11ea-9824-0ee65872ee84.png">

Something funky is going on here, looks like `ui-box` is for some reason transforming this into a className. For now, i'd stick with the `style` attribute and only use props specified in the docs.

I'll try to see whats going on here

[2020-03-02 04:25] cstrat commented on #748
I think I found where the issue is coming from... but can't work out why it is displaying inconsistently...

See this extra padding on the right (red box is mine).
![image](https://user-images.githubusercontent.com/4209076/75645257-41af9880-5c99-11ea-94e6-891f1805e412.png)

In my browser when checking:

- All the header cells are equal width: 295.25 (1181px)
![image](https://user-images.githubuser

[2020-03-02 04:26] Chrischuck commented on #751
https://github.com/segmentio/evergreen/blob/master/src/typography/src/Text.js#L65

My best guess is that glamor isn't doing its job correctly...

For now I'd stick with using the `style` prop until we can figure out what's going wrong here

[2020-03-02 04:27] cstrat commented on #748
I am seeing the same thing in the code-sandbox examples from my original post too...

![image](https://user-images.githubusercontent.com/4209076/75645504-4163cd00-5c9a-11ea-9c6a-bf52bbd1c832.png)

[2020-03-02 04:29] Chrischuck commented on #751
Update:

Looks like glamor is working fine, it's just the styles are getting overriden..

<img width="960" alt="Screen Shot 2020-03-01 at 20 28 22" src="https://user-images.githubusercontent.com/13311268/75645583-589fad80-5bfb-11ea-8491-1f231eb1f13b.png">

[2020-03-02 05:09] cstrat commented on #748
I can confirm that if I simply delete the 17px right padding class in the inspector `📦pr_17px` the table aligns perfectly...

https://github.com/segmentio/evergreen/blob/326c4a2cc283b89b76a410d4d7809e62b949f685/src/table/src/TableHead.js#L48

This looks to be the culprit?

[2020-03-02 16:31] mshwery commented on #750
Thanks @dimitropoulos !

[2020-03-02 16:31] #750 closed

[2020-03-02 17:05] mshwery commented on #748
It's there to account for the table scroll bar, not the window scrollbar.

https://github.com/segmentio/evergreen/blame/21feaa5491752a8f612ec123312b35b980ff709f/src/table/src/TableHead.js#L15-L16

[2020-03-02 22:38] cstrat commented on #748
So strange though, I checked and my windows settings.
I've toggled this on/off and done full reboot in case the browser doesn't honor the setting immediately. No difference.

There is no scrollbar in the table in any examples where I am seeing the incorrect padding.

![image](https://user-images.githubusercontent.com/4209076/75724488-9d7a3000-5d32-11ea-8168-2946f6664c6a.png)

[2020-03-02 23:41] colinlohner commented on #751
Hey guys! Thanks for reporting this issue. I'm going take a look at it and keep you updated with the progress

[2020-03-03 00:36] colinlohner commented on #751
Seems to be a ordering issue between ui-box and glamor

[2020-03-03 00:40] cstrat commented on #748
I updated my comment above.
Looking at the docs - it does incorrectly appear there too - only where there is no scrollbar in the table as @mshwery pointed out...

Wrong. ❌
![image](https://user-images.githubusercontent.com/4209076/75731382-9f002400-5d43-11ea-939c-ae90299ea636.png)

Right. ✔
![image](https://user-images.githubusercontent.com/4209076/75731433-bdfeb600-5d43-11ea-8ed4-aa4c365bcb5d.png

[2020-03-03 04:12] cstrat commented on #748
I dont know how you got this to work.
I've even used browser test suites which test websites in VMs (http://browsershots.org/ and https://www.browserling.com/) and I get the same alignment issues.

[2020-03-03 10:18] cstrat commented on #748
On my Macbook I don't have the issue. The 17px scrollbar class does not get applied.

Windows seems to be the common thread here... are you using Windows?

[2020-03-03 17:21] Chrischuck commented on #748
I think we're all on macs, let me boot up my windows machine and see what happens after work. I'll update you tonight!

[2020-03-03 18:21] colinlohner commented on #751
Hey guys, as an update, after doing some digging looks like this is going to be bigger than a quick fix. For now, I would suggest to continue using the suggested `style` prop workaround. Closing this issue for now.

[2020-03-03 18:21] #751 closed

[2020-03-07 04:03] Chrischuck commented on #748
@cstrat I apologize for the late reply, I came down with a cold the last few days...

Anyway, I was able to reproduce this instantly on a windows machine... so it seems like a pretty common windows issue. I'll dig into it more when I get some time

[2020-03-09 05:00] cstrat commented on #748
All good @Chrischuck, no need to explain - hope you're better.

I spent a good amount of time trying to work it out but was left pulling my hair out. 😭

[2020-03-12 00:49] cstrat commented on #728
All fixed in v4.23.1

[2020-03-12 00:49] #728 closed

[2020-03-13 20:54] amalo95 commented on #676
Still waiting on this

[2020-03-13 21:20] mshwery commented on #676
I'm unable to reproduce the error using latest evergreen or on TypeScript 3.7.5+

[2020-03-17 18:19] hfa0 opened #759 "Control `Toast`position"
## Feature request
I'd like to have a way to control `Toast` position on the screen.
I have already implemented the necessary changes locally and would like to make a pull request.

Please give me permissions to push a new branch to create PR.

[2020-03-17 18:27] mshwery commented on #759
Sounds the same as https://github.com/segmentio/evergreen/pull/625

I think there were some limitations with that approach. PRs welcome! You'll have to create a fork to open a pull request. :)

[2020-03-17 20:15] hfa0 commented on #759
sorry for the double post. created PR.

[2020-03-21 00:08] carmouche opened #761 "Missing source map files for ui-box package dependency"
I wasn't sure whether to put this into the issues for ui-box or for evergreen, but I'm using this package specifically so feel free to move it if it doesn't belong :)

## Issue
I'm using Parcel to bundle my code and am running into a warning related to missing files in source maps for ui-box.  There's sadly no way to exclude source maps for specific packages, and the issues I looked at say it's re

[2020-03-21 20:04] mshwery commented on #761
This seems like an issue with `ui-box` not evergreen. Can we move the issue there?

[2020-03-21 20:07] mshwery commented on #761
From what it looks like this isn't a failure in parcel – this is parcel warning you that these sourcemaps are missing from a package. IMO it's weird that parcel expects all packages to have sourcemaps.

[2020-03-22 06:15] carmouche commented on #761
Hey!  Thanks so much for the quick reply!
I think if I read correctly in the issues I saw, the error indicates that there are source maps that are generated, but the warnings are for source maps that point to files that do not exist.

Maybe it's just a file cleanup or build-related issue?  I agree it would be unreasonable to require source maps if that is the case, but I don't think so.

Btw to cl

[2020-03-25 14:29] MrScX opened #764 "How to change the position of the toaster element?"
I'm trying out evergreen for a new project and it seems very fresh. Loving it so far!

But I can't seem to position the toaster element from its default center position. And there doesn't seem to be anything in the docs about positioning it either. I want to position it to the top right instead of dead center. I can do it by overriding the CSS but is there any evergreen way of doing it? Any props

[2020-03-25 14:43] mshwery commented on #764
Dupe: https://github.com/segmentio/evergreen/issues/759

Let's centralize the discussion. There is a PR open if you want to provide some feedback/review: https://github.com/segmentio/evergreen/pull/760

[2020-03-25 14:43] #764 closed

[2020-03-25 19:45] SwenSchaeferjohann opened #765 "Accessing textareaRef of editableCell"
Hey community,
How can I access the current value of the `textarea` of the `Table.EditableCell` component at any time? I need to limit the things the user can write into the`textarea` (via a mask).
I appreciate any help with this, let me know if clarification is needed.

[2020-03-26 17:30] seanemmer commented on #696
Pull request created:

https://github.com/segmentio/evergreen/pull/766

[2020-03-27 15:05] taviroquai opened #767 "SelectMenu inside form triggers submit event"
## In the case of a bug report 🐞

- Issue and steps to reproduce.

SelectMenu component inside form triggers form submit event when clicking the component for the first time.

[code]

This triggers a form submit.

- Versions.
"react": "^16.13.1",
"evergreen-ui": "^4.24.0",

- Browser name and version.
Chrome 80.0

- Operating system.
Ubuntu 18.04

[2020-04-04 05:13] Chrischuck commented on #767
@taviroquai
I assume you're using the `SelectMenu` like the [docs](https://evergreen.segment.com/components/select-menu) say where you use a button for the `SelectMenu`.

According to [this](https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/submit_event), from what you're experiencing, and what I've tested, in a form element whenever a button or an input with `type="submit"` is clic

[2020-04-04 15:40] mshwery commented on #767
And if you set `<Button type="button">` does it still happen?

Html button `type` behavior applies:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button

[2020-04-04 17:16] Chrischuck commented on #767
@mshwery I tested it on my end and setting `type="button"` works as well.

[2020-04-04 17:36] mshwery commented on #767
Perfect – this is standard html behavior. It's expected and working correctly!

[2020-04-04 17:36] #767 closed

[2020-04-05 16:08] taviroquai commented on #767
Guys you are right, using type="button" solves the submit event problem.

Sometimes "we" rely so much on the library that we forget that it must follow the standards... my bad! :)

Thanks!

[2020-04-05 18:41] colinking opened #772 "Publicly Hosted Storybook"
Any thoughts on hosting Evergreen's storybook somewhere on `evergreen.segment.com`? Personally, it'd be helpful to compare a local branch against master to see if I've broken any existing behavior with changes.

Possibly a re-request of: https://github.com/segmentio/evergreen/issues/11

[2020-04-13 14:39] jibberishclient opened #774 "New to Evergreen: Table questions"
Hello, I just wanted to start off by thanking you guys for the awesome work on this component lib. I just had a few questions about the Table component as follows:

A. Is it responsive? I'd basically like the table to consume 100% of the available space and if that means it has to truncate text then so be it (I'd actually prefer it to wrapping) so long as the menu button is preserved at the right

[2020-04-13 15:48] jibberishclient opened #775 "Scrolling: Autogrow Textarea and Scrollbars"
I have 2 questions pertaining to scrolling:

A. Is there a 3rd party lib you recommend for auto growing a text area? Such that when I hit enter the scrollbar does not appear, rather the height of the textarea becomes larger.

B. Is there a 3rd party lib you recommend for better scrollbars that are consistent on different platforms and browsers? I'm looking for a really thin mobile style scrollbar

[2020-04-13 15:52] jibberishclient opened #776 "Badge Superscript/Subscript"
The badge doesn't appear to handle badges correctly, when dealing with subscripts and superscripts? Can you guys look into this? I'd definite like to use superscripts and subscripts in my badges.

![image](https://user-images.githubusercontent.com/11995299/79135394-4168e980-7d7d-11ea-9dbc-759d7982e6af.png)

[2020-04-13 16:00] jibberishclient opened #777 "Non-Sticky Dropdowns"
Is there a way to disable the sticky feature on form inputs? I'd basically like to have them attached to the components from which they are created, acting like a regular super select.

[2020-04-16 16:45] ghost opened #780 "FormField error icon"
The error icon in `FormField` displays an error icon regardless of what is passed to `validationMessage` unless you specify null. Instead it should render if `validationMessage` isn't falsy. In other words, if an empty string for example is supplied, it should render nothing.

[2020-04-17 00:50] Chrischuck commented on #774
Hi @jibberishclient
To answer your questions:

A) Yup! It's responsive and will adjust to the size of the container

B) Unfortunately, no pagination support :(

C) You _could_ just add another table header:
<img width="847" alt="Screen Shot 2020-04-16 at 17 47 18" src="https://user-images.githubusercontent.com/13311268/79520093-ab49f300-800a-11ea-8013-c11c3b58daa1.png">
<img width="439" alt="Scree

[2020-04-17 00:52] Chrischuck commented on #780
I've come across this bug(or is this desired?) as well, happy to make a fix for it @mshwery @akleiner2

[2020-04-17 16:31] Chrischuck commented on #776
Can do after work 😉

[2020-04-17 17:27] jibberishclient commented on #776
Much appreciated. If I had to guess, looks like a use of absolute sizing/positioning. Didn't really look at the source though.

[2020-04-17 17:32] jibberishclient commented on #780
On that same note it would be nice if you made FormField wrappers for the other form fields too not just text field. I'm using formik and the single component form field is a live saver, otherwise I'd need to destructure some of the props to the input and others to FormField that wraps it.

[2020-04-17 17:39] jibberishclient commented on #774
Thanks Chris I actually figured that out a little while back to add another header. I did have some additional questions though.

First off I notice some weird kind of offset between the last row and the table border, which is definitely kinda weird given that the styles don't show any indication of it.

![image](https://user-images.githubusercontent.com/11995299/79597403-36c98f80-80b0-11ea-9877-c

[2020-04-17 17:46] ghost opened #783 "SideSheet bugs/questions"
First of all just wanted to point out that the vertical sidesheets have a close button that is cut off:

![image](https://user-images.githubusercontent.com/11995299/79598065-50b7a200-80b1-11ea-8dcd-c762bc951f4a.png)

Moving on. We already know that evergreen isn't responsive, so generally speaking you want to set a min width enough to accommodate your content and let the use scroll as needed. Howe

[2020-04-17 18:31] jibberishclient commented on #780
On second thought, I think validationMesssge should be completely ignored unless isInvalid is true

[2020-04-17 19:08] jibberishclient opened #784 "CSS Baseline"
Out of the box, the body has some margin/padding and incorrect styles. Like MUI, I think evergreen should ship with a CSSBaseline component to override the default CSS and pave the way for Evegreen by removing all this padding, creating a good base layout, and setting default colors and fonts.

[2020-04-17 19:09] jibberishclient commented on #775
I found a 3rd partly lib but I think the text area should come with a prop to set the resize style for the underlying textarea element.

[2020-04-17 19:10] #777 closed

[2020-04-18 18:52] ghost opened #787 "Table Issues"
@Chrischuck I actually figured that out a little while back to add another header. I did have some additional questions though.

First off I notice some weird kind of offset between the last row and the table border, which is definitely kinda weird given that the styles don't show any indication of it.

![image](https://user-images.githubusercontent.com/11995299/79597403-36c98f80-80b0-11ea-9877-c9

[2020-04-18 20:14] mshwery commented on #787
The column alignment issue is because you aren't specifying widths on the flex table columns and header.

It doesn't behave like a normal table would, so you do have to take a little bit more control to get similar behavior.

As for the border issue – can you link us to a reproduction of the problem (codesandbox.io or other)?

[2020-04-18 20:46] jibberishclient commented on #787
Hey @mshwery this is actually a screenshot of the docs site. So I don't have an example to provide but one would assume it comes from the EnhancedTable example source.

[2020-04-18 20:51] jibberishclient commented on #787
On that same note, I'm pretty sure the table even divides the flex space unless you specify otherwise as in the case of the overflow menu column with flex none and absolute width. One would assume that the search header might have some strange setup as well.

Again this is the docs site, I simply resized the container in chrome tools to show the effects a little better as you might see it in a Cod

[2020-04-19 16:28] jibberishclient opened #789 "Layout"
I realize that evergreen isn't responsive nor it it supposed to be. But I was wondering what exact layout (margin, padding, width, min width, max width, alignment, etc.) is used in the docs site such that elements don't collapse and break. What do you generally recommend?

[2020-04-19 21:22] mshwery commented on #789
Hey! I would recommend posting questions like this to the community in our Spectrum channel.

[2020-04-19 22:12] mshwery commented on #776
I think it's somewhat expected that if you use more nuanced content that has JSX (rather than just a string literal) you may have to tweak the badge styles.

You can easily solve for this by adding `height='auto'` or `lineHeight='normal'` if you want.

[2020-04-19 22:21] mshwery commented on #787
The table will divide the flex space evenly, depending on how the content fills the flex containers. If it varies between the header and the rows, the columns will not stay aligned if you don't specify a width (unlike native table elements which maintain consistency in columns).

[2020-04-19 23:42] jibberishclient commented on #787
So how exactly would I go about this? I specified flex="none" on the last overflow menu column as done in the example? Shouldn't the other columns divide the rest of the space evenly?

[2020-04-20 00:04] jibberishclient commented on #789
Ok I've done that, but it appears to not be that active. Is there any general advice you can give?

On a separate note but still in regards to CSS, I'd like to call your attention to #784. I think Evergreen should ship with some default styles on the body namely to remove the default padding, margin, and any other base styles while adding base styles pertaining to Evergreen like fonts and such.

[2020-04-20 03:20] cstrat commented on #787
The alignment issue is the same issue I posted here #748 - strangely it appears to primary impact Windows clients not Mac.

[2020-04-20 03:30] jibberishclient commented on #787
Hmmmm that's very strange ... did you get an update on that?

[2020-04-20 03:32] jibberishclient commented on #787
Honestly, I'm only really using evergreen for the table UI and overflow menu popovers, so this is a huge dealbreaker for me. I hope someone fixes it soon 🙏

[2020-04-20 03:36] cstrat commented on #787
I think the issue isn't as straight forward as I hoped.
Check the thread, there are a couple reproductions of the issue which look similar to what you've said.

I haven't tried to fix it further myself yet - at the moment I am only using `<Table>` for a log feed which isn't bothering me too much. Plus 50% of my time I am on a mac where it looks fine.

[2020-04-20 16:19] jibberishclient commented on #787
@cstrat @mshwery A couple things I noticed in the source:

First in src/table/src/TableHeaderCell.js line 13:

    return <TableCell overflow="visible" borderBottom={null} {...this.props} />

You'll notice that overflow is visible, which will cause the headers to display beyond the bounds of the table, even if the width is too small to accommodate them. Instead they too should use the ellipsis sty

[2020-04-20 19:21] seanemmer opened #790 "Icon Tree Shaking not working"
Version: 4.26
Bundler: Create-React-App default (Webpack)

Hello, I updated to the latest version to take advantage of tree-shaking but am still seeing all of the icons in my bundle:

<img width="521" alt="image" src="https://user-images.githubusercontent.com/8183188/79790895-4ee41d80-8301-11ea-80db-ce85950bc984.png">

I am not using the `Icon` component anywhere in my app.  I do, however, use `Me

[2020-04-20 19:27] mshwery commented on #790
Yeah – I believe you will not benefit from tree-shaking in v4.x if you use any components that internally rely on `Icon` (e.g. `Menu.Item`, `IconButton`, maybe even `Button`?)

[2020-04-20 19:29] mshwery commented on #790
To get icon tree-shaking across all of evergreen we'll need to implement a breaking change that will require rewriting all imports and usage of icons to pass explicit icon components, instead of using icon strings like `icon="cog"`

[2020-04-20 19:44] seanemmer commented on #790
Interesting.  An alternative approach (what Fontawesome does) is to allow users to define a custom icon library, and only allow icon strings for icons that have been added to the library:

https://fontawesome.com/how-to-use/with-the-api/setup/library

[2020-04-20 19:50] mshwery commented on #790
Interesting approach. So while still supporting icon strings, you'd have to preload them.

Instead of reading from a map of all possible strings, we would be reading from the map of icons explicitly imported. That's a good idea. Would require some additional setup – and could still be considered a breaking change since you can't safely upgrade without adding that registration step.

[2020-04-21 03:03] cstrat commented on #790
I use FontAwesome in my app and I don't use strings but rather import the icons and reference them as components:

[code]

I would love to be able to use these in evergreen somehow like this:

`<Button iconBefore={faHome}>Go Home</Button>`

[2020-04-21 03:50] mshwery commented on #789
Thread here for posterity:
https://spectrum.chat/evergreen/help-me/base-layout~8f664a3f-4a1e-4ca8-9d6d-3bf9ae5b89f6

[2020-04-21 03:50] #789 closed

[2020-04-21 03:53] mshwery commented on #790
@cstrat you can do that today, but you'd have to pass the entire component: `iconBefore={<FontAwesomeIcon icon={faHome} />}`

[2020-04-21 03:55] mshwery commented on #700
Rollup is now being used (thanks @g1eny0ung!)

[2020-04-21 03:55] #700 closed

[2020-04-21 03:56] mshwery commented on #690
I think this will be fixed once #793 lands

[2020-04-21 03:58] #689 closed

[2020-04-21 04:01] mshwery commented on #688
Closing this issue since moving to a peer dep isn't possible in v4, but we are exploring complete tree-shaking support in v5.

[2020-04-21 04:01] #688 closed

[2020-04-21 04:08] mshwery commented on #761
Closing as this is look like it is specific to ui-box, not evergreen. Let us know if you have any questions or suggested workarounds for others encountering this scenario!

[2020-04-21 04:08] #761 closed

[2020-04-21 04:12] #690 closed

[2020-04-21 04:23] mshwery commented on #642
This will be ongoing targeting @next releases for v5.

[2020-04-21 04:23] #642 closed

[2020-04-21 04:24] #612 closed

[2020-04-21 04:31] cstrat commented on #790
Game changer, I didn't realise that would work!

Just playing with it now, the only issue is I can't add the margin to my `<FontAwesome>` component without doing something hacky (adding a className with some hardcoded CSS to add spacing).

It would be nice if Evergreen added the margin to the injected icon. I might look into the code to see how that might work.

[2020-04-21 04:32] mshwery commented on #602
This should be resolved via https://github.com/segmentio/evergreen/pull/692

[2020-04-21 04:32] #602 closed

[2020-04-21 05:59] cstrat commented on #790
So Evergreen does add the correct margins etc... however it looks like the `<Icon>` component ignores all props if you pass a node into it rather than use one of the Blueprint Icons.
I don't understand the reasoning. @mshwery do you know if this is just something pulled in from the blueprint codebase?

https://github.com/segmentio/evergreen/blob/master/src/icon/src/Icon.js#L31-L33

[2020-04-21 16:20] mshwery commented on #790
@cstrat yeah, that comment looks based on blueprintjs. I think you could do something like this:

[code]

[2020-04-21 17:32] jibberishclient commented on #787
Is there any update on this header issue as well as the extraneous border?

[2020-04-21 17:55] seanemmer commented on #790
It doesn't necessarily have to be a breaking change - FontAwesome's setup is opt-in.  It defaults to loading the entire icon set, but if you call library.add, then it will only load the icons you specify in your library.

[2020-04-21 17:59] seanemmer opened #794 "TreeshakeableIcon PropTypes trigger React Warning"
Evergreen version: 4.26.0
React version: 16.13.0

Seeing this warning in my browser console (Firefox) upon loading app with Evergreen:

`Warning: forwardRef render functions do not support propTypes or defaultProps. Did you accidentally pass a React component?`

Referencing Icon.js line 96

[2020-04-21 18:27] mshwery commented on #787
We have no plans to prioritize this work just yet, and I believe there are simple workarounds for both (e.g. passing css props to the table) – let us know if you cannot use ui-box css props or `style`/classname to fix this issue (seems isolated to Windows?).

As always, PRs are welcome!

[2020-04-21 18:29] mshwery commented on #794
This is resolved by https://github.com/segmentio/evergreen/pull/791

[2020-04-21 18:29] #794 closed

[2020-04-22 05:05] dustincjensen opened #796 "Unable to disable MenuItem"
## Issue

In the [documentation](https://evergreen.segment.com/components/menu) for `Menu` it mentions the following.

`Arrow keys within the menu will cycle through all of the menu items and skip disabled items.`

However, by default you cannot disable a `MenuItem`.
If you set the `is` property to make the `MenuItem` a `Button` then you can, but then you have to mess with padding and widths.

##

[2020-04-23 20:09] totaldis commented on #790
Just for my understanding.

If you were using the `<Icon/>` component before `4.26.0` it was bundling all icons from blueprintjs, but now it's only bundling those you've specifically asked for.

But if you use a component that internally relies on `<Icon />` then it still bundles all icons from blueprintjs? It actually looks more like the icons themselves were created as separate components and th

[2020-04-23 20:34] mshwery commented on #790
Hi @totaldis! Yes there are some incorrect assumptions in there 😅

`<Icon />` behavior is unchanged. If you use this component you will not get any tree-shaking. Similarly if you use any other Evergreen component that internally uses `<Icon />` you will not get the benefit of tree-shaking (plans to fix this as a breaking change in v5).

Correct. If you want to tree-shake icons you should import th

[2020-04-25 14:54] Drewberrysteph opened #802 "Do you have any plans on creating a pagination and a date picker?"
# 🎉 Thanks for taking the time to contribute to 🌲Evergreen! 🎉

It is highly appreciated that you take the time to help improve 🌲Evergreen.
We appreciate it if you would take the time to write up a bug report or feature request.

Sadly, if we don't receive enough information, or the issue/feature request doesn't
align well with our roadmap, we might respectfully
thank you for your time, and close t

[2020-04-26 04:09] dandv commented on #802
@Drewberrysteph: can you please edit your issue and remove irrelevant template text?

[2020-04-27 03:36] gohyifan opened #807 "Production build is broken"
Hi team evergreen, my production build is showing this error in the console but the development build works fine in localhost.

![error.png](https://i.imgur.com/mnaWFVI.png)

Steps to reproduce the bug:
1. Clone my repo here: https://github.com/gohyifan/openflow
2. Run `yarn install` and `yarn start`
3. See that it works fine in localhost.
4. Visit [production](https://openflow.herokuapp.com/) and

[2020-04-27 03:53] mshwery commented on #807
@gohyifan if you use v4.25.0 or earlier, does the same thing happen?

[2020-04-27 05:25] mshwery commented on #807
I was able to pinpoint this to something between v4.25.0-v4.26.0-0 but it doesn't affect all production builds. For instance, we're using v4.27.2 in production and the optimized webpack build is fine.

[2020-04-27 18:41] mshwery commented on #807
Resolved by https://github.com/segmentio/evergreen/pull/809

[2020-04-27 18:52] #807 closed

[2020-04-27 18:53] mshwery commented on #807
I clone your repo and upgraded to `v4.27.3` and was able `yarn build && serve -s build`

[2020-04-28 07:20] Chrischuck opened #810 "Classnames not generating correctly on first load"
We are using Next.js `v9.3.1`. Not sure if it's a mix of issues with next and evergreeen or just evergreen.
 This works fine in development

We are statically exporting the next app as well see [this](https://nextjs.org/docs/advanced-features/static-html-export). Next.js has a two step build/export process for static sites.

The issue we are facing is below:
<img width="1163" alt="Screen Shot 2020

[2020-04-28 08:23] Chrischuck commented on #802
@Drewberrysteph I've asked about a date picker a couple of times and it's most likely a no. Not too sure on pagination however.

[2020-04-28 09:39] Chrischuck commented on #810
Downgraded to version `4.23.3` in order to get it to work.

I'm pretty sure this is because of https://github.com/segmentio/evergreen/pull/763

I'll test on `4.24.0` tomorrow

[2020-04-28 14:45] mshwery commented on #810
@Chrischuck what version of evergreen were you on originally?

Are you using extractStyles? You may need to manually set `setClassNamePrefix` before consuming evergreen (both server and client-side) - you could try setting it back to the default `ub-`

[2020-04-28 16:06] Chrischuck commented on #810
@mshwery I was on latest originally. I just tested `v4.24.0` and it seems that's the jump that breaks.

I forgot to mention I did try `setClassNamePrefix` but that didn't help

[2020-04-28 16:17] Chrischuck commented on #810
I stand corrected, I gave `setClassNamePrefix('ub-')` another try and it works fine now

[2020-04-28 16:17] #810 closed

[2020-04-28 16:31] Chrischuck commented on #790
@mshwery is this something we'd want to add to v5? since it is a breaking change and all or are looking for a solution that's backwards compatible

[2020-04-28 18:16] mshwery commented on #790
@Chrischuck 100% will be part of v5:
<img width="782" alt="Screen Shot 2020-04-28 at 1 16 11 PM" src="https://user-images.githubusercontent.com/710752/80522601-73b84080-8952-11ea-93af-d1baaa20724b.png">

[2020-04-30 04:03] gohyifan commented on #807
`v4.27.3` worked, thanks @mshwery !

[2020-05-01 20:43] akleiner2 commented on #610
Think this should've been addressed by #702. Let us know if you have any other requests / issues. Thanks!

[2020-05-01 20:43] #610 closed

[2020-05-04 09:59] a-y-u-s-h opened #814 "Feature Request: Control Components"
**Problem**

Hey, so I've just started using Evergreen for everything w/ Gatsby. I am a creative coder and I often make mathematical explanation tools that update some visualization in real time upon change in some control input component. An example of pure frontend tool using control components: [Spring, Bob and Hinge System](https://ayushsharma.net/experiments/61/).

Evergreen lacks some essent

[2020-05-07 18:45] mshwery commented on #790
https://github.com/segmentio/evergreen/pull/818

[2020-05-13 04:06] mshwery commented on #802
Open to exploration/discussion on these. Please fill out individual Feature Request issue templates for both components with examples and screenshots.

Closing this one since it doesn't follow the issue templates or provide any details yet!

[2020-05-13 04:06] #802 closed

[2020-05-13 04:12] mshwery commented on #790
@totaldis @cstrat @seanemmer @Chrischuck if you want to take v5 for a spin (WIP / unstable) you can try out tree shaking there `yarn add evergreen-ui@next`

Notably version `5.0.0-2` should not only allow for complete tree-shaking of icons, but also it fully supports custom icon components.

[2020-05-13 04:29] cstrat commented on #790
Oh that sounds great, I will give it a try later this week and report back any issues.

[2020-05-14 03:45] Chrischuck commented on #790
@mshwery I'll give it a run!

[2020-05-18 11:32] cstrat commented on #790
@mshwery haven't done anything in depth yet - but just tested on an `<ListItem>` and it worked flawlessly!

Going to try on a few other elements.

[2020-05-18 22:19] jasonbarry commented on #772
@colinking if this repo builds storybook in its CircleCI pipeline, then you could integrate it with [FeaturePeek](https://featurepeek.com) to get a storybook build on every PR (shameless plug). It's completely free for open source projects like this one.

[2020-05-21 09:16] leesiongchan opened #834 "[Question] Typescript Omit and React.ComponentPropsWithoutRef"
Sorry I am not sure if this is the right place to ask, but I am trying to use `Omit` to create my own props but it doesn't seem to be working for those props are extending to `React.ComponentPropsWithoutRef<T>`.

For example,
[code]

You will not see any typing if you try to use the `CountryComboboxProps` above.

[2020-05-23 00:38] cstrat opened #840 "<MenuItem> prop secondaryText should be called rightView"
This would make it the same as the `<TableCell>` component because it takes a node and not strictly text. Standardising the language helps with expected behaviour.

It would be a breaking change to implement it alone in v4 so perhaps the element could simply accept both. v5 could remove the old `secondaryText` prop?

Thoughts?

[2020-05-23 01:54] mshwery commented on #834
You are right. It seems that we cannot use `React.ComponentProps<T>` to infer props from ui-box's `Box` component because it relies on a custom type signature that doesn't map 100% to React's (that's the only way to get some support for generic type inference in a component).

We should be able to swap that out with something a bit more accurate in Evergreen.

[2020-05-24 22:42] danielpaz6 opened #842 "NextJS Warning: Prop `aria-describedby` did not match."
**Describe the bug**
When using next.js and adding Tooltip component, it displays this error:

**To Reproduce**
Steps to reproduce the behavior:
1. Open new NextJS project
2. Install evergreen-ui
3. Use `<Tooltip />` component.

**Evergreen Version**
4.27.4

**Environment (please complete the following information):**
 - OS: windows
 - Browser chrome

[2020-05-26 16:12] mshwery commented on #840
Agree on more consistent naming for this pattern of passing in `React.ReactNode`s – probably more aptly named `*Component`, e.g. `leftComponent` `rightComponent` or whatever descriptor makes sense for how it's positioned/rendered.

[2020-05-27 09:15] mm2multimedia opened #848 "findDOMNode is deprecated in StrictMode"
The Evergreen-UI popover menu reports the following error in all browser consoles:

_Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://fb.me/react-strict-mode-find-node
    in div (created by Box)
    in Box

[2020-05-27 20:38] seanemmer commented on #790
@mshwery stoked this is up!

I was able to get it working with a simple widget that uses 4 Evergreen components but not a larger application.  Sourcemap is below, I'm guessing some components are still internally using blueprint icons (Switch, Checkbox, Toaster, Alert, Combobox, Select, Spinner)?

<img width="1781" alt="image" src="https://user-images.githubusercontent.com/8183188/83069759-4cbb600

[2020-05-27 20:43] mshwery commented on #790
EG is using some internally, but only a few!

[2020-05-27 20:43] mshwery commented on #790
Can you share the project code or config used to bundle/tree shake?

[2020-05-27 21:15] seanemmer commented on #790
I'm using CRA ("react-scripts": "3.3.0").

I used the same setup for the widget app that tree-shakes correctly.

[2020-05-27 23:02] mshwery commented on #790
I'm wondering if you were to import them via their full path TSDX would be smart enough to tree-shake them?

e.g. `import { AddIcon } from 'evergreen-ui/esm/icons/generated/AddIcon'`

[2020-05-27 23:35] seanemmer commented on #790
Unfortunately I’m not using icons anywhere in the application so don’t
think that will help.  They are getting added as a dependency because of my
use of the general purpose components.

On Wed, May 27, 2020 at 4:02 PM Matt Shwery <notifications@github.com>
wrote:

[2020-06-01 02:56] Chrischuck commented on #842
This happens because of SSR.

Under the hood, evergreen will automatically generate the `aria-describedby` attribute. It'll be generated once on the server and once on the client and unfortunately this is pretty much the default behavior with any SSR app.

Would you be able to set the `id` attribute yourself (`aria-describedby` derives itself from `id`. see [here](https://github.com/segmentio/ever

[2020-06-02 05:04] cstrat commented on #449
I've just run into this inconsistency too. Any reason why `IconButton` can't share the same display type as `Button` or `BackButton` or `TextDropdownButton`... it is the odd one out.

I'm fine if there is a reason, maybe explain the reason in the documentation. It doesn't mention there either.

[2020-06-02 22:24] DimitriMichel opened #850 "Button component "onClick" doesn't work inside popover."
**Describe the bug**
When creating a popover using lets say the "Basic Usage" as seen in the docs.
if you were to add onClick function it doesn't appear to work at all.

If you take this same function and try add it into onOpenComplete in the popover props it immediately closes the popover.

v4.27.4

[2020-06-03 16:31] Chrischuck opened #851 "BLM banner on Evergreen docs page"
Anyone opposed to adding this? Similar things w/ github and react

<img width="1440" alt="Screen Shot 2020-06-03 at 16 48 15" src="https://user-images.githubusercontent.com/13311268/83699892-1e5af900-a5ba-11ea-8d7f-f96c1b3342a6.png">

<img width="1440" alt="Screen Shot 2020-06-03 at 16 42 18" src="https://user-images.githubusercontent.com/13311268/83699895-2024bc80-a5ba-11ea-86d9-4daec52123b4.png"

[2020-06-04 22:44] seanemmer opened #852 "Utility types no longer exported"
In previous versions of evergreen the utility types at the top of index.d.ts were exported.  I have been extending these types when composing Evergreen components and removing this export is preventing my app from compiling.

PositionTypes
...
FontSizeSmall

[2020-06-06 09:31] ksinghj opened #853 "SelectMenu styles missing (See screenshot)"
**Describe the bug**
SelectMenu components missing styles (font missing, no uniform order of elements).

**To Reproduce**
Steps to reproduce the behavior:
1. Start Evergreen locally
2. Click on 'select-menu' tab
3. See that styles are not the same as the other pages

**Expected behavior**
The styling of the page is styled in a similar fashion to the rest of the site.

**Evergreen Version**
e.g. v4

[2020-06-06 09:32] ksinghj commented on #853
Currently working on this

[2020-06-13 11:54] a-y-u-s-h opened #857 "Button's textAlign="center" doesn't work."
**Describe the bug**

After changing button's width - the label doesn't align to center automatically.

[code]
creates a button with label not properly aligned, like in this screenshot:

![2020-06-13_17-01-03_screenshot](https://user-images.githubusercontent.com/19586719/84567953-ddbd6580-ad99-11ea-860a-a5e9cb3a387f.png)

In order to fix that, I had to do this:

[code]

Which would create:

![2020

[2020-06-13 14:12] mshwery commented on #857
Buttons have flex display so you can do `justifyContent="center"`

[2020-06-13 14:13] #857 closed

[2020-06-13 21:25] beders opened #858 "Depedency error: The required JS dependency "dom-helpers/util/inDOM" is not available, it was required by "node_modules/evergreen-ui/commonjs/portal/src/Portal.js"."
**Describe the bug**
Can't compile evergreen-ui.

I'm getting the following error:
The required JS dependency "dom-helpers/util/inDOM" is not available, it was required by "node_modules/evergreen-ui/commonjs/portal/src/Portal.js".

**To Reproduce**
`$ npm install --save evergreen-ui `

**Expected behavior**
All dependencies work

**Evergreen Version**
4.27.4

DOM-helpers version: 5.1.4
(so vastly

[2020-06-14 10:17] a-y-u-s-h commented on #857
Nice. This isn't mentioned in the docs though.

[2020-06-14 20:54] mshwery commented on #857
@a-y-u-s-h ah, good call out! We should include that detail.

[2020-06-14 20:55] mshwery commented on #852
Yeah – this is a byproduct of how we were using a module declaration... happy to review a PR that adds them back as exports in the index.d.ts file!

Otherwise, we can try to get to it soon // cc @colinlohner

[2020-06-15 07:25] a-y-u-s-h opened #859 "Device: A component that solves the problem of Responsiveness."
**Is your feature request related to a problem? Please describe.**
One of the main criticisms of Evergreen is that it doesn't provide a component based solution to tackle responsiveness. From what I know after reading docs and spectrum chats, It's left upto the user to deal with media queries or in whichever way the user would like to tackle the problem of device-size based (responsive) component

[2020-06-20 02:08] Chrischuck commented on #859
Cool idea! But could possibly become cluttered if you have to wrap every component in a `Device` 🤔

[2020-06-20 21:49] a-y-u-s-h commented on #859
I'm glad to say that the naswer is 'NO!' :), the use of this `Device` component is optional. I've tried this several times - makes things very clean (compared to the usual media query alternative - for which I'll need to have a CSS file). You'd use it only when you want to render something different for different screen sizes. Like let's say you need to have a layout that becomes a 2 column layout

[2020-06-22 21:00] jasonbarry commented on #842
Semi-related, I'm seeing this error for some of my classNames – specifically, all the classes are present / match between server and client, but some are out of order:

[code]

[2020-06-24 23:40] a-y-u-s-h commented on #859
@Chrischuck Should I send a PR for this?

[2020-06-26 04:15] hugosoftdev commented on #850
Hey, i tested this component a lot and i'm almost sure that the component is working properly. Make sure that when you are passing your function, you are not invoking it.

Example:

const myFunc = () => {
       alert("it opened");
}

<Popover
            onOpenComplete={myFunc} //instead of myFunc()
            position={Position.BOTTOM_LEFT}
            content={({ close }) => <ClosablePopoverCo

[2020-06-29 23:45] a-y-u-s-h opened #865 "Portal Improvement"
**Is your feature request related to a problem? Please describe.**
While creating Chrome Extensions, you usually want to inject some react components in the right place - in a DOM that's not created by you. So you do this by mounting your app somewhere in the body. But this makes it hard to create Modals and stuff. Portal component doesn't work in this case for some reason. I've tried using `Dialo

[2020-06-30 14:26] christopherlaangsell opened #866 "FilePicker"
Hi there, I've been using Evergreen UI with ClojureScript via hiccup. All of the components have been working great except for FilePicker. This might be a hiccup error, but everything else has worked fine so I am submitting this just in case.

The FilePicker works as described; however, it shows a "Choose File" box to the left of the text input. I have tried commenting out that section of code in

[2020-07-15 10:59] Ankit27Agg commented on #853
i want to work on it.

[2020-07-16 12:55] Ankit27Agg commented on #776
can anyone tell me that how do you run the code

[2020-07-21 23:40] cstrat opened #900 "v5 doesn't apply padding to `<IconButton>` correctly"
v5.0.0-5 doesn't apply padding to `<IconButton>` correctly.
Regular `<Button>` works fine, just seems to affect the IconButton component.
_Note, this is using external SVG icons from FontAwesome._

See repo here:
https://codesandbox.io/s/v5-padding-bug-dohc8?file=/src/App.js

![image](https://user-images.githubusercontent.com/4209076/88117741-4997b700-cbff-11ea-82ec-a36497577d20.png)

[2020-07-21 23:43] cstrat commented on #900
Actually I just noticed in CodeSandbox that -5 isn't the latest. I have been using @next with npm to update (saw that posted somewhere).

There are releases up to -10 and also Alpha0 and Alpha1.
Which should I be using as the latest?

[2020-07-21 23:48] mshwery commented on #900
Latest `5.0.0-10` has resolved this issue!

[2020-07-21 23:48] #900 closed

[2020-07-21 23:48] mshwery commented on #900
@cstrat you can use `npm install evergreen-ui@next` to get the latest. Ignore the `alpha` ones.

[2020-07-22 11:43] cstrat opened #901 "v5 - SelectMenu: Cannot read property 'focus' of null"
In v5 there appears to be a new bug where the SelectMenu search/filter field doesn't get given focus, but in trying to do so evergreen bugs out.

Reproduction here: https://codesandbox.io/s/selectmenu-error-fr28r

There appears to be reference in the source to the hacky solution that was put in place here.

![image](https://user-images.githubusercontent.com/4209076/88172476-674b3780-cc64-11ea-9020

[2020-07-22 16:43] mshwery commented on #901
Thanks for reporting @cstrat ! We've noticed some related issues with Popovers/Overlays too – seems like some ref handling isn't working as expected.

[2020-07-27 05:31] cstrat opened #911 "v5 - RadioGroup not working (tested across all v5 releases)"
Seems to be an issue with events on RadioGroup in v5.
See the repo below. If you flick the dependency back to v4 it all works fine.

Repo:
https://codesandbox.io/s/radiogroup-syntheticevent-issue-itumx?file=/src/App.js

[2020-07-27 05:32] cstrat commented on #911
You know what would be cool, if we could view the docs and toggle which version of Evergreen to use in the docs.

[2020-07-27 15:37] mshwery commented on #911
Love that idea. Might be something we explore after pushing through the v5 release.

[2020-07-27 15:38] mshwery commented on #901
This has been fixed on latest `v5` branch and will be in the next release candidate.

[2020-07-27 15:38] #901 closed

[2020-07-27 16:13] mshwery commented on #911
This should be resolved in the next v5 release candidate.

[2020-07-27 16:13] #911 closed

[2020-07-27 16:57] mshwery commented on #911
Works on latest v5! https://codesandbox.io/s/radiogroup-syntheticevent-issue-qn760?file=/src/App.js

[2020-07-27 23:59] cstrat commented on #911
I am happy to spend some time later this week making a kitchen sink repo in code sandbox which could serve that purpose for now. 👍

Amazing, thanks!

[2020-07-28 18:26] mshwery commented on #850
If you can provide a minimal working reproduction of the issue we can take a look. You can fork this starter codesandbox to create: https://codesandbox.io/s/nifty-star-u4ilq?file=/src/App.js

[2020-07-28 18:28] mshwery commented on #858
This is probably happening because you have a conflict in your resolved version of `dom-helpers`. You can see that Evergreen relies on `dom-helpers@^3.2.1` per the package.json and yarn.lock files.

[2020-07-28 18:31] mshwery commented on #865
@a-y-u-s-h this sounds like a nice additive change. Feel free to push up your suggestion in a PR if you have time! If not, we'll take a look after v5 lands.

[2020-07-28 18:33] mshwery commented on #866
Could you provide the details for each section of the bug report. Ideally you would provide a minimal reproduction (like a link to a codesandbox) so we can see the issue you are describing.

[2020-07-28 18:37] mshwery commented on #852
These types will be re-exported in the next version of v4.

[2020-07-28 18:37] #852 closed

[2020-07-29 07:31] Sowed commented on #542
@mshwery, I am using `"evergreen-ui": "^4.28.1",`, and it's amazing. Except at overriding fonts. Working with TypeScript and tried your suggested approach above but it looks like `ThemeProvider` is missing type definitions. Could not find any mention of theme provider except in a [`comment-line1816`](https://github.com/segmentio/evergreen/blob/87cbc521f3c002d824c8ae4617011a035bf98b9c/index.d.ts#L1

[2020-07-29 13:48] mshwery commented on #542
@Sowed v5 includes the types for `ThemeProvider` and `ThemeConsumer`, as well as the `useTheme` hook!

While not ideal, you could bypass this sort of typedef concern by `@ts-ignore`ing the import until you are able to upgrade to the version that includes the typedefs. Alternatively you could extend the types in your project locally.

[2020-08-07 04:38] cstrat opened #925 "v5 - Menu Icons & Button Icon padding"
Hi,

Hopefully I didn't just overlook a step in the migration guide (padding doesn't seem to be mentioned), but I was using the pre-release without issue prior to upgrading to 5.0.3.
Padding seems to have dropped off.

![image](https://user-images.githubusercontent.com/4209076/89609560-947e2380-d8bb-11ea-9395-8a70be5478b4.png)

Repo:
https://codesandbox.io/s/v5-padding-bug-dohc8?file=/src/App.js

[2020-08-07 05:40] cstrat commented on #925
I think I noticed why this is happening.
Looks like the elements are passing in `marginLeft` to the `Icon` - but I am using `FontAwesome` icon's and because of that the marginLeft doesn't mean anything and is the cause for the errors in the console.

[2020-08-07 18:42] seanemmer opened #927 "Autocomplete Popover Positioning broken inside of Sidesheet"
Hi Team,

Version: 5.0.2.

Expected Behavior:
Autocomplete Popover positioned below input field

Actual Behavior:
Autocomplete Popover positioned absolutely at top left corner

Notes:
I switched to the new ref prop: `ref={getRef}` as described in the docs

![popover error](https://user-images.githubusercontent.com/8183188/89677760-de0e4480-d8a2-11ea-935b-45c024b1532f.png)

[2020-08-07 18:46] mshwery commented on #927
Can you link us to a minimal working example of the issue @seanemmer ?

[2020-08-07 19:04] seanemmer commented on #927
Yes, let me cook something up.

[2020-08-07 20:31] seanemmer commented on #927
SOLVED

Apologies for the false alarm.  I did not realize that I had to use forwardRef() to pass refs down to custom components.

[2020-08-07 23:37] seanemmer commented on #790
This was an issue with TSDX - their modules default to commonjs vs ESM, which I had to change in the configuration.

Evergreen tree shaking now working across CRA, TSDX, and Gatsby.  Thanks for implementing this, reduced our total package size by 16%!

-Sean

[2020-08-07 23:37] #790 closed

[2020-08-08 05:00] recurser commented on #927
@seanemmer I'm having a similar issue with `<SelectMenu />` after upgrading to v5 - are you able to provide any more detail as to how to solve it? I'm not using `ref` anywhere.

<img width="763" alt="Screen Shot 2020-08-08 at 13 59 46" src="https://user-images.githubusercontent.com/96322/89702753-724dd980-d97f-11ea-8644-89a9a10423e2.png">

[2020-08-08 05:10] mshwery commented on #927
@recurser what are you using for your menu trigger? I believe all trigger elements need to accept refs directly or must be ref-forwarding. Can you prove the select menu code snippet?

[2020-08-08 05:47] recurser commented on #927
@mshwery I can reproduce it using a simplified example from the [docs](https://evergreen.segment.com/components/select-menu):

[code]

If I make a fresh skeleton app with `create-react-app` though it works as expected, so must be something to do with my layout. It worked fine prior to the v5 upgrade though.

<img width="1904" alt="Screen Shot 2020-08-08 at 14 46 37" src="https://user-images.github

[2020-08-08 12:01] #850 closed

[2020-08-08 17:23] salah-ahmed opened #928 "Pagination component suggestion"
Hi,

I was using zendesk Pagination component and I would love to include a similar one to evergreen components

I think it can be implemented with Button & Pane components

PROPS

|  Prop | Type  | Default |  Description |
|---|---|---|---|
| currentPage  | number  | Required  | The currently selected page
| totalPages | number | Required | The total number of pages available
| onChange | (curren

[2020-08-09 00:19] recurser commented on #927
@mshwery sorry my bad - it turns out I was using my own `<Button />` implementation which wraps the Evergreen component. Using the default Evergreen `<Button />` works, so I obviously need to re-write my wrapper with `forwardRef`. Feel free to close this!

[2020-08-09 00:25] mshwery commented on #927
No worries! Glad you figured it out. It might call for us providing more flexible ways to have the trigger/target ref (e.g. optional ref prop)

[2020-08-09 00:25] #927 closed

[2020-08-09 04:43] Procrat opened #929 "React strict mode complains about validationMessage on TextInputField"
#### Summary
When passing the `validationMessage` prop to a `TextInputField`, it gets passed down to the underlying `input` element.

#### Steps to reproduce
[code]

#### Observed behaviour
The rendered `input` element has a `validationmessage` attribute.

With React's strict mode turned on, we also get the following warning in the console:
[code]

#### Expected behaviour
No `validationmessage` on

[2020-08-09 20:46] Procrat opened #930 "Filtering broken for Combobox/Autocomplete with itemToString"
#### Summary
Filtering doesn't work for a `Combobox` (and presumably also `Autocomplete`) with `itemToString`.

#### Steps to reproduce
[code]

#### Expected behaviour
When typing in a substring of "label", I expect the "label" item to show.

#### Observed behaviour
It doesn't.

#### Underlying issue
The V5 commit (731e46e529030d8062deba833c42ebeaf9066f3f) moved the [assignment to `itemsFilter` ar

[2020-08-10 16:21] seanemmer commented on #927
@mshwery what do you think of updating the popover intro docs to include the text from the release notes:

Its target, as a single child element or a function. _The target must be a DOM node or component that can forward refs to a DOM node._

Also, it may be worthwhile to add a note to the "children" prop under Autocomplete to the effective of:

Function that will render the 'filter' component.  _

[2020-08-10 16:40] colinlohner commented on #929
Thanks for calling this out! Will get to resolving this asap

[2020-08-10 16:49] colinlohner commented on #930
@Procrat what version of Evergreen where you using when you saw this issue?

We also saw this issue internally and found that it was actually being caused by the itemToString prop not being passed down to the Downshift component. We resolved it in this PR: https://github.com/segmentio/evergreen/pull/924/files and it was released in Evergreen v5.0.2

Looking at your PR, it looks like what you are d

[2020-08-10 16:51] colinlohner commented on #928
HI @salah-ahmed ! Thanks for the suggestion. We have talked about this internally as well, but it hasn't been prioritized. I'll bring it up again with the team, and get you more specifics

[2020-08-10 17:01] colinlohner commented on #925
Hey @cstrat, yeah it does look like an incompatibility issue with FontAwesome. I took a second and worked up a quick fix you could implement to solve it. This isn't an Evergreen issue specifically as you are using a thirdparty icon library.

Hope this helps, happy to answer any questions or talk further.

https://codesandbox.io/s/v5-padding-bug-forked-cr2yv?file=/src/App.js

[2020-08-10 17:02] colinlohner commented on #925
One other issue I noticed is that FontAwesome has its own size prop that doesn't map to what we use. In the codesandbox I strip that prop out, however you could map our sizes to the FontAwesome ones if you wanted.

[2020-08-10 17:03] mshwery commented on #925
@colinlohner @cstrat we may want to consider passing all of these props to an evergreen/ui-box-controlled component so that the spacing concerns are kept intact regardless of the component being passed in.

[2020-08-10 17:09] colinlohner commented on #925
@mshwery you raise a good point. Still wouldn't solve color and size, but would at least preserve spacing. I'll get a PR together for this

[2020-08-10 17:19] colinlohner commented on #929
Okay will be cutting a new release of Evergreen today with this included in it

[2020-08-10 17:56] colinlohner commented on #925
Okay this will be shipped as part of a release we are going to cut today

[2020-08-10 17:57] colinlohner commented on #925
You may still have to do something similar to the codesandbox in order to handle colors or size. FontAwesome does respect font size so you may be okay without dealing with size

[2020-08-10 18:22] salah-ahmed commented on #928
Awesome, if you decide to add it I will be thrilled to work on an implementation for it

[2020-08-10 18:24] colinlohner commented on #930
Good catch! Thanks for the PR as well.

[2020-08-10 18:42] #930 closed

[2020-08-10 18:57] colinlohner commented on #925
Released you can now use as you were and the positioning will be handled.

Available in v5.0.4

[2020-08-10 18:57] #925 closed

[2020-08-10 18:57] colinlohner commented on #929
Released!

Available in v5.0.4

[2020-08-10 18:57] #929 closed

[2020-08-10 18:58] colinlohner commented on #930
Released you can now use as you were and the positioning will be handled.

Available in v5.0.4

[2020-08-13 11:20] Sowed commented on #542
@mshwery, I can confirm, as per your sandbox, mutating with `lodash.merge` works. Like @MichielLeyman , I found a hard time trying to make it work without mutating the `defaultTheme`  but it looks like its the only way for now.

With that mutation, it makes me wonder why we still need the ThemeProvider anyway because it still works without it.

[2020-08-13 12:02] Procrat commented on #929
Wow, thanks a lot, Colin! I cannot express the gratitude I feel for the speed at which this and my other issue got fixed, merged and released (#930)! 🙏

[2020-08-13 17:46] mshwery commented on #542
@Sowed yeah – unfortunately until we fix the theme and provide first-class support for theming the ThemeProvider only is useful for the few scenarios that don't require _mutating `defaultTheme`_.

[2020-08-15 02:38] jchengjr77 opened #937 "Bug: Sample Code on Evergreen Website has Syntax Error"
Hey,

I was just trying to learn about Evergreen UI, and was reading through documentation. When I got to the theming page, I saw that the sample code embedded in the page shows an error:

`SyntaxError: Unexpected token (1:8)
1 : return (const newTheme = {`

I found this at https://evergreen.segment.com/get-started/theming/

Not sure if it is a problem on my end or with the documentation itself.

[2020-08-16 21:25] tusharf5 opened #939 "Type Definition : FilePicker onChange, onBlur Listener"
First of all thanks for creating and maintaining this awesome library.

The FilePicker `onChange` listener type definition is missing the `files: FileList` parameter after upgrading to **v5**.
The FilePicker `onBlur` listener type definition is missing the `event: React.FocusEvent` parameter after upgrading to **v5**.

https://github.com/segmentio/evergreen/blob/92c787e9a915b5bb53409149266ab42f19a

[2020-08-17 14:56] mshwery commented on #939
PRs are welcome! I think you are correct on those definitions.

[2020-08-17 19:24] Valentindi opened #940 "Dialog: className props not added to Dialog component"
Hey, thanks for this great work.

In the last days I was writing some test cases, I encountered the problem that class names added to the dialog component are not rendered.
Did you implement this on purpose? If not, it would make it much easier for me to develop.

Thanks

[2020-08-17 21:06] akleiner2 commented on #940
@Valentindi  The `<Dialog />` component is broken up into an overlay and the actual dialog container. Depending on which you're trying to add a `className` to, you probably want `<Dialog containerProps={{ className: 'your-css-class-here' }} ... />` or `<Dialog overlayProps={{ className: 'your-css-class-here' }} ... />`. Let me know if this works!

[2020-08-18 02:03] #939 closed

[2020-08-22 05:24] leesiongchan opened #946 "Tab's className has been replaced"
When I try to
[code]
I will lose the theme classes defined by the lib, do you think it makes sense to add the capability to allow the user to extend their own classes?

https://github.com/segmentio/evergreen/blob/master/src/tabs/src/Tab.js#L90

[2020-08-27 16:29] akleiner2 commented on #946
Hey @leesiongchan - you are correct. We do this elsewhere in Evergreen, (by composing a passed-in `className` with the `classnames` package). Happy to accept a PR to add this functionality!

[2020-08-27 16:35] akleiner2 commented on #940
Hey @Valentindi going to close this out - but let me know if you still see issues with the proposed solution!

[2020-08-27 16:35] #940 closed

[2020-08-27 16:43] colinlohner commented on #928
Hey @salah-ahmed, I think it would be nice to add this component to Evergreen, however we do not currently have a specific need for it internally at the moment. That being said, we will put it on the roadmap. Just for transparency, it may be a little while until we are able to create the designs for it, and get it prioritized.

[2020-09-01 15:36] #946 closed

[2020-09-03 18:36] jasonbarry opened #966 "Overlay for Dialog/SideSheet responds to mouseup even if mousedown has different target"
If you click inside a Dialog or SideSheet component, drag your mouse outside of the element to the overlay, and release the mouse, the dialog / sidesheet dismisses.

Steps to repro:
1. Go to https://evergreen.segment.com/components/dialog
2. Click the first Show Dialog button
3. Click inside the dialog, and while holding down the click, drag your cursor outside of the dialog to the overlay
4. Rele

[2020-09-03 18:45] colinlohner commented on #966
Hey @jasonbarry Thanks for bringing this to our attention. I will start to look into this a little more today

[2020-09-06 21:08] mshwery commented on #454
The thing you probably want to try here is `fontSize="inherit"` on the link component. We try to avoid inheritance/cascading styles as a rule. If just moving your component around the tree suddenly causes it to look differently that's a problem.

Since this is a much larger philosophical change that goes against the grain of how Evergreen strives for style encapsulation I am going to close the iss

[2020-09-06 21:08] #454 closed

[2020-09-06 21:10] #292 closed

[2020-09-06 21:12] mshwery commented on #379
Closing this as v5 has shipped but we will definitely consider some of these remaining items in future versions!

In v5 we did ship:
- 100% tree-shakable icons (or BYO-icons if you want)
- Smaller bundle size (shaved off about ~100kb minified, though still room for improvement here!)

[2020-09-06 21:12] #379 closed

[2020-09-06 21:15] mshwery commented on #463
Closing this as `innerRef` has been fully removed in v5. Trigger components are now required to support ref or ref-forwarding.

[2020-09-06 21:15] #463 closed

[2020-09-06 21:19] #469 closed

[2020-09-06 21:21] #504 closed

[2020-09-06 21:23] mshwery commented on #735
Closing as v5 has shipped, but keeping these remaining comments in consideration for v6 and beyond! Thanks all.

[2020-09-06 21:23] #735 closed

[2020-09-06 21:24] mshwery commented on #697
Closing this issue as it's stale and was unable to repro in Firefox.

[2020-09-06 21:24] #697 closed

[2020-09-06 21:31] #548 closed

[2020-09-06 21:35] mshwery commented on #575
The prop and behavior is there, but we don't have any visual indicator the segmented control is disabled // cc @akleiner2 @colinlohner

Going to close for now!

[2020-09-06 21:35] #575 closed

[2020-09-06 21:36] #574 closed

[2020-09-06 21:37] #605 closed

[2020-09-06 21:40] mshwery commented on #774
Late answer: columns in the header and in the rows generally should have the same width or flex props assigned. It intentionally behaves a bit different than native table elements (though we may reevaluate this as it's not the easiest component to work with).

[2020-09-06 21:40] #774 closed

[2020-09-06 21:45] mshwery commented on #775
Given that you can bring your own library to apply this sort of behavior I'm going to close out the issue. If there's significant demand or use-cases for us to bring it into Evergreen we'll consider it! cc @akleiner2 @colinlohner

[2020-09-06 21:45] #775 closed

[2020-09-06 21:45] mshwery commented on #776
Closing since you can achieve this through Box css props on the `Badge` component itself.

[2020-09-06 21:45] #776 closed

[2020-09-06 21:46] mshwery commented on #780
I agree! cc @akleiner2 @colinlohner

[2020-09-06 21:49] mshwery commented on #784
Evergreen isn't opinionated about how or what css normalizers/resets you apply, and that lies beyond it's responsibility. Each app/site probably is using their own version of a reset, and if Evergreen shipped with one it could conflict in unintentional ways. Closing for now – thanks!

[2020-09-06 21:49] #784 closed

[2020-09-06 21:52] mshwery commented on #834
Types are much better in v5 and you should generally be able to use `Omit` or `React.ComponentProps<T>`.

Additionally, in some advanced cases you may need to use ui-box's `PolymorphicBoxComponent<Element, Props>` to extend polymorphism to your own custom components.

Closing for now since this has been mostly remedied in v5+

[2020-09-06 21:52] #834 closed

[2020-09-06 21:55] #853 closed

[2020-09-06 21:56] mshwery commented on #858
This seems specific to the way the project is being compiled/bundled and we have not been able to reproduce it ourselves. Closing for now!

[2020-09-06 21:56] #858 closed

[2020-09-08 21:08] #928 closed

[2020-09-08 21:09] colinlohner commented on #796
This has been fixed in v5.0.6

[2020-09-08 21:09] #796 closed

[2020-09-08 21:11] colinlohner commented on #780
That makes sense to me

[2020-09-11 04:15] jasan-s opened #996 "tooltip with showDelay unexpected results"
using the Tooltip component with showDelay in a listitem renders unexpected results:

Issue: if I set the showDelay value to 3000, and move mouse over 10 items in a list(all wrapped with tooltip) all of them show tooltip after the delayTime and do not disappear unless i hover mouse over the items again.

expected: with 3000ms showDelay set, if i hover over an item for more then 3000ms the tooltip

[2020-09-11 04:17] colinlohner commented on #996
This appears to be a valid issue, and we will look into it as soon as we are able! Thank you for bringing it to our attention.

[2020-09-12 17:01] akleiner2 commented on #682
Going to close this thread out - there are workarounds to this, but let us know if you still have issues with the approaches mentioned!

[2020-09-12 17:01] #682 closed

[2020-09-12 17:04] akleiner2 commented on #679
Going to close this issue out, but let us know if the recommendation specified doesn't work, and we can always revisit!

[2020-09-12 17:04] #679 closed

[2020-09-12 17:07] akleiner2 commented on #621
Hi there! We haven't had a chance to prioritize a component like this just yet internally. That being said, we'll be sure to keep this in mind and circle back to this issue once we figure out our needs for a `<Tree />` component internally.

Going to close this out for now! Let us know if you have any additional questions.

[2020-09-12 17:07] #621 closed

[2020-09-14 14:22] akleiner2 commented on #996
This should be fixed up with #1011 , so going to cut a release some time today or tomorrow, and close this out 👍 . Thanks for reporting!

[2020-09-14 15:28] MercuryVladaBelopolskaya opened #1014 "Using TextareaField with ref"
Hey.
I want to use TextareaField inside a functional component wrapped in forwardRef.
When I use the ref attribute with the Textarea component, everything works fine, but if I want to add the ref attribute in the TextareaField, I get an error in the console:

_Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?
Check the

[2020-09-14 15:44] akleiner2 commented on #1014
@MercuryVladaBelopolskaya what version of Evergreen are you using? We haven't cut a release _just_ yet with https://github.com/segmentio/evergreen/pull/987, which forwards the ref to the underlying `<Textarea />`, but be on the lookout for that some time today :)

[2020-09-14 15:54] MercuryVladaBelopolskaya commented on #1014
@akleiner2 Oh cool! I'll look forward to it :)

[2020-09-14 16:35] akleiner2 commented on #996
@jasan-s This should be fixed in `5.1.0`, do you mind updating and taking a look? Thanks!

[2020-09-14 16:36] akleiner2 commented on #1014
@MercuryVladaBelopolskaya This should be fixed in `5.1.0`, do you mind pulling in the latest version and letting us know if this works? Thanks!

[2020-09-15 06:04] MercuryVladaBelopolskaya commented on #1014
@akleiner2  Everything is working. Thank you so much :)

[2020-09-15 06:04] #1014 closed

[2020-09-15 14:16] #996 closed

[2020-09-15 15:28] #859 closed

[2020-09-21 11:34] cdedreuille opened #1050 "Checkbox Label is too small"
I believe there's an inconstancy with the checkbox label being 12px compared to all other labels being 14px. In my case I'm trying to have a list of checkboxes on the left and some associated text on the right but the checkbox label doesn't match the text and is quite hard to read as 12px is quite small. I'm not sure it's even accessible enough.

It would be great if the checkbox label could be pu

[2020-09-21 14:02] akleiner2 commented on #1050
Great callout here @cdedreuille. You're right - looks like the `<Checkbox />` implementation is using `<Text size={300} />` under the hood. Agreed that this is probably too small, but I'd be weary about updating the underlying visual styles as a non-breaking change.

Evergreen has a `Label` export -- could you potentially compose that instead?

[code]

What do y'all think @mshwery @colinlohner ?

[2020-09-21 22:16] MrAlexLau opened #1051 "`border` prop for Pane component does not allow for custom borders"
If I have a `Pane` with a custom border like this:

[code]

A border will not show up (even though that's how ui-box would handle it). Because of the way [the border prop is handled for a Pane](https://github.com/segmentio/evergreen/blob/731e46e/src/layers/src/Pane.js#L62-L89), you instead currently have to declare each side's border directly to accomplish the above:

[code]

I don't think this is

[2020-09-21 22:20] mshwery commented on #1051
This is already fixed in the next version, but would be supportive of also fixing it in v5!

[2020-09-21 22:27] MrAlexLau commented on #1051
@mshwery - glancing at [the analogous code](https://github.com/segmentio/evergreen/blob/0befcff/src/layers/src/Pane.js#L33-L48) for v6, the approach seems quite a bit different. Would you recommend trying to mimic this approach for v5 if someone was going to fix this? Or would it make more sense to just modify the existing function?

[2020-09-21 22:28] colinlohner commented on #1051
Yeah I can look into a patch for this

[2020-09-21 22:30] mshwery commented on #1051
@colinlohner @MrAlexLau the main difference with the v6 code is actually [here](https://github.com/segmentio/evergreen/blob/0befcff64b901b20f90df15c2163df1e3364786a/src/themes/classic/components/pane.js#L22) we return `border` if `value` is undefined or null. I've just realized now that we probably should only behave like this when the value is explicitly `undefined` because `null` should unset th

[2020-09-21 22:31] mshwery commented on #1051
Could do something like
[code]

[2020-09-22 09:28] cdedreuille opened #1053 "Warning: componentWillReceiveProps has been renamed - When using <SelectMenu />"
I'm having some warning when using the <SelectMenu /> component. Nothing blocking but I thought you should know.

Here is my implementation:
[code]

and the warning I received

[code]

Thanks 🙏

[2020-09-22 10:45] cdedreuille opened #1054 "TextInputField bottom margin is inconsistent with FormField"
I think there's an inconsistency on `TextInputField` compared to `FormField` as it's adding a marginBottom of 24px. In my case, I'm trying to create a form composed of multiple types and I want them to all have a label. As `SelectMenu` doesn't have a label by default I'm using  `FormField` to add it.

My code looks like this:

[code]

But I have now inconsistent margins between my inputs as `TextI

[2020-09-22 13:35] akleiner2 commented on #1053
This is because `<SelectMenu />` under the hood uses `react-tiny-virtual-list`. It actually looks like this package hasn't been updated in a while, but here's the line in question: https://github.com/clauderic/react-tiny-virtual-list/blob/master/src/index.tsx#L173.

Are you seeing this only in dev @cdedreuille or in a productionized env?

Might be worth forking ourselves + making the changes ourse

[2020-09-22 13:47] cdedreuille commented on #1053
I only see this warning in my local environment @akleiner2. So nothing too concerning for now but I just thought I would let you know.

[2020-09-24 16:16] kud opened #1062 "[Docs] Icons: no "import" and 404 on the github page"
The doc https://evergreen.segment.com/components/icons/ doesn't explain how to import it. And the github link is broken.

[2020-09-24 16:26] mshwery commented on #1062
Hello! Thanks for sharing the opportunity to make this a little clearer. The github link is definitely a bug (cc @akleiner2 @colinlohner)

While there is no example explicitly showing an import statement, all of the component names in the examples are importable:

[code]

Additionally, most IDEs will autocomplete based on the typedefs (like VS Code) what you can import from the package!

[2020-09-24 16:50] akleiner2 commented on #1062
What @mshwery said! For the docs issue - we'll be sure to fix the docs asap. Great spot.

[2020-09-24 18:59] #1062 closed

[2020-09-24 22:17] virtualgraham opened #1065 "Plain CSS Stylesheet"
In the case of a site that mixes react with plain HTML, for example when using `dangerouslySetInnerHTML` for a markdown blog using Gatsby, It would be great to have a plain style sheet to match the typography and other styles of the evergreen theme. Does such a style sheet already exist?

[2020-09-24 23:25] akleiner2 commented on #1065
Not as far as I know (at least that we provide). CSS classname generation is non-deterministic in Evergreen, so it wouldn't be something that we would do ourselves.

Going to close this out for now - but curious to hear / see if you (or someone else) ends up getting Evergreen styles into a plain CSS stylesheet. Would be awesome!

[2020-09-24 23:25] #1065 closed

[2020-09-25 08:33] tggreene commented on #858
Hi @mshwery, I believe this is a result of the fact that evergreen-ui's [dependency on react-transition-group "4.4.1"](https://github.com/segmentio/evergreen/blob/15d8b463ae4da6eef700e6d97729c4c614055209/package.json#L70) [has a dependency on dom-helpers "5.0.1"](https://github.com/reactjs/react-transition-group/blob/399f26998a5cf2449798a02c755e5808e9b39ddd/package.json#L61) whilst evergreen-ui al

[2020-09-27 19:25] kasipavankumar opened #1069 "Type issues for SideSheetProps.position in tsx files."
**Describe the bug**

Greetings.

When using the `SideSheet` component in a NextJS project, the TS (`.tsx`) compiler throws an error stating `Type 'string' is not assignable to type 'Pick<PositionTypes, "bottom" | "left" | "right" | "top">'`. Although the SideSheet is being rendered as expected during on the development server, the error causes the build process to fail.

Just wanted to clarify if

[2020-09-27 19:50] akleiner2 commented on #1069
Dupe of https://github.com/segmentio/evergreen/pull/1048 -- going to merge that into master and cut a release. Thanks for reporting!

[2020-09-27 19:53] #1069 closed

[2020-09-28 15:32] akleiner2 commented on #787
Going to close out due to inactivity! Always happy to accept incoming PRs for minor releases 👍

[2020-09-28 15:32] #787 closed

[2020-10-02 09:09] Anmol270900 commented on #1054
Hi! Is this issue still open to work on? May I work on it?

[2020-10-02 09:14] Anmol270900 commented on #1050
Hi! Is this issue still open to work on? May I work on it? 😅

[2020-10-05 11:19] cdedreuille commented on #1054
@Anmol270900 Still there in V6. Would be great to have it solved. @akleiner2 ?

[2020-10-10 21:16] mshwery commented on #1054
Hi @cdedreuille – thanks for reporting. I can see how this comes across as an inconsistency though I think it was intentional.

I think the original intent was that TextInputField, TextareaField, SelectField, etc were predefined and somewhat opinionated compositions of the more primitive FormField. They all use FormField under the hood.

It might make sense to bring consistency across the other *F

[2020-10-10 21:40] cdedreuille commented on #1054
Having both an opinionated and primitive approach is great as it can fit to your need. The main point I'm raising here is the inconsistencies with the other fields. Without changing the existing components you could:
- Add new opinionated components (___Field) to all the other components that compose a form
- Simplify the doc so people can understand both approaches

It's certainly great to have b

[2020-10-11 01:32] patcon commented on #848
FYI this also holds true for tooltips. (Thanks for the great UI framework btw!)

[2020-10-11 01:35] patcon commented on #848
For others, temporary resolution is to ignore console warning, which will only appear in dev builds. Removing StrictMode elem is not necessary (nor advised), since it will remove other helpful warnings :)

[2020-10-13 06:18] zerofront opened #1095 "update storybook to V6?"
update storybook to V6?

[2020-10-14 01:47] gencer opened #1096 "`isSolid` for Badge is not available at v6"
This is not working:

[code]
It seems this props has been removed on `v6`. What is the alternate way of enabling solid color on badges using `v6`? Or, Is it permanently removed?

### Update

Hm.. It seems `v5` documentation shows `isSolid` as an example but props doesn't show either...

[2020-10-14 15:53] akleiner2 commented on #1096
Hey @gencer - that's right, we're removing the prop from the `<Badge />`, but could likely foresee doing this in userland (via a new theming API).

Since v6 is still under heavy development (hence the pre-release cuts, and not a formal major version release), we haven't done any documentation or broader communication about alternatives or methods forward. For now, I would consider v6 to be "use at

[2020-10-14 15:56] akleiner2 commented on #1096
That being said, `isSolid` is available on Badges and Avatars in v5, but you're right - looks like the `propTypes` don't show it. Happy to accept a PR, if you're willing to add it!

[2020-10-19 20:40] chrisbull opened #1099 "Big Button wraps text with more than one word"
So I copied the example code for the big button, and immediately I get an issue with the "Big Button" text wrapping.
Looks like there needs to be an additional css style `white-space: nowrap;` which will keep the words on a single line.

[code]

![image](https://user-images.githubusercontent.com/753112/96509308-ab70b880-1210-11eb-8edc-186fe010f685.png)

[2020-10-26 09:24] MercuryVladaBelopolskaya opened #1102 "Controlled FilePicker component"
Hi!

I am use react hook forms and I what to make controlled file picker component.
FilePicker don't have value property.
Do you have a way to make file picker controlled?

[2020-11-06 09:00] HouHey opened #1108 "Autoheight in the VirtualBody"
Hi, guys

I found the problem with autoheight in the <Table.VirtualBody />

My code:
[code]
The row "Row 1" is opacity: 0. Maybe I’m doing something wrong..

![image](https://user-images.githubusercontent.com/55583517/98346668-5a8dfc00-2027-11eb-8c52-223dc720c344.png)

[2020-11-07 01:33] treygriffith commented on #865
I'd say this change could also apply to the Toaster, which has the same issue. @a-y-u-s-h are you planning to add this? If not, I may take a stab at it.

[2020-11-07 01:56] treygriffith commented on #966
I looked into this a little bit, and I think I know the cause of the issue (although not the solution).

`Overlay` is listening for `onClick` events from the `Box` component that makes up the overlay and its children.
https://github.com/segmentio/evergreen/blob/e1050a724413b344f3d1412199a277bdc2243821/src/overlay/src/Overlay.js#L258

Of course, these `onClick` events will fire for *any* click insi

[2020-11-07 14:12] a-y-u-s-h commented on #865
@treygriffith I was going to, but I haven't contributed before to Evergreen so no idea how to start and I'm busy as well these days with another project. But I proposed the solution as well, it's a minor change in current implementation. Feel free to push it.

[2020-11-07 17:32] meecrobe commented on #848
Same for `SelectMenu` also.

[2020-11-08 01:10] dplain90 opened #1110 "Add containerProps to Autocomplete"
Hi all,

In Autocomplete, there is no way to pass props to the outer container that Downshift sets `role=combobox` to on render. In the current implementation, it's just rendering a div w/ `100%` width.

https://github.com/segmentio/evergreen/blob/e1050a724413b344f3d1412199a277bdc2243821/src/autocomplete/src/Autocomplete.js#L167

It would be nice to be able to modify the props for this container.

[2020-11-09 15:53] akleiner2 commented on #1095
We actually have storybook @ v6  on the `v6` evergreen branch (which is currently in active development). Stay tuned for when we cut a formal release of egv6 soon!

[2020-11-09 15:53] #1095 closed

[2020-11-29 06:37] sslgeorge opened #1115 "Add Accordion"
I think a rich UI library like this needs an accordion.

[2020-11-30 19:37] marianayap commented on #1115
@sslgeorge Hello! can I work in this issue?

[2020-12-03 12:19] sslgeorge commented on #1115
Not yet

[2020-12-04 17:25] totaldis opened #1120 "Popover optional close on escape key"
Similar in vein to https://github.com/segmentio/evergreen/pull/558, we need a way to prevent the escape key from closing the `Popover`. This is already available in the `Dialog (Overlay)` so would like to round out the API for `Popover`.

Encountered this when using a `SearchInput` within a `Popover` which contains a handler for the escape key to clear the content. Probably a `stopPropagation` wou

[2020-12-07 06:17] jackcwu commented on #1115
Me and @tcho0501 are on this

[2020-12-07 06:17] jackcwu commented on #1110
Me and @tcho0501 are on this

[2020-12-07 06:17] jackcwu commented on #780
Me and @tcho0501 are on this

[2020-12-07 15:08] MohsinAliSoomro opened #1123 "Add grid or flexbox to make it responsive"

[2020-12-07 15:48] akleiner2 commented on #1110
Yep! Makes sense to me - otherwise, each time you use `Autocomplete` you'd have to wrap in some kind of div that ends up with the size you want. Happy to take a PR for this!

[2020-12-07 16:22] akleiner2 commented on #1096
Going to close this out for now - but let us know if you have nay other questions!

[2020-12-07 16:22] #1096 closed

[2020-12-07 16:23] mshwery commented on #1110
For context: https://github.com/segmentio/evergreen/pull/412

[2020-12-07 16:25] mshwery commented on #1110
A better option IMO would be to accept any ui-box props, split them with `splitBoxProps`, and apply the box props to this container.

[2020-12-07 16:31] tcho0501 commented on #1110
That makes sense, so just to reconfirm: we should closely follow the outer-container used in combobox for the autocomplete?

[2020-12-07 16:33] akleiner2 commented on #1115
Hey folks -- Evergreen is heavily influenced by our own internal component needs at Segment. We don't have plans to include an Accordion component yet, but when we do, we'll be happy to let y'all know. Going to close this out for now.

[2020-12-07 16:33] #1115 closed

[2020-12-08 15:29] evantrimboli commented on #745
I can understand how a date picker component could have a number of different iterations, but I think a simple date picker would probably suit the basic needs of a lot of users. It would also form the basis of being able to compose those parts together.

When I say simple date picker, I'm picturing something that would:
- Display the days in the month in a table format
- Have some kind of title to

[2020-12-16 10:57] darahayes opened #1128 "ccccccriflnhdfnuveuvekvvfbhltctrdcuuihuivune"

[2020-12-16 10:57] darahayes commented on #1128
so sorry guys. cat leaning on keyboard!

[2020-12-16 10:57] #1128 closed

[2020-12-17 19:31] seanemmer opened #1129 "Avatar with User Icon"
The Docs show an Avatar component with a User Icon.  There is no reference in the documentation for how to make the Avatar render this way.  The intended purpose is for representing anonymous users.

![image](https://user-images.githubusercontent.com/8183188/102534242-4a703000-405b-11eb-9b2c-574baf72cc65.png)

[2020-12-30 13:10] xuoutput opened #1130 "CornerDialog position with typescript"
![image](https://user-images.githubusercontent.com/16385443/103353256-59d38c80-4ae3-11eb-921a-075c3b420e7c.png)

[2020-12-30 20:58] akleiner2 commented on #1130
Hey @xuoutput -- good spot, `position` is missing from the type declaration file.  Happy to accept a PR adding it!

[2020-12-30 21:00] akleiner2 commented on #1123
You can use "styles as props" via any component in Evergreen - so if you choose to make something `display="grid"` or `display="flex"`, you can + should be able to do so.

Check out https://github.com/segmentio/ui-box  (which is what most of Evergreen is built on top of) for examples of how to set these styles. Let us know if you have any other questions!

[2020-12-30 21:00] #1123 closed

[2021-01-02 12:47] drummerjolev opened #1133 "extractStyles() for Shadow DOM"
Hey all,

I'm wondering if there is a way to extract all the styles I'm using through Evergreen components. I'd like to inject that CSS into a Shadow DOM. I tried using `extractStyles`:
[code]
but that did not work, as the styles keep changing when events fire in the DOM.

Any help is much appreciated – thank you!

[2021-01-03 01:59] MrSnix opened #1134 "Introducing the color picker component"
**Introduction**
Hi, I'm Joseph, a first-time author here.  I have been using Evergreen for a while and currently, the framework does not provide a built-in ColorPicker. The `<input type="color" />` UI may vary on the different operating systems or browsers, so I build one from scratch without using any 3d-party library which could be used as a replacement for UX consistency and usability.

**Desi

[2021-01-05 18:47] akleiner2 commented on #1133
Do you mind posting a CodeSandbox with some minimal repro code? Would be super helpful to take a look!

[2021-01-05 19:22] akleiner2 commented on #1134
Hey @MrSnix first of all -- this looks incredible! Thank you so much for taking the time to open up an issue and show the work in progress thus far. It definitely has the look + feel of an Evergreen component, and a lot of the core interactions I'd expect from a Color Picker component seem to be present.

Unfortunately, given that Evergreen is an implementation of Segment's design system, and our

[2021-01-05 21:47] MrSnix commented on #1134
Hi @akleiner2, thanks for the time you spent on my request, :D
I understand your point and I'm okay with it, I'll let you know if I'll do something with this component.
There are a lot of alternatives on `npm` which can be more suitable and customizable than the one I did.
I built this one specifically for Evergreen and its UX.

Nevermind, I'm glad you have reached me out.
Thanks

[2021-01-05 22:33] akleiner2 commented on #1134
Excited to see the code behind it @MrSnix please circle back if / when you do decide to publish or release it to open source :)

[2021-01-05 22:33] #1134 closed

[2021-01-06 04:39] adamjaffeback commented on #306
For folks who find this in the future, here's an example component:

[code]

[2021-01-21 00:47] cstrat opened #1137 "Table adding padding for non-existent scrollbar"
I decided to close the other issue (#748) as it contained a lot of noise around what could have been causing this bug. Plus I've found a fix for my exact implementation.

This bug is reproducible on both Windows and Mac. I have tried toggling on/off the auto-hide scrollbar in my OS, but that doesn't seem to fix this, happens either way.

To demo this bug you can just go to the docs page for [Table

[2021-01-21 00:48] cstrat commented on #748
Closed this one. I've opened a more thorough report in #1137

[2021-01-21 00:48] #748 closed

[2021-01-26 16:23] MarosPistej opened #1140 "Table.Row - Context.Provider missing 'value' prop"
**Description**
There seems to be bug in `Table.Row` that `value` prop is missing in `<Context.Provider>` as described in console warning

[code]
![image](https://user-images.githubusercontent.com/43110161/105871560-b7cb9500-5ff9-11eb-8462-54e489380cf5.png)

**Additional context**
Code sandbox warning example using `evergreen-ui` table `sample` bellow
[Warning example](https://codesandbox.io/s/bla

[2021-02-05 13:56] ValiDraganescu commented on #929
I still get this bug in 5.1.2

[2021-02-07 14:26] billyct commented on #1140
🌝 i downgrade the react version from `17.x` to `16.x`, then the warning disappeared.

`react@17.x` Warn when no value is provided to <Context.Provider>
https://github.com/facebook/react/pull/19054

[2021-02-08 15:08] tomhands1 commented on #1140
I also have this issue, after upgrading versions of React. It appears that setting a value to context providers is now a required field and throws a warning if not as of:
- https://github.com/facebook/react/issues/19020
- https://github.com/facebook/react/pull/19054
Is there a workaround or solution that doesn't involve downgrading react versions.
Thanks

[2021-02-10 18:56] Aanandgupta opened #1144 "Mobile devices"
Should we do some modifications so that our website is more readable for mobile phone users?
Currently, we are just scaling according to the screen sizes it would be better if we would have a nav-bar at the top which on clicking displays no of options
![Screenshot (137)](https://user-images.githubusercontent.com/71023799/107557554-c6bc6500-6bff-11eb-90ef-d2c53507766f.png)
 and stack components for

[2021-02-16 00:14] lukemcgregor opened #1146 "NPM Vulnerabilities (node-fetch from glamor and react-scrollbar-size)"
When I install evergreen I get a couple of vulnerabilities in sub packages. It looks like glamor and react-scrollbar-size need to be updated

[code]

[2021-02-17 16:08] mshwery commented on #1146
@lukemcgregor what version of Evergreen?

[2021-02-18 06:26] dikaio commented on #1140
Also interested in this.

[2021-02-18 17:47] dikaio opened #1148 "Evergreen Link and Next Link"
Hi Team. I was playing with Evergreen today and was curious how you are able to use both evergreen ui Link and Nextjs together. Using only evergreen ui's Link I lose the client side routing functionality that Nextjs provides. I couldn't find anything on via Google that covers this but I'm sure the solution is probably very simple I've just missed.

[2021-02-18 19:33] mshwery commented on #1148
Do you have some minimal sample code you can share that illustrates your issue?

My assumption (without seeing anything) is that you need to rename one of the imports:
[code]

More info: https://nextjs.org/docs/api-reference/next/link#if-the-child-is-a-function-component

PS. This type of question is the perfect thing to ask in [Discussions](https://github.com/segmentio/evergreen/discussions) in t

[2021-02-18 21:46] dikaio commented on #1148
Hi @mshwery this is exactly what I needed, ugh thank you so much, nesting the import like you did here isn't something that came to mind <you rock>.

[Discussions](https://github.com/segmentio/evergreen/discussions) see you there!

[2021-02-18 21:46] #1148 closed

[2021-02-23 11:32] omonk opened #1152 "React 17 Support"
Are there any plans to bump the react and react-dom peer dependencies to allow react 17? With the npm version 7 reintroduction of installing peer dependencies it is making it tricky to use evergreen without the `--legacy-peer-deps` flag.

[2021-02-24 20:27] Kaizer69 opened #1153 "Color scheme"
![Theme](https://user-images.githubusercontent.com/13591248/109062096-c46e0680-76e7-11eb-8f29-796e21fbeabe.png)
Hi!
Weird question.
What is the name of the color scheme for the sample code on the site?
For example, the syntax highlight for code in that page: https://evergreen.segment.com/components/layout-primitives

[2021-03-04 21:20] akleiner2 commented on #1144
Hey @Aanandgupta we have some exciting changes to the doc site coming up in the next few weeks, and we'll definitely take into account responsiveness for the upcoming docs site!

[2021-03-04 21:21] #1144 closed

[2021-03-04 21:22] akleiner2 commented on #1133
Going to close this out for now - let us know if you are able to repro with a CSB link!

[2021-03-04 21:22] #1133 closed

[2021-03-10 12:36] BenJenkinson commented on #1153
The documentation uses [PrismJS](https://prismjs.com/) to display the sample code.

You can find the CSS file as used in the documentation here:

https://github.com/segmentio/evergreen/blob/9fe04653cb11aff5d2604ba07308957d37a637f2/docs/src/css/prism-theme.css#L1-L5

The header comment refers to a theme called `a11y-dark` (which can be found here: https://github.com/ericwbailey/a11y-syntax-highligh

[2021-03-10 12:53] BenJenkinson commented on #1129
While that would be useful, I don't think it is supported by that component at the moment.

The card images on the [components documentation index](https://evergreen.segment.com/components) seem to be more for illustration of the concept, rather than direct representations of the components.

For example, menus don't have blue borders, like the "Select Menu" icon:

![image](https://user-images.git

[2021-03-10 15:46] akleiner2 commented on #1153
Here's a VSCode theme that implements the light version of the PrismJS theme: https://github.com/usernamehw/vscode-theme-prism, maybe you could adapt this according to the color spec you see! Going to close this out for now - if you search around for "VSCode Prism theme", you should be able to find something that should suit your needs!

[2021-03-10 15:46] #1153 closed

[2021-03-12 05:38] mothattack commented on #1152
Yeah I was about to start a project with React and Evergreen. Step 1 install react. Step 2 install evergreen Step 3 .......oh...step 2 failed

[2021-03-16 22:26] Samuel-Montoya commented on #1152
When will this get updated? Such a great package and would love to use it with latest version of React

[2021-03-16 23:13] akleiner2 commented on #1152
Hey y'all -- will look into this before the week's done. My guess is it's as simple as loosening up the peer deps requirement (or getting rid of it altogether) to allow for React 17 (especially since there aren't really any major breaking changes in React 17), but I want to be 100% sure first and test locally. Thanks for the patience here 🤞

[2021-04-01 17:45] earoberson commented on #1146
@mshwery
From dependabot alert:
[code]

[2021-04-01 18:22] mshwery commented on #1146
I think we have plans to abandon `glamor`, which should alleviate one of these. Need to investigate the other one (react-scrollbar-size) // @akleiner2

[2021-04-06 01:10] mothattack commented on #1152
Any updates on this?

[2021-04-17 21:17] Abdalrzakalsouki opened #1169 "Can not align the icon in the search input"
Hello,
I have been using Evergreen in my project and since the framework is not responsive I had to use CSS breakpoints.
The problem was with the search input icons because I was able to align the search input width and height but can not
align the icon. Leaving with a broken icon outside the input
**Please, is there any way to align the icon probably or at less remove it**
Thank you

[2021-04-21 00:02] wyhinton opened #1171 "Clearly Display default theme Object in docs"
Hello,

I think it could be useuful for developers if the default definition for ```ThemeProvider```'s ```value``` was shown somewhere in the docs. Right now you have to dig through the source code for it. [Material UI does this](https://material-ui.com/customization/default-theme/). In order to write custom themes its very helpful to know what the theme object keys are.

[2021-04-21 04:35] mifi opened #1172 "Project still maintained?"
First thanks for the amazing UI library. The DX and design of this is just awesome and I use it all the time. I don't want to complain, and I appreciate that evergreen is already really good and may not need that much updates, but I can see that the last commit was in December 2020, and there are quite a few issues and PRs waiting. Like some obvious low hanging fruit like the bug #1142 and support

[2021-04-30 18:13] Jupiterrr commented on #1172
@akleiner2 and @kamebkj are working a lot on the [v6-docs branch](https://github.com/segmentio/evergreen/commits/v6-docs). I can't wait for the release. 🥳

[2021-05-13 23:19] Samuel-Montoya commented on #1140
Getting the same warning on my end!

[2021-05-14 08:19] Jupiterrr commented on #1172
@mifi [v6.0.0](https://github.com/segmentio/evergreen/releases/tag/v6.0.0) was released two days ago. The docs were updated as well http://evergreen.segment.com/.

[2021-05-17 08:08] mifi commented on #1172
Awesome! Would be cool if someone could cleanup issues/prs though

[2021-05-17 08:59] psiho opened #1200 "SelectMenu closes on click when it shouldnt"
I upgraded my react 16.13.1 app to evergreeui6 and now my SelectMenu behaves weird. Menu closes:
- on click on the option (even if Multiselect)
- on click outside of options area but within the menu itself

I don't even know where to start debugging :) WIll try to create a code to reproduce it.

[2021-05-17 17:36] thiagomdo1 commented on #1200
Same issue here.

[2021-05-17 17:46] akleiner2 commented on #1200
Thanks for reporting - fix is here: https://github.com/segmentio/evergreen/pull/1199. Will cut a patch release today or tomorrow! Thank you for your patience.

[2021-05-18 19:27] akleiner2 commented on #1200
Should be fixed in `6.0.1`!

[2021-05-20 00:23] akleiner2 commented on #1200
Closing this out, but let me know if this is still an issue.

[2021-05-20 00:23] #1200 closed

[2021-05-20 16:11] psiho opened #1207 "v6 - alignment of items changed"
Sorry again for a really superficial report, but really swamped with work now so I don't have time to debug. Will as soon as I find the time.

Anyway, one of the things after upgrading to v6 is that many of my UI items changed alignment. It seems they're centered while they were aligned left in v5. Best seen in the screenshot below. I have MenuItems and Buttons, both behaving differently now. Menu

[2021-05-20 16:15] psiho opened #1208 "v6 - warnings with failed prop types for borderTop, borderBottom..."
My project after upgrade to v6 throws warnings:

[code]

same thing for all 4 border types.

[2021-05-21 08:21] thiagomdo1 opened #1209 "Missing Theme interface (Typescript error)"
Hi. I'm getting a Typescript error for defaultTheme props:
Property 'fontSizes' does not exist on type '{}'.  TS2339

It seems the problem is in the **index.d.ts** file:

[code]

My version:  6.0.1

[2021-05-21 21:17] akleiner2 commented on #1171
We've started on this, but would love some more help in the coming weeks: https://evergreen.segment.com/introduction/theming. Going to close out for now!

[2021-05-21 21:17] #1171 closed

[2021-05-21 21:19] akleiner2 commented on #1208
Interesting - I just tried to repro that here, but not seeing it: https://codesandbox.io/s/eloquent-johnson-597k9?file=/src/App.tsx

Are you looking in a dev environment? What does a minimal repro-able example look like?

[2021-05-21 21:24] akleiner2 commented on #1207
The center-alignment is intentional for Buttons and MenuItems in the new v6 default theme. You can add some add'l CSS, to get the behavior that you're looking for, but this was a pretty intentional change from our end to get closer to the expected behavior out of the box. As for the color of the menu item, you can unset the color, but the default theme sets it to white by default.

Going to close

[2021-05-21 21:24] #1207 closed

[2021-05-21 21:57] psiho commented on #1208
Yes, dev environment. Ill try to setup an example. Will take me a day or two as I'm on a very tight schedule this week.

Basically I just updated evergreen to v6 and reported differences from v5 on my project in progress.

Will get back to you soon.

[2021-05-22 15:36] akleiner2 commented on #1172
Hi! Sorry about the radio silence - we've been pretty heads down shipping v6 and fixing up any loose ends! We're always happy to accept PRs, so long as they roughly match what we're doing (or fix any bugs that we've introduced :P). We'll be more diligent about the PR / issue grooming process going forward <3

On that note, going to close out this issue :P  - for all general discussion, head over t

[2021-05-22 15:36] #1172 closed

[2021-05-22 15:41] akleiner2 commented on #1208
All good - going to keep this open and hopefully see what you're seeing. 👍

[2021-05-23 13:11] psiho opened #1211 "v6 Docs - SelectMenu multiselect - deselect example does not work"
Well, title says it all. Deselcting does not work in this example:
https://evergreen.segment.com/components/select-menu#multiselect_with_deselect_example

[2021-05-23 13:18] psiho commented on #1211
I guess lines 33 and 51 should both be:
`setSelectedItems(selectedItems);`

[2021-05-23 13:41] psiho opened #1212 "SelectMenu, if "selected" array changes exterally, previosely selected items emit "onDeselect" on click"
CodeSnbox is here: https://codesandbox.io/s/gifted-dan-tiyhl

Open menu, select all options, then click "reset state to cucomber" button in the title.... visually all seems ok, but now click on Apple. Nothing happens because (check console), event "onDeselect" is emitted even if Apple is not selected.

[2021-05-24 10:36] psiho commented on #1208
Ok, iI found out where it is comming from. It's in this line and property `border={false}` causes it:

`<Card {...cardStyle} border={false} background="transparent" display="flex" justifyContent="space-between">`

`border={true}` does not cause it and works properly. I'm pretty sure I was not getting this in v5. I'm building a project in typescript and was relying on my editor to describe props. F

[2021-05-24 15:10] akleiner2 commented on #1211
You are absolutely right - good spot. Fix in #1213

[2021-05-24 15:15] #1211 closed

[2021-05-24 15:19] akleiner2 commented on #1208
So, the typings and the run-time behavior are actually correct, it's just a matter of how these props get generated that ends up pretty noisy.

Under the hood, we use [`ui-box`](https://github.com/segmentio/ui-box/). You can see the prop types declarations are probably incorrect here: https://github.com/segmentio/ui-box/blob/master/src/enhancers/border-radius.ts#L6. Happy to accept a PR over there

[2021-05-24 15:19] #1208 closed

[2021-05-24 15:20] akleiner2 commented on #1050
Closing this out as there's a viable workaround!

[2021-05-24 15:20] #1050 closed

[2021-05-24 15:22] akleiner2 commented on #1054
Going to backlog this internally - re-visiting form elements (visually, accessibly) is something that we'll look to do in the coming months cc @kamebkj

[2021-05-24 15:22] #1054 closed

[2021-05-24 15:22] akleiner2 commented on #937
Closing this out as the new site has shipped.

[2021-05-24 15:22] #937 closed

[2021-05-24 15:24] akleiner2 commented on #814
Closing this out for inactivity - sorry it's been so long 😅 . In general, we're supportive of adding new components to Evergreen, but we typically do so based on our internal needs first. I think we likely could ship an Evergreen-like ColorPicker at some point in the future, but until then, we'll defer to consumers to build their own. These are excellent suggestions, though!

[2021-05-24 15:24] #814 closed

[2021-05-24 15:25] akleiner2 commented on #1129
That's correct - could use `<UserIcon />` instead. We've actually shipped the new docs site to make this a little bit more clear / understood. Thank you for raising!

[2021-05-24 15:25] #1129 closed

[2021-05-24 15:39] #783 closed

[2021-05-24 15:42] akleiner2 commented on #840
Closing out due to inactivity. I think we could probably add this in a backwards-compatible way i.e. if `secondaryText` was a string, keep current behavior, otherwise render it as-is.

Tend to avoid directional prop names like `left*`, `right*`, as they're too tightly coupled to the design. If the design changes, the prop names must change too. Not to mention things like RTL!

[2021-05-24 15:42] #840 closed

[2021-05-24 15:45] akleiner2 commented on #772
We had this set-up for v6, but I'm going to look into getting this set up for running against PRs into `master`. Closing out for now

[2021-05-24 15:45] #772 closed

[2021-05-24 16:17] akleiner2 commented on #745
Closing due to inactivity - I think that we'll continue to stand by Matt's and Vadim's comments from back then. There definitely is room for Evergreen to provide an opinionated-ish DatePicker component, but we haven't fleshed out the need for it internally just yet, so this will likely be backlogged until then cc @kamebkj

[2021-05-24 16:17] #745 closed

[2021-05-31 15:15] mifi opened #1223 "The menu has no menu items"
I get this error if I use the `disabled` prop for `Menu.Item` and if all menu items in a `Menu.Group` are disabled. Can we remove this line of code?

https://github.com/segmentio/evergreen/blob/29f9c41ff15527dac0892330b8032ccd585b1412/src/menu/src/Menu.js#L29

Maybe instead return?
I can submit a pr if this is the correct solution

[2021-06-02 21:28] christopherlaangsell commented on #866
I apologize that I have just come around to resolve this issue, but it is only recently that I found the source of the error. There is no error with Evergreen using Node to resolve dependencies, but I was using Shadow CLJS to resolve dependencies (I was coding in  ClojureScript). Unlike Node, Shadow's policy of package resolution only looks within the top-level node_modules folder for the package.

[2021-06-02 21:29] #866 closed

[2021-06-03 10:49] psiho opened #1224 "ListItem Icon overlays text (gets style .ub-lft_NaNpx)"
After moving ListItem to a child component, icon positions wrongly. Icon style somehow gets "left: NaNpx".

Modified example from your docs shows this: https://codesandbox.io/s/adoring-austin-m8kiz?file=/index.js

Cannot find a workaround for this. Any ideas?

[2021-06-03 19:50] akleiner2 commented on #1224
Your `Item` component needs to be able to accept Evergreen props, since `UnorderedList` relies on cloning direct children and passing spacing into them. Trade you a sandbox here: https://codesandbox.io/s/peaceful-platform-qr7tf

[2021-06-03 19:50] #1224 closed

[2021-06-03 21:39] psiho commented on #1224
Oh, thx! Solved. Wasn't so obvious. Maybe an example in docs could help.

[2021-06-05 13:35] truongtom1993 opened #1225 "checkbox is always show check icon"
Although I copy the default examples on the homepage, it always shows a check mark in the checkbox.
[Image](https://drive.google.com/file/d/1Z9NjVpB_84JPQvw4ftWzEe6l9JEEu13H/view)

[2021-06-05 14:10] #1225 closed

[2021-06-08 17:59] ghost opened #1226 "Make links more visible on documentation pages"
A tiny issue, but annoying nonetheless. When reading a documentation page, links look like "ordinary" text making it quite difficult to refer to later. It would be nice to make them more visible with a different color or underline applied.

It seems that a link inherits its color from the CSS reset in `/docs/styles`, so I'm not sure if it's a bug :thinking:

Is there a chance of changing this?

Th

[2021-06-17 09:36] Pruxis opened #1233 "v5 Documentation"
Hey, we are still using the v5 styling evergreen and are wondering where we could find the component documenation
As the main website has been updated to the latest version but it's not clear where to find it from previous versions

Regards,

[2021-06-18 15:41] msakal20 opened #1234 "Warning in a custom button"
Hello, I have a problem with custom button, when I create a new appearance, I have this warning, from it, I can see that the component button takes only 3 values ["default", "minimum", "main"], but appearance work.
![image](https://user-images.githubusercontent.com/84870471/122583968-79934880-d062-11eb-83b1-b0dfdf027f3f.png)
The same warning I see in documentation.
![image](https://user-images.git

[2021-06-18 15:53] mikemaccana commented on #1152
This should hopefully be a small update as you say - as there's no breaking changes between React 16 and 17. next.js users can't upgrade to next 11 until Evergreen supports React 17 so it would be timely if the dependencies were updated.

[2021-06-20 18:58] AR-Student824 commented on #842
I'm seeing the same error with the react-popup module, any help?

[2021-06-22 09:31] MariusIorgaQuantarium commented on #1233
You can download the v5.1.2 source code from [this link](https://github.com/segmentio/evergreen/releases/tag/v5.1.2)  and run the docs locally form the `docs` folder.

[2021-06-22 09:33] WingmanImd commented on #1233
You can download the source code  for v5.1.2 from [this link](https://github.com/segmentio/evergreen/releases/tag/v5.1.2) and run the docs locally from the `docs` folder.

[2021-06-24 17:46] jasonbarry opened #1239 "Suggestions for Migration/Theming chapters in the docs"
Hi! Thanks so much for providing this library. I just migrated our codebase from v5 → v6 and thought it would be useful to share some gotchas I ran into around theming:

It took me a long time to realize why modifying the `fontWeight` of my Button's `baseStyle` wasn't working: I had set `height={40}` in numerous instances of my app, and this property was overwriting my custom font weight from bein

[2021-07-02 05:25] dustincjensen opened #1241 "Select Menu deselect example. Select, deselect, then re-select takes 2 clicks."
https://evergreen.segment.com/components/select-menu#multiselect_with_deselect_example

Minor oddity with the Select Menu deselect.
- Open the menu
- select Apricot
- deselect Apricot
- select Apricot again (nothing happens)
- select Apricot again (now selected).

[2021-07-03 07:43] zakiAzfar opened #1242 "color property in Heading component not working properly"
#### Color names are not working properly in Heading Component, but working fine when using color values or Text Component

[code]

[code]

[2021-07-05 18:25] derekvelzy commented on #1212
I believe this is because the `setSelectedItemNames` function is never triggered on the reset button click event.

Here's a CodeSandbox where I use a `handleReset` function to trigger both the `setSelectedItems` and `setSelectedItemNames`. I also moved the functions above the return statement for some cleanup.

CodeSandbox: https://codesandbox.io/s/stupefied-sea-sunnk?file=/index.js

[2021-07-05 18:38] derekvelzy opened #1245 "Select Menu arrow key events"
Link to docs: [Select Menu, Single Select Item](https://evergreen.segment.com/components/select-menu#single_selected_item)

Expected:
Up & Down arrow keys should accurately select options above or below the currently selected item.

Actual:
Unpredictable behavior with up & down navigation.

[2021-07-07 17:41] mshwery commented on #1245
Nice catch! I'm guessing this is potentially a bad merge, or perhaps a bad hooks implementation. cc @kamebkj @akleiner2

[2021-07-08 13:34] mirnaio commented on #1152
Any updates.....?

[2021-07-13 01:56] zuhair-naqvi commented on #1152
Thumbs up for React 17 please!

[2021-07-14 22:15] mshwery commented on #1241
Resolved by #1256

[2021-07-14 22:15] #1241 closed

[2021-07-14 22:16] mshwery commented on #1140
Resolved by #1256

[2021-07-14 22:16] #1140 closed

[2021-07-14 22:18] mshwery commented on #1245
Resolved by #1256

(give it a spin here https://deploy-preview-1256--evergreen-storybook.netlify.app/?path=/story/select-menu--selectmenu)

[2021-07-14 22:18] #1245 closed

[2021-07-14 22:52] mshwery commented on #223
Closing this as 1 has been resolved, and 2 is up for discussion with EG maintainers!

[2021-07-14 22:52] #223 closed

[2021-07-14 22:52] #396 closed

[2021-07-14 22:53] #191 closed

[2021-07-14 22:56] #418 closed

[2021-07-14 22:58] mshwery commented on #333
Closing as I'm not really sure what this means anymore.

[2021-07-14 22:58] #333 closed

[2021-07-14 23:04] #462 closed

[2021-07-14 23:05] #211 closed

[2021-07-14 23:06] akleiner2 commented on #645
There is now an `itemRenderer` for `SelectMenu` which should be able to support this.

[2021-07-14 23:06] #645 closed

[2021-07-14 23:06] #242 closed

[2021-07-14 23:07] mshwery commented on #470
This is resolved by more extensive theming support in later versions of EG. Closing as the issue is quite old.

[2021-07-14 23:07] #470 closed

[2021-07-14 23:09] akleiner2 commented on #780
Closing out due to inactivity - please feel free to re-open / take a stab at this if there's availability!

[2021-07-14 23:09] #780 closed

[2021-07-14 23:10] mshwery commented on #452
Seems like this issue is no longer present. Closing.

[2021-07-14 23:10] #452 closed

[2021-07-14 23:10] mshwery commented on #407
Closing as the issue is quite stale.

[2021-07-14 23:10] #407 closed

[2021-07-14 23:11] mshwery commented on #406
Closing as the issue is very stale.

[2021-07-14 23:11] #406 closed

[2021-07-14 23:11] akleiner2 commented on #1233
Yeah, that's one way - for what it's worth component APIs also haven't changed too much between v5 and v6 (just visual styles...and even then, we've provided a way to get backwards-compatible styling via `classicTheme`).

If you're mostly looking for component props APIs, then you should just be able to use the EG website as-is. Let me know if this doesn't work for your use cases though!

[2021-07-14 23:11] #1233 closed

[2021-07-14 23:12] akleiner2 commented on #1110
Closing out due to inactivity - I think that either `containerProps` or `splitBoxProps` both work as possible solutions. Please feel free to re-open if time permits!

[2021-07-14 23:12] #1110 closed

[2021-07-14 23:12] mshwery commented on #496
Closing as this issue is quite stale.

[2021-07-14 23:12] #496 closed

[2021-07-14 23:13] akleiner2 commented on #1169
Do you have any external CSS affecting this (namely targeting `input[type="search"]`? Otherwise, this should be working as expected. Please update with a Codesandbox whenever you have time! In the meantime, I'm going to close this out for inactivity.

[2021-07-14 23:13] #1169 closed

[2021-07-14 23:13] akleiner2 commented on #1130
Closing out due to activity - please re-open the PR as I think it's still valid to add.

[2021-07-14 23:13] #1130 closed

[2021-07-14 23:13] mshwery commented on #534
Yep! Closing.

[2021-07-14 23:13] #534 closed

[2021-07-14 23:14] mshwery commented on #472
Closing as this is quite stale (and can be themed)

[2021-07-14 23:14] #472 closed

[2021-07-14 23:14] akleiner2 commented on #1223
I'd be fine either removing that line, or just throwing that error in dev -- happy to accept a PR either way.

[2021-07-14 23:15] mshwery commented on #562
The new doc site has all of this! Closing :)

[2021-07-14 23:15] #562 closed

[2021-07-14 23:15] akleiner2 commented on #1242
This is a byproduct of the way our props system works at the moment. A couple of things to get around it:

[code]

or -- feel free to make `color` a "theme"-able value for heading - we do this already for `Text` if you want to look for an example implementation. PRs welcome!

[2021-07-14 23:16] akleiner2 commented on #696
Closing out due to inactivity. Please re-open and re-visit! Thank you!

[2021-07-14 23:16] #696 closed

[2021-07-14 23:19] akleiner2 commented on #741
Closing this out - the general workaround / rule that we've found for SSR is to manually pass in an `id` - sounds like that's the case here, too.

[2021-07-14 23:19] #741 closed

[2021-07-14 23:21] akleiner2 commented on #1239
@jasonbarry This is all super helpful -- `deepmerge` especially is helpful. Might be worth us exporting `extendTheme()` that effectively does that under the hood.

If you have more examples / ideas for theming docs, please don't hesitate to submit a PR - we're open for ideas! Theming is a new concept for us in EG. Going to close this for now - definitely top of mind.

[2021-07-14 23:21] #1239 closed

[2021-07-14 23:22] akleiner2 commented on #865
Going to close this out due to inactivity - solution sounds good though, so please feel free to add this whenever folks are able to get around to it.

[2021-07-14 23:22] #865 closed

[2021-07-14 23:24] akleiner2 commented on #584
Closing this out due to inactivity - for now, the UI treatment is intentionally different, and we haven't seen a use case for multiselect Menu, but happy to consider alternate solutions.

[2021-07-14 23:24] #584 closed

[2021-07-14 23:25] akleiner2 commented on #560
Closing out due to inactivity

[2021-07-14 23:25] #560 closed

[2021-07-14 23:26] akleiner2 commented on #1234
Annswered over in https://github.com/segmentio/evergreen/discussions/1236

[2021-07-14 23:26] #1234 closed

[2021-07-15 01:22] mshwery commented on #1146
`react-scrollbar-size` isn't even used, it seems. I'm going to kill it.

[2021-07-15 01:24] mshwery commented on #1051
Closing as this is quite stale. PRs welcome though!

[2021-07-15 01:24] #1051 closed

[2021-07-15 01:27] mshwery commented on #851
Shared this with the team (back when the issue was created, and will again now) for consideration! Thanks

[2021-07-15 01:27] #851 closed

[2021-07-15 01:28] mshwery commented on #848
Closing as this is stale and I don't think this is a problem anymore. Feel free to reopen if it is!

[2021-07-15 01:33] mshwery commented on #589
Closing as the issue is quite stale. Feel free to reopen or submit a new PR!

[2021-07-15 01:33] #589 closed

[2021-07-15 01:35] #530 closed

[2021-07-15 01:38] mshwery commented on #519
Closing as this is stale and cannot reproduce. Feel free to reopen with a minimal reproduction linked in the issue!

[2021-07-15 01:38] #519 closed

[2021-07-15 23:44] zuhair-naqvi commented on #848
Still happening with React 17 + SSR (NextJS 11)  @mshwery

[2021-07-16 02:13] mshwery commented on #848
You are right! This is due to our use of `react-transition-group` without passing `nodeRef` (it falls back internally to `findDOMNode`). I'll see if we can migrate to `nodeRef` on Transition components.

[2021-07-16 09:31] nenadfilipovic opened #1267 "Any clean way to provide responsive props to components"
In docs you mention using react-component-queries for responsive props, that lib is not maintained, so do you have advice for any other library for that purpose? This one seems most popular https://www.npmjs.com/package/react-responsive, also do you have any clean pattern how to apply conditional props depending on active breakpoint, I could recreate whole component or conditionally provide needed

[2021-07-16 15:48] #1267 closed

[2021-07-20 10:28] dudhatdhavalm commented on #1223
Is this issue still open or not?
if it is still open then I would like to do my first contribution.

[2021-07-20 21:55] joeyfigaro opened #1276 "support for React Native?"
Found a closed ticket (#459) but no updates since. Have you guys discussed this any further?

[2021-07-20 21:57] #1276 closed

[2021-07-21 13:15] jgibson94 commented on #1140
Unfortunately i'm still getting this exact error on 6.1.0

[2021-07-21 14:34] mshwery commented on #1140
Yep! I don't think we've cut a release since that PR got merged

[2021-07-21 16:17] jgibson94 commented on #1140
My mistake!! :-)

[2021-07-22 20:32] mshwery commented on #1212
This is resolved in latest (v6.2.0).

[2021-07-22 20:32] #1212 closed

[2021-07-22 20:34] mshwery commented on #848
Can you test this out in v6.2.0? I think we got all the instances of react-transition-group that weren't using `nodeRef` yet.

[2021-07-22 22:05] iamjpg commented on #848
I can confirm that this issue is fixed in `v6.2.0`, @mshwery. Thank you!

[2021-07-22 22:34] #848 closed

[2021-07-23 08:18] mifi commented on #1223
Still an issue. Feel free to contribute :)

[2021-07-28 07:50] Sti2nd commented on #1140
Fixed in 6.2.0 https://github.com/segmentio/evergreen/releases/tag/v6.2.0

[2021-07-28 14:08] mshwery commented on #1152
Hey folks, quick update – we've made some upgrades internally and with packages that would have led to a breakage on React 17 (this only affects certain components).

Right now it seems the last package that we'll need to fork or switch off of is `react-tiny-virtual-list` due to its reliance on deprecated lifecylece method names.

I started looking into switching to react-window which seems to be

[2021-07-29 20:05] mshwery commented on #1152
Ok, gonna cut a release soon now that these have landed:
- https://github.com/segmentio/ui-box/pull/92
- https://github.com/segmentio/evergreen/pull/1281

[2021-07-29 20:11] mshwery commented on #1152
Released with [v6.3.0](https://github.com/segmentio/evergreen/releases/tag/v6.3.0)!

[2021-07-29 20:11] #1152 closed

[2021-07-29 20:12] mshwery commented on #1053
Resolved with [v6.3.0](https://github.com/segmentio/evergreen/releases/tag/v6.3.0)!

[2021-07-29 20:12] #1053 closed

[2021-07-30 08:27] omonk commented on #1152
@mshwery - many thanks for your work!

[2021-07-31 19:40] bndw commented on #180
Feature request: It would be nice to have the `label` prop for `Switch`.

[2021-08-04 16:09] martineboh opened #1283 "Hide or Show Dialog, Instead of Closing and Removing the DOM Reference"
I am creating a chart component with Plotly, and the requirment was to show a plot in a popup-like dialog, so I chose to implement this with Evergreen Dialog component instead of using window.open(). First time, the plot shows very well with animation. On close, I discovered the plot re-initialized. Is this behaviour normal? Shouldn't the Dialog hide and show with previous state and look? If NO, h

[2021-08-04 16:20] bndw opened #1284 "Inconsistent label styling"
I'm building out a settings panel using Evergreen and noticed the label styling is inconsistent between the `RadioGroup` and `SelectField` components. Visually, it appears the only inconsistency is the `color` attribute but I did notice RadioGroup uses a `span` instead of a `label` element.

### RadioGroup
- Element: `span` (unexpected)
- Color: `color: rgb(105, 111, 140);`

<img width="165" alt="

[2021-08-06 20:24] raffaeu commented on #1209
Same for me, if you do not export the types, we cannot do this :

[code]

[2021-08-09 20:28] alexhauka opened #1289 "Built-in marginBottom on SelectField and TextInputField labels"
_Apologies if this not the desired format for an issue, but the [issue template](https://github.com/segmentio/evergreen/blob/f1db5f884e704e8660661587d841db1861a91b91/.github/ISSUE_TEMPLATE.md) provided in the contributing guidelines 404s_

There is a built-in `marginBottom={8}` given to the innermost `Box` component which is used to make the label for the `FormField` component, which itself is use

[2021-08-10 00:42] zuhair-naqvi opened #1291 "Upgrade @types/react dependency"
Any reason why "@types/react" is still set to "^16.9.5"? This will force developers to either add  `"skipLibCheck": true` to their ts config OR add a "resolutions" field in order to resolve "duplicate identifier" errors with typescript if the rest of their packages (in a monorepo) use React 17 types

[2021-08-10 01:59] akleiner2 commented on #1291
Was an oversight as part of the React 17 upgrade -- PRs welcome! I'm also wondering if we even need to install `@types/react` alongside Evergreen, and instead push that responsibility to the consumers. 🤔

[2021-08-10 23:21] kamebkj commented on #1226
Great callout. Fixed. Thanks!

[2021-08-10 23:21] #1226 closed

[2021-08-11 00:41] zuhair-naqvi commented on #1291
@akleiner2 cheers, PR issued

[2021-08-11 09:37] polosson commented on #842
Hi!

In the same manner, the bug appears on the `Combobox` component.
It would be great to be able to override the `id` prop of those components (I mean `Tooltip` and `Comboox`), like we can do for the `TextInput` component, for example.

So I :+1: the @Chrischuck PR proposal :smiley:!

[2021-08-11 15:44] jd615645 commented on #1053
@mshwery thank you so much for trying to solve this problem
I already updated evergreen to 6.4.0, but I still get this warning message when I use `<SelectMenu />`

[code]

[2021-08-11 16:40] mshwery commented on #1289
Perhaps a simple workaround would be to construct your own FormField composition that satisfies your design constraints. The *Field variants of the various form components are basically a pre-packaged and opinionated take on how to compose the label, input, description, hints, errors, etc.

I agree that it would be nice to be configurable (or at least pull from the theme's spacing tokens) but also

[2021-08-11 17:15] mshwery commented on #1053
@jd615645 my understanding is that you will always get these warnings with strict mode but they are only warnings. My changes allowed us to support React 17 (otherwise some components would have completely failed to work). I don't think we'll avoid these warnings until all of our deps are no longer using the `UNSAFE_*` methods, but they shouldn't break!

[2021-08-12 01:01] a-y-u-s-h opened #1299 "Popover Themeing / Styling (Support for tailwind"
By default Popover component doesn't allow user to theme the card that it contains or pass any style props, It does however provide this `statelessProps` prop that allows us to override styles. It would make much more sense to just have `...props` spread out in every component's forwarded ref and maybe have custom prop support for main nodes that components contain so that we can use className . L

[2021-08-13 05:59] patrikmasiar opened #1303 "Invalid prop `intent` of value `info` supplied to `ForwardRef(IconButton)`"
## Description
I was about to use `toaster.notify()`. I just opened the console in the browser and I saw there is an error.
Error appears only with `notify()` function usage. Any other functions `success(), danger(), warning()` **are not** causing problems.

I was trying to find out, what is going on, but I could not see anything. Probably I was searching bad.

Could you please tell me how to reso

[2021-08-13 08:22] ayaka-kms opened #1304 "a vulnerability CVE-2020-15168 is introduced in evergreen-ui"
Hi, @mshwery, a vulnerability CVE-2020-15168 is introduced in evergreen-ui  via:
●  evergreen-ui@6.3.0 ➔ glamor@2.20.40 ➔ fbjs@0.8.17 ➔ isomorphic-fetch@2.2.1 ➔ node-fetch@1.7.3

However, glamor is a legacy package, which has not been maintained for about 4 years.
Is it possible to migrate glamor to other package to remediate this vulnerability?

I noticed a migration record in other js repo for g

[2021-08-16 10:54] martineboh opened #1305 "How to Open Popover Programmatically!?"
Thanks for evergreen ui. How do I show the Popover content when a button is clicked (onClick)??? Your examples don't show how to show/open. The documentation is somehow incomplete and hard to follow without the basics.

[2021-08-16 11:08] #1305 closed

[2021-08-16 11:08] martineboh commented on #1305
Oops! Didn't see the property tab... fixed!

[2021-08-18 21:21] ethanmick commented on #842
Just ran into this as well. Would it be okay to add an `id` prop instead of generating one?

[2021-08-19 11:08] amolerca commented on #1303
I'm having the same problem as the one described by @patrikmasiar . This didn't happen to me with version 5.1.2 though, so perhaps it's a bug on the latest version?

[2021-08-19 11:18] patrikmasiar commented on #1303
@amolerca I am using `6.4.0` version and it is happening there as well. I tried to check the source code of the package but I did not find anything related to this.

[2021-08-19 11:26] amolerca commented on #1303
@patrikmasiar yes, this started happening to me when I upgraded to `6.4.0`, not before. That's why I believe it must be some newly introduced bug.

[2021-08-24 10:34] hyperloo commented on #1303
hi @patrikmasiar, seems interesting and a good starting point for a beginner. Can I work on this work?

[2021-09-03 11:35] seth-wat opened #1316 "Invalid SelectFields are not bordered red"
This is visible in the documentation of `SelectField`:

https://evergreen.segment.com/components/select#invalid_field

comparatively `TextInputField`:

https://evergreen.segment.com/components/text-input#invalid_field

[2021-09-04 20:40] seth-wat opened #1317 "Toaster hasCloseButton and onRemove do not function"
1) Setting the option `hasCloseButton: false` does not prevent the close button from showing up in the UI
2) The `onRemove` function is not called when the toast is removed from the UI

[examples on codesandbox](https://codesandbox.io/s/busy-haibt-sue8v?file=/src/App.js)

[2021-09-05 08:29] esinanturan commented on #1303
![image](https://user-images.githubusercontent.com/7051983/132120582-79c6484b-eb98-4745-a379-c50bfcbd11fa.png)
Same happens when we make a custom appearance theme

[2021-09-05 09:41] hyperloo commented on #1303
I have rectified this warning. Already made a PR.

[2021-09-07 15:15] mshwery commented on #1316
Good catch. Probably need to update the default theme to include invalid border styles. // cc @kamebkj @zkuzmic

[2021-09-07 15:19] mshwery commented on #1317
The first issue is probably due to using an `||` instead of `??`:
https://github.com/segmentio/evergreen/blob/29f9c41ff15527dac0892330b8032ccd585b1412/src/toaster/src/ToastManager.js#L74

The other one is because we don't let you pass `onRemove` on individual toasts. That's a prop of the Toast component, but it is not in the settings – the docs may have not been very clear on this.

You can see al

[2021-09-09 06:28] krijoh92 commented on #1209
If you need a workaround for now, you can create a `evergreen.d.ts` in your src folder, and use this:

[code]

Personally I've created a theme by console.logging the default theme and then using a json to typescript converter, and just editing some parts. It's better than nothing for now

[2021-09-10 15:35] kud opened #1318 "Dialog can not have hasClose when hasHeader is false"
Hello,

Apparently you can not have the close cross when you don't display the header.

However, this is I'd like to have. 😬

[2021-09-15 14:15] polosson opened #1319 "Missing intent value 'info' in Menu.Item prop types"
Using `info` as a value for the prop `intent` of a `Menu.item` **works as expected**, but displays a **warning** in the console, saying that the prop is invalid:

[code]

I think we just need to add this value to this line: https://github.com/segmentio/evergreen/blob/674d9a1d31786e7d00088b8553f353d7fee59732/src/menu/src/MenuItem.js#L165

Maybe it should use a global configuration array of allowed

[2021-09-21 04:28] mxmason opened #1323 "Components that accept `description`, `hint`, and `validationMessage` do not create `aria-describedby` associations."
Because `description`, `hint`, and `validationMessage` add extra information to the various `*Field` components, and the relationship between the input and the text is visually apparent, those associations should also be reflected in the accessibility tree.

Currently, authors have to pass JSX as the value of `description`, `hint`, and `validationMessage` if they want to associate these hints with

[2021-09-26 22:17] g00glen00b opened #1329 "Autocomplete 'children' function continuously invoked"
Let's say we use the basic example from the documentation, and add a `console.log()` statement, eg.:

[code]

If you open up a browser, nothing spectacular will happen, even focusing/unfocusing the field won't make a difference. However, when you change the input value, the `children` function is continuously being called (as seen by the `console.log()` being called the whole time). This causes hi

[2021-09-28 21:42] larrycustodio opened #1330 "interface `SidesheetProps` does not match the function signature"
The optional prop `onBeforeClose` for `SideSheetProps` and `OverlayProps` should return a boolean value to match their usages and method description:

For `SideSheetProps`: https://github.com/segmentio/evergreen/blob/0993ac5c17c4820f0ee1cc37ef29c7cefaab2159/index.d.ts#L1842
For `OverlayProps`:
https://github.com/segmentio/evergreen/blob/0993ac5c17c4820f0ee1cc37ef29c7cefaab2159/index.d.ts#L2596

Si

[2021-10-01 18:01] brandongregoryscott opened #1338 "TextareaField does not pass through resize prop"
**Issue**

While the `Textarea` component respects the `resize` prop for disabling or restricting resize capabilities, the `TextareaField` component doesn't seem to properly pass it through to the underlying `Textarea`

**Reproduction**
See this [codesandbox](https://codesandbox.io/s/evergreen-textareafield-textareafield-does-not-pass-through-resize-prop-fjhwp?file=/src/App.js) for a working examp

[2021-10-05 00:51] brandongregoryscott commented on #1330
I should be able to fix this up quick! 😄

[2021-10-05 12:16] pavolmarc commented on #1318
Hello, is this still relevant? I would like to work on this issue.

[2021-10-05 12:18] kud commented on #1318
It is. :)

[2021-10-05 19:21] pavolmarc commented on #1318
@brandongregoryscott hello, can you assign me to this issue, if that's not a problem?

[2021-10-05 19:32] #1338 closed

[2021-10-05 20:30] akleiner2 commented on #1318
Hi both -

This is intentionally designed - if you pass in `hasHeader={false}`, the open question becomes where would the cross icon sit? The `header` argument takes in `close` as a render prop, so you can implement your alternative header accordingly.

Let me know if this makes sense! Going to close out this issue in the meantime.

[2021-10-05 20:30] #1318 closed

[2021-10-06 08:07] kud commented on #1318
Ha!

This is exactly why I opened this issue. I didn't want to handle myself the close button when the header isn't displayed. :)

[2021-10-08 12:09] Jupiterrr opened #1343 "Website is broken"
When I got to https://evergreen.segment.com/components/menu I can't interact with the components. Its not doing anything. I think the Javascript is broken or not loaded.

When I open the Chrome dev console I see that `main-81cafc7bddb6497d46fd.js` from https://cdn.statically.io is giving a 404.
![Evergreen Menu Documentation 2021-10-08 14-04-05](https://user-images.githubusercontent.com/681942/136

[2021-10-18 15:20] #1343 closed, assigned to nobody

[2021-10-29 17:37] salolivares opened #1351 "Code component not forwarding className"
I am currently having trouble applying a css property via className to the `<Code>` component. Seems like they aren't being "forwarded" and any css class specified in className does not appear in the rendered html (the css property fullstory-exclude I am applying does not appear).

![image](https://user-images.githubusercontent.com/1812749/139478778-be0f843c-b47c-45e1-8eab-bcbca0b25eb4.png)

My wo

[2021-11-06 01:36] #1329 closed

[2021-11-09 14:00] Suroor-Ahmmad opened #1354 "Combobox position issue"
**Issue:**
Position issue on combobox in latest version (6.5.2). When I checked the CSS, `top:0; left:0` which should have been inherited value.

**Last working version: 6.0.1**

**Steps to recreate:**
Just use combobox in the code, or check below storybook
[Evergreen Storybook](https://deploy-preview-1353--evergreen-storybook.netlify.app/?path=/story/combobox--combobox)

**Note:**
Noticed same is

[2021-11-09 16:20] #1351 closed

[2021-11-16 14:39] brandongregoryscott commented on #1354
Thanks for flagging this. Looks like this behavior started in 6.5.2 (probably with https://github.com/segmentio/evergreen/pull/1346), but it should be working in 6.5.1. Check out these sandboxes:

6.5.2 (top-left position)
https://codesandbox.io/s/evergreen-issues-1354-evergreen-6-5-2-ewvie?file=/src/App.js

6.5.1 (correct position):
https://codesandbox.io/s/evergreen-issues-1354-evergreen-6-5-1-q

[2021-11-16 23:32] #1354 closed

[2021-11-17 01:33] brandongregoryscott commented on #1354
This should be resolved in [6.6.1](https://github.com/segmentio/evergreen/releases/tag/v6.6.1) (see forked [Codesandbox example](https://codesandbox.io/s/evergreen-issues-1354-evergreen-6-6-1-j1bvb?file=/src/App.js). Let us know if you see any other issues!

[2021-11-19 16:49] vojtatom opened #1365 "Empty divs in evergree-portal-container using Tooltip"
Hello, I think I have encountered similar issue to this one https://github.com/segmentio/evergreen/issues/329 using the `Tooltip` component.

I'm using version 6.6.1

React:
[code]

Looks like tooltip creates one extra div on hover, see:
Before hover:

![before](https://user-images.githubusercontent.com/23740163/142659859-16f202aa-8902-49a6-b166-7d95f22af666.png)

On hover:

![hover](https://user-

[2021-11-19 17:08] Suroor-Ahmmad commented on #1354
Thank you. It's resolved. I couldn't PR in time.

[2021-11-22 13:07] martolini opened #1368 "position prop missing on CornerDialog"
According to the docs, it should have the `position` prop to place the `CornerDialog`. However, when inspecting the types, it's not there.

Tested on versions 6.6.0 and 6.6.1

[2021-11-22 13:45] #1368 closed

[2021-11-23 14:26] #1317 closed

[2021-11-25 22:46] krysia1 opened #1370 "Combobox dropdown button doesn't match height of input in Safari"
### Problem
In Safari, dropdown button in combobox doesn't match the height of the input (see screenshot or [open docs in Safari](https://evergreen.segment.com/components/combobox))
![Zrzut ekranu 2021-11-25 o 23 36 48](https://user-images.githubusercontent.com/44640941/143505201-7507efe6-6196-481a-9e22-c174a072a858.png)

Note: It does match the height if you define it explicitly, like so
[code]

[2021-11-26 17:29] #1370 closed

[2021-11-26 20:54] #1120 closed

[2021-11-30 17:25] jasonbarry opened #1374 "Official dark theme"
Exporting `defaultTheme` and `classicTheme` is a really useful way for developers to extend/tweak styles of Evergreen components in their app.

I would love for Evergreen to export a `darkTheme`. It's a bit difficult for the onus to be on developers to know which `colors` / `appearances` / `baseStyle` to edit on each component in order to achieve a basic dark mode for their apps.

[2021-12-04 01:48] brandongregoryscott opened #1375 "Table border styling issues"
There are some minor styling issues with the base `Table` styles, which can be observed on the documentation site (may need to Zoom in to see them): https://evergreen.segment.com/components/table

- Inner content of `Table.Head` is missing `borderTopLeftRadius` and `borderTopRightRadius` style to match its outer container, which causes a sharp edge to render over the rounded border
![image](https: